/*кнопка Применить*/
.report_button {
	padding: 8px 15px 8px 5px;
    margin-top: -1px;
}

/*Лёшин отчёт - ROA*/
.chilren_block, .row__value .minus, .row__value.active .plus{
  display: none;
}
.chilren_block.active {
  display:  block;
}
.row__value .plus, .row__value.active .minus{
  display: block;
}
.table_wrapper__head {
  width: 100%;
  display: flex;
  color: #fff; 
  background: #6c7ae0;
  align-items: center;
}
.table_wrapper__head span, .row__value span, .row__value p{
  flex-basis: 100%;
  flex-grow: 2;
  display: block;
  padding: 0.5rem;
  text-align: left;
  align-items: center;
  cursor: pointer;
}
.row__value {
  display: flex;
  width: 100%;
  border-bottom: 1px solid #f2f2f2;
  margin: 10px;
}
.row2 {
  background: #a0a9ed;
}
.row1 span, .row1 p{
  flex-basis: initial;
}
.row3 {
  background: #afb8ff;
}
.row_last{
  background: #e3e6ff;
}
.report_table {
  margin: 25px;
}
.filter_block{
  display: flex;
}
.filter_block .otstup {
  margin: 0 10px;
}
