/*Anketa.vue*/
body{
		height: 100%;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
/*.sidebarx .vs-sidebar--items {
    overflow: scroll!important;
}*/
.sidebarx .vs-sidebar--items::-webkit-scrollbar {
    display: none;
}
.osnovnoi .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	left: 9%;
	width: 300px;
	margin-left: 244px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.class_vid_d .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
    left: -379px;
    width: 100%;
	margin-left: 379px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.tovar_classe .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	left: -379px;
    width: 100%;
	margin-left: 379px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.contact_lic .padding_anketa, .tovar_classe .padding_anketa, .etp .padding_anketa {
	padding: 0 0 0 50px;
}
.etp .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	left: -379px;
    width: 100%;
	margin-left: 379px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.details_row:hover {
	background-color: #f0f2f5;
	cursor: pointer;
}
.text_grey {
    color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.nowrap {
    white-space: nowrap;
}
.form_line label {
    margin: 10px;
    display:inline-block;
    display:-moz-inline-block;
    width:250px;
    margin-left: 40px;
	cursor: default;
}
.form_line_Card label {
    margin: 10px;
    display:inline-block;
    display:-moz-inline-block;
    width:300px;
    margin-left: 40px;
	cursor: default;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
	width: 300px;
    outline: none;
    padding: 0 10px 0 15px;
}

.big .certificate_indent .el-input__inner {
    width: 30%;
}
.details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
}
.login-container {
	text-align: left;	
}
.con-select {
	display: inline-block;
	width: 100%;
}
.contact_lic .con-select {
    width: 350px;
}
.contact_lic .vs-table--tbody-table .tr-values td {
    text-align: right;
}
.contact_lic .certificate_indent .el-input__inner {
    width: 100%;
}
.details {
    width: 300px;
    margin-left: 379px;
	border: 1px solid #dfe4ed;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.details_row span {
    color: #606266;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    font-size: 14px;
}
.con-slot-tabs {
    margin-top: 10px;/*было 30px*/
}
.bool_left {
    margin: 7px;	
}
.svg_color {
    fill: #606266;
    width:30px;
    height:30px;
    margin:-10px 10px;
	border-radius:4px;
	border:1px solid #dcdfe6;	
}
.svg_color:hover {
    opacity: 0.8;	
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 6px 0px;
}

.el-button, .tableButton {
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(24, 144, 255);
    border-color: rgb(24, 144, 255);
	color: white;
	margin:0 0 10px;
}
.el-button:hover, .tableButton:hover {
    opacity: 0.8;
}
.vs-sidebar{
    background-color: #304156!important;
    color: rgb(191, 203, 217);
}
.svg_color_fill {
    fill: rgb(191, 203, 217);
}
.small {
	width:100%;
}
.table_small {
	margin:-10px;
	border:1px solid red;
}
table .vs-table--thead {
	color: #a1a1a1;
    font-weight: 500;
}
table .col-0 {
	border: 0px solid #dfe6ec;
    text-align: center;
	font-size: 14px;	
	padding: 12px 10px;
}
table .vs-table--td {
    border: 0px solid #dfe6ec;
}

.form_line .con-select {
    margin-left: -110px;
}
.form_line_select .con-select {
    margin-left: 0px;
}
.certificate_indent .certificate {
	width: 210px;
}
.select_width .select_size {
	width: 50%;
}
.osnovnoi .multiselect {
	display: inline-block;
}

.vs-table--tbody-table .tr-values:not(.activeEdit):not(.tr-expandedx):not(.hoverFlat):hover {
    z-index: auto;
    -webkit-transform: translateY(-4px);
    transform: none;
}
.select_fake .con-select {
	width: 100%;
}
/*
table .col-0 span {
	padding: 0 30%;
	white-space: nowrap;
}
*/
.vs-table--content {
    overflow: visible;
}

.multiple-input {
	width: 100%;
}
.class_vid_d .top_bool {
	margin-top: 8px;
	margin: 0 40px;
}
.bool_doc label {
	margin: -20px 60px;
}
/*возвращаем бул в исходное состояние*/
.anketa_css .bool_left .top_bool, .bool_PT .top_bool {
    margin-top: 0;
}

.anketa .con-select {
	width: 200px;
}
.anketa .el-input__inner {
	width: 200px;
}
.anketa_td_3 .isError {
	width: 202px;
}
.anketa .small {
	width: 200px;
}
input[type=date] {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 160px;
    outline: none;
    padding: 6px 15px;
}

.osnovnoi input[type=date] {
	width: 180px;
	margin-left: -140px;
}
.card input[type=date] {
	width: 180px;
	margin-left: -110px;
}
.tovar_classe .el-input__inner{
    width: 100%;
}
.tovar_classe button{
    margin: 0 50px;
}
.etp .el-input__inner{
    width: 100%;
}
.etp button {
    margin: 0 50px;
}
.osnovnoi .country {
	width: 200px;
}

/*попап Удаление анкеты*/
.delete_promt textarea {
	width: 100%;
	height: 100px!important;
	padding: 5px 10px 0 15px;
}

.alert {
    border: 2px solid #15cc4d;
    display: inline-block;
    padding: 10px;
    color: #15cc4d;
}
.osnovnoi .pole_required label:after, .osnovnoi .pole_required .label_anketa:after {
    content: " *"; 
	color: red;
}
.bool_left label:after{
    content: " "; 
}
.anketa .anketa_td span:after {
    content: " *"; 
	color: red;
}
.osnovnoi .pole_required .bool_left .top_bool label:after{
    content: " "; 
}

.centerx table td {
    border-bottom: 1px solid #dfe6ec;
    border-top: 1px solid #dfe6ec;
}
/*.centerx table, .centerx table th,  .centerx table td {
    border: 1px solid #dfe6ec;
}*/
.centerx table {
	font-size: .8rem;
	width: 100%;
    border-collapse: collapse;
}
.centerx .con-select {
	width: 400px;
}
.alert {
	display: inline-block;
    color: #6a643b;
    text-decoration: none;
    padding: 20px 20px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #f1f4db #000 #d5d0a5;
    border-radius: 4px;
    background: linear-gradient(#e5e6be, #e1dfb0) #e7e7cb;
    transition: 0.2s;
}

.table_box-shadow {
    background: #ffffff;
    /* border: 1px solid rgb(220, 223, 230); */
    /* -webkit-box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 6px 0px; */
    /* box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 6px 0px; */
    /* padding: 10px; */
    width: 98%;
    margin: 20px;
}
 
.vs-con-tbody, .vs-con-tbody-table, .osnovnoi {
    background: rgb(255, 255, 255);
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    padding: 6px 15px;
}	


.contact_lic .th_number_table {
    width: 1%;
}
.contact_lic .table_th {
    width: 17%;
}
.class_vid_d .th_number_table {
    width: 2%;
}
.class_vid_d .table_th {
    width: 90%;
    padding-left: 2%;
}
.class_vid_d .input_width {
    width: 100%;
}
.tovar_classe .th_number_table {
    width: 2%;
}
.tovar_classe .table_th {
    width: 95%;
}
.anketa .th_number_table {
    width: 2%;
}
.anketa .table_th {
    width: 54%;
}
.anketa_css .anketa_button .anketa .filter-item {
    margin: 0 0 10px 0;
}
.etp .th_number_table {
    width: 2%;
}
.etp .table_th {
    width: 95%;
}
.contact_lic .catalog {
    display: none;
}
.data_input {
	margin: 18px 0 0 20px;
	/*margin-top: 18px;
	margin-left: 20px;*/
}
.anketa_button .k1{
	display: block;
	float: left;
	width: 180px;
}
.anketa_button .k2{
	display: block;	
    position: relative;
    left: 20px;
	width: 180px;
}
/*иконки: Скачать и Загрузить анкету*/
.svg_color_fill_download {
	fill: white;
    height: 21px;
    margin: -5px 0px;
}
/*Справочник*/
.holamundo .vs-table--tbody-table tr {
    border-top: 1px solid white;
}
.catalog_row {
	border:1px solid rgb(220, 223, 230);	
}
.holamundo .vs-table--search {
    margin-left: unset;
	margin: 7px 0 7px;
}
.holamundo h3, .con-title-after h3, .vs-dialog-text h1 {
	cursor: default;
}
.holamundo .vs-table--search-input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
	width: 300px;
    line-height: 30px;
    outline: none;
    padding: 0 25px;
    min-width: 500px;
    margin: 0 0 0 300px;
}
/*поиск в Справочнике*/
.holamundo input{
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 300px;
    outline: none;
    padding: 0 10px 0 15px;
    margin: 10px 0;
}
.holamundo .vs-component header{
    display: none;
}
.holamundo table tr td {
    padding: 0 10px!important;
}
.holamundo table tr td span div {
	line-height: 36px;
}
/*Контактные лица*/
.flex .email_wrapper input{
    width: 287px;
    margin-left: 55px;
}
.flex .input, select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 287px;
    outline: none;
    padding: 0 15px;
   /* margin-left: -6px;*/
    cursor: pointer;
}
.flex div {
    display: flex;
}	
.flex {
    display: flex;
}
.form_line_popup .flex2 label {
    width: 94px;
}
/*убираем скролл в Анкете*/
.contact_lic .vs-table--content, .class_vid_d .vs-table--content, .tovar_classe .vs-table--content, .etp .vs-table--content {
    overflow: hidden;
}

/*Anketa_profile.vue*/
.anketa_css .anketa .header-table, .anketa_css .etp .header-table, .anketa_css .tovar_classe .header-table, .anketa_css .class_vid_d .header-table, .anketa_css .contact_lic .header-table  {
    display: none;
}
.anketa_css .bool_left label {
    margin: 0px;
    width: 0px;
    margin-left: 60px;
	margin-top: -20px;
}
.anketa .anketa_td_3 select {
    color: inherit;
    width: 30%;
    position: relative;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    padding-right: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}
.anketa .anketa_td_3 span.isError .input {
    border: 1px solid red;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
}
/*Anketa_table.vue*/
.table_box-shadow .vs-table--search {
    margin-left: unset;
	margin: 7px 0 7px;
}
.table_box-shadow .vs-table--search-input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
	width: 300px;
    line-height: 30px;
    outline: none;
    padding: 0 25px;
    min-width: 500px;
    margin: 0 0 0 380px;
}
	.vs-col table {
		font-size: .8rem;
		width: 100%;
		border-collapse: collapse;
	}
	.vs-col table thead {
		color: #909399;
	}
	.tabs {
		text-align: center;
		padding-bottom: 30px;
		font-size: 10px;
	}
.text_p_headline {
    padding: 12px 0px 0px;
    font-weight: bolder;
    line-height: 1.5;
    font-size: 34px;
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif;
    /*margin: 20px 0 20px 45px;*/
    color: rgb(0, 0, 0);
    background: linear-gradient(to top, #fcfcfc, #ffffff);
}
.text_p_headline2 {
    padding: 12px 11px;
	font-weight: bolder;
	line-height: 1.5;
	background-color: #f8f8f8;
	font-size: 14px;
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
	margin-top: -20px;
	color: #606266;
}
.At header, .att_Files header {
    display: none;
}
.At {
    background: linear-gradient(to top, #fcfcfc, #ffffff);
}
/*СТАТУС(в таблицах): Anketa_table.vue,  Request_supplier_table.vue, Proposal_audit_application_table.vue*/
.status_table .status span{
    color: #483D8B;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    display: inline-block;
    line-height: 20px;
    padding: 5px 25px;
	width: 250px;
    text-align: center;
}
/*Login.vue - не переносим сюда*/
/*Accreditation_outside.vue-стили повторяются*/
/*Accreditation_inside.vue*/
.el-input__inner_Accreditation {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
    width: 20%;
}
.form_line_Accreditation label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 250px;
    margin-left: 40px;
}
.form_line_Accreditation div, .form_line_Accreditation textarea, .form_line_Order div, .form_line div, table, .cursor  {
	cursor: default;
}
.cursor_point, .cursor_point .soCardWidth, .cursor_point span {
	cursor: pointer!important;
}
table
/*.form_line_Accreditation2 label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 250px;
}*/
.formfield * {
    vertical-align: top;
}
textarea {
    resize:none
}
.textarea_style {
	height:10%;
	margin-top: 10px;
	width:70%;
}
/*Card*/
.el-button__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    outline: none;
	width:25%;
    height: 30px;
	padding: 0 15px;
	margin-left: 0px;
	color: rgba(var(--vs-primary),1)!important;
	cursor: pointer;
}
.el-button__inner:focus {
    background-color: #eee;
}
.card_undertab .con-ul-tabs {
	margin-left: 30px;
}
.card_undertab .con-ul-tabs {
	margin-left: 30px;
}
.form_line_CU label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 210px;
    margin-left: 20px;
	cursor: default;
}
.card_undertab .form_line_adress label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 200px;
    margin-left: 40px;
	cursor: default;
}
.full_name input {
    width: 550px;
}
.card_popup .vs-dialog-text h1{
    padding: 0 0 10px 0;
    font-size: 16px;
    color: gray;
}
.card_popup .vs-dialog-text textarea{
    padding: 10px;
    width: 100%;
}
/*card - Анкета поставщика: Статус*/
.card_color_status {
    text-align: center;
}
.card_color_status span {
    display: inline-block;
    padding: 8px 10px!important;
    font-size: 12px;
    color: #ffffff;
    border-radius: 4px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    line-height: 18px;
}
.green_card span {
    background-color: #46c93a;
    border: 1px solid #46c93a!important;
}
.blue_card span {
    background-color: #5ab3f0;
    border: 1px solid #5ab3f0!important;
}
.red_card span {
    background-color: #d97b81;
    border: 1px solid #d97b81!important;
}
.yellow_card span {
    background-color: #ffba00;
    border: 1px solid #ffba00!important;
}
.card_width span {
    width: 140px;
}
.card_width_anketa span {
    width: 190px!important;
}
.card_width_rating label {
    width: auto;
}
/*Supplier_offer_table.vue*/
.acenter {
	text-align: center;
}
.vs-table--tr {
    border: 1px solid rgb(220, 223, 230);
	border-right: 1px solid white;
}
.SOT .vs-con-tbody, .vs-con-tbody-table {
	display: inline-block;
}
/*исключение таблицы Запрос предложений-SOT*/
.ex_SOT .vs-con-tbody {
	display: block;
}
/*Supplier_offer_card.vue*/
.Soc .attached_files header, .Soc .attached_files .not-data-table {
    display: none;
}
.supplier_offer_card_osnovnoi .top_bool {
    margin-left: 40px;
}
.soCard_margin .soC_margin {
	margin: 10px 0;
}
.soCard_margin {
	margin: 0 0 20px 0;
}
.soCWidth .soCardWidth {
	width: 15px;
}
.soCWidth2 .soCardWidth {
	width: 25px;
}
.soCWidth_postavka .soCardWidth {
	width: 165px;
}
.soCWidth_string input  {
	width: 120px;
}
.soCWidth_string_217 input  {
	width: 217px;
}

.valuta .valutaSoCWidth {
	width: 50px;
}
.adm .valutaSoCWidth {
	width: 102px;
}
.Soc .vs-table--tbody-table .tr-values td {
    padding: 10px 30px 10px;
	text-align: left;
}
.Soc .attached_files .vs-table--tbody-table .tr-values td {
	padding: 10px 7px 10px;
}
.rightstr table .col-0 {
	padding: 20px 15px 1px;
}
.table_box-shadow-2 {
	box-shadow: none;
	width: 100%;
	margin-left: 0px;
}
.soCard_margin .bShadow {
	display: flex;
	margin-top: 40px;
	box-shadow: none;
	width: 100%;
	margin-left: 0px;
}
.bool_box div{
	width:310px;
	display:inline-block;
}
.bool_box div{
	width:310px;
	display:inline-block;
}
.bool_box .bool_box_div{
	width:210px;
}
.Soc .tov_so_card .content-tr-expand header {
	height: 0px;
}
.Soc .tov_so_card .vs-con-table {
	background:white;
}
.Soc .tov_so_card .not-data-table {
	display: none;
}
.Soc .tov_so_card .content-tr-expand .vs-con-table .vs-table--content {
    width: 500px;
    overflow: auto;
}
.Soc .tov_so_card .expand_div_checkbox {
	overflow:hidden;
}
.leftstr, .rightstr {
    float: left;
    width: 35%; 
}
.rightstr {
    text-align: right
}
.Rsc .none .header-table  {
    display: none;
}
/*Переторжки*/
.Soc .zac .time2 {
	margin: 0 20px;
}
/*.vs-table--tbody-table .tr-expand td {
	display: block;
	margin: 10px 0 10px 0;
}*/
/*Header.vue (UserPanel.vue)*/
.user-name button {
	margin-top: 20px;
}
.user-name button span, .menu_button button span {
	opacity: 0!important;
}
.user-name button:hover {
    color: #8ea3d2;
}
.header_w .user-name {
	color:white;
}
.user-role {
    white-space: normal;
}
/*Footer.vue*/
.footer_f {
	height: 70px;
	bottom: 0;
	left: 0;
    right: 0;
}

/*Table.vue*/
.form_line_popup label {
    margin: 10px 0 10px 0;
    display: inline-block;
    width: 100px;
	cursor: default;
}
.form_line_popup span {
    margin: 0 0 10px 0;
    display: inline-block;
	cursor: default;
}
.form_line_popup span .con-select {
    display: inline-table;
	width: 300px;
	cursor: default;
}
table .tr-expand td .content-tr-expand {
	display: block;
	margin: 10px 0 10px 0;
}
.content-tr-expand div{
	margin: 0 0 20px 0;
}
/*Request_supplier_card*/
.soCWidth_select .valutaSoCWidth {
    width: 50px;
}
.soCWidth_string390 .el-input__inner {
	width: 390px;
}
.valuta_Width .valutaSoCWidth  {
	width: 50px;
}
.valuta_Width105 .valutaSoCWidth  {
	width: 105px;
}
.soCWidth_postavka .soCardWidth {
	width: 165px;
}
.roCWidth .soCardWidth {
	width: 120px;
}
.t_goods td input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 75px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}
.t_goods td select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 75px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}
/*Товары: попап в Скорректировать */
#goodpromt .popap_RSC .tr-values:hover {
    background: #ffffff!important;
}
#goodpromt .popup_border {
    border-right: 1px solid #dfe6ec;
}
/*кнопка Скорректировать*/
.redact {
    cursor: pointer;
    border: 1px solid rgb(24, 144, 255);
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    background: rgb(24, 144, 255);
    color: white;
}
/*красная рамка на ошибках*/
.Rsc span.isError input {
    border: 1px solid red;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
}
.vs-checkbox--input:checked+.vs-checkbox .vs-icon {
    font-size: 18px;
}
/*Request_supplier_card: в Товарах кнопка "Изменить"*/
.el-input__inner_Select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    outline: none;
    padding: 0 15px;
	width: 200px;
}
.edit_RSC label {
    display: inline-block;
    width: 250px!important;
}
/*.edit_RSC td label {
    width: 0px!important;
}*/
.edit_RSC .el-input__inner {
    width: 200px;
} 
#goodpromt .edit_RSC header, #goodpromt .edit_RSC .not-data-table {
    display: none;
}
#goodpromt .edit_RSC .con-tablex {
    overflow: inherit!important;
    margin: 10px 0;
}
/*Request_supplier_card(Table_goods): в Товарах кнопка "Изменить - попап"*/
.con-vs-dialog .vs-dialog footer {
    position: absolute!important;
	border-radius: 0px 0px 6px 6px!important;
}
/*Proposal_audit_application_table*/
.con-vs-dialog .vs-dialog {
	border-radius: 6px 6px 0px 0px!important;
}
.vuesax-app-is-ltr .con-vs-dialog .vs-dialog footer button {
	margin-right: 10px!important;
}
.vs-dialog-success .vs-dialog .after {
    background: none!important;
}

/*Request_supplier_card_profile*/
.attached_files .vs-con-table td {
	font-size: 14px;
	color: #606266;
	padding: 12px 0;

}
.RSCP .attached_files header, .RSCP .attached_files .not-data-table {
    display: none;
}
.textarea_RSCP textarea {
	width: 573px;
	height: 50px!important;
	padding: 5px 10px 0 15px;
	margin: 10px 113px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.textarea_RSCP2 textarea {
	width: 400px;
	height: 102px!important;
}
.RSCP .RSCP_input .el-input__inner, .Soc .RSCP_input .el-input__inner {
	width: 400px!important;
}
.RSCP .string65 .el-input__inner {
	width: 65px;
}
/*Order_supplier_card*/
.osc_red_tov .el-input__inner {
    width: 260px;
    margin: 10px;
}

.soCWidth_postavka_OS .soCardWidth {
	width: 190px;
}
.form_line_Order label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 130px;
    margin-left: 40px;
	cursor: default;
}
.form_line_card label, .form_line_card input, .form_line_card span {
	vertical-align: middle;
	cursor: default;
}
.form_line_Order2 label {
    width: 200px;
	cursor: default;
}
.form_line_Order3 label {
    width: 250px;
	cursor: default;
}
.Osc .attached_files header, .Osc .attached_files .not-data-table {
    display: none;
}
.Osc .supplier_offer_card_osnovnoi .top_bool {
    margin-top: 0px;
}
.Osc .osc_bool .top_bool {
    margin-left: -15px;
}
.Osc .osc_bool .bool_box_div2 {
    margin-left: 40px;
}
.valuta_Width10 .valutaSoCWidth {
    width: 10px;
}
.soCWidth_string210 .valutaSoCWidth {
    width: 210px;
}
.Osc .top_line .date label, .Ac .top_line .date label {
	width: 40px;
}
.Osc .comment .el-input__inner, .Ac .comment .el-input__inner {
	width: 600px;
}
.Osc .indent .save_but {
    width: 215px;
}
.Osc .indent .save_but .el-button {
    width: 210px;
}
.Osc .zac .time .el-input__inner {
    width: 150px;
}
.Soc .zac .time .el-input__inner {
    width: 150px;
}
.green_button div {
	border-radius: 4px;
    border: 1px solid #46c93a;
    display: inline-block;
    line-height: 20px;
    padding: 5px 25px;
    color: #46c93a;
	cursor: pointer;
}
.Osc .tov_so_card .green_button div:hover {
    background: #f0fbef;
}
.Osc .tov_so_card .red_button div {
	border-radius: 4px;
    border: 1px solid #ff4757;
    display: inline-block;
    line-height: 20px;
    padding: 5px 25px;
    color: #ff4757;
	cursor: pointer;
}
.Osc .tov_so_card .red_button div:hover {
    background: #fff0f2;
}
/*табличка Редактирование товара*/
.edit_item_form_wrapper label {
    margin: 15px 0 15px 0!important;
    display: inline-block!important;
    width: 100px!important;
}
.edit_item_form_wrapper .label {
    margin: 15px 0 15px 0!important;
    display: inline-block!important;
    width: 105px!important;
}
.vs-dialog footer .vs-button-primary.vs-button-filled {
	color:#65e09c!important;
	border-color:#d97b81!important;
    border-radius: 4px!important;
    border: 1px solid #65e09c!important;
    display: inline-block!important;
    line-height: 20px!important;
    padding: 5px 25px!important;
    bottom: 0px!important;
	margin: 10px!important;
}
.vs-dialog footer .vs-button-primary.vs-button-filled:hover {
    background: #e8faf0!important;
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.vs-dialog footer .vs-button-primary.vs-button-flat {
	color:#ff4757!important;
    border-radius: 4px!important;
    border: 1px solid #ff4757!important;
    display: inline-block!important;
    line-height: 20px!important;
    padding: 5px 25px!important;
	margin: 10px!important;
}
.vs-dialog footer .vs-button-primary.vs-button-flat:hover {
    background: #ffeded!important;
}
/*Комментарий*/
.textarea_OSC textarea {
	width: 370px;
	height: 102px!important;
	padding: 5px 10px 0 15px;
    margin: 0 31px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.textarea_OSC2 textarea {
    margin: 0 55px;
}
.textarea_OSC3 textarea {
    margin: 0 175px;
}
/*Order_supplier_inform*/
.Osi .indent .save_but {
    width: 275px;
}
.Osi .indent .save_but .el-button {
    width: 150px;
}
.Osi .adm input {
    width: 50%;
}
.Osi .tov_so_card .content-tr-expand .vs-con-table .vs-table--content {
    width: auto!important;
    overflow: auto;
}
.Osi .shipped .leftstr {
    width: 100%;
}
.Osi .shipped2 header {
    margin-top: -15px;
}
/*Audit_program_card*/
.Apc .attached_files header, .Apc .attached_files .not-data-table {
    display: none;
}
.table_file .vs-table--tbody-table tr {
    border-bottom: 1px solid #dfe6ec;
}
/*Self_assessment_sheet*/
.Sas .none header {
    display: none;
}
.sas_button .k1{
	display: block;
	float: left;
	width: 150px;
}
.sas_button .k3 {
    margin: -80px 0 0;
    position: relative;
    left: 170px;
    width: 150px;
}
.Sas .anketa_td_3 .input {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 300px;
    outline: none;
    padding: 0 15px; 
}
/*Request_supplier_card(Table_goods) - кнопки Скачать и Загрузить в Товарах*/
.blue_redact {
	cursor: pointer;
    border: 1px solid rgb(24, 144, 255);
	border-radius: 5px;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    background: rgb(24, 144, 255);
    color: white;
}
.blue_top {
	margin-top: 20px;
}
/*селект в ответе поставщика*/
.Sas .sas_button td .input {
    height: 30px;
}
/*Кнопка "Скачать"*/
.download_button .el-button span {
    color:white;
}
.Sas .calendare input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 300px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}
/*красная рамка на ошибках*/
.Sas span.isError input {
    border: 1px solid red;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
}
.Sas span.isError select, .att_Files span.isError select {
    border: 1px solid red;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
}
/*Partner_contract*/
.textarea_ParC textarea {
	width: 300px;
	height: 102px!important;
	padding: 5px 10px 0 15px;
    margin: 0 31px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;	
}
.w_pC .valutaSoCWidth, .w_pC .soCardWidth {
	width: 150px;
}
.date_PC .soCardWidth {
	margin-left: 55px;
}
.PC .attached_files header, .PC .attached_files .not-data-table {
    display: none;
}
.PC .vs-table--tbody-table .tr-values td {
    text-align: center;
}
.address_delivery_shipping input {
    width: 500px;
}
/*Proposal_audit_application_card*/
.PAAC header, .PAAC .not-data-table {
    display: none;
}
.PAAC .save_but {
    margin-left: 40px;
}
.soCWidth_string2 input  {
	width: 110px;
}
.soCWidth_string_160 input  {
	width: 160px;
}
.soCWidth_string_188 input  {
	width: 188px;
}
.PAAC .soCWidth .soCardWidth {
	margin-left: 32px;
}
.PAAC .indent {
	width: 110px;
}
.PAAC .svg_color_fill {
	fill: #4cc93a;
	margin-top: 5px;
}
.PAAC .svg_color_fill_red {
	fill: #ff5160;
	margin-top: 7px;
}

.button_PAAC {
	width: 143px;
}
.el-button_PPAC {
    line-height: 1;
    cursor: pointer;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 400;
    display: inline-block;
    padding: 8px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(24, 144, 255);
    border-color: rgb(24, 144, 255);
    color: white;
}
.filter_wrpaper .button_PAAC, .button_PAAC2 {
    height: 2.5em;
    width: 110px;
    font-size: 12px;
    padding: 0 0;
}
.filter_wrpaper .button_PAAC span {
    margin-left: -10px;
}
/*Рамочные кнопки(зелёный и красный): чтобы при наведении текст в кнопках не становился синим*/
.PAAC .green_but .vs-button-text:hover {
	color: rgba(var(--vs-success),1)!important;
}

.PAAC .red_but .vs-button-text:hover {
	color: rgba(var(--vs-danger),1);
}
/*Рамочные кнопки(зелёный и красный): чтобы при наведении текст в кнопках не становился синим - в других файлах*/
.green_but .vs-tabs-primary .activeChild button, .green_but .vs-tabs-primary button:not(:disabled):hover {
	color: rgba(var(--vs-success),1)!important;
}
.red_but .vs-tabs-primary .activeChild button, .red_but .vs-tabs-primary button:not(:disabled):hover {
	color: rgba(var(--vs-danger),1)!important;
}
/*СТАТУС(в Карточках): Order_supplier_card.vue, Proposal_audit_application_card.vue, Request_supplier_card_profile.vue, Request_supplier_card.vue*/
.status_card {
	width: fit-content;
    border: 1px solid #46c93a;
    background: #f0fbf0;
    color: #1f74ff;
    transition: all .2s ease;
    border-radius: 6px;
    position: relative;
    overflow: hidden;
    box-sizing: border-box;
	padding: 9px 18px;
    margin: 20px 0px 5px 9px;
}
.form_line_st label{
	margin-left: 0px;
	display: initial;
	cursor: default;
}

/*цвета в Статусах*/
.status_table .blue span {
	background: #5ab3f0;
	color:#ffffff;
	border-color:#5ab3f0;
}
.status_table .green span {
	background:#46c93a;
	color: #ffffff;
	border-color: #46c93a;
}
.status_table .red span {
	background: #d97b81;
	color:#ffffff;
	border-color:#d97b81;
}
.status_table .yellow span {
	background: #ffba00;
	color:#ffffff;
	border-color:#ffba00;
}
.blue_width span {
	width: 130px;
}
.blue_width span:hover {
	opacity: .6;
}
/*UserPanel*/
.con-vs-avatar {
	background: none!important;
}
.vs-avatar--text {
    top: 100%!important;
}

/*Фильтр по Таблицам (material-icons)*/
.vs-select--item.con-icon.activex .vs-select--item-icon  {
    font-size: 14px!important;
}
/*фигурная скобка*/
.braces {
	position: relative;
	padding: .3em .5em;
	margin-left: 2em;
}
.braces::before,
.braces::after,
.curly::before,
.curly::after {
	content: "";
	position:absolute;
	width: .8em;
	height: 170%;
}
.braces::before,
.braces::after {
	left: 0;
	border-left: 2px solid;
}
.braces::before {
	top: 50%;
	border-top-left-radius: .8em;
}
.braces::after {
	bottom: 50%;
	border-bottom-left-radius: .8em;
}
.curly::before,
.curly::after {
	left: -.8em;
	border-right: 2px solid;
}
.curly::before {
	top: 75%;
	border-bottom-right-radius: .8em;
}
.curly::after {
	bottom: 70%;
	border-top-right-radius: .8em;
}
/*расположение от фигурной скобки*/
.curly {
	margin: 30px 0 0 20px;
}
.curly2 {
    margin: 0px 60px;
}
/*текст после фигурной скобки*/
.curly span {
	margin: 10px;
    display: inline-block;
}
.curly2 span {
	margin: 10px;
    display: inline-block;
}
/*Rating_supplier_card*/
.textarea_RSC textarea {
	width: 530px;
	height: 100px!important;
	padding: 5px 10px 0 15px;
	margin: 10px 13px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;	
}
/*Pretense_card*/
.Pret_card .indent .save_but .el-button {
    width: 220px;
}
.Pret_card .indent .save_but .k2{
    margin: 0 50px;
}
.Pret_card .vs-table--tbody-table .tr-values td {
    padding: 10px 10px 10px;
    text-align: left;
}
.Pret_card .decision select{
    width: 217px;
}
.textarea_PC textarea {
	width: 530px;
	height: 100px!important;
	padding: 5px 10px 0 15px;
	margin: 0 13px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;	
}
/*Фильтры*/
.filter_data input[type=date] {
	width: 150px!important;
}

.border_filter {
	/*border: 1px solid #cac1cc; */
    color: #1f74ff;
    -webkit-transition: all .2s ease;
    transition: all .2s ease;
    /*border-radius: 6px;*/
    position: relative;
    overflow: hidden;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    /*padding: 9px 18px;*/
    padding: 9px 0;
    /*margin: 20px 0px 5px 9px;*/
    background: linear-gradient(to top, #f8f8f8, #f9f9f9, #fcfcfc);
}
/*Фильтры - булеты*/
.bool_filter .grid_wrapper {
    display: block;
}
.bool_filter .filter_wrpaper .top_bool {
    margin-top: 15px!important;
}	
/*Фильтры - 3 позиции инпутов в фильтрах*/
.grid_small_filter .grid_wrapper__small {
    grid-template-columns: repeat(3, 1fr);
    cursor: pointer;
}
.grid_sc_filter .grid_wrapper__small {
    grid-template-columns: repeat(4, 1fr);
	cursor: pointer;
}
/*дата в RST*/
.RST .filter_wrpaper .filter_data {
    display: flex;
}
.RST .filter_wrpaper .filter_data label {
    padding: 10px 5px 0 0;
}

/*.filter_wrpaper .filter-item {
    margin-top: -25px!important;
}*/
/*Action_plan_card*/
.str-margin label {
    width: 170px;
}
.Ac header {
    display: none;
}
.Ac .methods ul li {
    padding: 0 30px;
}
/*Catalog_multiple*/
.digest {
    color: #1f74ff;
    width: 100%;
}
.textarea_APC textarea {
    width: 500px;
    height: 100px!important;
    padding: 5px 10px 0 15px;
    margin: 0px 176px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.textarea_APC2 textarea {
	width: 790px;
	height: 100px!important;
	padding: 5px 10px 0 15px;
	margin-bottom: 10px;
	/*+текст*/
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;	
}
.form_line_Order .label_APC {
	margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 250px;
    margin-left: 40px;
	cursor: default;
}
/*Application_delivery_card*/
.Adc .form_line_Order label {
    width: 160px;
	cursor: default;
}
.Adc .soCWidth .soCardWidth {
    width: 15px;
}
.Adc .zac .data_time .time input {
    width: 150px;
}
.soCWidth_string370 input {
	width: 370px;
}
/*Application_transport_card*/
.bool_tr label {
    margin-top: -19px;
    padding: 0 20px;
}
.input_ATC input {
    width: 340px;
}
/*МЕНЮ и кнопка(в Анкете-К.Лица-Доб.Контакта)*/
body .vs-button-primary.vs-button-filled {
    background: none!important;
}
/*скачет таблица*/
body .vs-table--tbody-table .tr-values:not(.activeEdit):not(.tr-expandedx):not(.hoverFlat):hover {
    -webkit-transform: none!important;
    transform: none!important;
}

th {
    padding-top: 10px!important;
    padding-bottom: 10px!important;
}
body .vs-row .vs-pagination--mb {
    justify-content: inherit!important;
}
.vuesax-app-is-ltr .vs-table--search {
    margin-left: unset!important;
}
.multiselect {
    width: 70%!important;
}
.multiselect__select {
    top: -4px!important;
}
.multiselect__tags {
	min-height:0px!important;
    height: 30px!important;
    padding: 4px 40px 0 8px!important;
}
.osnovnoi .form_line2 .select_width {
	width: 120px;
	cursor: default;
}
.multiselect, .multiselect__input, .multiselect__single {
    font-size: 14px!important;
}
.multiselect--disabled {
    background: none!important;
}
.multiselect--disabled .multiselect__select {
    background: none!important;
}
.vs-pagination--nav {
    margin-left: -120%;
}
th .vs-table-text {
    font-weight: normal;
    font-family: system-ui;
}
.filter-item label {
    display: block;
	margin-bottom: 5px;
}	
.filter-k {
	color: rgb(24, 144, 255);
	position: absolute;
	margin: 3px;
	cursor: pointer;
}
.fon {
	background: linear-gradient(to top, #ffffff, #f5f5f5, #ffffff);
}
/*чтобы таблица вмешала tr*/
.vs-con-tbody {
    min-width: min-content!important;
}
/*всплывающая подсказка по кнопке свг Корзина*/
.korzina:before {
 content:attr(data-description);
 box-sizing:border-box;
 display:block;
 background:rgba(0,0,0,.7);
 color:white;
 padding:10px;
 position:absolute;
 line-height:10px;
 border-radius:5px;
 opacity:0;
 transition:.25s ease-in-out;
 text-align: center;
 z-index: 999;
} 
/*таблица в table*/

.vs-col table thead, table .vs-table--thead {
    z-index: 0;
}
.korzina:after {
 content:'';
 transition:.25s ease-in-out;
 opacity:0;
} 
.korzina:hover:before {
 opacity:1;
}
.korzina2:before {
    margin-top: -20px;
    margin-left: 20px;
}
.korzina3:before {
    margin-top: -30px;
    margin-left: -60px;
}
.korzina3_1:before {
    margin-top: -30px;
    margin-left: -25px;
}
.korzina4:before {
    margin-top: -40px;
    margin-left: -100px;
}
.korzina5:before {
    margin-top: -30px;
    margin-left: -100px;
}
.korzina6:before {
    margin-top: -13px;
    margin-left: 20px;
}
.korzina7:before {
    margin-top: -18px;
    margin-left: -140px;
	font-size: 14px;
}
.korzina8:before {
    margin-top: 65px;
    margin-left: 130px;
}
.korzina_p:before {
    margin-top: -30px;
    margin-left: -170px;
}
.korzina_text:before {
    font-size: 12px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
/*No data Available*/
.vs-table--not-data {
	color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
/*Триггер*/
.trigger {
	border: 0px;
	color: black;
	font-size: 26px;
	font-weight: bolder;
	padding: 10px;
}
.trigger_span {
	color: black;
	font-size: 26px;
	font-weight: bolder;
}
.trigger_icon {
	color:#788791;
	position: absolute;
	margin: 3px 20px;	
}
.trigger_color_status {
    display: inline-block;
    padding: 10px 20px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    background-color: #f89406;
    border: 0px;
}
.texterea_text {
	height:102px;
	width:370px;
	padding-top:6px;
	margin-left: 86px;	
	font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.tr-values:hover{
    background: #e4eaf5;
	background: #f8f9fb;
    color:rgb(31, 116, 255);
}
/*Messenges*/
.delete_promt select {
    margin: 0 0 10px;
    width: 100%;
}
.total_messages {
    position: absolute;
    left: 41px;
    top: 17px;
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    display: block;
    width: 19px;
    height: 18px;
    padding: 4px;
    z-index: 100;
    line-height: 11px;
    text-align: center;
}
/*курсор к сообщениям справа снизу*/
.vs-notifications {
	cursor: pointer!important;
}
span.form_line.text_grey.el-input__inner.short_date {
    width: 103px;
    line-height: 28px;
	cursor: default;
}
/*иконка на кнопке Выйти*/
.svg_header {
	bottom: 3px;
    position: relative;
    font-size: 22px;
}
/*News_list*/
.news_wrapper .new_desc {
    font: normal 20px/24px GraphikCy-Semibold,'Helvetica CY',Arial,sans-serif;
    cursor: pointer;
    outline: 0;
    color: #222;
}	
.news_wrapper .important_new {
	display: inline-block;
    padding: 2px 4px;
    font-size: 11.844px;
    font-weight: bold;
    line-height: 14px;
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 3px;
    background-color: #f89406;
    border: 0px;
}
.news_wrapper .new_title {
    font-size: 20px;
    line-height: 20px;
}
.news_wrapper .new_wrapper {
    text-align: left;
    cursor:pointer;
    padding: 20px 15px 25px;
    border-bottom: 1px solid #ddd;	
}
.news_wrapper .new_description {
    font-size: 22px;
}
.news_wrapper .new_date {
    font-size: 14px;
    line-height: 18px;
    color: #999;
    white-space: normal;
}
.news_wrapper .l-col-center {
    max-width: 680px;
    margin: 0 auto;
}
.news_wrapper .item__wrap {
    min-height: 77px;
    position: relative;
    padding: 0 25px;
}

/*Комментарии*/
.kom_ttexterea {
    padding: 10px;
    height: 100px;
}
.span_ref input{
    cursor: pointer;
    text-decoration: underline;
}
/*ссылка в карточке на обратную таблицу*/
.icon_Table {
	position: relative;
	top: 0.1em;
	cursor: pointer;
}
.icon_Table:hover {
	opacity: .6;
}
/*ЛУПА*/
.vuesax-app-is-ltr .vs-table--search i {
    cursor: default;
}
/*Supplier_files*/
/*.vs-table--tbody-table .tr-values.selected {
    border-top: 1px solid white;
}*/
/*Табы*/
.con-ul-tabs {
    margin-left: 10px;
}

/*header*/
.svg_icon {
	margin: -12px 10px;
}
.svg_icon i {
	font-size: 30px;
}
.tel_code {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 90px;
    margin: 0 10px 0 4px;
    outline: none;
    padding: 0 10px 0 15px;
}
.tel_num {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 195px;
    margin: 0 10px 0 4px;
    outline: none;
    padding: 0 10px 0 15px;
}
.long_line input[type=text] {
    width: 815px;
}
.long_line_profile input[type=text] {
    width: 761px;
}
.helper_pop_up .vs-dialog {
    max-width: 550px!important;
}
.pop_up_mail input {
    position: relative;
    left: -4px;
    width: 299px;
}
.role_selector select {
    width: 300px;
}
li.version {
    display: inline-block;
}
.short_pole {
    margin-top: 4px;
    vertical-align: middle;
    display: table;
}
.short_pole label {
    width: 100px;
    margin: 0;
    padding: 0 15px 0 35px;
    vertical-align: middle;
    display: table-cell;
}
.new_span_menu{
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    padding: 4px 7px;
    text-align: center;
    position: relative;
    top: -2px;
    margin-left: 10px;
    width: 19px;
    height: 18px;
    padding: 4px;
    z-index: 100;
    line-height: 11px;
}
.new_span{
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 8px;
    height: 18px;
    padding: 4px 7px;
    text-align: center;
    position: relative;
    top: -2px;
    margin-left: 10px;
	font-size: 10px;
}
/*кр.кружочки*/
.new_span_header{
    background: red;
    color: white;
    border-radius: 50%;
    font-size: 10px;
    height: 18px;
    padding: 4px 6px;
    text-align: center;
    position: absolute;
    top: -22px;
    margin-left: -15px;
	font-size: 10px;
	z-index: 100;
    line-height: 11px;
}
/*Непрочитанные строки в таблице*/
.colorRead {
    background: #e4eaf5!important;
}

/*для textarea*/
.form_line_textarea label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 223px;
    margin-left: 40px;
}
/*Иконки для табов*/
.vs-tabs--btn-icon.material-icons {
    font-size: 18px!important;
}
/*Заказ поставщику - Order_supplier_table : фильтр(Filter->Catalog_multiple) : Договоры*/
.vs-con-tbody.vs-table--tbody  {
    margin-bottom: 60px;
}