<template>
  <div class="login-container home At fon nowrap_filter bool_filter"> 
   <template>
    <div class="table_box-shadow status_table fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}}<!--Планы корректирующих мероприятий-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text"  @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p><!--Фильтры-->  
			<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter v-model="filters" filter-point="GetClaimActionPlanByUser" return-data="actionPlan"/>
				</div>
			</template>
		</div>	
		<!--Переключение страниц-->
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails"  class="text_grey" :data="actionPlan">
		  <template slot="thead">
			    <vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th>			<!--Номер -->
			    <vs-th sort-key="Статус" style="padding: 0 5%;">{{COLUMNS.COLUMN2}}</vs-th>			<!--Статус -->
			    <vs-th sort-key="ДокументОснование">{{COLUMNS.COLUMN3}}</vs-th><!--(Документ-основание) Претензия поставщику-->
			    <vs-th></vs-th>
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr  :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>	
				<vs-td :data="data[indextr].Статус" :class="colorStatus(data[indextr].Статус)">{{data[indextr].Статус | uncamelize}}</vs-td>	
				<vs-td class="card_color_status blue_card blue_width nowrap" style="text-align: left;"><div @click="showPretense(data[indextr].ДокументОснование[0].Ref_Key)">№ {{data[indextr].ДокументОснование[0].Number | removeZeroes}} от {{data[indextr].ДокументОснование[0].Date | formateDate('DD.MM.YYYY')}}</div></vs-td>		
				<vs-td>
					<span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span>
				</vs-td>	
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
    <vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->
		<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
    </vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 			//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'													//импорт Vue
import Style from '@/components/css/Style.css'							//импорт Стилей
import Date from '@/components/form_poles/Date'							//импорт Дат
import Filter from '@/components/form_poles/Filter'	
import Send_Message from '@/components/partials/messages/Send_message'	//импорт Фильтров
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'						//импорт Валидации
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_tables/action_plan_table'	//импорт action_plan_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Action_plan_table',
	data () {
		return {
			actionPlan: [],
			filters: {},
			tablePage:0,
			pageCount:0,
			userInfo: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			showFilter:false,
			colorStatus: colorStatus,
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetClaimActionPlanByUser();
			}
		);
	},
	components:{
		"form-date":Date,
		"form-filter":Filter,
		"send-message":Send_Message, 
	},
	methods: {
		//Получение данных из 1С
		GetClaimActionPlanByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetClaimActionPlanByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.actionPlan = response.data.result;
			this.$refs.mainLoader.Hide();					
				})

		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});				
		},
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true)			
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "МероприятияПоКачеству"
			this.sendMessageTitle = "Тема: сообщение по мероприятию №"+ this.$options.filters.removeZeroes(num)
		},
		//Открытие Плана корректирующих мероприятий на просмотр
		showDetails: function(tr){
			this.$router.push("action_plan_card?ref="+tr.Ref_Key);
		},
		//Открытие заявки на претензию на просмотр
		showPretense: function(ref){
			this.$router.push("pretense_card?ref="+ref);
		}, 
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			this.$refs.mainLoader.Show();
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}	
				else if(this.filters[key].type === 'boolString'){
						if(this.filters[key].value){
							dataToSend.set("FILTER["+key+"][value]", this.filters[key].boolValue);
						}
						else{
							dataToSend.set("FILTER["+key+"][value]", "");
						}
				}	
				else{
					dataToSend.set("FILTER["+key+"][value]", myStr);
				}			
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			axios({
					method: 'post',
					url: '/api/base/?action=GetClaimActionPlanByUser',
					data: dataToSend
				}).then((response) => {
					this.actionPlan =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
	}	 
}
</script>