<template>
<div class="home At fon nowrap_filter" style="text-align: left;">
   <template>
	<div class="table_box-shadow status_table fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}}<!--Анкета-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p>  
		<!--Кнопки редактирования анкеты-->
		<div v-if="userInfo.role_id === COLUMNS.ROLE">
			<div @click="openAs('ИзменениеДанныхПоОрганизации')" class="tableButton">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" x="0px" y="0px" width="24px" height="24px" viewBox="0 0 24 24" enable-background="new 0 0 24 24" xml:space="preserve"><g id="Bounding_Box"><rect fill="none" width="24" height="24"/></g><g id="Flat"><g id="ui_x5F_spec_x5F_header_copy_3"></g><g><path d="M8,8H6v7c0,1.1,0.9,2,2,2h9v-2H8V8z"/><path d="M20,3h-8c-1.1,0-2,0.9-2,2v6c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V5C22,3.9,21.1,3,20,3z M20,11h-8V7h8V11z"/><path d="M4,12H2v7c0,1.1,0.9,2,2,2h9v-2H4V12z"/></g></g><g id="Master" display="none"><g id="ui_x5F_spec_x5F_header_copy_2" display="inline"></g><g display="inline"><path d="M8,8H6v7c0,1.1,0.9,2,2,2h9v-2H8V8z"/><path d="M20,3h-8c-1.1,0-2,0.9-2,2v6c0,1.1,0.9,2,2,2h8c1.1,0,2-0.9,2-2V5C22,3.9,21.1,3,20,3z M20,11h-8V7h8V11z"/><path d="M4,12H2v7c0,1.1,0.9,2,2,2h9v-2H4V12z"/></g></g></svg>
				{{COLUMNS.CHANGE1 | uncamelize }}</div>	<!--Изменение данных по организации-->
			<div  @click="openAs('ИзменениеДанныхПоКонтактнымЛицам')" class="tableButton">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M8 10H5V7H3v3H0v2h3v3h2v-3h3v-2zm10 1c1.66 0 2.99-1.34 2.99-3S19.66 5 18 5c-.32 0-.63.05-.91.14.57.81.9 1.79.9 2.86s-.34 2.04-.9 2.86c.28.09.59.14.91.14zm-5 0c1.66 0 2.99-1.34 2.99-3S14.66 5 13 5c-1.66 0-3 1.34-3 3s1.34 3 3 3zm6.62 2.16c.83.73 1.38 1.66 1.38 2.84v2h3v-2c0-1.54-2.37-2.49-4.38-2.84zM13 13c-2 0-6 1-6 3v2h12v-2c0-2-4-3-6-3z"/></svg>
				{{COLUMNS.CHANGE2 | uncamelize}}</div><!--Изменение данных по контактным лицам-->
			<div @click="openAs('НаправлениеДокументовАккредитации')" class="tableButton">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M16.53 11.06L15.47 10l-4.88 4.88-2.12-2.12-1.06 1.06L10.59 17l5.94-5.94zM19 3h-1V1h-2v2H8V1H6v2H5c-1.11 0-1.99.9-1.99 2L3 19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm0 16H5V8h14v11z"/></svg>
				{{COLUMNS.CHANGE3 | uncamelize}}</div><!--Направление документов аккредитации-->
		</div>			
		<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter  v-model="filters" :key="filterCount" filter-point="GetAnketsByUser" return-data="ankets"/>
				</div>
			</template>
		</div>
		<!--Переключение страниц-->
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails" hoverFlat class="text_grey" :data="ankets">
		<template slot="thead">
			<vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th> 		<!--Номер -->
			<vs-th sort-key="СтатусАнкеты" style="padding:0 4%;">{{COLUMNS.COLUMN2}}</vs-th>	<!--Статус анкеты -->
			<vs-th sort-key="ВидДокумента">{{COLUMNS.COLUMN3}}</vs-th>	<!--Вид документа -->
			<!--<vs-th></vs-th>-->
			<vs-th></vs-th>
		</template>
		 <template slot-scope="{data}">
			 <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].СтатусАнкеты" :class="colorStatus(data[indextr].СтатусАнкеты)">{{data[indextr].СтатусАнкеты}}</vs-td>
				<vs-td :data="data[indextr].ВидДокумента">{{data[indextr].ВидДокумента | uncamelize}}</vs-td>
				<vs-td><span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span></vs-td>
				<!--<vs-td ><div v-if="userInfo.role_id === COLUMNS.ROLE" @click="showDeletePopUp(data[indextr].Number)" :data-description="COLUMNS.DELETE1" class="korzina korzina3">
					<vs-icon style="color: #d97b81;" icon="delete_forever"></vs-icon></div></vs-td>	<!--удалить-->
			</vs-tr>
		</template>
		</vs-table>
		<!--Удаление анкеты(вопрос)-->
		<vs-prompt :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.ATTENTION" @cancel="" @accept="this.showDeleteAlertFunc" @close="" :active.sync="showDeletePromt"><!--Отправить/Отмена/Внимание!-->
			<div class="delete_promt">
				<span>{{COLUMNS.DELETE}}</span> <!--Удаляем?-->
			</div>
		</vs-prompt> 
		<!--Удаление анкеты(попап окно(окончательное))-->
		<vs-prompt :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.DELETEA" @cancel="" @accept="this.sendLetter" @close="" :active.sync="showDeleteAlert"><!--Отправить/Отмена/Удаление анкеты-->		
			<div class="delete_promt">
				<h2 style="margin: 10px 0;">{{COLUMNS.THEME}}</h2>	<!--Тема-->
				<input class="el-input__inner line_height width_input_popup" type="text" v-model="deletePopUpHeader" />
				<div style="margin: 10px 0;">{{COLUMNS.TEXT}}</div>	<!--Текст-->
				<textarea class="el-input__inner line_height width_input_popup" style="height: 100%;" v-model="deletePopUpText"/>
			</div>
		</vs-prompt>	
		<vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->
			<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
		</vs-prompt>			
	</div>
   </template> 
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
import Send_Message from '@/components/partials/messages/Send_message'			
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
const axios = require('axios');
const moment = require('moment');
import Style from '@/components/css/Style.css'						//импорт Стилей
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import {request} from '@/components/utils/request'
import RegFormCoNstants from '@/constants/constants_tables/anketa_table'	//импорт anketa_table (Названия колонок в шапке таблицы, названия строк)
export default {
	name: 'Anketa_table',
	data () {
		return {
			ankets: [],
			userInfo: {},
			filters: {},
			showDeletePromt: false,
			selectedRef:"",
			anketaNum: "",
			deletePopUpHeader: "",
			deletePopUpText: "",
			showDeleteAlert: false,
			showSendMessagePromt: false,
			sendMessageTitle:"",
			selectedType:"",
			tablePage: 0,
			filterCount:0,
			pageCount:0,
			colorStatus: colorStatus,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			COLUMNS: RegFormCoNstants.COLUMNS,
			showFilter:false
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.getAnketsByUser();
			}
		);
	},
	components:{
		"form-filter":Filter, 
		"send-message":Send_Message, 
	},
	methods: {
		//Получение данных из 1С
		getAnketsByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			let context = this;
			axios({
					method: 'post',
					url: '/api/base/?action=GetAnketsByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.ankets = response.data.result;
				}).catch(error => {
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка',text:'error',color:'danger', fixed:true})
					}	
				});
				this.$refs.mainLoader.Hide();
			
		
			
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});				
		},
		//Получение данных по пользователю
		acceptSendMessage: function(){
			 this.$refs.promtBody.sendMessage(true)			
		},
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetAnketsByUser',
					data: dataToSend
				}).then((response) => {
					this.ankets =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
			
				//this.filterCount++;
		},
		//Открытие анкеты на просмотр
		showDetails: function(tr){
			this.$router.push("anketa_profile?ref="+tr.Ref_Key+"&mode=open");
		},

		//Открытие анкеты на редактирование
		openAs: function(mode){
			var myAnkets = [];
			
				var error = false;
				_.forEach(this.ankets, (value, key) => { 
					
					if(value.СтатусАнкеты === "Согласована"){
						myAnkets.push(value);
					}
					
					if(value.СтатусАнкеты === "Направлена на рассмотрение" && value.ВидДокумента === "ИзменениеДанныхПоОрганизации" ){
						if(mode === 'ИзменениеДанныхПоОрганизации'){
							this.$vs.notify({title:'Ошибка',text:'Документ с таким видом уже отправлен на согласование',color:'danger', fixed:true})
							error = true	
						}				
					}
					if(value.СтатусАнкеты === "Направлена на рассмотрение" && value.ВидДокумента === "ИзменениеДанныхПоКонтактнымЛицам" ){
						if(mode === 'ИзменениеДанныхПоКонтактнымЛицам'){
							this.$vs.notify({title:'Ошибка',text:'Документ с таким видом уже отправлен на согласование',color:'danger', fixed:true})
							error = true
						}
				}
					if(value.СтатусАнкеты === "Направлена на рассмотрение" && value.ВидДокумента === "НаправлениеДокументовАккредитации" ){
						if(mode === 'НаправлениеДокументовАккредитации'){
							this.$vs.notify({title:'Ошибка',text:'Документ с таким видом уже отправлен на согласование',color:'danger', fixed:true})
							error = true
						}
					}
				});
			
			if(mode === 'ИзменениеДанныхПоОрганизации'){
				myAnkets = this.ankets;
			}

			if(mode === 'ИзменениеДанныхПоКонтактнымЛицам'){
				myAnkets = this.ankets;
			}
			if(mode === 'НаправлениеДокументовАккредитации'){
				myAnkets = this.ankets;
			}
			if(!error){
				this.$router.push("anketa_profile?ref=" + myAnkets[0].Ref_Key+"&mode=" + mode+"&id=" + myAnkets[0].Number);
			}
		},
		//Удаление анкеты сообщений
		showDeleteAlertFunc: function(){
			this.showDeleteAlert = true;
			this.deletePopUpHeader = "Удаление анкеты номер " + this.anketaNum;
			this.sendMessageKey++;
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "Анкета"
			this.sendMessageTitle = "Тема: сообщение по анкете №"+ this.$options.filters.removeZeroes(num)
		},
		//кнопка Удаление(попап) [Заболотный А]
		showDeletePopUp: function(anketaNum){
			this.deletePopUpHeader = "";
			this.deletePopUpText = "";
			this.showDeletePromt = true;
			this.anketaNum = anketaNum;
		},
		//Переключение страниц
		sendLetter: function(){
			let dataToSend = new FormData();
			dataToSend.set("title", this.deletePopUpHeader);
			dataToSend.set("text", this.deletePopUpText);
			
			return axios({
				method: 'post',
				url: '/api/base/?action=DeleteAnketaMassage',
				data: dataToSend
			});
			
		},
	}		
}
</script>
<style scoped>
.con-select-example {
  display: block;
  align-items: center;
  justify-content: center;
}
.con-select .vs-select {
  width: 100%
}
@media (max-width: 550px) {
  .con-select {
    flex-direction: column;
  }
  .con-select .vs-select {
    width: 100%
  }
}
</style>