<template>
  <div class="login-container home At fon nowrap_filter grid_small_filter"> 
   <template>
    <div class="table_box-shadow status_table fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}}<!--Заявка на доставку-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p><!--Фильтры-->  
		<!--Фильтр-->		
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter v-model="filters" filter-point="GetDeliveryRequestByUser" return-data="deliveryRequest"/>
				</div>
			</template>
		</div>	
		<!--Переключение страниц-->
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails" class="text_grey" :data="deliveryRequest">
		  <template slot="thead">
			    <vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th>		<!--Номер -->
				<vs-th sort-key="Статус" style="width: 20%;padding: 0 5%;">{{COLUMNS.COLUMN2}}</vs-th>		<!--Статус -->
				<vs-th sort-key="ТипПеревозки">{{COLUMNS.COLUMN3}}</vs-th> 	<!--Тип перевозки -->		
				<vs-th sort-key="ДатаОтгрузки">{{COLUMNS.COLUMN4}}</vs-th> 	<!--Дата отгрузки -->	
				<vs-th sort-key="АдресОтгрузки">{{COLUMNS.COLUMN5}}</vs-th>	<!--Адрес отгрузки -->	
				<vs-th sort-key="ДатаДоставки">{{COLUMNS.COLUMN6}}</vs-th>	<!--Дата доставки -->	
				<vs-th sort-key="АдресДоставки">{{COLUMNS.COLUMN7}}</vs-th>	<!--Адрес доставки -->	
				<vs-th></vs-th>
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr  :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№ {{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].Статус" :class="colorStatus(data[indextr].Статус)">{{data[indextr].Статус | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].ТипПеревозки">{{data[indextr].ТипПеревозки | uncamelize}}</vs-td>				
				<vs-td :data="data[indextr].ДатаОтгрузки">{{data[indextr].ДатаВремяОтгрузкиС | formateDate('DD.MM.YYYY hh:mm')}} - {{data[indextr].ДатаВремяОтгрузкиПо | formateDate('DD.MM.YYYY hh:mm')}}</vs-td>
				<vs-td :data="data[indextr].АдресОтгрузки">{{chekedAddress(data[indextr].АдресОтгрузки)}}</vs-td>
				<vs-td :data="data[indextr].ДатаДоставки">{{data[indextr].ДатаВремяДоставкиС | formateDate('DD.MM.YYYY hh:mm')}} - {{data[indextr].ДатаВремяДоставкиПо | formateDate('DD.MM.YYYY hh:mm')}}</vs-td>
				<vs-td :data="data[indextr].АдресДоставки">{{chekedAddress(data[indextr].АдресДоставки)}}</vs-td>	
				<vs-td><span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span></vs-td>	
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template>
 	<vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->
		<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
	</vs-prompt>  
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
import Send_Message from '@/components/partials/messages/Send_message'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Bool from '@/components/form_poles/Bool'						//импорт Булета
import Date from '@/components/form_poles/Date'						//импорт Дат
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_tables/application_delivery_table'	//импорт application_delivery_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Application_delivery_table',
	data () {
		return {
			deliveryRequest: [],
			userInfo: {},
			filters: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			pageCount:0,
			tablePage: 0,
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			showFilter:false,
			colorStatus: colorStatus,
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetDeliveryRequestByUser();
			}
		);
	},
	components:{
		"form-bool":Bool,
		"form-date":Date,
		"form-filter":Filter,
		"send-message":Send_Message, 
	},
	methods: {
		//Получение данных из 1С
		GetDeliveryRequestByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetDeliveryRequestByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.deliveryRequest = response.data.result;
				})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});					
		},
		//Открытие Заявки на доставку на просмотр
		showDetails: function(tr){
			this.$router.push("application_delivery_card?ref="+tr.Ref_Key);
		}, 
		//Разбор адреса доставки/отгрузки
		chekedAddress: function(value){
			let json = "";	
			let str = "";				
				if (value != ""){
					json = JSON.parse(value);
					str = json.value;
				}
				else {
					str = "";						
				}
			return str;			
		}, 
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true)			
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "ЗаявкаНаДоставку"
			this.sendMessageTitle = "Тема: сообщение по заказу №"+ this.$options.filters.removeZeroes(num)
		},
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			this.$refs.mainLoader.Show();
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			axios({
					method: 'post',
					url: '/api/base/?action=GetDeliveryRequestByUser',
					data: dataToSend
				}).then((response) => {
					this.deliveryRequest =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
	}	 
}
</script>
<style scoped>
.con-select-example {
  display: block;
  align-items: center;
  justify-content: center;
}
.con-select .vs-select {
  width: 100%
}
@media (max-width: 550px) {
  .con-select {
    flex-direction: column;
  }
  .con-select .vs-select {
    width: 100%
  }
}
</style>