<template>
  <div class="login-container home At Apt A_filter fon nowrap_filter"> 
   <template>
    <div class="table_box-shadow fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}} <!--Программа аудита-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p> <!--Фильтры--> 
		<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter  v-model="filters" filter-point="GetAuditProgramsByUser" return-data="auditProgram"/>
				</div>
			</template>
		</div>	
		<!--Переключение страниц-->		
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails" class="text_grey bool_PT" :data="auditProgram">
		  <template slot="thead">
			    <vs-th sort-key="Number" style="width: 20%;">{{COLUMNS.COLUMN1}}</vs-th> 					<!--Номер -->
				<vs-th sort-key="ДокументОснование_Key" style="width: 30%;">{{COLUMNS.COLUMN2}}</vs-th>		<!--Заявка на аудит -->
				<vs-th sort-key="ТребуетсяЛистСамооценки" style="width: 25%;">{{COLUMNS.COLUMN3}}</vs-th> 	<!--Лист самооценки -->
				<vs-th style="width: 15%;"></vs-th>
				<vs-th style="width: 10%;"></vs-th>
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr  :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>	
				<vs-td class="card_color_status blue_card blue_width nowrap" style="text-align: left;"><div @click="showProposal(data[indextr].ДокументОснование_Key)">№ {{data[indextr].ДокументОснованиеАудита.НомерДокументОснование  | removeZeroes}} от {{data[indextr].ДокументОснованиеАудита.ДатаДокументОснование | formateDate('DD.MM.YYYY')}}</div></vs-td>				
				<vs-td :data="data[indextr].ТребуетсяЛистСамооценки" style="padding: 0 60px;"><form-bool :disabled="true" v-model="data[indextr].ТребуетсяЛистСамооценки"/></vs-td>
				<vs-td style="text-align: left;"><div v-if="data[indextr].ТребуетсяЛистСамооценки === true && data[indextr].ЛистСоздан === false" @click="showAssessment(data[indextr].Ref_Key)"  :data-description="COLUMNS.OFFER2" class="korzina korzina3">
					<vs-icon style="color: #46c93a;" icon="note_add"></vs-icon></div></vs-td><!--Создать лист самооценки-->
				<vs-td>
					<span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span>
				</vs-td>	
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
  <vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt">	<!--Отправить/Отмена/Отправить сообщение-->	
		<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef" />
	</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
import Send_Message from '@/components/partials/messages/Send_message'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Bool from '@/components/form_poles/Bool'						//импорт Булета
import Date from '@/components/form_poles/Date'						//импорт Дат
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'	//импорт валидации
import RegFormCoNstants from '@/constants/constants_tables/audit_program_table'	//импорт audit_program_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Audit_program_table',
	data () {
		return {
			auditProgram: [],
			userInfo: {},
			filters: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			pageCount:0,
			tablePage: 0,
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			showFilter:false
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetAuditProgramsByUser();
			}
		);

	},
	components:{
		"form-bool":Bool,
		"form-date":Date,
		"form-filter":Filter ,
		"send-message":Send_Message
	},
	methods: {
		//Получение данных из 1С
		GetAuditProgramsByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetAuditProgramsByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;	
					this.auditProgram = response.data.result;
		//перебор Листа согласования
			_.forEach(this.auditProgram, (value, key) => {
				this.auditProgram[key]['ЛистСоздан'] =  false;
					_.forEach(this.auditProgram[key]['ЛистСамооценки_сам'], (value2, key2) => {
						this.auditProgram[key]['ЛистСоздан'] =  true;
					});
			});	
				})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});				
			
		},
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true)			
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "ПрограммаАудита"
			this.sendMessageTitle = "Тема: сообщение по программе №"+ this.$options.filters.removeZeroes(num)
		},
		//Открытие программы аудита на просмотр
		showDetails: function(tr){
			this.$router.push("audit_program_card?ref="+tr.Ref_Key);
		},
		//Открытие заявки на аудит на просмотр
		showProposal: function(ref){
			this.$router.push("proposal_audit_application_card?ref="+ref);
		}, 
		//Кнопка для Создания листа самооценки
		showAssessment: function(ref){
			this.$router.push({ path: 'self_assessment_sheet', query: { ref: ref } }); 
		},
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			this.$refs.mainLoader.Show();
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			axios({
					method: 'post',
					url: '/api/base/?action=GetAuditProgramsByUser',
					data: dataToSend
				}).then((response) => {
					this.auditProgram =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},		
	}	 
}
</script>