<template>
  <div class="login-container home At fon R_filter"> 
   <template>
    <div class="table_box-shadow status_table fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}} <!--Заказ поставщику-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p><!--Фильтры-->
		<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter  v-model="filters" filter-point="GetOrderSupplierByUser" return-data="order"/>
				</div>
			</template>
		</div>	
		<!--Переключение страниц-->
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table @dblSelection="showDetails" class="text_grey" :data="order">
		  <template slot="thead">
			    <vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th>									<!--Номер -->
				<vs-th sort-key="СтатусДокумента" style="padding: 0 3%;">{{COLUMNS.COLUMN2}}</vs-th>	<!--Статус заказа -->		
				<vs-th sort-key="СуммаДокументаСНДС">{{COLUMNS.COLUMN3}}</vs-th>						<!--Сумма документа с учетом НДС -->
				<vs-th></vs-th>
				<vs-th v-if="ConstantSupplierInform"></vs-th>
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr :data="tr"  :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].СтатусДокумента" :class="colorStatus(data[indextr].СтатусДокумента)">{{data[indextr].СтатусДокумента | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].СуммаДокументаСНДС" class="acenter" style="display:table-cell;width:280px;">{{data[indextr].СуммаДокументаСНДС | numberBeautifier}} {{data[indextr].ВалютаДоговора}}</vs-td>
				<vs-td><span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span></vs-td>
				<vs-td v-if="ConstantSupplierInform" class="acenter" style="display:table-cell;width:190px;"><div v-if="data[indextr].СтатусДокумента === 'Подтвержден'" @click="showInform(data[indextr].Ref_Key)" :data-description="COLUMNS.INFORM" class="korzina korzina3">
					<vs-icon style="color: #46c93a;" icon="notification_important"></vs-icon></div></vs-td><!--Уведомить об отгрузке-->				
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
  	<vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->
		<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
	</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
import Send_Message from '@/components/partials/messages/Send_message'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Date from '@/components/form_poles/Date'						//импорт Дат
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_tables/order_supplier_table'	//импорт order_supplier_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Order_supplier_table',
	data () {
		return {
			order: [],
			pageCount:0,
			tablePage: 0,
			userInfo: {},
			filters: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			colorStatus: colorStatus,
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			showFilter:false,
			ConstantSupplierInform:false,
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetOrderSupplierByUser();
				this.GetConstantSupplierInform();
			}
		);

	},
	components:{
		"form-date":Date,
		"form-filter":Filter,
		"send-message":Send_Message 
	},
	methods: {
		//Получение данных из 1С
		GetOrderSupplierByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetOrderSupplierByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;	
					this.order = response.data.result;
				})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});			
		},
		//Запрос на возможность создания уведомлений о поставке
		GetConstantSupplierInform: function(){
			return axios.post('/api/base/index.php?action=GetConstantSupplierInform') 
				.then((response) => {
					this.ConstantSupplierInform = response.data;
				});			
		},
		//Открытие Заказа поставщику на просмотр
		showDetails: function(tr){
			this.$router.push("order_supplier_card?ref="+tr.Ref_Key);
		},
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true)			
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "ЗаказПоставщику"
			this.sendMessageTitle = "Тема: сообщение по анкете №"+ this.$options.filters.removeZeroes(num)
		},
		//Открытие Уведомления об отгрузки на просмотр
		showInform: function(ref){
			this.$router.push("order_supplier_inform?ref="+ref);
		},
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetOrderSupplierByUser',
					data: dataToSend
				}).then((response) => {
					this.order =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
	}	 
}
</script>