<template>
  <div class="login-container home At fon nowrap_filter grid_small_filter"> 
   <template>
    <div class="table_box-shadow status_table fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}}<!--Заявка на аудит поставщика-->	
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p><!--Фильтры-->  	
		<!--Фильтр-->		
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter v-model="filters" filter-point="GetAuditApplicationByUser" return-data="auditApplication"/>
				</div>
			</template>
		</div>	
		<!--Переключение страниц-->
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails" class="text_grey" :data="auditApplication">
		  <template slot="thead">
			    <vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th>				<!--Номер -->
				<vs-th sort-key="Статус" style="padding: 0 5%;">{{COLUMNS.COLUMN2}}</vs-th>				<!--Статус -->
				<vs-th sort-key="ТипАудита">{{COLUMNS.COLUMN3}}</vs-th>				<!--Тип аудита -->				
				<vs-th sort-key="ДатаНачалаПлан">{{COLUMNS.COLUMN4}}</vs-th>		<!--Дата начала аудита с -->
				<vs-th sort-key="ДатаОкончанияАудита">{{COLUMNS.COLUMN5}}</vs-th>	<!--Дата окончания аудита по -->				
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].Статус" :class="colorStatus(data[indextr].Статус)">{{data[indextr].Статус | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].ТипАудита">{{data[indextr].ТипАудита}}</vs-td>
				<vs-td :data="data[indextr].ДатаНачалаАудита" style="padding-left: 3%;">{{data[indextr].ДатаНачалаАудита | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].ДатаНачалаАудита" style="padding-left: 3%;">{{data[indextr].ДатаОкончанияАудита | formateDate('DD.MM.YYYY')}}</vs-td>
				</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Bool from '@/components/form_poles/Bool'						//импорт Булета
import Date from '@/components/form_poles/Date'						//импорт Дат
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_tables/proposal_audit_application_table'	//импорт proposal_audit_application_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Proposal_audit_application_table',
	data () {
		return {
			auditApplication: [],
			userInfo: {},
			filters: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			pageCount:0,
			tablePage: 0,
			showFilter:false,
			colorStatus: colorStatus,
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetAuditApplicationByUser();
			}
		);

	},
	components:{
		"form-bool":Bool,
		"form-date":Date,
		"form-filter":Filter 
	},
	methods: {
		//Получение данных из 1С
		GetAuditApplicationByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetAuditApplicationByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.auditApplication = response.data.result;
				})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});					
		},
		//Открытие Заявки на аудит поставщика на просмотр
		showDetails: function(tr){
			this.$router.push("proposal_audit_application_card?ref="+tr.Ref_Key, '_blank');
		}, 
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			this.$refs.mainLoader.Show();
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			axios({
					method: 'post',
					url: '/api/base/?action=GetAuditApplicationByUser',
					data: dataToSend
				}).then((response) => {
					this.auditApplication =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
	}	 
}
</script>
<style scoped>
.con-select-example {
  display: block;
  align-items: center;
  justify-content: center;
}
.con-select .vs-select {
  width: 100%
}
@media (max-width: 550px) {
  .con-select {
    flex-direction: column;
  }
  .con-select .vs-select {
    width: 100%
  }
}
</style>