<template>
  <div class="login-container home At fon nowrap_filter"> 
   <template>
    <div class="table_box-shadow fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}} <!--Оценка поставщика-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p><!--Фильтры-->  
		<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter v-model="filters" filter-point="GetSupplierRatingByUser" return-data="assessmentSupplier"/>
				</div>
			</template>
		</div>
		<!--Переключение страниц-->
		<vs-pagination   v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table @dblSelection="showDetails" class="text_grey" :data="assessmentSupplier">
		  <template slot="thead">
			    <vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th>			<!--Номер -->
				<vs-th sort-key="ТипОценки">{{COLUMNS.COLUMN2}}</vs-th>			<!--Тип оценки -->
				<vs-th sort-key="ЗаявкаНаАудит_Key">{{COLUMNS.COLUMN3}}</vs-th>	<!--Заявка на аудит -->
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>	
				<vs-td :data="data[indextr].ТипОценки">{{data[indextr].ТипОценки | uncamelize}}</vs-td>	
				<vs-td class="card_color_status blue_card blue_width nowrap" style="text-align: left;"><div @click="showProposal(data[indextr].ЗаявкаНаАудит_Key)">№ {{data[indextr].НомерЗаявкиНаАудит | removeZeroes}} от {{data[indextr].ДатаЗаявкиНаАудит | formateDate('DD.MM.YYYY')}}</div></vs-td>	
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Bool from '@/components/form_poles/Bool'						//импорт Булета
import Date from '@/components/form_poles/Date'						//импорт Дат
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_tables/rating_supplier_table'	//импорт rating_supplier_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Rating_supplier_table',
	data () {
		return {
			assessmentSupplier: [],
			userInfo: {},
			filters: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,	
			pageCount:0,
			tablePage: 0,
			showFilter:false
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetSupplierRatingByUser();
			}
		);

	},
	components:{
		"form-bool":Bool,
		"form-date":Date,
		"form-filter":Filter
	},
	methods: {
		//Получение данных из 1С
		GetSupplierRatingByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetSupplierRatingByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.assessmentSupplier = response.data.result;
				})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});				
		},
		//Открытие Оценки поставщика на просмотр
		showDetails: function(tr){
			this.$router.push("rating_supplier_card?ref="+tr.Ref_Key);
		},
		//Открытие Заявки на аудит поставщика на просмотр
		showProposal: function(ref){
			this.$router.push("proposal_audit_application_card?ref="+ref);
		}, 
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetSupplierRatingByUser',
					data: dataToSend
				}).then((response) => {
					this.assessmentSupplier =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
	}	 
}
</script>