<template>
  <div class="login-container home At fon R_filter nowrap_filter grid_sc_filter RST"> 
   <template>
    <div class="table_box-shadow status_table fon">
		<p class="text_p_headline cursor">{{PAGE_NAME}} <!--Предложение поставщика-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p><!--Фильтры-->  
		<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter  v-model="filters" filter-point="GetRequestSupplierOffers" return-data="proposal"/>
				</div>
			</template>
		</div>			
		<!--Переключение страниц-->		
		<vs-pagination  v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination>
		<!--Таблица-->
		<vs-table @dblSelection="showDetails" class="text_grey" :data="proposal">
		  <template slot="thead">
			    <vs-th sort-key="Number">{{COLUMNS.COLUMNS1}}</vs-th>									<!--Номер -->
				<vs-th sort-key="ДопущенКУчастию" style="padding: 0 5%;">{{COLUMNS.COLUMNS2}}</vs-th>	<!--Статус -->		
				<vs-th sort-key="ПредметЗакупки">{{COLUMNS.COLUMNS3}}</vs-th>							<!--Предмет закупки -->
				<vs-th>{{COLUMNS.COLUMNS4}}</vs-th>														<!--Запрос предложения -->
				<vs-th sort-key="СуммаДокументаВВалютеПоставщикаБезНДС">{{COLUMNS.COLUMNS5}} <br />{{COLUMNS.COLUMNS6}}</vs-th>	<!--Сумма предложения (без НДС) -->
				<!--<vs-th></vs-th>-->
				<vs-th></vs-th>
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].ДатаПоставщика | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].ДопущенКУчастию" :class="colorStatus(data[indextr].ДопущенКУчастию)">{{data[indextr].ДопущенКУчастию | uncamelize}}</vs-td>					
				<vs-td :data="data[indextr].ПредметЗакупки">{{data[indextr].ПредметЗакупки}}</vs-td>	
				<vs-td class="card_color_status blue_card blue_width nowrap" style="text-align: left;"><div @click="showSupplier(data[indextr].ЗапросПредложений_Key)">№ {{data[indextr].ЗапросПредложений_Key_value.Number}} от {{data[indextr].ЗапросПредложений_Key_value.Date | formateDate('DD.MM.YYYY')}}</div></vs-td>								
				<vs-td :data="data[indextr].СуммаДокументаВВалютеПоставщикаБезНДС" style="display:table-cell;padding-left: 2%;">{{data[indextr].СуммаДокументаВВалютеПоставщикаБезНДС | numberBeautifier}} {{chekedValute(data[indextr].ВалютаПоставщика_Key_value.Description)}}</vs-td>				
				<!--<vs-td><div @click="showDeletePopUp(data[indextr].Number)" :data-description="COLUMNS.DELETE1" class="korzina korzina3">
					<vs-icon style="color: #d97b81;" icon="delete_forever"></vs-icon></div></vs-td>	удалить-->
				<vs-td>
					<span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span>
				</vs-td>	
			</vs-tr>
		</template>
		</vs-table>
		<!--Удаление предложения(вопрос)-->
		<vs-prompt :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.ATTENTION" @cancel="" @accept="this.showDeleteAlertFunc" @close="" :active.sync="showDeletePromt"><!--Отправить/Отмена/Внимание!-->	
			<div class="delete_promt">
				<span>{{COLUMNS.DELETE}}</span> <!--Удаляем?-->
			</div>
		</vs-prompt> 
		<!--Удаление предложения(попап окно(окончательное))-->
		<vs-prompt :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.DELETEA" @cancel="" @accept="this.sendLetter" @close="" :active.sync="showDeleteAlert"><!--Отправить/Отмена/Удаление предложения-->	
			<div class="delete_promt">
				<h2 style="margin: 10px 0;">{{COLUMNS.THEME}}</h2>	<!--Тема-->
				<input class="el-input__inner line_height width_input_popup" type="text" v-model="deletePopUpHeader">
				<div style="margin: 10px 0;">{{COLUMNS.TEXT}}</div>	<!--Текст-->
				<textarea class="el-input__inner line_height width_input_popup" style="height: 100%;" v-model="deletePopUpText"/>
			</div>
		</vs-prompt>
	</div>
  </template> 
   <vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->	
		<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
    </vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
import Send_Message from '@/components/partials/messages/Send_message'	
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Date from '@/components/form_poles/Date'						//импорт Дат
import {isDefined} from '@/components/utils/validate'
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_tables/request_supplier_table'	//импорт request_supplier_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Request_supplier_table',
	data () {
		return {
			proposal: [],
			userInfo: {},
			filters: {},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			COLUMNS: RegFormCoNstants.COLUMNS,
			showDeletePromt: false,
			showDeleteAlert: false,
			pageCount:0,
			tablePage: 0,
			anketaNum: "",
			deletePopUpHeader: "",
			deletePopUpText: "",
			colorStatus: colorStatus,
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			showFilter:false			
		}
	}, 
	created: function() {
		this.isAuthorized().then(
			() =>{
				this.GetRequestSupplierOffers();
			}
		);
	},
	components:{
		"form-date":Date,
		"form-filter":Filter, 
		"send-message":Send_Message, 
	},
	methods: {
		//Получение данных из 1С
		GetRequestSupplierOffers: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetRequestSupplierOffers'
				}).then(
					(response) => {
						this.pageCount = response.data.PAGE_COUNT;	
						this.proposal = response.data.result;
						_.forEach(this.proposal, (value, key) => {
							if(!this.proposal[key].ВалютаПоставщика_Key_value && isDefined(this.proposal[key].ВалютаПоставщика_Key_value)){
								this.proposal[key].ВалютаПоставщика_Key_value = {};
								this.proposal[key].ВалютаПоставщика_Key_value.Description = '';
							}
						});			
					})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});			
		},
		//Открытие предложения на просмотр
		showDetails: function(tr){
			this.$router.push("request_supplier_card_profile?ref="+tr.Ref_Key);
		},
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true)			
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "ПредложениеПоставщика"
			this.sendMessageTitle = "Тема: сообщение по предложению №"+ this.$options.filters.removeZeroes(num)
		},
		//Открытие предложения на редактирование
		openAs: function(mode){
			this.$router.push("request_supplier_card_profile?ref=" + this.proposal[this.proposal.length - 1].Ref_Key+"&mode=" + mode);
		},
		//Открытие запроса предложений на просмотр
		showSupplier: function(ref){
			this.$router.push("supplier_offer_card?ref="+ref);
		},
		//проверка Валюты
		chekedValute: function(value){
			if(!value) {
				return '';
			}
			return value;			
		},
		//Удаление предложения сообщений
		showDeleteAlertFunc: function(){
			this.showDeleteAlert = true;
			this.deletePopUpHeader = "Удаление предложения номер " + this.anketaNum
		},
		//кнопка Удаление
		showDeletePopUp: function(anketaNum){
			this.deletePopUpHeader = "";
			this.deletePopUpText = "";
			this.showDeletePromt = true;
			this.anketaNum = anketaNum;
		},
		//Переключение страниц
		sendLetter: function(){
			let dataToSend = new FormData();
			dataToSend.set("title", this.deletePopUpHeader);
			dataToSend.set("text", this.deletePopUpText);
			
			return axios({
				method: 'post',
				url: '/api/base/?action=DeleteAnketaMassage',
				data: dataToSend
			});
			
		},
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key].value;			
				if( this.filters[key].view == "Guid"){
					myStr = "";
				_.forEach(this.filters[key].value, (value, key) => { 
					myStr += value.Ref_Key + ",";
				});
				}				
				dataToSend.set("FILTER["+key+"][type]", this.filters[key].view);
				dataToSend.set("FILTER["+key+"][value]", myStr);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key].logic);
			});
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetRequestSupplierOffers',
					data: dataToSend
				}).then((response) => {
					this.proposal =  response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
	}	 
}
</script>