<template>
  <div class="login-container home At fon R_filter"> 
   <template>
    <div class="table_box-shadow status_table SOT fon ex_SOT">
		<p class="text_p_headline cursor">{{PAGE_NAME}} <!--Запрос предложений-->
			<span class="filter-k">
				<vs-icon :data-description="COLUMNS.FILTERS" class="korzina korzina2 korzina_text" @click="showFilter = !showFilter" icon="apps"></vs-icon></span></p> <!--Фильтры--> 
		<!--Фильтр-->
		<div v-show="showFilter" class="filter text_grey border_filter">
			<template lang="html">
				<div class="con-select-example">
					<form-filter  v-model="filters" filter-point="GetRequestProposalsByUser" return-data="proposal"/>
				</div>
			</template>
		</div>	
		<!--Переключение страниц-->	
		<div style="margin-top: 10px;"><vs-pagination v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination></div>
		<!--Таблица-->
		<vs-table @dblSelection="showDetails" class="text_grey" :data="proposal">
		  <template slot="thead">		  
			    <vs-th sort-key="Number">{{COLUMNS.COLUMN1}}</vs-th>									<!--Номер-->
				<vs-th sort-key="ПредметЗакупки">{{COLUMNS.COLUMN2}}</vs-th>							<!--Предмет закупки-->
				<vs-th sort-key="СрокПриемаПредложенийС" style="width:8%;">{{COLUMNS.COLUMN3}}</vs-th>	<!--Сроки приема предложений-->
				<vs-th sort-key="srm_ВидыЗапроса_Key">{{COLUMNS.COLUMN4}}</vs-th>						<!--Вид запроса-->
				<vs-th sort-key="ОрганизаторЗакупки_Key">{{COLUMNS.COLUMN5}}</vs-th>					<!--Организатор закупки-->
				<vs-th sort-key="Заказчик_Key">{{COLUMNS.COLUMN6}}</vs-th>								<!--Заказчик-->			
				<vs-th v-if="showPriceRequest" sort-key="ЦенаЗакупки">{{COLUMNS.COLUMN7}}</vs-th>		<!--Сумма запроса (с НДС)-->
				<vs-th v-else>Валюта запроса</vs-th>													<!--Сумма запроса (с НДС)-->
				<vs-th sort-key="ДопущенКУчастию" style="padding: 0 2%;">{{COLUMNS.COLUMN8}}</vs-th>	<!--Предложение поставщика-->
				<vs-th style="width: 5%;"></vs-th>
				<vs-th></vs-th>
		  </template>
		 <template slot-scope="{data}">
			 <vs-tr :data="tr" :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
				<vs-td :data="data[indextr].Number" class="nowrap">№{{data[indextr].Number | removeZeroes}} от {{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].ПредметЗакупки">{{data[indextr].ПредметЗакупки}}</vs-td>
				<vs-td :data="data[indextr].СрокПриемаПредложенийС" class="acenter">с {{data[indextr].СрокПриемаПредложенийС | formateDate('DD.MM.YYYY')}} <br/> по {{data[indextr].СрокПриемаПредложенийПо | formateDate('DD.MM.YYYY')}}</vs-td>				
				<vs-td :data="data[indextr].srm_ВидыЗапроса_Key">{{data[indextr].srm_ВидыЗапроса_Key}}</vs-td>			
				<vs-td :data="data[indextr].ОрганизаторЗакупки_Key">{{data[indextr].ОрганизаторЗакупки_Key}}</vs-td>
				<vs-td :data="data[indextr].Заказчик_Key">{{data[indextr].Заказчик_Key}}</vs-td>	
				<vs-td :data="data[indextr].ЦенаЗакупки" class="acenter nowrap"><span v-if="showPriceRequest">{{data[indextr].ЦенаЗакупки | numberBeautifier}}</span> {{data[indextr].Валюта_Key}}</vs-td>	
				<vs-td :data="data[indextr].ДопущенКУчастию" :class="colorStatus(data[indextr].ДопущенКУчастию)">{{data[indextr].ДопущенКУчастию | uncamelize}}</vs-td>
				<vs-td style="display:table-cell;width:180px;">
					<div v-if="data[indextr].ПодатьПредложение == true">
						<div v-if="data[indextr].СтатусЗапросаПоставщику !== 'НеДопущенКЗакупочнойПроцедуре'">
							<template v-if="data[indextr].ДопущенКУчастию === 'ДопущенКУчастиюВСледующемЭтапеЗакупочнойПроцедуры'"> 
								<div v-if="data[indextr].Статус === 'НачатВторойЭтапЗакупочнойПроцедуры'" @click="openWithMode(data[indextr].Ref_Key,'step=2&ПредложениеПоставщика_Key='+data[indextr].ПредложениеПоставщика_Key)" :data-description="COLUMNS.OFFER" class="korzina korzina5" style="margin-left: 30%;">
									<svg style="fill: #46c93a;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
								</div><!--Дополнить предложение-->		
							</template>
							<template v-else>
								<div v-if="data[indextr].Статус === 'НачатаЗакупочнаяПроцедура' || data[indextr].Статус === 'НачатПервыйЭтапЗакупочнойПроцедуры'" @click="openWithMode(data[indextr].Ref_Key,'step=1')" :data-description="COLUMNS.OFFER2" class="korzina korzina5" style="margin-left: 30%;"><!--Создать предложение-->
									<svg style="fill: #46c93a;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
								</div><!--Создать предложение-->
							</template> 
						</div>
						<div v-else>
							<div @click="getNotification(data[indextr].КомментарийДляПоставщика)" :data-description="COLUMNS.SHARE" class="korzina korzina5" style="margin-left: 30%;">
								<svg style="fill: rgb(217, 123, 129);" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zM4 12c0-4.42 3.58-8 8-8 1.85 0 3.55.63 4.9 1.69L5.69 16.9C4.63 15.55 4 13.85 4 12zm8 8c-1.85 0-3.55-.63-4.9-1.69L18.31 7.1C19.37 8.45 20 10.15 20 12c0 4.42-3.58 8-8 8z"/></svg>
							</div><!--Не допущен к участию-->							
						</div>
					</div>
					<div v-if="data[indextr].ПодатьПредложениеПоПереторжке == true" >
						<div @click="openWithMode(data[indextr].Ref_Key,'step=3&predlojenye='+data[indextr].ПредложениеПоставщика_Key)" :data-description="COLUMNS.REBIDDING" class="korzina korzina_p korzina_text nowrap" style="margin-left: 30%;"><!--Создать предложение для переторжки-->
							<svg style="fill: #46c93a;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 4h-3.17L15 2H9L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 11.5V13H9v2.5L5.5 12 9 8.5V11h6V8.5l3.5 3.5-3.5 3.5z"/></svg>
						</div>
					</div>
				</vs-td>
				<vs-td>
					<span @click="sendMessage(data[indextr].Ref_Key, data[indextr].Number)" :data-description="COLUMNS.ADD_INFORM" class="korzina korzina5"><!--Задать вопрос-->
					<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span>
				</vs-td>	
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
<vs-prompt class="card_popup" :accept-text="this.COLUMNS.ACCEPT" :cancel-text="this.COLUMNS.CANCEL" :title="this.COLUMNS.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->	
	<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
</vs-prompt>  
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
import Filter from '@/components/form_poles/Filter'					//импорт Фильтров
import Send_Message from '@/components/partials/messages/Send_message'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import Bool from '@/components/form_poles/Bool'						//импорт Булета
import {colorStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_tables/supplier_offer_table'	//импорт supplier_offer_table (Названия колонок в шапке таблицы, названия строк)
export default {
  name: 'Supplier_offer_table',
	data () {
		return {
			proposal: [],
			userInfo: {},
			filters: {},
			COLUMNS: RegFormCoNstants.COLUMNS,
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			tablePage: 0,
			pageCount: 0,
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			showFilter:false,
			colorStatus: colorStatus,
			showPriceRequest: true,
		}
	}, 
	mounted: function() {
		this.isAuthorized().then(
			() =>{
				this.GetRequestProposalsByUser();
				this.gotConstants();
			}
		);
	},
	components:{
		"form-bool":Bool,
		"form-filter":Filter,
		"send-message":Send_Message
	},
	methods: {
		//Получение данных из 1С
		GetRequestProposalsByUser: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetRequestProposalsByUser'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.proposal = response.data.result;
					_.forEach(this.proposal, (value, key) => {
						if(value.ПоэтапнаяПроцедура == true){	
							if(value.Статус === 'НачатВторойЭтапЗакупочнойПроцедуры'){
								this.proposal[key].СрокПриемаПредложенийС = value.СрокПриемаПредложенийС2
								this.proposal[key].СрокПриемаПредложенийПо = value.СрокПриемаПредложенийПо2
							}
							if(value.Статус === 'СформированоСводноеЗаключение' || 
									value.Статус === 'ВыбранПоставщик'){
								this.proposal[key].СрокПриемаПредложенийПо = value.СрокПриемаПредложенийПо2
							}
						}
					});
				})
			this.$refs.mainLoader.Hide();
		},
		//Получение данных по пользователю		
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});				
		},
		gotConstants: function(){
			return axios.post('/api/base/index.php?action=GetConstantShowPriceRequestProposals') 
				.then((response) => {
					this.showPriceRequest = response.data;
			});			
		},
		//Изменение страниц
		pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			_.forEach(this.filters, (value, key) => { 
				let myStr = this.filters[key][0].value;			
				if( this.filters[key][0].view == "Guid"){
					myStr = "";
					_.forEach(this.filters[key][0].value, (value, key) => { 
						myStr += value.Ref_Key + ",";
					});
					dataToSend.set("FILTER["+key+"][value]", myStr);
				}
				else if(this.filters[key].type === 'boolString'){
						if(this.filters[key][0].value){
							dataToSend.set("FILTER["+key+"][value]", this.filters[key][0].boolValue);
						}
						else{
							dataToSend.set("FILTER["+key+"][value]", "");
						}
				}		
				else{
					dataToSend.set("FILTER["+key+"][value]", myStr);
				}	
				dataToSend.set("FILTER["+key+"][type]", this.filters[key][0].view);
				dataToSend.set("FILTER["+key+"][field]", this.filters[key][0].field);
				dataToSend.set("FILTER["+key+"][logic]", this.filters[key][0].logic);
			});
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetRequestProposalsByUser',
					data: dataToSend
				}).then((response) => {
					this.proposal =  response.data.result;
					setTimeout(this.$refs.mainLoader.Hide(),2000);
				});
		},
		//Открытие запроса предложений на просмотр
		showDetails: function(tr){
			let mode = 'usual'
			let predlojenye = ''
			if(tr.ПодатьПредложениеПоПереторжке){
				mode = 'peretorg';
				predlojenye = tr.ПредложениеПоставщика_Key;
			}
			this.$router.push("supplier_offer_card?ref="+tr.Ref_Key+"&mode=" + mode+"&predlojenye=" +  predlojenye);
		},
		getNotification: function(text){
			this.$vs.dialog({
				acceptText:'Принять',
				type:"alert",
				color:'warning',
				title: 'Причина недопуска',
				text: text
			});
		},
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true);
		},
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "ЗапросПредложений"
			this.sendMessageTitle = "Тема: сообщение по запросу №"+ this.$options.filters.removeZeroes(num)
		},
		//Открытие предложения на просмотр
		openWithMode: function(ref, mode){
			if(mode){
				this.$router.push("request_supplier_card?ref="+ref+"&"+mode);
			}
			else{
				this.$router.push("request_supplier_card?ref="+ref);
			}
		},
		//Открытие запроса предложений на редактирование
		openAs: function(mode){
			this.$router.push("supplier_offer_card?ref=" + this.proposal[this.proposal.length - 1].Ref_Key+"&mode=" + mode);
		}
	}	 
}
</script>