<template>
<div>
    <h1>{{title}}</h1>		
	<div>
		<textarea class="el-input__inner line_height width_input_popup" style="height: 100px" v-model="sendMessageText"/>
	</div>
</div>
</template>
<script>
const axios = require('axios');
export default {
  name: 'SendMessage',
  props: ['title','ref-key', 'type',],
	data () {
		return {
      isShown:this.showPromt,

      sendMessageTitle: "",
      sendMessageText: "",
		}
	},
	methods:{
    sendMessage: function(sendMsg = false){
		let dataToSend = new FormData();
     	dataToSend.set("data[ТекстСообщения]",  this.sendMessageText);
      	dataToSend.set("data[Тема_Тип]",  this.type);
      	dataToSend.set("data[Тема_ИД]",   this.refKey);
		return axios({
			method: 'post',
			url: '/api/base/?action=AddMessage',
			data: dataToSend
		}).then((response) =>{
			this.newMessageText = "";
			if(sendMsg == true){
				this.$vs.notify({title:'Отправлено',text:'Сообщение успешно отправлено. В чате создана тема по вашему запросу',color:'success'})
			}
      	});

	},
  },
  watch: {
			showPromt: function(val, oldVal){
        this.isShown = val;
				this.$emit('input', val);
			}
	},
}
</script>
<style>
  
</style>
