<template>
<div class="home login-container table_box-shadow Ac" id="main_page">
  	<div class="form_line_Accreditation nowrap text_grey soC_margin top_line full_name form_line_st">
		<div class="cursor form_line_card" v-if="$route.query.pretense" style="margin-left: 10px;">	
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H_P}}</span><!--Новый план корректирующих мероприятий-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->	
		</div>	
		<div class="cursor form_line_card" v-if="!$route.query.pretense" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--План корректирующих мероприятий-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.Статус.value | uncamelize}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
	</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
  <vs-row class="vs-con-tbody-table">
  <vs-col vs-type="flex" vs-align="center" vs-w="12">
  <template>
    <div>
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<!--<div  v-if="!$route.query.pretense" class="form_line_Accreditation nowrap text_grey soC_margin top_line" style="display: flex;">
				<form-string class="soCWidth_string2" disabled="true" v-model="regForm.Number.value" :label="regForm.Number.name" />Номер	
				<form-date class="soCWidth" disabled="true" v-model="regForm.Date.value" :label="regForm.Date.name" />от
			</div>	-->
			<div class="form_line_Accreditation nowrap text_grey soC_margin address_delivery_shipping">
				<span class="span_ref" @click="toCard()"><form-string disabled="true" v-model="regForm.ДокументОснование.value" :label="regForm.ДокументОснование.name" /></span><!--Документ-основание-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin address_delivery_shipping">
				<form-string disabled="true" v-model="regForm.Организация.value" :label="regForm.Организация.name" /><!--Организация-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin address_delivery_shipping">
				<span class="span_ref" @click="toCard2()"><form-string disabled="true" v-model="regForm.Договор.value" :label="regForm.Договор.name" /></span><!--Договор-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin address_delivery_shipping">
				<form-string disabled="true" v-model="regForm.ВидНесоответсвия.value" :label="regForm.ВидНесоответсвия.name" /><!--Вид несоответствия-->
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin textarea_APC " style="display: flex;">
				<div style="margin-left:40px;">{{PAGE_NAME.COMMENT}}</div><!--Комментарий-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.Комментарий.value" :label="regForm.Комментарий.name"/><!--Комментарий-->	
			</div>	
		</div>	
	</div>
  </template> 
  </vs-col>
  </vs-row>


</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="filter_8"><!--Методика восьми дисциплин G8D-->
<div>
<vs-row class="vs-con-tbody-table">
<vs-col vs-type="flex" vs-w="12">
<div class="card_osnovnoi">
		
<template>
<div class="card_undertab">
	<div style="margin-bottom:20px;">
		<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
			<span :class="{'isError': regForm.ДатаНачала.error}">
				<form-date  :disabled="isAllowed('D0')" v-model="regForm.ДатаНачала.value" :label="regForm.ДатаНачала.name" /><!--Дата начала-->	
			</span>
			<form-date class="w_pC" disabled="true" v-model="regForm.ДатаПоследнейВерсии.value" :label="regForm.ДатаПоследнейВерсии.name" /><!--Дата последней версии-->
		</div>
		<div class="form_line_Accreditation nowrap text_grey soC_margin">
			<form-number disabled="true" v-model="regForm.КоличествоЗаполненныхШагов.value" :label="regForm.КоличествоЗаполненныхШагов.name" /><!--Количество заполненных шагов-->
		</div>
		<div class="form_line_Accreditation nowrap text_grey soC_margin">
			<form-string :disabled="isAllowed('D0')" v-model="regForm.ИнформацияОПродуктеПроцессе.value" :label="regForm.ИнформацияОПродуктеПроцессе.name" /><!--Информация о продукте/процессе-->
		</div>
	</div>	
<div class="methods text_grey">  	
<vs-tabs>
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB1"  icon="filter_none"><!--D0-->					
		<div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError': regForm.D0_ПризнакиПроблемы.error}">				
					<div class="form_line_Order nowrap text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.SIGN_PROBLEM}}</div><!--Признаки проблемы-->	
						<textarea :disabled="isAllowed('D0')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D0_ПризнакиПроблемы.value" :label="regForm.D0_ПризнакиПроблемы.name"/>
					</div>					
				</span>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError': regForm.D0_ЭкстренныеМеры.error}">
					<div class="form_line_Order nowrap text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.EXTRA_STEP}}</div><!--Экстренные меры-->	
						<textarea :disabled="isAllowed('D0')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D0_ЭкстренныеМеры.value" :label="regForm.D0_ЭкстренныеМеры.name"/>
					</div>	
				</span>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;margin-left: 40px;">
				<span :class="{'isError': regForm.D0_ПроцентЭффективности.error}">
					 <vs-input-number min="0" max="100" :disabled="isAllowed('D0')" v-model="regForm.D0_ПроцентЭффективности.value" :label="regForm.D0_ПроцентЭффективности.name" /><!--Процент эффективности-->
				</span>
				<span :class="{'isError': regForm.D0_ДатаПрименения.error}">
					<form-date class="roCWidth" :disabled="isAllowed('D0')" v-model="regForm.D0_ДатаПрименения.value" :label="regForm.D0_ДатаПрименения.name" /><!--Дата применения-->
				</span>
			</div>					
		</div>
		<div v-if="checkPermissions('buttonD0')" class="save_but"><button :disabled="isAllowed('D0')" type="button" @click="newPretense()" class="el-button filter-item"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 8V7l-3 2-3-2v1l3 2 3-2zm1-5H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm8-6h-8V6h8v6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			{{PAGE_NAME.SEND}}</span></button></div><!--Отправить на согласование-->
	</vs-tab>
				   
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB2"  icon="filter_1"><!--D1-->
		<form-table :disabled="!checkPermissions('D1table')" v-model="allCommands" :headings="command2"/>
	</vs-tab>
					
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB3"  icon="filter_2"><!--D2-->
		<div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError': regForm.D2_ФормулировкаПроблемы.error}">
					<div class="form_line_Order nowrap text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.WORD_PROBLEM}}</div><!--Формулировка проблемы-->	
						<textarea :disabled="isAllowed('D2')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D2_ФормулировкаПроблемы.value" :label="regForm.D2_ФормулировкаПроблемы.name"/>
					</div>	
				</span>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError': regForm.D2_ОписаниеПроблемы.error}">
					<div class="form_line_Order nowrap text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.DESC_PROBLEM}}</div><!--Описание проблемы-->	
						<textarea :disabled="isAllowed('D2')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D2_ОписаниеПроблемы.value" :label="regForm.D2_ОписаниеПроблемы.name"/>
					</div>	
				</span>
			</div>	
		</div>
	</vs-tab> 

	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB4"  icon="filter_3"><!--D3-->
		<div>
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D3_ОпределениеВременныхСдерживающихМероприятий.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.EVENT_DEF}}</div><!--Определение временных сдерживающих мероприятий-->	
						<textarea :disabled="isAllowed('D3')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D3_ОпределениеВременныхСдерживающихМероприятий.value" :label="regForm.D3_ОпределениеВременныхСдерживающихМероприятий.name"/>
					</div>	
				</span>
			</div>		
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;margin-left: 40px;">
				<span :class="{'isError': regForm.D3_ПроцентЭффективности.error}">
					<vs-input-number min="0" max="100" :disabled="isAllowed('D3')" v-model="regForm.D3_ПроцентЭффективности.value" :label="regForm.D3_ПроцентЭффективности.name" /><!--Процент эффективности-->
				</span>
				<span :class="{'isError': regForm.D3_ДатаПрименения.error}">
					<form-date class="roCWidth" :disabled="isAllowed('D3')" v-model="regForm.D3_ДатаПрименения.value" :label="regForm.D3_ДатаПрименения.name" /><!--Дата применения-->
				</span>
			</div>					
		</div>
		<div v-if="checkPermissions('buttonD3')" class="save_but"><button  type="button" @click="newPretense()" class="el-button filter-item"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 8V7l-3 2-3-2v1l3 2 3-2zm1-5H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm8-6h-8V6h8v6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			{{PAGE_NAME.SEND}}</span></button></div><!--Отправить на согласование-->
	</vs-tab>
				   
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB5"  icon="filter_4"><!--D4-->
		<div>
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D4_ОпределениеКореннойПричины.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.EVENT_ROOT}}</div><!--Определение коренной причины и ближайшей точки обнаружения несоответствий-->	
						<textarea :disabled="isAllowed('D4')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D4_ОпределениеКореннойПричины.value" :label="regForm.D4_ОпределениеКореннойПричины.name"/>
					</div>	
				</span>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError': regForm.D4_Проверка.error}">
					<div class="form_line_Order nowrap text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.TEST}}</div><!--Проверка-->	
						<textarea :disabled="isAllowed('D4')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D4_Проверка.value" :label="regForm.D4_Проверка.name"/>
					</div>	
				</span>
			</div>
			<div style="display: flex;margin-left: 40px;">	
				<span :class="{'isError': regForm.D4_Проверка.error}">
					<vs-input-number min="0" max="100"  class="valuta_Width105 cursor" :disabled="isAllowed('D4')" v-model="regForm.D4_ПроцентУчастия.value" :label="regForm.D4_ПроцентУчастия.name" /><!--Процент участия-->				
				</span>
			</div>						
		</div>	
	</vs-tab>
					
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB6"  icon="filter_5"><!--D5-->
		<div>
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D5_ВыборПостоянныхДействий.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.PICK}}</div><!--Выбор постоянных корректирующих действий-->	
						<textarea :disabled="isAllowed('D5')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D5_ВыборПостоянныхДействий.value" :label="regForm.D5_ВыборПостоянныхДействий.name"/>
					</div>	
				</span>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError': regForm.D5_Проверка.error}">
					<div class="form_line_Order nowrap text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.TEST}}</div><!--Проверка-->	
						<textarea :disabled="isAllowed('D5')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D5_Проверка.value" :label="regForm.D5_Проверка.name"/>
					</div>	
				</span>
			</div>
			<div style="display: flex;">		
				<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;margin-left: 40px;">
					<span :class="{'isError': regForm.D5_ПроцентЭффективности.error}">
						<vs-input-number min="0" max="100" :disabled="isAllowed('D5')" v-model="regForm.D5_ПроцентЭффективности.value" :label="regForm.D5_ПроцентЭффективности.name" /><!--Процент эффективности-->
					</span>
				</div>		
			</div>			
		</div>
		<div v-if="checkPermissions('buttonD5')" class="save_but"><button :disabled="isAllowed('D5')" type="button" @click="newPretense()" class="el-button filter-item"><span style="color:white;">{{PAGE_NAME.SEND}}</span></button></div><!--Отправить на согласование-->
	</vs-tab> 

	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB7"  icon="filter_6"><!--D6-->
		<div>
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D6_ВнедрениеПостоянныхДействий.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.INTR}}</div><!--Внедрение постоянных корректирующих действий-->	
						<textarea :disabled="isAllowed('D6')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D6_ВнедрениеПостоянныхДействий.value" :label="regForm.D6_ВнедрениеПостоянныхДействий.name"/>
					</div>	
				</span>
			</div>		
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError': regForm.D6_Проверка.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.TEST}}</div><!--Проверка-->	
						<textarea :disabled="isAllowed('D6')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D6_Проверка.value" :label="regForm.D6_Проверка.name"/>
					</div>
				</span>
			</div>
			<div class="form_line_card" style="display: flex;margin-left: 40px;">	
				<span :class="{'isError': regForm.D6_ДатаВнедрения.error}">
					<form-date class="roCWidth" :disabled="isAllowed('D6')" v-model="regForm.D6_ДатаВнедрения.value" :label="regForm.D6_ДатаВнедрения.name" /><!--Дата внедрения-->
				</span>
			</div>					
		</div>
	</vs-tab>
				   
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB8"  icon="filter_7"><!--D7-->
		<div>
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D7_ВыборПредупредительныхМер.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.PICK2}}</div><!--Выбор предупредительных мер-->	
						<textarea :disabled="isAllowed('D7')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D7_ВыборПредупредительныхМер.value" :label="regForm.D7_ВыборПредупредительныхМер.name"/>
					</div>
				</span>
			</div>		
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D7_РекомендацииПоСистематическомуПредотвращениюПроблем.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.CHIT}}</div><!--Рекомендации по систематическому предотвращению проблем-->	
						<textarea :disabled="isAllowed('D7')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D7_РекомендацииПоСистематическомуПредотвращениюПроблем.value" :label="regForm.D7_РекомендацииПоСистематическомуПредотвращениюПроблем.name"/>
					</div>
				</span>
			</div>				
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError': regForm.D7_ДатаВнедрения.error}">
					<form-date class="roCWidth" :disabled="isAllowed('D7')" v-model="regForm.D7_ДатаВнедрения.value" :label="regForm.D7_ДатаВнедрения.name" /><!--Дата внедрения-->
				</span>
				<span :class="{'isError': regForm.D7_ОтветственноеЛицо.error}">
					<form-string class="w_pC" :disabled="isAllowed('D7')" v-model="regForm.D7_ОтветственноеЛицо.value" :label="regForm.D7_ОтветственноеЛицо.name" /><!--Ответственное лицо-->
				</span>
			</div>					
		</div>
	</vs-tab>
					
	<vs-tab :label="PAGE_NAME.PAGE_NAME_TAB9"  icon="filter_8"><!--D8-->
		<div>	
			<div class="form_line_Accreditation text_grey soC_margin">
				<span :class="{'isError': regForm.D8_ПризнаниеРаботыКоманды.error}">
					<div class="form_line_Order text_grey soC_margin textarea_APC2" style="display: flex;">
						<div class="label_APC">{{PAGE_NAME.AVOWAL}}</div><!--Признание работы команды в целом и каждого сотрудника в отдельности-->	
						<textarea :disabled="isAllowed('D7')" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.D8_ПризнаниеРаботыКоманды.value" :label="regForm.D8_ПризнаниеРаботыКоманды.name"/>
					</div>
				</span>
			</div>	
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError': regForm.D8_ДатаОкончания.error}">
					<form-date class="roCWidth" :disabled="isAllowed('D8')" v-model="regForm.D8_ДатаОкончания.value" :label="regForm.D8_ДатаОкончания.name" /><!--Дата окончания-->
				</span>
				<span :class="{'isError': regForm.D8_ОтчетЗакрыт.error}">
					<form-date class="roCWidth" :disabled="isAllowed('D8')" v-model="regForm.D8_ОтчетЗакрыт.value" :label="regForm.D8_ОтчетЗакрыт.name" /><!--Отчет закрыт-->				
				</span>			
			</div>	
		</div>
		<div   v-if="checkPermissions('buttonD8')" class="save_but"><button :disabled="isAllowed('D8')" type="button" @click="newPretense()" class="el-button filter-item"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 8V7l-3 2-3-2v1l3 2 3-2zm1-5H2C.9 3 0 3.9 0 5v14c0 1.1.9 2 2 2h20c1.1 0 1.99-.9 1.99-2L24 5c0-1.1-.9-2-2-2zM8 6c1.66 0 3 1.34 3 3s-1.34 3-3 3-3-1.34-3-3 1.34-3 3-3zm6 12H2v-1c0-2 4-3.1 6-3.1s6 1.1 6 3.1v1zm8-6h-8V6h8v6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			{{PAGE_NAME.SEND}}</span></button></div><!--Отправить на согласование-->
	</vs-tab> 

</vs-tabs>
</div>   
</div>
</template>	
</div>		
</vs-col>
</vs-row>
</div>
</vs-tab>
<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="attach_file"><!--Присоединённые файлы-->
	<file-upload :disabled="!disableAll" v-model="fileArray" v-if="ActionDataByRef['ПрисоединенныеФайлы'] || $route.query.pretense" :oldFiles="ActionDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_ПланКорректирующихМероприятий"></file-upload>			
</vs-tab>
</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Number from '@/components/form_poles/Number'								//импорт Номеров
import Select_ref from '@/components/form_poles/Select_ref'
import Date from '@/components/form_poles/Date'									//импорт Дат
import Select from '@/components/form_poles/Select'								//импорт Селекта
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import File_upload from '@/components/partials/File_upload'						//импорт File upload
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty,isTrue,isDefined, replaceUndefined,replaceUndefinedToDate,russianToDate,replaceUndefinedToDateTime,validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/action_plan_card'	//импорт action_plan_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Action_plan_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Статус: {
					value:'',
					requred:'none',
					name: 'Статус анкеты',
					disabled: true,
					error:false
				},				
				Number: {
					value:'',
					requred:'none',
					name: 'Номер',
					disabled: true,
					error:false
				},
				Date: {
					value: "",
					requred:'none',
					name: 'от',
					disabled: true,
					error:false
				},
				ДокументОснование: {
					value:'',
					requred:'none',
					name: 'Документ-основание',
					disabled: true,
					error:false
				},
				Организация: {
					value:'',
					requred:'none',
					name: 'Организация',
					disabled: true,
					error:false
				},
				Договор: {
					value:'',
					requred:'none',
					name: 'Договор',
					disabled: true,
					error:false
				},
				ВидНесоответсвия: {
					value:'',
					requred:'none',
					name: 'Вид несоответствия',
					disabled: true,
					error:false
				},
				Комментарий: {
					value:'',
					requred:'none',
					name: 'Комментарий',
					disabled: true,
					error:false
				},
				
				ДатаНачала: {
					value:'',
					requred:'all',
					name: 'Дата начала',
					disabled: true,
					error:false
				},
				ДатаПоследнейВерсии: {
					value:'',
					requred:'none',
					name: 'Дата последней версии',
					disabled: true,
					error:false
				},
				ДокументСозданНаПортале: {
					value:"",
					requred:'none',
					name: 'ДокументСозданНаПортале',
					disabled: true,
					error:false
				},
				КоличествоЗаполненныхШагов: {
					value:0,
					requred:'none',
					name: 'Количество заполненных шагов',
					disabled: true,
					error:false
				},
				ИнформацияОПродуктеПроцессе: {
					value:'',
					requred:'none',
					name: 'Информация о продукте/процессе',
					disabled: true,
					error:false
				},
				
				D0_ПризнакиПроблемы: {
					value:'',
					requred:0,
					name: 'Признаки проблемы',
					disabled: true,
					error:false
				},
				D0_ЭкстренныеМеры: {
					value:'',
					requred:0,
					name: 'Экстренные меры',
					disabled: true,
					error:false
				},
				D0_ПроцентЭффективности: {
					value:0,
					requred:0,
					name: 'Процент эффективности',
					disabled: true,
					error:false,
					isProcent:true
				},
				D0_ДатаПрименения: {
					value:'',
					requred:0,
					name: 'Дата применения',
					disabled: true,
					error:false
				},
				D2_ФормулировкаПроблемы: {
					value:'',
					requred:3,
					name: 'Формулировка проблемы',
					disabled: true,
					error:false
				},
				D2_ОписаниеПроблемы: {
					value:'',
					requred:3,
					name: 'Описание проблемы',
					disabled: true,
					error:false
				},
				D3_ОпределениеВременныхСдерживающихМероприятий: {
					value:'',
					requred:3,
					name: 'Определение временных сдерживающих мероприятий',
					disabled: true,
					error:false
				},
				D3_ПроцентЭффективности: {
					value:'',
					requred:3,
					name: 'Процент эффективности',
					disabled: true,
					error:false,
					isProcent:true
				},
				D3_ДатаПрименения: {
					value:'',
					requred:3,
					name: 'Дата применения',
					disabled: true,
					error:false
				},
				D3_ЗаказчикЗащищен: {
					value:'',
					requred:'none',
					name: 'Заказчик защищен',
					disabled: true,
					error:false
				},
				D4_ОпределениеКореннойПричины: {
					value:'',
					requred:5,
					name: 'Определение коренной причины и ближайшей точки обнаружения несоответствий',
					disabled: true,
					error:false
				},
				D4_ПроцентУчастия: {
					value:'',
					requred:5,
					name: 'Процент участия',
					disabled: true,
					error:false,
					isProcent:true
				},
				D4_Проверка: {
					value:'',
					requred:5,
					name: 'Проверка',
					disabled: true,
					error:false
				},
				D5_ВыборПостоянныхДействий: {
					value:'',
					requred:5,
					name: 'Выбор постоянных корректирующих действий',
					disabled: true,
					error:false
				},
				D5_Проверка: {
					value:'',
					requred:5,
					name: 'Проверка',
					disabled: true,
					error:false
				},
				D5_ПроцентЭффективности: {
					value:'',
					requred:5,
					name: 'Процент эффективности',
					disabled: true,
					error:false,
					isProcent:true
				},
				D6_ВнедрениеПостоянныхДействий: {
					value:'',
					requred:8,
					name: 'Внедрение постоянных корректирующих действий',
					disabled: true,
					error:false
				},
				D6_ДатаВнедрения: {
					value:'',
					requred:8,
					name: 'Дата внедрения',
					disabled: true,
					error:false
				},
				D6_Проверка: {
					value:'',
					requred:8,
					name: 'Проверка',
					disabled: true,
					error:false
				},
				D7_ВыборПредупредительныхМер: {
					value:'',
					requred:8,
					name: 'Выбор предупредительных мер',
					disabled: true,
					error:false
				},
				D7_РекомендацииПоСистематическомуПредотвращениюПроблем: {
					value:'',
					requred:8,
					name: 'Рекомендации по систематическому предотвращению проблем',
					disabled: true,
					error:false
				},				
				D7_ДатаВнедрения: {
					value:'',
					requred:8,
					name: 'Дата внедрения',
					disabled: true,
					error:false
				},
				D7_ОтветственноеЛицо: {
					value:'',
					requred:8,
					name: 'Ответственное лицо',
					disabled: true,
					error:false
				},
				D8_ПризнаниеРаботыКоманды: {
					value:'',
					requred:8,
					name: 'Признание работы команды в целом и каждого сотрудника в отдельности',
					disabled: true,
					error:false
				},
				D8_ДатаОкончания: {
					value:'',
					requred:8,
					name: 'Дата окончания',
					disabled: true,
					error:false
				},
				D8_ОтчетЗакрыт: {
					value:'',
					requred:8,
					name: 'Отчет закрыт',
					disabled: true,
					error:false
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			command: {},
			fileArray:{},
			disableBlank:false,
			disableD0: false,
			disableD1: false,
			disableD2: false,
			disableD3: false,
			disableD4: false,
			disableD5: false,
			disableD6: false,
			disableD7: false,
			disableD8: false,
			disableAll: false,
			command2: {},
			errors: [],
			savedStatuses:{
				"Черновик" : {
					name : 'Черновик',
					nextStep : 'СогласованиеШагаD0',
					step: 0,
					},
				"Согласован шаг d0" : {
					name : 'Согласован шаг d0',
					nextStep : 'СогласованиеШагаD3',
					step: 3,
					},
				"СогласованШагD0" : {
					name : 'Согласован шаг d0',
					nextStep : 'СогласованиеШагаD3',
					step: 3,
					},
				"Согласован шаг d3" : {
					name : 'Согласован шаг d3',
					nextStep : 'СогласованиеШагаD5',
					step: 5,
					},
				"СогласованШагD3" : {
					name : 'Согласован шаг d3',
					nextStep : 'СогласованиеШагаD5',
					step: 5,
					},
				"Согласован шаг d5" : {
					name : 'Согласован шаг d5',
					nextStep : 'МероприятияПроизведеныПоставщиком',
					step: 8,
					},
				"СогласованШагD5" : {
					name : 'Согласован шаг d5',
					nextStep : 'МероприятияПроизведеныПоставщиком',
					step: 8,
					},
				"Отклонён шаг d0": {
					name : 'Отклонён шаг d0',
					nextStep : 'СогласованиеШагаD0',
					step: 0,
					},
				"ОтклонёнШагD0": {
					name : 'Отклонён шаг d0',
					nextStep : 'СогласованиеШагаD0',
					step: 0,
					},
				"Отклонён шаг d3": {
					name : 'Отклонён шаг d3',
					nextStep : 'СогласованиеШагаD3',
					step: 3,
					},
				"ОтклонёнШагD3": {
					name : 'Отклонён шаг d3',
					nextStep : 'СогласованиеШагаD3',
					step: 3,
					},
				"Отклонён шаг d5": {
					name : 'Отклонён шаг d5',
					nextStep : 'СогласованиеШагаD5',
					step: 5,
					},
				"ОтклонёнШагD5": {
					name : 'Отклонён шаг d5',
					nextStep : 'СогласованиеШагаD5',
					step: 5,
					},
				"Отчёт не согласован заказчиком": {
					name : '"Отчёт не согласован заказчиком',
					nextStep : 'МероприятияПроизведеныПоставщиком',
					step: 8,
					},
				"ОтчётНеСогласованЗаказчиком": {
					name : '"Отчёт не согласован заказчиком',
					nextStep : 'МероприятияПроизведеныПоставщиком',
					step: 8,
					},
			},
			allCommands: [],
			fileSaveResp: {
				result: {
					files:[]
				}
			},
			deletedItems:[],
			createdOnPortal: true,
			showMatchings:false,
			newFiles: {
				result: {
					files:[],
					types:[]
				}
			},
			fileMatchArray: [],
			ActionDataByRef:[],
			pretenseDataByRef:[],
			userInfo: {},
  }
},
	mounted: function() {
		this.$refs.mainLoader.Show();
		this.getStructure().then(
			() => {					
					this.GetClaimActionPlanByRefKey();
					this.isAuthorized();
			}
		);
	},
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-select-ref":Select_ref,
		"form-date":Date,
		"form-table":Table,
		"form-number":Number,
		"form-select":Select,
		"file-upload":File_upload,
	},
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ПланКорректирующихМероприятий'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';				
			});
		},
		//Открывает Уведомление о несоответствии
		toCard: function(){
			this.$router.push('pretense_card?ref=' + this.ActionDataByRef.ДокументОснование[Object.keys(this.ActionDataByRef.ДокументОснование)[0]].Ref_Key); 
		},
		//Открывает Договор контрагентов
		toCard2: function(){
			this.$router.push('partner_contract?ref=' + this.ActionDataByRef.Договор_Key); 
		},
		//Отправка на согласование
		newPretense: function(){
			//обнуляем ошибки
			_.forEach(this.regForm, (value, key) => {
				this.regForm[key].error = false;
			});
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});
			}
			else{
				var dataToSend = new FormData();
				dataToSend.set("data[ДокументСозданНаПортале]", true);
				if(this.$route.query.pretense){
					dataToSend.set("data[ДокументОснование_Key]", this.$route.query.pretense);
					dataToSend.set("data[Организация_Key]", replaceUndefined(this.pretenseDataByRef['Организация_Key']));
					dataToSend.set("data[Договор_Key]",  replaceUndefined(this.pretenseDataByRef['Договор_Key']));
					dataToSend.set("data[ВидНесоответствия_Key]",  this.pretenseDataByRef['ВидНесоответствия_Key']);
					dataToSend.set("data[Поставщик_Key]", "");
				}
				else{
					dataToSend.set("Ref_Key", this.ActionDataByRef["Ref_Key"]);
				}
				dataToSend.set("data[Статус]", this.savedStatuses[this.regForm.Статус.value].nextStep);				
				dataToSend.set("data["+this.createdOnPortal+"]", "true");				
				dataToSend.set("data[Комментарий]",  replaceUndefined(this.regForm['Комментарий'].value));
				dataToSend.set("data[ИнформацияОПродуктеПроцессе]",  replaceUndefined(this.regForm['ИнформацияОПродуктеПроцессе'].value));
				dataToSend.set("data[КоличествоЗаполненныхШагов]",  this.savedStatuses[this.regForm.Статус.value].step);
				dataToSend.set("data[ДатаНачала]",  russianToDate(replaceUndefinedToDate(this.regForm['ДатаНачала'].value)));
				dataToSend.set("data[ДатаПоследнейВерсии]", russianToDate(replaceUndefinedToDate(this.regForm['ДатаПоследнейВерсии'].value)));	
				dataToSend.set("data[D0_ПризнакиПроблемы]",  replaceUndefined(this.regForm.D0_ПризнакиПроблемы.value));
				dataToSend.set("data[D0_ПроцентЭффективности]",  replaceUndefined(this.regForm.D0_ПроцентЭффективности.value));
				dataToSend.set("data[D0_ЭкстренныеМеры]", replaceUndefined( this.regForm.D0_ЭкстренныеМеры.value));
				dataToSend.set("data[D0_ПроцентЭффективности]",  replaceUndefined(this.regForm.D0_ПроцентЭффективности.value));
				dataToSend.set("data[D0_ДатаПрименения]",  russianToDate(replaceUndefinedToDate(this.regForm.D0_ДатаПрименения.value)));				
				_.forEach(this.allCommands, (value, key) => {
					dataToSend.set("data[D1_Команда]["+key+"][LineNumber]", key+1);
					dataToSend.set("data[D1_Команда]["+key+"][РольВКоманде]", value[0]);
					dataToSend.set("data[D1_Команда]["+key+"][Сотрудник]", value[1]);
					dataToSend.set("data[D1_Команда]["+key+"][Должность]", value[2]);
					dataToSend.set("data[D1_Команда]["+key+"][Телефон]", value[3]);
				});				
				dataToSend.set("data[D2_ФормулировкаПроблемы]",  replaceUndefined(this.regForm.D2_ФормулировкаПроблемы.value));
				dataToSend.set("data[D2_ОписаниеПроблемы]",  replaceUndefined(this.regForm.D2_ОписаниеПроблемы.value));				
				dataToSend.set("data[D3_ОпределениеВременныхСдерживающихМероприятий]",  replaceUndefined(this.regForm.D3_ОпределениеВременныхСдерживающихМероприятий.value));
				dataToSend.set("data[D3_ПроцентЭффективности]",  replaceUndefined(this.regForm.D3_ПроцентЭффективности.value));
				dataToSend.set("data[D3_ДатаПрименения]",  russianToDate(replaceUndefinedToDate(this.regForm.D3_ДатаПрименения.value)));
				dataToSend.set("data[D3_ЗаказчикЗащищен]",  isTrue(this.regForm.D3_ЗаказчикЗащищен.value));
				dataToSend.set("data[D4_ОпределениеКореннойПричины]",  replaceUndefined(this.regForm.D4_ОпределениеКореннойПричины.value));
				dataToSend.set("data[D4_Проверка]",  replaceUndefined(this.regForm.D4_Проверка.value));
				dataToSend.set("data[D4_ПроцентУчастия]",  replaceUndefined(this.regForm.D4_ПроцентУчастия.value));
				dataToSend.set("data[D5_ВыборПостоянныхДействий]",  replaceUndefined(this.regForm.D5_ВыборПостоянныхДействий.value));
				dataToSend.set("data[D5_ПроцентЭффективности]",  replaceUndefined(this.regForm.D5_ПроцентЭффективности.value));
				dataToSend.set("data[D5_Проверка]",  replaceUndefined(this.regForm.D5_Проверка.value));				
				dataToSend.set("data[D6_ВнедрениеПостоянныхДействий]",  replaceUndefined(this.regForm.D6_ВнедрениеПостоянныхДействий.value));
				dataToSend.set("data[D6_Проверка]",  replaceUndefined(this.regForm.D6_Проверка.value));
				dataToSend.set("data[D6_ДатаВнедрения]",  russianToDate(replaceUndefinedToDate(this.regForm.D6_ДатаВнедрения.value)));	
				dataToSend.set("data[D7_ВыборПредупредительныхМер]",  replaceUndefined(this.regForm.D7_ВыборПредупредительныхМер.value));
				dataToSend.set("data[D7_РекомендацииПоСистематическомуПредотвращениюПроблем]",  replaceUndefined(this.regForm.D7_РекомендацииПоСистематическомуПредотвращениюПроблем.value));
				dataToSend.set("data[D7_ДатаВнедрения]",  russianToDate(replaceUndefinedToDate(this.regForm.D7_ДатаВнедрения.value)));
				dataToSend.set("data[D7_ОтветственноеЛицо]",  replaceUndefined(this.regForm.D7_ОтветственноеЛицо.value));
				dataToSend.set("data[D8_ПризнаниеРаботыКоманды]",  replaceUndefined(this.regForm.D8_ПризнаниеРаботыКоманды.value));
				dataToSend.set("data[D8_ДатаОкончания]",  russianToDate(replaceUndefinedToDate(this.regForm.D8_ДатаОкончания.value)));
				dataToSend.set("data[D8_ОтчетЗакрыт]",  replaceUndefinedToDate(this.regForm.D8_ОтчетЗакрыт.value));
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				return axios({
					method: 'post',
					url: '/api/base/?action=UpdateClaimActionPlan',
					data: dataToSend
				}).then((response) => {				
					if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка плана',
							text: 'План корректирующих мероприятий успешно отправлен',
							accept:this.accept
						});
						this.$router.push('Action_plan_table'); 
					}				
				});				
			}
		},
		//Валидация
		validate: function(){	
			this.errors = [];
			//alert(this.regForm.Статус.value);
			_.forEach(this.regForm, (value, key) => {
				if(value){
					if((this.savedStatuses[this.regForm.Статус.value].step=== value.requred || value.requred === 'all') 
						&& (isEmpty(value.value) || !isDefined(value.value) ||
						 (value.isProcent && value.value === 0 ))){
							this.errors.push('Не заполнено поле ' + key);
							this.$set(this.regForm[key],'error',true);
					}
				}				
			});
			//валидируем тип файлов 		
				let lineNumber = 0;
					_.forEach(this.fileArray.oldFiles, (value, key) => {
						lineNumber++
					});					
					_.forEach(this.fileArray.newFiles, (value, key) => {
						lineNumber++
						if (!isDefined(value.type) || value.type.length < 1){	
							this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
						}
						
				});	
			if(this.savedStatuses[this.regForm.Статус.value].step){
				if(this.allCommands.length){
					_.forEach(this.allCommands, (value, key) => {
						if(Object.keys(value).length !== this.command2.length){
								this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в команде (шаг D1)");
						}
						else{
							_.forEach(value, (value2, key2) => {
								if(isEmpty(value2)){
									this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в команде (шаг D1)");
								}
							});	
						}
					});	
				}
				else{
					this.errors.push("Не заполнена команда (шаг D1)");
				}
			}
			return this.errors.length;
		},
		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileMatchArray = [];
			this.newFiles = [];
			this.newFiles.result = {};
			this.newFiles.result.files = [];
			this.additionalFiles = JSON.parse(resp.target.response);
			_.forEach(this.additionalFiles.result.files, (value, key) => {
				this.newFiles.result.files.push({
						name:value.name,
						id:value.id
					});				
			});
			this.showMatchings = true;
		},
		//Получение данных по анкете
		GetClaimActionPlanByRefKey: function() {	
			var ref = this.$route.query.ref;
				if(ref){
					axios.post('/api/base/?action=GetClaimActionPlanByRefKey&refkey='+ ref) 
					.then((response) => {		
						this.ActionDataByRef = response.data;
					}).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					}).then(
						() => {
							this.loadData();
							this.getCommand();	
							this.getCommand2();	
							document.getElementById('preloader_inner').style.display = 'none';
							this.$refs.mainLoader.Hide();
						}
					);
				}
				else{
					var pretense = this.$route.query.pretense;
					this.$refs.mainLoader.Hide();
					axios.post('/api/base/?action=GetClaimSupplierByRefKey&refkey='+ pretense) 
					.then((response) => {		
						this.pretenseDataByRef = response.data;
					}).then(
						() => {
							this.loadData2();
							this.getCommand2();	
							this.$refs.mainLoader.Hide();
						}
					).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					});
				}				
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			if(this.disableAll){
				return true;
			}			
			if( this.regForm['Статус'].value == 'Черновик'){
				this.disableBlank = true;
				return false;
			}
			if( this.regForm['Статус'].value == 'СогласованШагD0'){
				this.disableD0 = true;
			}
			if( this.regForm['Статус'].value == 'МероприятияПроизведеныПоставщиком'){
				this.disableAll = true;
				return true;
			}
			if( this.regForm['Статус'].value == 'ОтчётЗакрыт'){
				this.disableAll = true;
				return true;
			}
			if( this.regForm['Статус'].value.startsWith('Согласование')){
				this.disableAll = true;
				return true;
			}
			
			if( this.regForm['Статус'].value == 'СогласованШагD3'){
				this.disableD0 = true;
				this.disableD1 = true;
				this.disableD2 = true;
				this.disableD3 = true;
			}
			if( this.regForm['Статус'].value == 'СогласованШагD5'){
				this.disableD0 = true;
				this.disableD1 = true;
				this.disableD2 = true;
				this.disableD3 = true;
				this.disableD4 = true;
				this.disableD5 = true;
			}
			if( this.regForm['Статус'].value == 'СогласованШагD8'){
				this.disableD0 = true;
				this.disableD1 = true;
				this.disableD2 = true;
				this.disableD3 = true;
				this.disableD4 = true;
				this.disableD5 = true;
				this.disableD6 = true;
				this.disableD7 = true;
				this.disableD8 = true;
			}
			if( this.regForm['Статус'].value == 'ОтклонёнШагD3'){
				this.disableD0 = true;
			}
			if( this.regForm['Статус'].value == 'ОтклонёнШагD5'){
				this.disableD0 = true;
				this.disableD1 = true;
				this.disableD2 = true;
				this.disableD3 = true;
			}
			if( this.regForm['Статус'].value == 'ОтчётНеСогласованЗаказчиком'){
				this.disableD0 = true;
				this.disableD1 = true;
				this.disableD2 = true;
				this.disableD3 = true;
				this.disableD4 = true;
				this.disableD5 = true;				
			}
			if(pole === 'D0' && this.disableD0){
				return true;
			}
			if(pole === 'D1' && this.disableD1){
				return true;
			}
			if(pole === 'D2' && this.disableD2){
				return true;
			}
			if(pole === 'D3' && this.disableD3){
				return true;
			}
			if(pole === 'D4' && this.disableD4){
				return true;
			}
			if(pole === 'D5' && this.disableD5){
				return true;
			}
			if(pole === 'D6' && this.disableD6){
				return true;
			}
			if(pole === 'D7' && this.disableD7){
				return true;
			}
			if(pole === 'D8' && this.disableD8){
				return true;
			}
			return false;
		},
		//Получение команды
		getCommand: function(){
			this.command  = this.ActionDataByRef['D1_Команда'];
		},
		//Проверка прав
		checkPermissions: function(elemType){
			if(this.disableAll){
				return false;
			}
			switch (elemType){
				case 'buttonD0':
					return (this.disableBlank || this.regForm['Статус'].value === "ОтклонёнШагD0");
				case 'D1table':
					return (this.disableBlank || 
					this.regForm['Статус'].value === "ОтклонёнШагD0" || 
					this.regForm['Статус'].value === "ОтклонёнШагD3" ||
					this.regForm['Статус'].value === "СогласованШагD0" 
					);	
				case 'buttonD3':
					return (this.regForm['Статус'].value === "СогласованШагD0" || this.regForm['Статус'].value === "ОтклонёнШагD3");
				case 'buttonD5':
					return (this.regForm['Статус'].value === "СогласованШагD3" || this.regForm['Статус'].value === "ОтклонёнШагD5");
				case 'buttonD8':
					return (this.regForm['Статус'].value === "СогласованШагD5" || this.regForm['Статус'].value === "ОтчётНеСогласованЗаказчиком");
				break;
			}
		},
		//Получение команды2
		getCommand2: function(){
			this.command2  = this.structure['D1_Команда'].Structure;
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'Статус'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.ActionDataByRef[key]);
				}
				if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.ActionDataByRef[key]);
				}
				else if(key === 'Date' ||   key === 'ДатаПоследнейВерсии'){
					this.regForm[key].value = this.$options.filters.formateDate(this.ActionDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'ДатаНачала' || key === 'D0_ДатаПрименения' || key === 'D3_ДатаПрименения' || key === 'D6_ДатаВнедрения' || key === 'D7_ДатаВнедрения' || key === 'D8_ДатаОкончания' || key === 'D8_ОтчетЗакрыт'){
					this.regForm[key].value = this.$options.filters.formateDate(this.ActionDataByRef[key], 'YYYY-MM-DD');
				}
				else if(key === 'ДокументСозданНаПортале'){
					this.createdOnPortal = this.ActionDataByRef['ДокументСозданНаПортале'];
						if(!this.createdOnPortal){
							this.disableAll = true;
						}
				}
				else if(key === 'ДокументОснование'){
					_.forEach(this.ActionDataByRef['ДокументОснование'], (value, key) => {
						this.regForm['ДокументОснование'].value = 'Претензия поставщику №'+this.$options.filters.removeZeroes(this.ActionDataByRef['ДокументОснование'][key].Number)+' от '+this.$options.filters.formateDate(this.ActionDataByRef['ДокументОснование'][key].Date, 'DD.MM.YYYY');
					});	
				}
				else {
					this.$set(this.regForm[key], 'value', this.ActionDataByRef[key]);
				}	
			});	
			var zaglushka = ""
				if (this.ActionDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.ActionDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.ActionDataByRef.Date, 'DD.MM.YYYY');
				}
			this.regForm.Триггер.value = zaglushka;
			_.forEach(this.ActionDataByRef['D1_Команда'], (value, key) => {
						this.allCommands.push({
							0:value.РольВКоманде,
							1:value.Сотрудник,
							2:value.Должность,
							3:value.Телефон
						});
					});
			_.forEach(this.ActionDataByRef['ПрисоединенныеФайлы'], (value, key) => {
					this.fileSaveResp.result.files.push({
						Description:value.Description,
						id:value.Файл_Key,
						ВидДокумента: value.ВидДокумента,
						ВидДокумента_Key: value.ВидДокумента_Key,
						ДатаСоздания:value.ДатаСоздания,
					});
					
			});		
		},
		//Загрузка данных
		loadData2: function() {
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'ДокументОснование'){					
						this.regForm['ДокументОснование'].value = 'Претензия поставщику №'+this.$options.filters.removeZeroes(this.pretenseDataByRef.Number)+' от '+this.$options.filters.formateDate(this.pretenseDataByRef.Date, 'DD.MM.YYYY');					
				}
				else if(key === 'Статус'){
					this.$set(this.regForm[key], 'value', 'Черновик');
				}				
				else if(key === 'D0_ПроцентЭффективности' || key === 'D3_ПроцентЭффективности' || key === 'D4_ПроцентУчастия' || key === 'КоличествоЗаполненныхШагов' || key === 'D5_ПроцентЭффективности'){
					this.$set(this.regForm[key], 'value', 0);
				}
				else if(key === 'Комментарий'){
					this.$set(this.regForm[key], 'value', '');
				}
				else if(key === 'ДатаНачала' || key === 'ДатаПоследнейВерсии'){
					this.$set(this.regForm[key], 'value', this.$options.filters.formateDate(this.regForm[key], 'DD.MM.YYYY'));
				}
				else{
					this.$set(this.regForm[key], 'value', this.pretenseDataByRef[key]);
				}				
			});
		},
		//Получение данных по пользователю	
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});	
		},
		//Проверка типов файлов		
		chekedFileType: function(obj) {
			if(obj === "") {
				return false;
			}
			if(!obj) {
				return false;
			}
			return true;
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("action_plan_table"); 
		},
		//обратно на страницу таблицы
		toTable2: function(ref){
			this.$router.push("pretense_table"); 
		},
		//Открытие Плана корректирующих мероприятий
		showDetails: function(ref){
			this.$router.push("action_plan_card?ref="+ref);
		}
},
}
</script>
