<template>
<div class="login-container table_box-shadow anketa_css text_grey" id="main_page">
		<div class="cursor form_line_card" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H2}}</span><!--Анкета-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
<vs-tabs>
    <vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
		<div class="osnovnoi">
			<div  :class="['form_line form_line2 nowrap' ,'pole_required',{'is_error':regForm.НаименованиеМеждународное.error}]" style="display:  flex;">
				<form-catalog v-model="regForm.СтранаРегистрации_Key.value" :label="structure.СтранаРегистрации_Key.Синоним" :collection="structure.СтранаРегистрации_Key.Type"/><!--Страна регистрации-->
				<form-select classes="select_width" v-if="regForm.СтранаРегистрации_Key.value" v-model="regForm.ЮридическоеФизическоеЛицо.value" uncamelize="true" :label="structure.ЮридическоеФизическоеЛицо.Синоним" :option-view="FACE_TYPES" :options="structure.ЮридическоеФизическоеЛицо.Enum.Member"/><!--Вид поставщика-->
			</div>	
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ИНН.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ'" style="display:  flex;">
				<form-string v-mask="innMask" :placeholder="innPlaceholder" classes="rft" :key="innKey" v-model="regForm.ИНН.value" :label="structure.ИНН.Синоним"/><div style="line-height: 30px;margin-left: 1%;"><span style="color:#c20505;font-size:60%" v-if="!innIsValid">{{innIsValidMessage}}</span> </div><!--ИНН-->
			<svg class="svg_color" style="margin: 3px -4px;" @click="parseInn" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ'" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M21 3.01H3c-1.1 0-2 .9-2 2V9h2V4.99h18v14.03H3V15H1v4.01c0 1.1.9 1.98 2 1.98h18c1.1 0 2-.88 2-1.98v-14c0-1.11-.9-2-2-2zM11 16l4-4-4-4v3H1v2h10v3z"/></svg>
			</div>
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.КПП.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'">
				<form-string v-model="regForm.КПП.value" :label="structure.КПП.Синоним"/><!--КПП-->
			</div>
			
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.РегистрационныйНомер.error}]">
				<form-string v-if="getOgrnName() ==='ОГРН'" v-model="regForm.РегистрационныйНомер.value" :label="getOgrnName()"/><!--ОГРН-->
				<form-string v-if="getOgrnName() ==='ОГРНИП'" v-model="regForm.РегистрационныйНомер.value" :label="getOgrnName()"/><!--ОГРНИП-->
				<form-string v-if="getOgrnName() ==='Регистрационный номер'" v-model="regForm.РегистрационныйНомер.value" :label="getOgrnName()"/><!--Регистрационный номер-->
			</div>			
			<div :class="['form_line indent']" v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'" style="display:  flex;">
				<form-string v-model="regForm.НалоговыйНомер.value" :label="regForm.НалоговыйНомер.name"/>
			</div>
			<div :class="['form_line indent']" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" style="display:  flex;">
				<form-string classes="certificate certificate_length pole_required" v-model="regForm.СвидетельствоСерияНомер.value" :label="regForm.СвидетельствоСерияНомер.name"/><!--Серия и номер свидетельства о постановке на учет-->
				<form-date class="data_input" v-model="regForm.СвидетельствоДатаВыдачи.value" :label="structure.СвидетельствоДатаВыдачи.Синоним" initactive="true"/><!--Дата выдачи-->
			</div>
			<div :class="['form_line nowrap form_line_select pole_required',{'is_error':regForm.ДокументУдостоверяющийЛичность.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'">
				<form-select   v-model="regForm.ДокументУдостоверяющийЛичность.value" :label="regForm.ДокументУдостоверяющийЛичность.name"  :options="DOC_TYPES"/><!--Документ, удостоверяющий личность-->
			</div>
			<div :class="['form_line nowrap, pole_required',{'is_error':regForm.ДокументУдостоверяющийЛичностьСерия.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" style="display:  flex;">			
					<form-string v-mask="docMask" :placeholder="docPlaceholder" classes="certificate certificate_length pole_required" v-model="regForm.ДокументУдостоверяющийЛичностьСерия.value" :label="regForm.ДокументУдостоверяющийЛичностьСерия.name"/><!--Серия и №-->
				<div style="line-height: 30px;margin-left: 1%;"><span style="color:#c20505;font-size:60%">{{docIsValidMessage}}</span> </div>
					<form-date classes="certificate certificate_length pole_required" v-model="regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.value" :label="regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.name"/><!--Дата выдачи-->
				<div style="line-height: 30px;margin-left: 1%;"><span style="color:#c20505;font-size:60%">{{pasportDIsValidMessage}}</span> </div>
			</div>

			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.НаименованиеМеждународное.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'">
				<form-string v-model="regForm.НаименованиеМеждународное.value" :label="structure.НаименованиеМеждународное.Синоним"/><!--Международное наименование-->
			</div>
			<div :class="['form_line nowrap pole_required indent',{'is_error':regForm.КодПоОКПО.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ'" style="display:  flex;">
				<form-string v-mask="'##########'" v-model="regForm.КодПоОКПО.value" :label="structure.КодПоОКПО.Синоним"/><!--Код по ОКПО-->
				<div class="bool_left">
					<form-bool v-model="regForm.СубъектМСП.value" :label="structure.СубъектМСП.Синоним" initactive="false"/><!--Субъект МСП-->
				</div>
			</div>
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.НаименованиеПолное.error}]" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо' ">
				<form-string class="long_line" v-model="regForm.НаименованиеПолное.value" :label="structure.НаименованиеПолное.Синоним"/><!--Полное наименование-->
			</div>
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.НаименованиеСокращенное.error}]">
				<form-string class="long_line" v-model="regForm.НаименованиеСокращенное.value" :label="getFIO()"/><!--Сокращенное наименование-->
			</div>	

			<div class="form_line nowrap cursor" style="color: #46c93a; font-size: 16px;margin:10px 0 10px 40px;">{{PAGE_NAME.ADDRESS}}</div><!--Адреса-->
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ЮридическийАдрес.error}]" style="display: flex;padding-bottom: 7px;">
				<div style="margin: 0 38px 0 40px;" class="label_anketa">{{regForm.ЮридическийАдрес.name}}</div><!--Юридический адрес-->
				<textarea style="width: 300px;" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.ЮридическийАдрес.value"/>
			</div>		
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ФактическийАдрес.error}]" style="display: flex;padding-bottom: 5px;">
				<div style="margin: 0 44px 0 40px;" class="label_anketa">{{regForm.ФактическийАдрес.name}}</div><!--Фактический адрес-->
				<textarea style="width: 300px;" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.ФактическийАдрес.value"/>
			</div>
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ГородСтранаМеждународный.error}]"  v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'">
			<form-string v-model="regForm.ГородСтранаМеждународный.value" :label="structure.ГородСтранаМеждународный.Синоним"/>			
			</div><!--Город, страна-->
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.АдресМеждународный.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'" style="display: flex;padding: 3px 0;">
				<div style="margin: 0 18px 0 40px;" class="label_anketa">{{structure.АдресМеждународный.Синоним}}</div><!--Адрес международный-->
				<textarea style="width: 300px;" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.АдресМеждународный.value"/>
			</div>			
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ЭлектроннаяПочта.error}]"><form-email v-model="regForm.ЭлектроннаяПочта.value" :label="structure.ЭлектроннаяПочта.Синоним"/></div><!--E-mail-->		
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.НомерТелефона.error}]"><label>{{structure.НомерТелефона.Синоним}}</label><input type="text" class="soCWidth_string tel_code" placeholder="+" v-mask="'+###'" v-model="regForm.КодСтраны.value" /><input class="tel_num" type="text" placeholder="(111) 111-11-11" v-mask="'(###)-###-##-##'" v-model="regForm.НомерТелефона.value" /></div><!--Номер телефона-->	
			<div class="form_line nowrap "><form-string v-model="regForm.Факс.value" :label="structure.Факс.Синоним"/></div><!---->
			<div class="bool_left" style="display:  flex; padding: 0 31px;"><form-bool classes="bool_doc" v-model="regForm.ПодтверждениеПользовательногоСоглашения.value" :label="PAGE_NAME.POLITIC"/><!--Ознакомлен и согласен с положениями-->
			<a target="_blank" style="margin: 2px 280px;white-space: nowrap;" :href="'/api/base/?action=GetFileForRegister&file=' + policyRefkey" >{{PAGE_NAME.POLITIC1}}</a></div><!--политики конфиденциальности-->	        
		</div>
<div class="save_but"><button type="button" @click="saveForm()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;">
	<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div><!--ОТПРАВИТЬ-->		
     </vs-tab>
    <vs-tab :label="PAGE_NAME.PAGE_NAME2" vs-tab="form-table"  icon="contact_phone"><!--Контактные лица-->
		<div class="contact_lic">
			<form-table v-model="allContacts" hide-expand="true" is-contact="true"  use-helper="true" :headings="contacts"/>
		</div>
	 </vs-tab>
    <vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="class"><!--Классификатор видов деятельности-->
		<div class="class_vid_d">
			<form-table v-model="allActivities" hide-expand="true" collection-path="Catalog_КлассификаторОКВЭД2&ORDER=Code" label="" :headings="activity"/>
		</div>
	 </vs-tab>
    <vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="category"><!--Товарные категории-->
		<div class="tovar_classe">
			<form-table v-model="allGoodsQual" label="" hide-expand="true" collection-path="Catalog_ТоварныеКатегории" :headings="goodsQual"/>
		</div>
	 </vs-tab>
	 <vs-tab :label="PAGE_NAME.PAGE_NAME5"  icon="assignment"><!--Анкета-->
		<div class="anketa_button">
			<div class="anketa"><button class="el-button filter-item k1" type="button" @click="loadAnketa"><span style="color:white;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
			{{PAGE_NAME.UPLOAD}}</span></button></div><!--Загрузить анкету-->
			<div class="anketa">
				<form-table-data-submit :key="uploadAnketaKey" :sphere="allGoodsQual" :questions="questions" :loaded="loadedQuestions" v-model="allAnswers" :headings="questionsHeaders"/>
			</div>
		</div>	
	  </vs-tab>
	 <vs-tab :label="PAGE_NAME.PAGE_NAME6"  icon="party_mode"><!--ЭТП-->
		<div class="etp">
			<form-table v-model="allETP" label="" :headings="ETP"/>
		</div>
	  </vs-tab>
	 <vs-tab :label="PAGE_NAME.PAGE_NAME7"  icon="attach_file"><!--Присоединенные файлы-->
		<file-upload :disabled="true" v-model="fileArray" docType="Document_srm_АнкетаПоставщика"></file-upload>			
	  </vs-tab>
</vs-tabs>
<vs-prompt color="#46c93a" :accept-text="PAGE_NAME.ACCEPT" :cancel-text="PAGE_NAME.CANCEL" :title="PAGE_NAME.UPL_FILE" :is-valid="okButtonValid" @cancel="" @accept="" @close="" :active.sync="showLoadDialog"><!--принять/отмена/Загрузки анкеты-->
	<div class="load_promt">
		<vs-upload color="#46c93a" fileName="files[]" :automatic="true" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet" :text="PAGE_NAME.TEXT" limit="1" @on-success="loadAnketaAnswer"  action="/api/base/?action=UploadFile"/><!--Загрузить файлы на сервер-->
	</div>
</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>
<script>

const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
import { VueMaskDirective } from 'v-mask'
Vue.directive('mask', VueMaskDirective);
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Select_ref from '@/components/form_poles/Select_ref'
import Email from '@/components/form_poles/Email'								//импорт Email
import Number from '@/components/form_poles/Number'								//импорт Номеров
import Catalog from '@/components/form_poles/Catalog'							//импорт Каталога
import Select from '@/components/form_poles/Select'								//импорт Селекта
import File_upload from '@/components/partials/File_upload'		//импорт File upload
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty,isTrue,validEmail,replaceUndefined,isDefined} from '@/components/utils/validate'//импорт Валидации
import {validateInn,validateKpp,validateOgrn} from '@/components/utils/organizationDataValidate'//импорт Валидации
import RegFormCoNstants from '@/constants/reg_form'
export default{
	name :"Login",
		data () {
		return {
		//значения создаваемые во vue (слева)
			regForm:{
				ПодтверждениеПользовательногоСоглашения: {
					value:false,
					requred:true,
					name: 'Ознакомлен и согласен с положениями',
					error:false
				},
				СтранаРегистрации_Key: {
					value: "",
					requred: true,
					name: 'Страна регистрации',
					error:false
				},
				ЮридическоеФизическоеЛицо: {
					value: "",
					requred: true,
					name: 'Вид поставщика',
					error:false
				},
				ИНН: {
					value: "",
					requred: true,
					name: 'ИНН',
					error:false
				},
				КПП: {
					value: "",
					requred: true,
					name: 'КПП',
					error:false
				},
				РегистрационныйНомер : {
					value: "",
					requred: true,
					name: 'ОГРН/ОГРНИП',
					error:false
				},
				НалоговыйНомер : {
					value: "",
					requred: true,
					name: 'Налоговый номер',
					error:false
				},
				СубъектМСП: {
					value: false,
					requred: true,
					name: 'МСП'
				},
				НаименованиеПолное: {
					value: "",
					requred: true,
					name: 'Наименование полное',
					error:false
				},
				КодПоОКПО: {
					value: "",
					requred: true,
					name: 'Код по ОКПО',
					error:false
				},
				НаименованиеСокращенное: {
					value: "",
					requred: true,
					name: 'Наименование сокращенное',
					error:false
				},
				ЮридическийАдрес: {
					value: "",
					requred: true,
					name: 'Юридический адрес',
					error:false
				},
				ФактическийАдрес: {
					value: "",
					requred: true,
					name: 'Фактический адрес',
					error:false
				},
				СвидетельствоДатаВыдачи: {
					value: "",
					requred: true,
					name: 'Свидетельство дата выдачи',
					error:false
				},
				ДокументУдостоверяющийЛичность: {
					value: "",
					requred: true,
					name: 'Документ, удостоверяющий личность',
					error:false
				},
				АдресМеждународный: {
					value: "",
					requred: true,
					name: 'Международный адрес',
					error:false
				},
				НаименованиеМеждународное: {
					value: "",
					requred: true,
					name: 'Наименование международноe',
					error:false
				},
				ГородСтранаМеждународный: {
					value: "",
					requred: true,
					name: 'Город страна международноe',
					error:false
				},
				ЭлектроннаяПочта: {
					value: "",
					requred: true,
					name: 'Электронная почта',
					error:false
				},
				СвидетельствоСерияНомер: {
					value: "",
					requred: true,
					name: 'Серия и номер свидетельства о постановке на учет',
					error:false
				},
				ДокументУдостоверяющийЛичностьСерия: {
					value: "",
					requred: true,
					name: 'Серия и №',
					error:false
				},
				ДокументУдостоверяющийЛичностьДатаВыдачи: {
					value: "",
					requred: true,
					name: 'Дата выдачи',
					error:false
				},
				НомерТелефона: {
					value: "",
					requred: true,
					name: 'Номер телефона',
					error:false
				},
				КодСтраны: {
					value: "",
					requred: true,
					name: 'Код страны',
					error:false
				},
				Факс: {
					value: "",
					requred: true,
					name: 'Факс',
					error:false
				},
			},
		//значения создаваемые во vue (справа)
			structure: {
				ЮридическоеФизическоеЛицо:{
					Enum:{
						Member:[]
					}
				},
				СтранаРегистрации_Key:{
					Синоним:'',
					Description:''
				},
				ИНН:{
					Синоним:''
				},
				КПП:{
					Синоним:''
				},
				РегистрационныйНомер:{
					Синоним:''
				},				
				РегистрационныйНомер:{
					Синоним:''
				},				
				СвидетельствоСерияНомер:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичностьСерия:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичностьДатаВыдачи:{
					Синоним:''
				},
				СвидетельствоДатаВыдачи:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичность:{
					Синоним:''
				},
				НаименованиеМеждународное:{
					Синоним:''
				},				
				КодПоОКПО:{
					Синоним:''
				},
				СубъектМСП:{
					Синоним:''
				},	
				НаименованиеПолное:{
					Синоним:''
				},
				НаименованиеСокращенное:{
					Синоним:''
				},
				ЮридическийАдрес:{
					Синоним:''
				},
				ФактическийАдрес:{
					Синоним:''
				},
				ГородСтранаМеждународный:{
					Синоним:''
				},
				АдресМеждународный:{
					Синоним:''
				},				
				ЭлектроннаяПочта:{
					Синоним:''
				},
				НомерТелефона:{
					Синоним:''
				},
				КодСтраны:{
					Синоним:''
				},
				Факс:{
					Синоним:''
				},				
			},
			policyRefkey: "",
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			FACE_TYPES: RegFormCoNstants.FACE_TYPES,
			DOC_TYPES: RegFormCoNstants.DOC_TYPES,		
			allContacts: [],
			allActivities: [],
			allAnswers: [],
			innMask: "##########",
			fileArray:{},
			innPlaceholder: "",
			docMask: "",
			docPlaceholder: "",
			innKey:0,
			uploadAnketaKey:0,
			innIsValid: false,
			pasportDIsValid: false,
				hidden: true,
			docIsValid: true,
			innIsValidMessage: "",
			pasportDIsValidMessage: "",
			docIsValidMessage: "",
			loadedQuestions:{},
			contacts: {},
			showMatchings: false,
			alreadySent: false,
			showLoadDialog: false,
			okButtonValid: false,
			fileId: "",
			activity: {},
			allGoodsQual: [],
			goodsQual: {},
			ETP: {},
			allETP: [],
			questions: [],
			questionsHeaders: [],
			fileSaveResp: [],
			fileMatchArray: [],
			errors: []
		}
	},
	created: function() {
		this.getStructure().then(
			() => {
				this.getContacts();
				this.getActivityType();
				this.getGoodsQualType();
				this.getETP();
				this.getAnketaData();			
				this.getPolicyRefKey();		
			}
		);
	},
	components:{
		"form-bool":Bool,
		"form-select":Select,
		"form-number":Number,
		"form-email":Email,
		"file-upload":File_upload,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit,
		"form-string":String,
		"form-select-ref":Select_ref
		
	},
	computed:{
		clearInn() {
		  return this.regForm.ЮридическоеФизическоеЛицо.value;
		},
		ifInnValid() {
		  return this.regForm.ИНН.value;
		},
		chekedMSP: function() {
			return this.regForm.ЮридическоеФизическоеЛицо.value;
		},
		chekedPasportD: function() {
			return this.regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.value;
		},
		docValid: function(){
			return this.regForm.ДокументУдостоверяющийЛичность.value			
		},
		chekedoc() {
		  return this.regForm.ДокументУдостоверяющийЛичностьСерия.value;
		},
	},
	watch:{
		clearInn(val,oldval) {
			if(this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'){

				if (val === 'ФизическоеЛицо'){
					this.innMask = "############";
					this.innPlaceholder = "(12 символов)";
				}
				else{
					this.innMask = "##########";
					this.innPlaceholder = "(10 символов)";
				}
				this.$set(this.regForm.ИНН, 'value', "");
				this.innKey++;			
			}			
		},
	// проверка Субъект МСП
	chekedMSP: function(val,oldval) {
		if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
			this.regForm.СубъектМСП.value = false;
		}
		if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'){
			this.regForm.СубъектМСП.value = true;
		}
	},
	// проверка количества символов в документе удостоверяющего личность
	chekedoc: function(val,oldval) {
		if (this.regForm.ДокументУдостоверяющийЛичность.value === 'Паспорт РФ'){
			if(val.length < 10){
				this.docIsValid = false;
				this.docIsValidMessage = "Длина серии и № паспорта должна быть 10 символов";						
			}						
			if(val.length === 10){
				this.docIsValid = true;
				this.docIsValidMessage = "";						
			}					
		}
	},
	//Проверка даты документа удостоверяющего личность
	chekedPasportD: function(val,oldval) {
		if(val.length == 10){	
			var d = moment(val).format('YYYY');
			if(parseInt(d)< 1920){
				this.pasportDIsValidMessage = "Введена не корректная дата выдачи";
				this.pasportDIsValid = true;
			}
			else{
				this.pasportDIsValidMessage = "";
				this.pasportDIsValid = false;
			}
		}
		else{
			this.pasportDIsValidMessage = "";
			this.pasportDIsValid = false;
		}
		if(val.length > 10){
			this.pasportDIsValidMessage = "Введена не корректная дата выдачи";
			this.pasportDIsValid = true;
		}
		

	},
	//Динамическая проверка назначения ИНН
	ifInnValid(val,oldval){
		if(this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'){
			if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
				if(val.length < 10){
					this.innIsValid = false;
					this.innIsValidMessage = "Длина ИНН должна быть 10 символов";
				}
				else{
					this.innIsValid = true;
				}
			}
			else{
				if (val.length < 12){
					this.innIsValid = false;
					this.innIsValidMessage = "Длина ИНН должна быть 12 символов";
				}
				else{
					this.innIsValid = true;
				}
			}
		}
		else{
			this.innIsValid = true;
		}
	},
	//валидация № и серии Документ, удостоверяющий личность 
	docValid: function(val,oldval){		
		if (this.regForm.ДокументУдостоверяющийЛичность.value === 'Паспорт РФ'){
			this.docMask = "##########";
			this.docPlaceholder = "(10 символов)";
		}				
	}
	},
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_АнкетаПоставщика'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			});
		},

		//Получение политики конфидденциальности
		getPolicyRefKey: function(){
			return axios({
							method: 'post',
							url: '/api/base/?action=GetFileForRegisterList'
						}).then((response) => {		
							_.forEach(response.data, (value, key) => {	
								if(value['Value@navigationLinkUrl'] === "Constant_srm_ПолитикаКонфиденциальностиФайл(0)/Value"){
									this.policyRefkey = value.Файл_Key;
								}
							});
						});
		},

		//Получение Контактных лиц
		getContacts: function(){
			this.contacts = [
				{
					ВидимостьНаФорме: true,
					Синоним: "ФИО",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Должность",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Код страны",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Номер телефона",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "E-mail",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Описание",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Доступ к порталу",
					Type: "Catalog_ПрофилиГруппДоступа"
				},
			];
		},
		//Выбор типа присоед.файлов
		getOptions: function(obj) {
			let arr = []
			_.forEach(obj, (value, key) => {
				arr.push(value.Имя);
			})
			return arr;
		},
		//загрузка ответов в Анкете
		loadAnketaAnswer: function(resp){
			this.fileSaveResp = JSON.parse(resp.target.response);
			this.fileId = this.fileSaveResp.result.files[0].id;
			let dataToSend = new FormData();
			dataToSend.set("type", "anketa");
			dataToSend.set("data[fileId]", this.fileId);
			_.forEach(this.allGoodsQual, (valueG, key) => {
				_.forEach(this.questions, (valueQ, key) => {
					if(valueQ.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
						dataToSend.set("data[answer][" + key + "]", '00000000-0000-0000-0000-000000000000');
					}
					if(valueQ.ТоварнаяКатегория_Key === valueG[0].Ref_Key)
					dataToSend.set("data[answer][" + key + "]", valueG[0].Ref_Key);
				});
			});
			return axios({
					method: 'post',
					url: '/api/base/?action=UploadAnketaQuestion',
					data:dataToSend
				}).then((response) => {
					if(response.data.status === 'error'){
						this.$vs.notify({title:'Ошибка',text:response.data.result,color:'danger', fixed:true});
						this.showLoadDialog = false;
					}
					else{
						this.okButtonValid = true;
						this.loadedQuestions = response.data.result;
						this.uploadAnketaKey++;
					}
				});
		},
		//Получение ОКВЭД2
		getActivityType: function(){
			this.activity = [
				{
					ВидимостьНаФорме: true,
					Синоним: "Код ОКВЭД2",
					Type: "Catalog_КлассификаторОКВЭД2"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Основной",
					Type: "Edm.Boolean"
				}
			]
		},
		//Получение Товарная Классификация
		getGoodsQualType: function(){
			this.goodsQual = this.structure.ТоварнаяКлассификация.Structure;
		},
		//Получение ЭТП
		getETP: function(){
			this.ETP = this.structure.ИспользуемыеЭТП.Structure;
		},		
		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileSaveResp = JSON.parse(resp.target.response);
			this.fileMatchArray = [];
			_.forEach(this.fileSaveResp.result.files, (value, key) => {
				this.fileMatchArray.push({[value.id]: ""});
			});
			this.showMatchings = true;			
		},
		//Получение данных по анкете
		getAnketaData: function(){
			this.$refs.mainLoader.Show();
			axios.post('/api/base/?action=GetAnketaData') 
				.then((response) => {
					this.anketaData = response.data.result;
				}).then( () => {
					this.getQuestions();
				});
			this.$refs.mainLoader.Hide();			
		},
		//Получение типов ответов для анкеты
		getAnswerType: function(type){
			switch(type){
				case 'Число':
					return 'Edm.Int64';
				case 'Дата':
					return 'Edm.DateTime';
				case 'Строка':
					return 'Edm.String';
				case 'ВыборИзМножества':
					return 'StandardODATA.Catalog_srm_ЗначенияПеречислимыхКритериев';
				case 'Булево':
					return 'Edm.Boolean';
			}
		},
		//Разбор данных полученных по ИНН
		parseInn: function(){
			if(this.regForm.ИНН){
				return axios({
					method: 'post',
					url: '/api/base/?action=GetInn&inn=' + this.regForm.ИНН.value
				}).then((response) => {				
					var res = response.data;
					if(res.ИНН){
						this.$set(this.regForm.ИНН, 'value', res.ИНН);
						this.$set(this.regForm.КПП, 'value', res.КПП);
						this.$set(this.regForm.РегистрационныйНомер, 'value', res.РегистрационныйНомер);
						this.$set(this.regForm.НаименованиеПолное, 'value', res.НаименованиеПолное);
						this.$set(this.regForm.НаименованиеСокращенное, 'value', res.НаименованиеСокращенное);
						this.$set(this.regForm.ЮридическийАдрес, 'value', res.ЮридическийАдрес.Представление);
						this.$set(this.regForm.ФактическийАдрес, 'value', res.ЮридическийАдрес.Представление);
					}
				});	
			}
		},
		//Проверка заполняемости полей
		isRequired: function(pole){
			switch(pole){
				case 'ИНН':
				case 'РегистрационныйНомер':
				case 'КодПоОКПО':
				case 'ЮридическийАдрес':
				case 'ФактическийАдрес':
					return (this.regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ') ? true : false;
				case 'СвидетельствоДатаВыдачи':
				case 'ДокументУдостоверяющийЛичностьСерия':
				case 'ДокументУдостоверяющийЛичностьДатаВыдачи':
				case 'ДокументУдостоверяющийЛичность':
				case 'СвидетельствоСерияНомер':
					return (this.regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && this.regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо') ? true : false;
				case 'НаименованиеМеждународное':
				case 'ГородСтранаМеждународный':
				case 'АдресМеждународный':
					return (this.regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ') ? true : false;
				case 'КПП':
					return (this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'  && this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо') ? true : false;
				case 'НаименованиеСокращенное':
				case 'ЭлектроннаяПочта':
				case 'НомерТелефона':
				case 'КодСтраны':
				case 'ПодтверждениеПользовательногоСоглашения':
					return true;
				case 'НаименованиеПолное':
					return (this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо') ? true : false;
				default:
					return false;
			}				
		},
		//Получение вопросов
		getQuestions:  function(){
			_.forEach(this.anketaData, (value) => {
				if (value.Вопросы){
					this.questions = value.Вопросы;
					this.questionsHeaders = [
						{
							"ВидимостьНаФорме": true,
							"Синоним": "Вопрос",		
						},
						{
							"ВидимостьНаФорме": true,
							"Синоним": "Ответ",		
						}
				  	]
				}
			});
		},
		//Изменение названия поля ОГРН/Регистрационный номер
		getOgrnName: function(){
			if(this.regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'){
				return 'Регистрационный номер';
			}
			if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
				return 'ОГРН';
			}
			else{
				return 'ОГРНИП';
			}
		},
		//Изменение названия поля организация/ФИО
		getFIO: function(){
			if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
				this.regForm.НаименованиеСокращенное.name = 'Наименование сокращенное';
				return 'Наименование сокращенное';
			}
			else{
				this.regForm.НаименованиеСокращенное.name = 'ФИО';
				return 'ФИО';
			}
		},
		//Скачивание Анкеты
		loadAnketa: function(){
			this.okButtonValid = false;
			this.showLoadDialog = true;
		},
		//кнопка Отправить
		saveForm: function(){
			//обнуляем ошибки
			this.hidden = true;
			_.forEach(this.regForm, (value, key) => {
				this.regForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
				this.hidden = true;	
			}
			else{
				this.alreadySent = true;
				var dataToSend = new FormData();
				dataToSend.set("data[ДокументСозданНаПортале]", true);
				_.forEach(this.regForm, (value, key) => {
					if(key === 'СтранаРегистрации_Key'){
						dataToSend.set("data["+key+"]", value.value.Ref_Key);
					}
					else{
						dataToSend.set("data["+key+"]", value.value);
					}
				});
				if(this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'){
					dataToSend.set("data[РегистрационныйНомер]", "");
				}
				if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'){
				dataToSend.set("data[КодОГРНИП]", this.regForm.РегистрационныйНомер.value);
				}
				if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
				dataToSend.set("data[КодОГРН]", this.regForm.РегистрационныйНомер.value);
				}
				_.forEach(this.allContacts, (value, key) => {
					dataToSend.set("data[КонтактныеЛица]["+key+"][LineNumber]", key+1);
					dataToSend.set("data[КонтактныеЛица]["+key+"][ФИО]", value[0]);
					dataToSend.set("data[КонтактныеЛица]["+key+"][Должность]", value[1]);
					dataToSend.set("data[КонтактныеЛица]["+key+"][КодСтраны]", value[2]);
					dataToSend.set("data[КонтактныеЛица]["+key+"][НомерТелефона]", value[3]);
					dataToSend.set("data[КонтактныеЛица]["+key+"][ЭлектроннаяПочта]", value[4]);
					dataToSend.set("data[КонтактныеЛица]["+key+"][Описание]", value[5]);
					dataToSend.set("data[КонтактныеЛица]["+key+"][ДоступКПорталу_Key]", value[6]);
				});
				_.forEach(this.allActivities, (value, key) => {
					dataToSend.set("data[ОКВЭД2]["+key+"][LineNumber]", key+1);
					dataToSend.set("data[ОКВЭД2]["+key+"][КодОКВЭД2_Key]", value[0].Ref_Key);
					dataToSend.set("data[ОКВЭД2]["+key+"][Основной]", value[1]);					
				});
				_.forEach(this.allGoodsQual, (value, key) => {
					dataToSend.set("data[ТоварнаяКлассификация]["+key+"][LineNumber]", key+1);
					dataToSend.set("data[ТоварнаяКлассификация]["+key+"][ТоварнаяКатегория_Key]", value[0].Ref_Key);					
				});
				_.forEach(this.allETP, (value, key) => {
					dataToSend.set("data[ИспользуемыеЭТП]["+key+"][LineNumber]", key+1);
					dataToSend.set("data[ИспользуемыеЭТП]["+key+"][ЭТП_Key]", value[0].Ref_Key);					
				});
				var i= 0;
				
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.allAnswers, (value, key) => {
					if(!value.wrong){
						dataToSend.set("data[ВопросыАнкеты]["+key+"][LineNumber]", key+1);
						dataToSend.set("data[ВопросыАнкеты]["+key+"][srm_ШаблонДляАнкеты_Key]", value.Шаблон);
						dataToSend.set("data[ВопросыАнкеты]["+key+"][Вопрос_Key]", value.Ref_Key);
						if(value.КритерийОтветаПоставщика == 'ВыборИзМножества'){
							dataToSend.set("data[ВопросыАнкеты]["+key+"][Ответ]", value.Ответ.Наименование_Key);
						}
						else{
							dataToSend.set("data[ВопросыАнкеты]["+key+"][Ответ]", value.Ответ);
						}
						dataToSend.set("data[ВопросыАнкеты]["+key+"][ВидОтвета]", value.КритерийОтветаПоставщика);
						dataToSend.set("data[ВопросыАнкеты]["+key+"][Ответ_Type]", this.getAnswerType(value.КритерийОтветаПоставщика));
					}				
				});	
				//let currentURL = window.location.href;
				//let client = currentURL.split('/')[3].substr(1);	
				//dataToSend.set("CLIENT", client);	
				axios({
					method: 'post',
					url: '/api/base/?action=AddAnketa',
					data: dataToSend
				}).then(
				 (response) => {					 
					 if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка анкеты',
							text: 'Анкета успешно отправлена',
							accept:this.accept
						}) ;
						window.location.href = "http://" + location.hostname;
					 }					
				 } 
				).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				});				
			}
		},
		//Переходы после нажатия кнопок
		accept: function(){
			this.$router.push('login');
		},
	
		//Проверка ИНН
		validINN: function(val){
			if(this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'){
				 if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
					 return (val.length === 10)?{result:true,error_msg:""}:{result:false,error_msg:"количество символов в ИНН должно быть 10."};
				 }
				 else{
					  return (val.length === 12)?{result:true,error_msg:""}:{result:false,error_msg:"количество символов в ИНН должно быть 12."};
				 }
			}
			else{
				return {result:true,error_msg:""};
			}
		},
		//Валидация
		validate: function(){
			this.errors = [];
			//валидируем все поля на первой вкладке
				_.forEach(this.regForm, (value, key) => {
					if(key === 'СтранаРегистрации_Key'){
						if(isEmpty(value.Description)){
							this.errors.push('Не заполнено поле страна регистрации');
							this.regForm[key].error = true;
						}
					}
					if(key === 'ЭлектроннаяПочта'){
						if(!validEmail(value.value)){
							this.errors.push('Неверный формат почты');
							this.regForm[key].error = true;							
						}
					}
					if(key === 'ИНН' && this.regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ'){
						//проверка на корректность связки страна и количество чисел в инн
						let tryINN = this.validINN(value.value);
						if(!tryINN.result){
							this.errors.push(tryINN.error_msg);
						}
						//проверка инн на валидность инн
						let innErrors = [];
						let isCorrect = validateInn(value.value, innErrors);
						if(innErrors.message){
							this.errors.push('Ошибка ИНН: ' + innErrors.message);
						}
					}
					if(key === 'КПП' && (this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'  && this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо')){
						let kppErrors = [];
						let isCorrect = validateKpp(value.value, kppErrors);
						if(kppErrors.message){
							this.errors.push('Ошибка КПП: ' + kppErrors.message);
							this.regForm.КПП.error = true;
						}
					}
					/*if(key === 'КодПоОКПО'){
						let Errors = [];
							if(value.value.length < 10) {
								this.errors.push('Ошибка ОКПО:  меньше десяти символов');
								this.regForm.КПП.error = true;
							}			
					}*/
					if(key === 'РегистрационныйНомер' && this.getOgrnName() === 'ОГРН'){
						let ogrnErrors = [];
						let isCorrect = validateOgrn(value.value, ogrnErrors);
						if(ogrnErrors.message){
							this.errors.push('Ошибка ОГРН: ' + ogrnErrors.message);
							this.regForm[key].error = true;
						}
					}
					if(key === 'ДокументУдостоверяющийЛичностьДатаВыдачи'){
						if(this.pasportDIsValid === true){
							this.errors.push('Введена не корректная дата выдачи');
							this.regForm[key].error = true;
						}						
					}
					if(key === 'ДокументУдостоверяющийЛичностьСерия'){
						if(this.docIsValid === false){
							this.errors.push('Введена не корректная серия и № паспорта');
							this.regForm[key].error = true;
						}						
					}
					if(this.isRequired(key)){
						if (typeof value.value === 'boolean'){
							if(!isTrue(value.value)){
								this.errors.push('не выбрано поле ' + value.name);
							}
						}					
						else{
							if(isEmpty(value.value)){
								if(key != 'СвидетельствоСерияНомер' && key != 'СвидетельствоДатаВыдачи'){
									this.errors.push('не заполнено поле ' + value.name);
									this.regForm[key].error = true;
								}
							}
						}						
					}			
				});
			//валидируем контактные лица
			if(this.allContacts.length){
				_.forEach(this.allContacts, (value, key) => {
					if(key !== '4'){
						if(Object.keys(value).length !== this.contacts.length){
							this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в контактных лицах");
						}
						else{
							_.forEach(value, (value2, key2) => {
								//костыль для почты в контактах
								if(key2 === '4'){
									if(!validEmail(value2)){
										this.errors.push('Неверный формат почты в Контактных лицах');
									}
								}
								if(isEmpty(value2)){
									this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в контактных лицах");
								}
							});	
						}
					}
				});	
			}
			else{
				this.errors.push("Не заполнена вкладка контактные лица");
			}
			//валидируем третью вкладку
			let haveMain = false;
			_.forEach(this.allActivities, (value, key) => {
				if(this.allActivities[key][1] === true){
					haveMain = true;
				}	
			});
			if(this.allActivities.length){
				let chosenQual = []
				_.forEach(this.allActivities, (value, key) => {
					if(Object.keys(value).length !== this.activity.length){
						
						if(Object.keys(value).length === this.activity.length - 1 && this.allActivities[key][0] !== 'true' && this.allActivities[key][0] !== 'false'){
							this.allActivities[key][1] = false;
						}
						else{
							this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в классификаторе видов деятельности");
						}
					}
					else{
						_.forEach(value, (value2, key2) => {
							if(chosenQual.includes(value2.Description)){
								this.errors.push('Задублирован вид деятельности в товарной классификации');
							}
							else{
								chosenQual.push(value2.Description);
							}
							if(isEmpty(value2)){
								this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в классификаторе видов деятельности");
							}
						});	
					}
				});	
			}
			else{
				this.errors.push("Не заполнена вкладка в классификаторе видов деятельности");
			}
			if(!haveMain){
				this.errors.push("Не выбран основной вид деятельности в классификаторе видов деятельности");
			}
			//валидируем четвертую вкладку
			if(this.allGoodsQual.length){
				let chosenQual = []
				_.forEach(this.allGoodsQual, (value, key) => {
					//проверка на пустоту
					if(Object.keys(value).length !== this.goodsQual.length){
						this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в товарной классификации");
					}
					else{
						_.forEach(value, (value2, key2) => {
							if(chosenQual.includes(value2.Description)){
								this.errors.push('Задублирован вид деятельности в товарной классификации');
							}
							else{
								chosenQual.push(value2.Description);
							}
							if(isEmpty(value2)){
								this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в товарной классификации");
							}
							
						});	
					}
				});	
			}
			else{
				this.errors.push("Не заполнена вкладка в товарной классификации");
			}			
			//валидируем ETP 
			if(this.allETP.length){
				_.forEach(this.allETP, (value, key) => {
					if(Object.keys(value).length !== this.ETP.length){
						this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в ЭТП");
					}
					else{
						_.forEach(value, (value2, key2) => {
							if(isEmpty(value2)){
								this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в ЭТП");
							}
						});	
					}
				});	
			}
			//валидируем количество вопросов анкеты			
			if(this.allAnswers.length != this.getQuestionsCount()){
				let wrongAnswerNum = this.markWrongAnswers();
					if(this.allAnswers.length - wrongAnswerNum != this.getQuestionsCount()){
						this.errors.push("Не заполнены вопросы в анкете ");
					}
			}
			//валидируем Анкету
			if(this.allAnswers.length){
	
				_.forEach(this.allAnswers, (value, key) => {
					if(value.КритерийОтветаПоставщика === "Булево"){
						if(!isDefined(value.Ответ) && !value.wrong){
							this.allAnswers[key].Ответ = false;
						}
					}
					else{
						if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong){
							this.errors.push('не заполнен вопрос ' + (parseInt(key) + 1) + " в анкете");
						}
					}
					
				});	
			}
			else{
				this.errors.push("Не заполнена вкладка анкеты");
			}			
			//валидируем тип файлов 		
				let lineNumber = 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
						lineNumber++
						if (!isDefined(value.type) || value.type.length < 1){	
							this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
						}
						
			});				
			//валидируем ЭТП
			/*if(this.allETP.length){
				let chosenQual = []
				_.forEach(this.allETP, (value, key) => {
					_.forEach(value, (value2, key2) => {
						if(chosenQual.includes(value2.Description)){
								this.errors.push('Задублирован ЭТП');
						}
						else{
							chosenQual.push(value2.Description);
						}
						if(isEmpty(value2)){
								this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в ЭТП");
						}
					});	
					
				});	
			}
			else{
				this.errors.push("Не заполнена вкладка в ЭТП");
			}*/
			return this.errors.length;
		},
		//Получение количества вопросов
		getQuestionsCount: function(){
			let qCount = 0;
			_.forEach(this.questions, (value, key) => {
				if(value.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
					qCount++;
				}
				else{
					_.forEach(this.allGoodsQual, (value2, key2) => {
						if(value.ТоварнаяКатегория_Key === value2[0].Ref_Key){
							qCount++; 
						}
					});
				}
			});
			return qCount;
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("anketa_table"); 
		},
		//Проверка на правильные ответы
		markWrongAnswers: function(){
			let wrongAnswerNumber = 0;
			_.forEach(this.allAnswers, (value, key) => {
				let match = false;
				if(value.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
					match =true;
				};
				if(!match){
					_.forEach(this.allGoodsQual, (value2, key2) => {
						if(value.ТоварнаяКатегория_Key === value2[0].Ref_Key){
							match = true;
						}
					});			
				}
				if(!match){
					this.allAnswers[key].wrong = true;
					wrongAnswerNumber++;
				}
			});
			return wrongAnswerNumber;
		},
		// проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(obj === "") {
				return false;
			}
			return true;
		},		
  }
}
</script>
<style>
.admin_panel{
    background: transparent repeating-linear-gradient(45deg, #00E178, #00E178 22px, #3686FF 22px, #3686FF 44px, #9013FE 44px, #9013FE 66px, #FF0083 66px, #FF0083 88px, #FED441 88px, #FED441 110px, #00E178 110px) repeat-x scroll 0% 0%;
	text-align: center; 
	height: 110px;
}
.admin_panel__heading{
	padding:15px 0;
	color:white;
}
button.admin_panel__button {
    background: #eff7e47a;
    padding: 10px;
    border: 1px solid grey;
    color: beige;
	cursor:pointer;
}
.admin_panel__button span {
    color: black;
}
.admin_panel__button:nth-child(n) {
    -ms-transform: rotate(-7deg) scale(0.9);
    -webkit-transform: rotate(-7deg) scale(0.9);
    transform: rotate(-7deg) scale(0.9);
}
.admin_panel__button:nth-child(2n) {
    -ms-transform: rotate(7deg) scale(0.9);
    -webkit-transform: rotate(7deg) scale(0.9);
    transform: rotate(7deg) scale(0.9);
}
.admin_panel__button:hover {
    background: #3686FF;
    border: 2px solid white;
	transition:0.5s;
	border-radius: 5px;
}
.admin_panel__button:hover span{
	color: white;
} 
.admin_panel__button:hover {
    -ms-transform: rotate(0deg) scale(1.3);
    -webkit-transform: rotate(0deg) scale(1.3);
    transform: rotate(0deg) scale(1.3);

}

.admin_panel__button:focus,
.admin_panel__button:active{
    -ms-transform: rotate(0deg) scale(1);
    -webkit-transform: rotate(0deg) scale(1);
    transform: rotate(0deg) scale(1);
}
.form_line.nowrap.pole_required.is_error input, .form_line.pole_required.is_error input, .form_line.nowrap.is_error input {
    border: 1px solid red;
	border-radius: 4px;
	box-shadow: 0 0 5px #d45252;
}
.vs-dialog-cancel{
	display:none!important;
}
</style>
