<template>
<div class="login-container table_box-shadow anketa_css text_grey">
		<div class="cursor form_line_card" v-if="$route.query.mode == 'open'" style="margin-left: 10px;">			
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Анкета № + статус-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.СтатусАнкеты.value | uncamelize}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->		
		</div>
		<div class="cursor form_line_card" v-if="$route.query.mode !== 'open'" style="margin-left: 10px;">	
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H_CHANGE}}</span><!--Изменение анкеты-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>		
<vs-tabs>
    <vs-tab  :disabled="showTabs(1)" :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
		<div class="osnovnoi">
			<div class="form_line form_line2 nowrap pole_required indent " style="display:  flex;">
			<form-catalog :key="regForm.СтранаРегистрации_Key.value.Ref_Key" :disabled="isAllowed('Страна')" v-model="regForm.СтранаРегистрации_Key.value" :label="structure.СтранаРегистрации_Key.Синоним" :collection="structure.СтранаРегистрации_Key.Type"/><!--Страна регистрации-->
			<form-select  :disabled="isAllowed('Вид')" classes="select_width" :key="regForm.ЮридическоеФизическоеЛицо.value" uncamelize="true" v-model="regForm.ЮридическоеФизическоеЛицо.value" :label="structure.ЮридическоеФизическоеЛицо.Синоним" :option-view="faceTypes" :options="structure.ЮридическоеФизическоеЛицо.Enum.Member"/><!--Вид поставщика-->
			</div>
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ИНН.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ'"  style="display:  flex;">
			<form-string :disabled="isAllowed('ИНН')" classes="rft" v-model="regForm.ИНН.value" :label="structure.ИНН.Синоним"/><!--ИНН-->
			<div style="line-height: 30px;margin-left: 1%;"><span style="color:#c20505;font-size:60%" v-if="!innIsValid">{{innIsValidMessage}}</span> </div>
			</div>
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.КПП.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'" >
				<form-string :disabled="isAllowed()" v-model="regForm.КПП.value" :label="structure.КПП.Синоним"/><!--КПП-->
			</div>
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.РегистрационныйНомер.error}]">
				<form-string :disabled="isAllowed()" v-model="regForm.РегистрационныйНомер.value" :label="getOgrnName()"/><!--Регистрационный номер-->
			</div>
			<div :class="['form_line indent']" v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'" style="display:  flex;">
				<form-string v-model="regForm.НалоговыйНомер.value" :label="regForm.НалоговыйНомер.name"/>
			</div>
			<div :class="['form_line indent']" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" style="display:  flex;">
				<form-string :disabled="isAllowed()" classes="certificate certificate_length" v-model="regForm.СвидетельствоСерияНомер.value" :label="regForm.СвидетельствоСерияНомер.name"/><!--Серия и номер свидетельства о постановке на учет-->
				<form-date class="data_input" :disabled="isAllowed()" v-model="regForm.СвидетельствоДатаВыдачи.value" :label="structure.СвидетельствоДатаВыдачи.Синоним" initactive="true"/><!--Дата выдачи-->
			</div>
			<div :class="['form_line form_line_select pole_required',{'is_error':regForm.ДокументУдостоверяющийЛичность.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'">
				<form-select   :disabled="isAllowed()" v-model="regForm.ДокументУдостоверяющийЛичность.value" :label="regForm.ДокументУдостоверяющийЛичность.name" :option-view="DOC_TYPES" :options="DOC_TYPES"/><!--Документ, удостоверяющий личность-->
			</div>
			<div :class="['form_line nowrap pole_required indent',{'is_error':regForm.ДокументУдостоверяющийЛичностьСерия.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" style="display:  flex;">			
				<form-string :disabled="isAllowed()" v-mask="docMask" :placeholder="docPlaceholder" classes="certificate certificate_length" v-model="regForm.ДокументУдостоверяющийЛичностьСерия.value" :label="regForm.ДокументУдостоверяющийЛичностьСерия.name"/><!--Серия и №-->
				<div style="line-height: 30px;margin-left: 1%;"><span style="color:#c20505;font-size:60%">{{docIsValidMessage}}</span> </div>
				<form-date :disabled="isAllowed()" classes="certificate certificate_length" v-model="regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.value" :label="regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.name"/><!--Дата выдачи-->
				<div style="line-height: 30px;margin-left: 1%;"><span style="color:#c20505;font-size:60%">{{pasportDIsValidMessage}}</span> </div>
			</div>
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.НаименованиеМеждународное.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'">
				<form-string :disabled="isAllowed()" v-model="regForm.НаименованиеМеждународное.value" :label="structure.НаименованиеМеждународное.Синоним"/><!--Международное наименование-->
			</div>
			<div :class="['form_line nowrap pole_required indent',{'is_error':regForm.РегистрационныйНомер.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ'" style="display:  flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.КодПоОКПО.value" v-mask="'#########'" :label="structure.КодПоОКПО.Синоним"/><!--Код по ОКПО-->
				<div class="bool_left">
					<form-bool :disabled="isAllowed()" v-model="regForm.СубъектМСП.value" :label="structure.СубъектМСП.Синоним" initactive="false"/><!--Субъект МСП-->
				</div>
			</div>
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ЮридическоеФизическоеЛицо.error}]" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо' ">
				<form-string class="long_line_profile" :disabled="isAllowed()" v-model="regForm.НаименованиеПолное.value" :label="structure.НаименованиеПолное.Синоним"/><!--Полное наименование-->
			</div>
			<div :class="['form_line nowrap long_line_profile' ,'pole_required',{'is_error':regForm.НаименованиеСокращенное.error}]">
				<form-string :disabled="isAllowed()" v-model="regForm.НаименованиеСокращенное.value" :label="getFIO()"/><!--Сокращенное наименование-->
			</div>	

			<div class="form_line nowrap cursor" style="color: #46c93a; font-size: 16px;margin:10px 0 10px 40px;">{{PAGE_NAME.ADDRESS}}</div><!--Адреса-->
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ЮридическийАдрес.error}]" style="display: flex;padding-bottom: 7px;">
				<div style="margin: 0 38px 0 40px;" class="label_anketa">{{regForm.ЮридическийАдрес.name}}</div><!--Юридический адрес-->
				<textarea style="width: 300px;" :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.ЮридическийАдрес.value"/>
			</div>
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ФактическийАдрес.error}]" style="display: flex;padding-bottom: 5px;">
				<div style="margin: 0 44px 0 40px;" class="label_anketa">{{regForm.ФактическийАдрес.name}}</div><!--Фактический адрес-->
				<textarea style="width: 300px;" :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.ФактическийАдрес.value"/>
			</div>
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ГородСтранаМеждународный.error}]"  v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'">
			<form-string :disabled="isAllowed()" v-model="regForm.ГородСтранаМеждународный.value" :label="structure.ГородСтранаМеждународный.Синоним"/>
			</div><!--Город, страна-->
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.АдресМеждународный.error}]" v-if="regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'" style="display: flex;padding: 3px 0;">
				<div style="margin: 0 18px 0 40px;" class="label_anketa">{{structure.АдресМеждународный.Синоним}}</div><!--Адрес международный-->
				<textarea style="width: 300px;" :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.АдресМеждународный.value"/>
			</div>			
			<div :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.ЭлектроннаяПочта.error}]"><form-email :disabled="isAllowed()" v-model="regForm.ЭлектроннаяПочта.value" :label="structure.ЭлектроннаяПочта.Синоним"/></div><!--E-mail-->		
			<div  :class="['form_line nowrap' ,'pole_required',{'is_error':regForm.НомерТелефона.error}]"><label>{{structure.НомерТелефона.Синоним}}</label><input type="text" :disabled="isAllowed()" class="soCWidth_string tel_code" placeholder="+" v-mask="'+###'" v-model="regForm.КодСтраны.value" /><input :disabled="isAllowed()" class="tel_num" type="text" placeholder="(111) 111-11-11" v-mask="'(###)-###-##-##'" v-model="regForm.НомерТелефона.value" /></div><!--Номер телефона-->	
			<div class="form_line nowrap "><form-string :disabled="isAllowed()" v-model="regForm.Факс.value" :label="structure.Факс.Синоним"/></div><!--Факс-->
			<div style="display:  flex; padding: 0 31px;" class="bool_left"><form-bool classes="bool_doc" :disabled="isAllowed()" v-model="regForm.ПодтверждениеПользовательногоСоглашения.value" :label="PAGE_NAME.POLITIC" initactive="true"/><!--Ознакомлен и согласен с положениями-->
			<a target="_blank" style="margin: 2px 280px;white-space: nowrap;" href="/api/base/?action=GetFileForRegister&file=2a170ece-f955-11e9-80e8-e41f13d56506">{{PAGE_NAME.POLITIC1}}</a></div><!--политики конфиденциальности-->
		</div>
	<div class="save_but"><button type="button" v-if="!isAllowed('ОТПРАВИТЬ') && hidden "  @click="saveForm('НаправленаНаРассмотрение')" class="el-button filter-item" style="margin: 10px 0;"><span style="color:white;">
	<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
	{{PAGE_NAME.SEND}}</span></button></div><!--ОТПРАВИТЬ-->	
     </vs-tab>

    <vs-tab  :disabled="showTabs(2)"  :label="PAGE_NAME.PAGE_NAME2" vs-tab="form-table"  icon="contact_phone"><!--Контактные лица-->
		<div class="contact_lic">
			<form-table :disabled="isAllowed('КонтактныеЛица')" hide-expand="true"  is-contact="true" v-model="allContacts" label="Датка2" use-helper="true" :headings="contacts"/>
		</div>
	 </vs-tab>
    <vs-tab  :disabled="showTabs(3)" :label="PAGE_NAME.PAGE_NAME3"  icon="class"><!--Классификатор видов деятельности-->
		<div class="class_vid_d">
			<form-table :disabled="isAllowed()"  hide-expand="true" v-model="allActivities" label="" collection-path="Catalog_КлассификаторОКВЭД2"  :headings="activity"/>
		</div>
	 </vs-tab>
    <vs-tab :disabled="showTabs(4)" :label="PAGE_NAME.PAGE_NAME4"  icon="category"><!--Товарные категории-->
	<div class="tovar_classe">
		<form-table ref="goodstable" hide-expand="true" :disabled="isAllowed('ТоварныеКатегории')"  collection-path="Catalog_ТоварныеКатегории" v-model="allGoodsQual" label="" :headings="goodsQual"/>
	 </div>
	 </vs-tab>
	 <vs-tab  :disabled="showTabs(5)" :label="PAGE_NAME.PAGE_NAME5"  icon="assignment"><!--Анкета-->
		<div class="anketa_button">
			<div v-if="$route.query.mode !== 'open'" class="anketa"><button class="el-button filter-item k1" type="button" @click="loadAnketa"><span style="color:white;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
			{{PAGE_NAME.UPLOAD}}</span></button></div><!--Загрузить анкету-->
			<div class="anketa">
				<form-table-data-submit  :key="uploadAnketaKey" v-if="anketaDataByRef['ВопросыАнкеты']"  :sphere="allGoodsQual" :questions="questions" :loaded="loadedQuestions" :disabled="isAllowed('Анкета')"  v-model="questionsWithAnswer" :headings="questionsHeaders"/>
			</div>
		</div>	
	  </vs-tab>
	 <vs-tab :disabled="showTabs(6)" :label="PAGE_NAME.PAGE_NAME6"  icon="party_mode"><!--ЭТП-->
		<div class="etp">
			<form-table hide-expand="true" :disabled="isAllowed()" v-model="allETP" label="" :headings="ETP"/>
		</div>
	  </vs-tab>
	 <vs-tab :disabled="showTabs(7)" :label="PAGE_NAME.PAGE_NAME7"  icon="attach_file"><!--Присоединенные файлы-->
 		<file-upload :disabled="!isAllowed('Файлы')" v-model="fileArray" v-if="anketaDataByRef['ПрисоединенныеФайлы']" :oldFiles="anketaDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_АнкетаПоставщика"></file-upload>			
	  </vs-tab>
</vs-tabs>
<vs-prompt :accept-text="PAGE_NAME.ACCEPT" :cancel-text="PAGE_NAME.CANCEL" :title="PAGE_NAME.UPL_FILE" :is-valid="okButtonValid" @cancel="" @accept="" @close="" :active.sync="showLoadDialog"><!--принять/отмена/Загрузки анкеты-->
	<div class="load_promt">
		<vs-upload @on-error="fileUploadError" fileName="files[]" :automatic="true" :text="PAGE_NAME.TEXT" limit="1" @on-success="loadAnketaAnswer"  action="/api/base/?action=UploadFile"/><!--Загрузить файлы на сервер-->
	</div>
</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>
<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue';
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Email from '@/components/form_poles/Email'								//импорт Email
import Number from '@/components/form_poles/Number'								//импорт Номеров
import Catalog from '@/components/form_poles/Catalog'							//импорт Каталога
import Select from '@/components/form_poles/Select'								//импорт Селекта
import Select_ref from '@/components/form_poles/Select_ref'
import File_upload from '@/components/partials/File_upload'		//импорт File upload
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail,isDefined } from '@/components/utils/validate'//импорт Валидации
import {validateInn,validateKpp,validateOgrn} from '@/components/utils/organizationDataValidate'//импорт Валидации
import RegFormCoNstants from '@/constants/reg_form'
export default{
	name :"Anketa_profile",
		data () {
		return {
			regForm:{
		//значения создаваемые во vue (слева)
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				СтатусАнкеты: {
					value:'',
					requred:true,
					name: 'Статус:',
					disabled: true
				},
				ПодтверждениеПользовательногоСоглашения: {
					value:true,
					requred:true,
					name: 'Ознакомлен и согласен с положениями',
					disabled: true,
					error:false
				},
				СтранаРегистрации_Key: {
					value: {},
					requred: true,
					name: 'Страна регистрации',
					disabled: true,
					error:false
				},
				ЮридическоеФизическоеЛицо: {
					value: "",
					requred: true,
					name: 'Вид поставщика',
					disabled: true,
					error:false
				},
				ИНН: {
					value: "33344",
					requred: true,
					name: 'ИНН',
					disabled: true,
					error:false
				},
				КПП: {
					value: "",
					requred: true,
					name: 'КПП',
					disabled: true,
					error:false
				},
				РегистрационныйНомер : {
					value: "",
					requred: true,
					name: 'ОГРН/ОГРНИП',
					disabled: true,
					error:false
				},
				НалоговыйНомер : {
					value: "",
					requred: true,
					name: 'Налоговый номер',
					disabled: true,
					error:false
				},
				СубъектМСП: {
					value: true,
					requred: true,
					name: 'МСП',
					disabled: true,
					error:false
				},
				НаименованиеПолное: {
					value: "",
					requred: true,
					name: 'Наименование полное',
					disabled: true,
					error:false
				},
				КодПоОКПО: {
					value: "",
					requred: true,
					name: 'Код по ОКПО',
					disabled: true,
					error:false
				},
				НаименованиеСокращенное: {
					value: "",
					requred: true,
					name: 'Наименование сокращенное',
					disabled: true,
					error:false
				},
				ЮридическийАдрес: {
					value: "",
					requred: true,
					name: 'Юридический адрес',
					disabled: true,
					error:false
				},
				ФактическийАдрес: {
					value: "",
					requred: true,
					name: 'Фактический адрес',
					disabled: true,
					error:false
				},
				СвидетельствоДатаВыдачи: {
					value: "",
					requred: true,
					name: 'Свидетельство дата выдачи',
					disabled: true,
					error:false,
					type:'date'
				},
				ДокументУдостоверяющийЛичность: {
					value: "",
					requred: true,
					name: 'Документ удостоверяющий личность',
					disabled: true,
					error:false
				},
				АдресМеждународный: {
					value: "",
					requred: true,
					name: 'Международный адрес',
					disabled: true,
					error:false
				},
				НаименованиеМеждународное: {
					value: "",
					requred: true,
					name: 'Наименование международноe',
					disabled: true,
					error:false
				},
				ГородСтранаМеждународный: {
					value: "",
					requred: true,
					name: 'Город страна международноe',
					disabled: true,
					error:false
				},
				ЭлектроннаяПочта: {
					value: "",
					requred: true,
					name: 'Электронная почта',
					disabled: true,
					error:false
				},
				СвидетельствоСерияНомер: {
					value: "",
					requred: true,
					name: 'Серия и номер свидетельства о постановке на учет',
					disabled: true,
					error:false
				},
				ДокументУдостоверяющийЛичностьСерия: {
					value: "",
					requred: true,
					name: 'Серия и №',
					disabled: true,
					error:false
				},
				ДокументУдостоверяющийЛичностьДатаВыдачи: {
					value: "",
					requred: true,
					name: 'Дата выдачи',
					disabled: true,
					error:false,
					type:'date'
				},
				НомерТелефона: {
					value: "",
					requred: true,
					name: 'Номер телефона',
					disabled: true,
					error:false
				},
				КодСтраны: {
					value: "",
					requred: true,
					name: 'Код страны',
					disabled: true,
					error:false
				},
				Факс: {
					value: "",
					requred: true,
					name: 'Факс',
					disabled: true,
					error:false
				}
				
			},
		//значения создаваемые во vue (справа)
			structure: {
				ЮридическоеФизическоеЛицо:{
					Enum:{
						Member:[]
					}
				},
				СтранаРегистрации_Key:{
					Синоним:'',
					Description:''
				},
				ИНН:{
					Синоним:''
				},
				КПП:{
					Синоним:''
				},
				РегистрационныйНомер:{
					Синоним:''
				},
				
				НалоговыйНомер:{
					Синоним:''
				},
				
				СвидетельствоСерияНомер:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичностьСерия:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичностьДатаВыдачи:{
					Синоним:''
				},
				СвидетельствоДатаВыдачи:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичность:{
					Синоним:''
				},
				НаименованиеМеждународное:{
					Синоним:''
				},
				
				КодПоОКПО:{
					Синоним:''
				},
				СубъектМСП:{
					Синоним:''
				},	
				НаименованиеПолное:{
					Синоним:''
				},
				НаименованиеСокращенное:{
					Синоним:''
				},
				ЮридическийАдрес:{
					Синоним:''
				},
				ФактическийАдрес:{
					Синоним:''
				},
				ГородСтранаМеждународный:{
					Синоним:''
				},
				АдресМеждународный:{
					Синоним:''
				},				
				ЭлектроннаяПочта:{
					Синоним:''
				},
				НомерТелефона:{
					Синоним:''
				},
				КодСтраны:{
					Синоним:''
				},
				Факс:{
					Синоним:''
				},				
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,	
			FILE_TYPES: RegFormCoNstants.FILE_TYPES,
			DOC_TYPES: RegFormCoNstants.DOC_TYPES,
			FILE_TYPES_ROUGH: RegFormCoNstants.FILE_TYPES_ROUGH,	
			ETP: {},			
			allContacts: [],
			doNotValidateMain: false,
			doNotValidateContacts: false,
			doNotValidateActivities: false,
			doNotValidateGoods: false,
			doNotValidateETP: false,
			loadedQuestions:{},
			doNotValidateAnketa: false,
			doNotValidateFiles: false,
			allActivities: [],
			docMask: "",
			docPlaceholder: "",
			innIsValid: false,
			okButtonValid: false,
			docIsValid: true,
			innIsValidMessage: "",
			pasportDIsValid: false,
			hidden: true,
			pasportDIsValidMessage: "",
			docIsValidMessage: "",
			anketaType : this.$route.query.mode,
			faceTypes: ["Физическое лицо" , "Юридическое лицо"],
			contacts: {},
			showMatchings: false,
			activity: {},
			allGoodsQual: [],
			goodsQual: {},
			showLoadDialog: false,
			allETP: [],
			questions: [],
			questionsWithAnswer: [],
			questionsHeaders: [],
			additionalFiles	: [],
			fileArray:{},
			fileMatchArray 	: [],
			deletedItems	: [],
			fileSaveResp: {
				result: {
					files:[]
				}
			},
			newFiles: {
				result: {
					files:[]
				}
			},
			errors: [],
			anketaDataByRef:[],
			uploadAnketaKey: 0
		}
	},
	mounted: function() {
		document.getElementById('preloader_inner').style.display = 'none';
		this.$refs.mainLoader.Show();
		this.getStructure().then(
			() => {
				this.getContacts();
				this.getActivityType();
				this.getGoodsQualType();
				this.getETP();
				this.getAnketaData().then(
					() => {
						this.getAnketaByRefKey();
						this.$refs.mainLoader.Hide();
					}
				);
				
			}
		);

	},
	components:{
		"form-string":String,
		"form-select":Select,
		"form-select-ref":Select_ref,
		"form-number":Number,
		"file-upload":File_upload,
		"form-email":Email,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-bool":Bool,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit,
		
	},
	computed:{
		chekedPasportD: function() {
			return this.regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.value;
		},
		docValid: function(){
			return this.regForm.ДокументУдостоверяющийЛичность.value			
		},
		chekedoc() {
		  return this.regForm.ДокументУдостоверяющийЛичностьСерия.value;
		},
		
	},
	watch:{
	//Проверка даты документа удостоверяющего дичность
	chekedPasportD: function(val,oldval) {
		if(val.length == 10){	
			var d = moment(val).format('YYYY');
			if(parseInt(d)< 1920){
				this.pasportDIsValidMessage = "Введена не корретная дата выдачи";
				this.pasportDIsValid = true;
			}
			else{
				this.pasportDIsValidMessage = "";
				this.pasportDIsValid = false;
			}
		}
		else{
			this.pasportDIsValidMessage = "";
			this.pasportDIsValid = false;
		}
		if(val.length > 10){
			this.pasportDIsValidMessage = "Введена не корретная дата выдачи";
			this.pasportDIsValid = true;
		}
	},
	// проверка количества символов в документе удостоверяющего личность
	chekedoc: function(val,oldval) {
		if (this.regForm.ДокументУдостоверяющийЛичность.value === 'Паспорт РФ'){
			if(val.length < 10){
				this.docIsValid = false;
				this.docIsValidMessage = "Длина серии и № паспорта должна быть 10 символов";						
			}
			if(val.length === 10){
				this.docIsValid = true;
				this.docIsValidMessage = "";						
			}
		}
	},
	//валидация № и серии Документ, удостоверяющий личность 
	docValid: function(val,oldval){			
		if (this.regForm.ДокументУдостоверяющийЛичность.value === 'Паспорт РФ'){
			this.docMask = "##########";
			this.docPlaceholder = "(10 символов)";
		}				
	},	
	},
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_АнкетаПоставщика'
			}).then((response) => {				
				this.structure = response.data.result.structure;
			});
		},
		//Получение Контактных лиц
		getContacts: function(){
			this.contacts = [
				{
					ВидимостьНаФорме: true,
					Синоним: "ФИО",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Должность",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Код страны",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Номер телефона",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "E-mail",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Описание",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Доступ к порталу",
					Type: "Catalog_ПрофилиГруппДоступа"
				},
			];
		},
		//загрузка ответов в Анкете
		loadAnketaAnswer: function(resp){
			this.fileSaveResp = JSON.parse(resp.target.response);
			this.fileId = this.fileSaveResp.result.files[0].id;
			let dataToSend = new FormData();
			dataToSend.set("data[fileId]", this.fileId);
			_.forEach(this.allGoodsQual, (valueG, key) => {
				_.forEach(this.questions, (valueQ, key) => {
					if(valueQ.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
						dataToSend.set("data[answer][" + key + "]", '00000000-0000-0000-0000-000000000000');
					}
					if(valueQ.ТоварнаяКатегория_Key === valueG[0].Ref_Key)
					dataToSend.set("data[answer][" + key + "]", valueG[0].Ref_Key);
				});
			});
			return axios({
					method: 'post',
					url: '/api/base/?action=UploadAnketaQuestion',
					data:dataToSend
				}).then((response)=>{
					if(response.data.status === 'error'){
						this.$vs.notify({title:'Ошибка',text:response.data.result,color:'danger', fixed:true});
						this.showLoadDialog = false;
					}
					else{
						this.okButtonValid = true;
						this.loadedQuestions = response.data.result;
						this.uploadAnketaKey++;
					}
				});
		},
		//Получение ОКВЭД2
		getActivityType: function(){
			this.activity = [
				{
					ВидимостьНаФорме: true,
					Синоним: "Код ОКВЭД2",
					Type: "Catalog_КлассификаторОКВЭД2"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Основной",
					Type: "Edm.Boolean"
				}
			]
		},
		//Получение Товарная Классификация
		getGoodsQualType: function(){
			this.goodsQual = this.structure.ТоварнаяКлассификация.Structure;
		},
		//Получение ЭТП
		getETP: function(){
			this.ETP = this.structure.ИспользуемыеЭТП.Structure;
		},
		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileMatchArray = [];
			this.newFiles = [];
			this.newFiles.result = {};
			this.newFiles.result.files = [];
			this.additionalFiles = JSON.parse(resp.target.response);
			_.forEach(this.additionalFiles.result.files, (value, key) => {
				
				this.newFiles.result.files.push({
						name:value.name,
						id:value.id
					});	
								
			});
			this.showMatchings = true;
		},
		//Вывод ошибки при загрузке файла
		fileUploadError: function(e) {
			let respAnswer = JSON.parse(e.target.responseText).result;
			this.$vs.notify({title:'Ошибка', text:respAnswer,color:'danger', fixed:true})
		},
		//Получение данных по анкете
		getAnketaData: function(){
			return axios.post('/api/base/?action=GetAnketaData') 
				.then((response) => {
					this.anketaData = response.data.result;
				}).then( () => {
					this.getQuestions();
				});
		},
		//Получение типов ответов для анкеты
		getAnswerType: function(type){
			switch(type){
				case 'Число':
					return 'Edm.Int64';
				case 'Дата':
					return 'Edm.DateTime';
				case 'Строка':
					return 'Edm.String';
				case 'ВыборИзМножества':
					return 'StandardODATA.Catalog_srm_ЗначенияПеречислимыхКритериев';
				case 'Булево':
					return 'Edm.Boolean';
			}
		},
		//Проверка заполняемости полей
		isRequired: function(pole){
			switch(pole){
				case 'ИНН':
				case 'РегистрационныйНомер':
				case 'КодПоОКПО':
				case 'ЮридическийАдрес':
				case 'ФактическийАдрес':
					return (this.regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ') ? true : false;
				case 'СвидетельствоДатаВыдачи':
				case 'ДокументУдостоверяющийЛичностьСерия':
				case 'ДокументУдостоверяющийЛичностьДатаВыдачи':
				case 'ДокументУдостоверяющийЛичность':
				case 'СвидетельствоСерияНомер':
					return (this.regForm.СтранаРегистрации_Key.value.Description == 'РОССИЯ' && this.regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо') ? true : false;
				case 'КПП':
					return (this.regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'  && this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо') ? true : false;
				case 'НаименованиеМеждународное':
				case 'ГородСтранаМеждународный':
				case 'АдресМеждународный':
					return (this.regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ') ? true : false;
				case 'НаименованиеСокращенное':
				case 'ЭлектроннаяПочта':
				case 'КодСтраны':
				case 'НомерТелефона':
				case 'bool':
					return true;
				case 'НаименованиеПолное':
					return (this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо') ? true : false;
				default:
					return false;
			}				
		},
		//Получение количества вопросов
		getQuestions:  function(){
			_.forEach(this.anketaData, (value) => {
				if (value.Вопросы){
					this.questions = value.Вопросы;
					this.questionsHeaders = [
						{
							"ВидимостьНаФорме": true,
							"Синоним": "Вопрос",		
						},
						{
							"ВидимостьНаФорме": true,
							"Синоним": "Ответ",		
						}
				  	]
				}
			});
		},
		//Изменение названия поля ОГРН/Регистрационный номер
		getOgrnName: function(){
			if(this.regForm.СтранаРегистрации_Key.value.Description !== 'РОССИЯ'){
				return 'Регистрационный номер';
			}
			if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
				return 'ОГРН';
			}
			else{
				return 'ОГРНИП';
			}
		},
		//Изменение названия поля организация/ФИО
		getFIO: function(){
			if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
				this.regForm.НаименованиеСокращенное.name = 'Наименование сокращенное';
				return 'Наименование сокращенное';
			}
			else{
				this.regForm.НаименованиеСокращенное.name = 'ФИО';
				return 'ФИО';
			}
		},
		//Скачивание Анкеты
		loadAnketa: function(){
			this.okButtonValid = false;
			this.showLoadDialog = true;
		},
		//кнопка Отправить
		saveForm: function(type){
			//обнуляем ошибки
			this.hidden = true;
			_.forEach(this.regForm, (value, key) => {
				this.regForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger'})
				});		
				this.hidden = true;		
			}
			else{
				var dataToSend = new FormData();
				dataToSend.set("data[ВидДокумента]", replaceUndefined(this.anketaType));

				if(this.anketaType === 'ИзменениеДанныхПоКонтактнымЛицам' || 
					this.anketaType === 'НаправлениеДокументовАккредитации' || 
					this.anketaType === 'ИзменениеДанныхПоОрганизации'){
						dataToSend.set("data[ДокументСозданНаПортале]", true);
						dataToSend.set("data[ДокументОснование_Key]", this.$route.query.ref);
				}

				_.forEach(this.regForm, (value, key) => {
					if(key === 'СтранаРегистрации_Key'){
						dataToSend.set("data["+key+"]", replaceUndefined(value.value.Ref_Key));
					}
					else{
						dataToSend.set("data["+key+"]", replaceUndefined(value.value));
					}
				});
				if(this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'){
					dataToSend.set("data[РегистрационныйНомер]", "");
				}
				if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'){
					dataToSend.set("data[КодОГРНИП]", this.regForm.РегистрационныйНомер.value);
				}
				if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
					dataToSend.set("data[КодОГРН]", this.regForm.РегистрационныйНомер.value);
				}
				_.forEach(this.allContacts, (value, key) => {
					dataToSend.set("data[КонтактныеЛица]["+key+"][LineNumber]", replaceUndefined(key+1));
					dataToSend.set("data[КонтактныеЛица]["+key+"][ФИО]", replaceUndefined(value[0]));
					dataToSend.set("data[КонтактныеЛица]["+key+"][Должность]", replaceUndefined(value[1]));
					dataToSend.set("data[КонтактныеЛица]["+key+"][КодСтраны]", replaceUndefined(value[2]));
					dataToSend.set("data[КонтактныеЛица]["+key+"][НомерТелефона]", replaceUndefined(value[3]));
					dataToSend.set("data[КонтактныеЛица]["+key+"][ЭлектроннаяПочта]", replaceUndefined(value[4]));
					dataToSend.set("data[КонтактныеЛица]["+key+"][Описание]", replaceUndefined(value[5]));
					dataToSend.set("data[КонтактныеЛица]["+key+"][ДоступКПорталу_Key]", replaceUndefined(value[6]));
				});
				_.forEach(this.allActivities, (value, key) => {
					dataToSend.set("data[ОКВЭД2]["+key+"][LineNumber]", replaceUndefined(key+1));
					dataToSend.set("data[ОКВЭД2]["+key+"][КодОКВЭД2_Key]", replaceUndefined(value[0].Ref_Key));
					dataToSend.set("data[ОКВЭД2]["+key+"][Основной]", replaceUndefined(value[1]));
					
				});
				if(this.$route.query.mode === 'НаправлениеДокументовАккредитации'){
					_.forEach(this.allGoodsQual, (value, key) => {
						dataToSend.set("data[ТоварнаяКлассификация]["+key+"][LineNumber]", replaceUndefined(key+1));
						dataToSend.set("data[ТоварнаяКлассификация]["+key+"][ТоварнаяКатегория_Key]", replaceUndefined(value[0].Ref_Key));
						
					});
				}
				_.forEach(this.allETP, (value, key) => {
					if(value[0]){
						dataToSend.set("data[ИспользуемыеЭТП]["+key+"][LineNumber]", replaceUndefined(key+1));
						dataToSend.set("data[ИспользуемыеЭТП]["+key+"][ЭТП_Key]", replaceUndefined(value[0].Ref_Key));
					}					
				});
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				if(this.$route.query.mode === 'НаправлениеДокументовАккредитации'){
					_.forEach(this.questionsWithAnswer, (value, key) => {
						//wrong - флаг есль вид деятельности убрали , но были заполнены вопросы для него
						if(!value.wrong){
							dataToSend.set("data[ВопросыАнкеты]["+key+"][LineNumber]", key+1);
							dataToSend.set("data[ВопросыАнкеты]["+key+"][srm_ШаблонДляАнкеты_Key]", value.Шаблон);
							dataToSend.set("data[ВопросыАнкеты]["+key+"][Вопрос_Key]", value.Ref_Key);
							if(value.КритерийОтветаПоставщика == 'ВыборИзМножества'){
								dataToSend.set("data[ВопросыАнкеты]["+key+"][Ответ]", value.Ответ.Наименование_Key);
							}
							else{
								dataToSend.set("data[ВопросыАнкеты]["+key+"][Ответ]", value.Ответ);
							}
							dataToSend.set("data[ВопросыАнкеты]["+key+"][ВидОтвета]", value.КритерийОтветаПоставщика);
							dataToSend.set("data[ВопросыАнкеты]["+key+"][Ответ_Type]", this.getAnswerType(value.КритерийОтветаПоставщика));
						}
					});		
				}	
				dataToSend.set("data[Контрагент_Key]", replaceUndefined(this.anketaDataByRef.Контрагент_Key));
				dataToSend.set("data[СтатусАнкеты]", "НаправленаНаРассмотрение");
				axios({
					method: 'post',
					url: '/api/base/?action=AddAnketa',
					data: dataToSend
				}).then(
				 (response) => {
					 if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка Анкеты',
							text: 'Анкета успешно отправлена',
							accept:this.accept
						});
						this.$router.push('Anketa_table'); 
					 }					
				 } 
				);				
			}
		},
		//Проверка ИНН
		validINN: function(val){
			if(this.regForm.СтранаРегистрации_Key.value.Description === 'РОССИЯ'){
				 if(this.regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'){
					 return (val.length === 10)?{result:true,error_msg:""}:{result:false,error_msg:"количество символов в ИНН должно быть 10."};
				 }
				 else{
					  return (val.length === 12)?{result:true,error_msg:""}:{result:false,error_msg:"количество символов в ИНН должно быть 12."};
				 }
			}
			else{
				return {result:true,error_msg:""};
			}
		},
		//Валидация
		validate: function(){
			this.errors = [];
			//валидируем все поля на первой вкладке
			if(!this.doNotValidateMain){
				_.forEach(this.regForm, (value, key) => {
					if(key === 'СтранаРегистрации_Key'){
						if(isEmpty(value.Description)){
							this.errors.push('Не заполнено поле страна регистрации');
							this.regForm[key].error = true;
						}
					}
					if(key === 'ИНН'){
						let tryINN = this.validINN(value.value);
						if(!tryINN.result){
							this.errors.push(tryINN.error_msg);
							this.regForm[key].error = true;
						}
						//проверка инн на валидность инн
						let innErrors = [];
						let isCorrect = validateInn(value.value, innErrors);
						if(innErrors.message){
							this.errors.push('Ошибка ИНН: ' + innErrors.message);
						}
					}
					if(key === 'КПП'){
						let kppErrors = [];
						let isCorrect = validateKpp(value.value, kppErrors);
						if(kppErrors.message){
							this.errors.push('Ошибка КПП: ' + kppErrors.message);
							this.regForm.КПП.error = true;
						}
					}
					/*if(key === 'КодПоОКПО'){
						let Errors = [];
							if(value.value.length < 10) {
								this.errors.push('Ошибка ОКПО:  меньше десяти символов');
								this.regForm.КПП.error = true;
							}			
					}*/
					if(key === 'РегистрационныйНомер'){
						let ogrnErrors = [];
						let isCorrect = validateOgrn(value.value, ogrnErrors);
						if(ogrnErrors.message){
							this.errors.push('Ошибка ОГРН: ' + ogrnErrors.message);
							this.regForm[key].error = true;
						}
					}
					if(key === 'ЭлектроннаяПочта'){
						if(!validEmail(value.value)){
							this.errors.push('Неверный формат почты');
							this.regForm[key].error = true;
						}
					}
					if(key === 'ДокументУдостоверяющийЛичностьДатаВыдачи'  && this.regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'){
						if(this.pasportDIsValid === true){
							this.errors.push('Введена не корректная дата выдачи');
							this.regForm[key].error = true;
						}
						
					}
					if(key === 'ДокументУдостоверяющийЛичностьСерия'){
						if(this.docIsValid === false){
							this.errors.push('Введена не корректная серия и № паспорта');
							this.regForm[key].error = true;
						}
						
					}
					if(this.isRequired(key)){
						if(isEmpty(value.value)){
							if(key != 'СвидетельствоСерияНомер' && key != 'СвидетельствоДатаВыдачи'){
								this.errors.push('не заполнено поле ' + value.name);
								this.regForm[key].error = true;
							}
						}
					}			
				});
			}				
			//валидируем контактные лица
			if(!this.doNotValidateContacts){
				if(this.allContacts.length){
					_.forEach(this.allContacts, (value, key) => {
						if(Object.keys(value).length !== this.contacts.length){
							this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в контактных лицах");
						}
						else{
							_.forEach(value, (value2, key2) => {
								//костыль для почты в контактах
								if(key2 === '4'){
									if(!validEmail(value2)){
										this.errors.push('Неверный формат почты в Контактных лицах');
									}
								}
								if(isEmpty(value2)){
									this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в контактных лицах");
								}
							});	
						}
					});	
				}
				else{
					this.errors.push("Не заполнена вкладка контактные лица");
				}
			}
			if(!this.doNotValidateActivities){
				//валидируем третью вкладку
				if(this.allActivities.length){
					_.forEach(this.allActivities, (value, key) => {
						if(Object.keys(value).length !== this.activity.length){
							this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в классификаторе видов деятельности");
						}
						else{
							_.forEach(value, (value2, key2) => {
								if(isEmpty(value2)){
									this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в классификаторе видов деятельности");
								}
							});	
						}
					});	
				}
				else{
					this.errors.push("Не заполнена вкладка в классификаторе видов деятельности");
				}
			}
			//валидируем четвертую вкладку
			if(!this.doNotValidateGoods){
				if(this.allGoodsQual.length){
					_.forEach(this.allGoodsQual, (value, key) => {
						if(Object.keys(value).length !== this.goodsQual.length){
							this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в товарной классификации");
						}
						else{
							_.forEach(value, (value2, key2) => {
								if(isEmpty(value2)){
									this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в товарной классификации");
								}
							});	
						}
					});	
				}
				else{
					this.errors.push("Не заполнена вкладка в товарной классификации");
				}
			}
			if(!this.doNotValidateETP){
				//валидируем ETP
				/*
				if(this.allETP.length){
					_.forEach(this.allETP, (value, key) => {
						if(Object.keys(value).length !== this.ETP.length){
							this.errors.push('не заполнена строка ' + (parseInt(key) + 1) + " в ЭТП");
						}
						else{
							_.forEach(value, (value2, key2) => {
								if(isEmpty(value2)){
									this.errors.push('не заполнена ячейка в строке ' + (parseInt(key) + 1) + " в ЭТП");
								}
							});	
						}
					});	
				}
				else{
					this.errors.push("Не заполнена вкладка в ЭТП");
				}
				*/
			}
			//валидируем тип файлов 		
				let lineNumber = 0;
					_.forEach(this.fileArray.oldFiles, (value, key) => {
						lineNumber++
					});					
					_.forEach(this.fileArray.newFiles, (value, key) => {
						lineNumber++
						if (!isDefined(value.type) || value.type.length < 1){	
							this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
						}
						
				});				
							
			if(!this.doNotValidateAnketa){		
				//валидируем количество вопросов анкеты
				/*
				if(this.questionsWithAnswer.length != this.getQuestionsCount()){
					let wrongAnswerNum = this.markWrongAnswers();
					if(this.questionsWithAnswer.length - wrongAnswerNum != this.getQuestionsCount()){
						this.errors.push("Не заполнены вопросы в анкете");
					}
				}
					*/
			
				//валидируем Анкету
				if(this.questionsWithAnswer.length){
					
					_.forEach(this.questionsWithAnswer, (value, key) => {
					if(value.КритерийОтветаПоставщика === "Булево"){
						if(!isDefined(value.Ответ) && !value.wrong){
							this.questionsWithAnswer[key].Ответ = false;
						}
					}
					else {
					if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong){
							this.errors.push('не заполнен вопрос ' + (parseInt(key) + 1) + " в анкете");
						}						
					}
					});	
				}
				else{
					this.errors.push("Не заполнена вкладка анкеты");
				}
			}			
			return this.errors.length;
		},
		//Получение количества вопросов
		getQuestionsCount: function(){
			let qCount = 0;
			_.forEach(this.questions, (value, key) => {
				if(value.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
					qCount++;
				}
				else{
					_.forEach(this.allGoodsQual, (value2, key2) => {
						if(value.ТоварнаяКатегория_Key === value2[0].Ref_Key){
							qCount++; 
						}
					});
				}
			});
			return qCount;
		},
		//Проверка на правильные ответы
		markWrongAnswers: function(){
			let wrongAnswerNumber = 0;
			_.forEach(this.questionsWithAnswer, (value, key) => {
				this.questionsWithAnswer[key].wrong = false;
				let match = false;
				if(value.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
					match =true;
				};
				if(!match){
					_.forEach(this.allGoodsQual, (value2, key2) => {
						if(value.ТоварнаяКатегория_Key === value2[0].Ref_Key){
							match = true;
						}
					});			
				}
				if(!match){
					this.questionsWithAnswer[key].wrong = true;
					wrongAnswerNumber++;
				}
			});
			return wrongAnswerNumber;
		},
		//Получение данных по анкете
		getAnketaByRefKey: function() {
			var ref = this.$route.query.ref; 
				document.getElementById('preloader_inner').style.display = 'none';
				this.$refs.mainLoader.Show();		
				axios.post('/api/base/?action=getAnketaByRefKey&refkey='+ ref) 
				.then((response) => {
					this.anketaDataByRef = response.data.result;
				}).then(
					() => {
						this.loadData();
						this.$refs.mainLoader.Hide();
					}
				);				
		},
		//Загрузка данных
		loadData: function() {
			//страна сложное поле его отдельно
			this.$set(this.regForm.СтранаРегистрации_Key.value, 'Ref_Key', this.anketaDataByRef.СтранаРегистрации_Key_value.Ref_Key);
			this.$set(this.regForm.СтранаРегистрации_Key.value, 'Description', this.anketaDataByRef.СтранаРегистрации_Key_value.Description);
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => {
				if (key !== 'СтранаРегистрации_Key' && key !=='РегистрационныйНомер')
				{
					if(this.anketaDataByRef[key] !== 'undefined'){
						if(value.type === 'date'){
							this.$set(this.regForm[key], 'value', this.$options.filters.formateDate(this.anketaDataByRef[key], 'DD.MM.YYYY'));							
						}
						else{
							this.$set(this.regForm[key], 'value', this.anketaDataByRef[key]);
						}						
					}	
				}	
			});
			this.regForm['РегистрационныйНомер'].value = this.anketaDataByRef.РегистрационныйНомер;
			if(this.anketaDataByRef.КодОГРН != ""){
				this.regForm['РегистрационныйНомер'].value = this.anketaDataByRef.КодОГРН;
			}
			if(this.anketaDataByRef.КодОГРНИП != ""){
				this.regForm['РегистрационныйНомер'].value = this.anketaDataByRef.КодОГРНИП;
			}
			//контакты
			_.forEach(this.anketaDataByRef['КонтактныеЛица'], (value, key) => {
				this.allContacts.push({
					0:value.ФИО,
					1:value.Должность,
					2:value.КодСтраны,
					3:value.НомерТелефона,
					4:value.ЭлектроннаяПочта,
					5:value.Описание,
					6:value.ДоступКПорталу_Key,
					
				});
			});
			//виды деятельности	
			_.forEach(this.anketaDataByRef['ОКВЭД2'], (value, key) => {	
					this.allActivities[key] = [];
					this.allActivities[key].push({
						Code:value['КодОКВЭД2_Key_value'].Code,
						Description:value['КодОКВЭД2_Key_value'].Description,
						Ref_Key:value['КодОКВЭД2_Key_value'].Ref_Key,
					});
					this.allActivities[key].push(value.Основной)
				});
			//товарная классификация
			if(this.$route.query.mode !== 'НаправлениеДокументовАккредитации'){
				_.forEach(this.anketaDataByRef['ТоварнаяКлассификация'], (value, key) => {
					this.allGoodsQual[key] = [];
					this.allGoodsQual[key].push({
						Description:value['ТоварнаяКатегория_Key_value'].Description,
						Ref_Key:value['ТоварнаяКатегория_Key_value'].Ref_Key,
					});
				});
			}
			//ЕТП
			_.forEach(this.anketaDataByRef['ИспользуемыеЭТП'], (value, key) => {
					this.allETP[key] = [];
					if(value['ЭТП_Key_value']){
						this.allETP[key].push({
							Description:value['ЭТП_Key_value'].Description,
							Ref_Key:value['ЭТП_Key_value'].Ref_Key,
						});
					}					
			});
			//файлы			
			_.forEach(this.anketaDataByRef['ПрисоединенныеФайлы'], (value, key) => {
					this.fileSaveResp.result.files.push({
						Description:value.Description,
						id:value.Файл_Key,
						ВидДокумента: value.ВидДокумента,
						ВидДокумента_Key: value.ВидДокумента_Key,
						ДатаСоздания:value.ДатаСоздания,
					});
					
			});			
			this.fileSaveResp.result.types = this.FILE_TYPES_ROUGH;
			//анкета
			//смотрим ответы, по ним из общего пула вопросов определяем их вопрос, с селекторами отдельная история
			let iterator = 0;
			_.forEach(this.anketaDataByRef['ВопросыАнкеты'], (value, key) => {
				_.forEach(this.questions, (value2, key2) => {
					if(value2.Ref_Key === value.Вопрос_Key){
						this.questionsWithAnswer.push(value2);
						this.questionsWithAnswer[iterator].Ответ = value.Ответ;
				
						if(value.ВидОтвета === 'ВыборИзМножества'){
							//перебираем все вопросы с типом множественное
							_.forEach(this.questions, (value3, key3) => {
								//ищем нужный вопрос
								if(value.Вопрос_Key == value3.Ref_Key){
									//ищем нужный вариант в выбранном вопросе
									_.forEach(value3.МножествоЗначений, (value4, key3) => {
										if(value4.Наименование_Key === value.Ответ){
											this.questionsWithAnswer[iterator].Ответ = value4;
										}
									});
								}
							});
						}
						else{
							if(value.ВидОтвета === 'Дата'){
								this.questionsWithAnswer[iterator].Ответ = moment(value.Ответ).format('YYYY-MM-DD');
							}
							else{
								this.questionsWithAnswer[iterator].Ответ = value.Ответ;
							}
						}
						iterator++;
					}					
				});				
			});
			var zaglushka = ""
				if (this.anketaDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.anketaDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.anketaDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;	
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			if(this.$route.query.mode === 'open'){
				return true;
			}
			if(!this.anketaType){
				return true;
			}
			if(this.anketaType === 'ИзменениеДанныхПоКонтактнымЛицам'){
				if(pole === 'КонтактныеЛица'){
					return false;
				}
				if(pole === 'ОТПРАВИТЬ'){
					return false;
				}
				if(pole === 'СОХРАНИТЬ'){
					return false;
				}
				return true;
			}
			if(this.anketaType === 'НаправлениеДокументовАккредитации'){
				if(pole === 'Файлы'){
					return false;
				}
				if(pole === 'ТоварныеКатегории'){
					return false;
				}
				if(pole === 'Анкета'){
					return true;
				}
				
				if(pole === 'ОТПРАВИТЬ'){
					return false;
				}
				if(pole === 'СОХРАНИТЬ'){
					return false;
				}
				return true;
			}
			if(this.anketaType === 'ИзменениеДанныхПоОрганизации'){
				if(pole === 'ИНН'){
					return true;
				}
				if(pole === 'Страна'){
					return true;
				}
				if(pole === 'Вид'){
					return true;
				}
				
				if(pole === 'ОТПРАВИТЬ'){
					return false;
				}
				if(pole === 'СОХРАНИТЬ'){
					return false;
				}
				return false;
			}			
			return false;
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			if(this.$route.query.from == 'card'){
				this.$router.push("card"); 
			}
			else{
				this.$router.push("anketa_table"); 
			}	
		},
		//Блокировка вкладок в зависимости от режима открытия вкладок
		showTabs: function(tab) {
			if(!this.anketaType){
				return false;
			}
			if(this.anketaType === 'ИзменениеДанныхПоОрганизации'){
				if(tab === 2){
					this.doNotValidateContacts = true;
					return 'true';
				}
				if(tab === 4){
					this.doNotValidateGoods = true;
					return 'true';
				}
				if(tab === 5){
					this.doNotValidateAnketa = true;
					return 'true';
				}
			}
			if(this.anketaType === 'ИзменениеДанныхПоКонтактнымЛицам'){
			this.doNotValidateMain =true;
				if(tab === 3){
					this.doNotValidateActivities = true;
					return 'true';
				}
				if(tab === 4){
					this.doNotValidateGoods = true;
					return 'true';
				}
				if(tab === 5){
					this.doNotValidateAnketa = true;
					return 'true';
				}
				if(tab === 6){
					this.doNotValidateETP = true;
					return 'true';
				}
				if(tab === 7){
					this.doNotValidateFiles = true;
					return 'true';
				}
				return false;
			}
			if(this.anketaType === 'НаправлениеДокументовАккредитации'){
				this.doNotValidateContacts = true;
				this.doNotValidateMain =true;
				if(tab === 2){
					this.doNotValidateContacts = true;
					return 'true';
				}
				if(tab === 3){
					this.doNotValidateActivities = true;
					return 'true';
				}
				if(tab === 6){
					this.doNotValidateETP = true;
					return 'true';
				}
				return false;
			}
		},
		// проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(!obj) {			
				return false;
			}
			return true;
		}
  }
}
</script>
<style scoped>
.save_but{
	display:inline-block;
}
.form_line.nowrap.pole_required.is_error input, .form_line.pole_required.is_error input, .form_line.nowrap.is_error input {
    border: 1px solid red;
	border-radius: 4px;
	box-shadow: 0 0 5px #d45252;
}
.anketa.isError {
	width: 200px;
}

</style>
