<template>
<div class="login-container table_box-shadow Soc Osc Adc">
	<div class="form_line_Order nowrap text_grey soC_margin top_line form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Заявка на доставку-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.Статус.value}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
	</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Сведения по заказу-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<!--<div class="form_line_Order nowrap text_grey soC_margin top_line" style="display: flex;">
				<form-string class="soCWidth_string150 soCWidth_string2" :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>Номер
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name"/>Дата
			</div>-->
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.НаименованиеОрганизации.value" label="Организация"/><!--Организация  / v-model="regForm.НаименованиеОрганизации.value" -->
				<form-string :disabled="isAllowed()" v-model="regForm.Перевозчик.value" :label="structure.Перевозчик_Key.Синоним"/><!--Перевозчик-->
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.МестПоЗаявке.value" :label="structure.МестПоЗаявке.Синоним"/><!--Мест по заявке-->
				<form-string class="soCWidth_string2" :disabled="isAllowed()" v-model="regForm.Вес.value" :label="structure.Вес.Синоним"/><!--Вес-->
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.ТипПеревозки.value" :label="structure.ТипПеревозки.Синоним"/><!--Тип перевозки-->
				<form-string class="soCWidth_string2" :disabled="isAllowed()" v-model="regForm.Объем.value" :label="structure.Объем.Синоним"/><!--Объем-->
			</div><br/>
			
			<div class="zac"  style="display: -webkit-inline-box;">
				<div style="padding-right:20px;">
				<p class="acenter cursor" style="color: rgb(49, 160, 255);font-size: 16px;">{{PAGE_NAME.SHIP}}</p><!--Отгрузка-->
					<div class="form_line_Order nowrap text_grey soC_margin data_time" style="display: flex;">
						<form-time class="time" type="text" disabled="true" v-model="regForm.ДатаВремяОтгрузкиС.value" :label="regForm.ДатаВремяОтгрузкиС.name"/><!--Время с-->
						<form-time class="valuta_Width10 soCWidth time" :disabled="isAllowed()" v-model="regForm.ДатаВремяОтгрузкиПо.value" :label="regForm.ДатаВремяОтгрузкиПо.name"/><!--по-->	
					</div>
					<div class="form_line_Order nowrap text_grey soC_margin" style="margin-left: 40px;display: flex;">
						<div style="margin-right: -10px;">{{PAGE_NAME.ADDRESS1}}</div><!--Адрес отгрузки-->
						<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.АдресОтгрузки.value" :label="structure.АдресОтгрузки.Синоним"/>
					</div>
					<div class="form_line_Order nowrap text_grey soC_margin">
						<form-string class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.Поставщик.value" :label="structure.Поставщик_Key.Синоним"/><!--Поставщик-->
					</div>
					<div class="form_line_Order nowrap text_grey soC_margin" style="margin-left: 40px;display: flex;">
						<div style="margin: 10px 0;">{{PAGE_NAME.COMMENT}}</div><!--Комментарий-->
						<span :class="{'isError':commentChecke}"><textarea :disabled="isAllowed('Комментарий')" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.Комментарий.value"/></span>
					</div>
				</div> 
					
				<div style="border-left: 1px solid #ddd;padding-left:20px;">
				<p class="acenter cursor" style="color: rgb(49, 160, 255);font-size: 16px;">{{PAGE_NAME.DEL}}</p><!--Доставка-->
					<div class="form_line_Order nowrap text_grey soC_margin data_time" style="display: flex;">
						<form-time class="time" type="text" disabled="true" v-model="regForm.ДатаВремяДоставкиС.value" :label="regForm.ДатаВремяДоставкиС.name"/><!--Время с-->
						<form-time class="valuta_Width10 soCWidth time" :disabled="isAllowed()" v-model="regForm.ДатаВремяДоставкиПо.value" :label="regForm.ДатаВремяДоставкиПо.name"/><!--по-->	
					</div>
					<div class="form_line_Order nowrap text_grey soC_margin" style="margin-left: 40px;display: flex;">
						<div style="margin-right: -15px;">{{PAGE_NAME.ADDRESS2}}</div><!--Адрес доставки-->
						<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.АдресДоставки.value" :label="structure.АдресДоставки.Синоним"/>
					</div>
					<div class="form_line_Order nowrap text_grey soC_margin">
						<form-string class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.НаименованиеГрузополучателя.value" :label="regForm.НаименованиеГрузополучателя.name"/><!--Грузополучатель-->
					</div>
					<div class="text_grey bool_box">
						<div><form-bool class="bool_tr" :disabled="isAllowed()" v-model="regForm.Срочность.value" :label="structure.Срочность.Синоним"/></div><!--Срочность-->
						<div><form-bool class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.ТребуетсяОтправкаТары.value" :label="structure.ТребуетсяОтправкаТары.Синоним"/></div><!--Требуется отправка тары-->
					</div>
				</div>			
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin" v-if="!this.transportDostavka">
				<span><form-string class="soCWidth_string370" :disabled="isAllowed(structure.НомерТС.Синоним)" v-model="regForm.НомерТС.value" :label="structure.НомерТС.Синоним"/></span><!--Номер ТС-->	
				<span><form-string class="soCWidth_string370" :disabled="isAllowed(structure.Водитель.Синоним)" v-model="regForm.Водитель.value" :label="structure.Водитель.Синоним"/></span><!--Водитель-->	
				<span><form-string class="soCWidth_string370" :disabled="isAllowed(structure.Документ.Синоним)" v-model="regForm.Документ.value" :label="structure.Документ.Синоним"/></span><!--Документ-->	
			</div>	
		</div>		
	  </vs-col>
	</vs-row>
	<div class="save_but" style="margin-top: 20px;">
		<button type="button" v-if="regForm.Статус.value ==='На согласовании у перевозчика'" @click="saveForm('ПринятаПеревозчиком')" class="el-button filter-item"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
			{{PAGE_NAME.SEND2}}</span></button><!--Согласовать-->
		<button type="button" v-if="regForm.Статус.value ==='На согласовании у перевозчика'"  @click="saveForm('НеСогласованаПеревозчиком')" class="el-button filter-item" style="margin-left: 10px;"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			{{PAGE_NAME.REJECT}}</span></button><!--Отклонить-->
	</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="category"><!--Товары-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
	<div v-if="mode === 'edit'" class="text_grey"><form-date @input="makeAllDates()" v-model="newDate" :label="PAGE_NAME.ADJUST"/></div>
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th v-if="mode === 'edit'"></vs-th>
				<vs-th v-if="mode === 'edit'"></vs-th>
				<vs-th v-if="mode === 'edit'">{{PAGE_NAME.CHANGE_PLAN_DATE}}</vs-th>	<!--Изменение плановой даты поставщика-->
				<vs-th sort-key="LineNumber">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th>		<!--№-->
				<vs-th sort-key="Номенклатура">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th>	<!--Номенклатура-->	
				<vs-th sort-key="Количество">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th>		<!--Количество-->
				<vs-th sort-key="КоличествоМест">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th>	<!--Количество мест-->				
				<vs-th sort-key="Вес">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th>				<!--Вес, кг-->						
				<vs-th sort-key="Объем">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th>			<!--Объем, м3-->
				<vs-th sort-key="СкладПолучатель">{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th> <!--Склад-получатель-->		
				<vs-th sort-key="УсловияПогрузки">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th> <!--Условия погрузки-->	
				<vs-th sort-key="УсловияРазгрузки">{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th><!--Условия погрузки-->		
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td v-if="mode === 'edit'" class="green_button"><div @click="editItem(data[indextr],indextr)">{{PAGE_NAME.CHANGE}}</div></vs-td><!--изменить-->		
				<vs-td v-if="mode === 'edit'" class="red_button"><div @click="deleteItem(data[indextr],indextr)">{{PAGE_NAME.CANCEL}}</div></vs-td><!--отменить-->		
				<vs-td v-if="mode === 'edit'">{{data[indextr].ПлановаяДатаПоступления2 | formateDate}}</vs-td>
				<vs-td :data="data[indextr].LineNumber">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].Номенклатура">{{data[indextr].Номенклатура}}</vs-td>
				<vs-td :data="data[indextr].Количество">{{data[indextr].Количество}}</vs-td>
				<vs-td :data="data[indextr].КоличествоМест">{{data[indextr].КоличествоМест}}</vs-td>
				<vs-td :data="data[indextr].Вес">{{data[indextr].Вес}}</vs-td>
				<vs-td :data="data[indextr].Объем">{{data[indextr].Объем}}</vs-td>
				<vs-td :data="data[indextr].СкладПолучатель">{{data[indextr].СкладПолучатель}}</vs-td>
				<vs-td :data="data[indextr].УсловияПогрузки">{{data[indextr].УсловияПогрузки}}</vs-td>	
				<vs-td :data="data[indextr].УсловияРазгрузки">{{data[indextr].УсловияРазгрузки}}</vs-td>					
			</vs-tr>			
		  </template>
		</vs-table>
	<div class="save_but" v-if="mode === 'edit'"><button type="button" @click="saveApplication()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div><!--Отправить-->
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="attach_file"><!--Присоединенные файлы-->
	<file-upload :disabled="!isAllowed('Файлы')" v-model="fileArray" v-if="applicationDeliveryDataByRef['ПрисоединенныеФайлы']" :oldFiles="applicationDeliveryDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_ЗаявкаНаДоставку"></file-upload>			
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Number from '@/components/form_poles/Number'								//импорт Номеров
import Time from '@/components/form_poles/Time'									//импорт Time
import File_upload from '@/components/partials/File_upload'						//импорт File upload
import Select_ref from '@/components/form_poles/Select_ref'
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined, validEmail,isDefined,changeToDateTime } from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/application_delivery_card'//импорт application_delivery_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Application_delivery_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Статус: {
					value:'',
					requred:true,
					name: 'Статус',
					disabled: true
				},				
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'от',
					disabled: true
				},
				НаименованиеОрганизации: {
					value:'',
					requred:true,
					name: 'Организация',
					disabled: true
				},
				Перевозчик: {
					value:'',
					requred:true,
					name: 'Перевозчик',
					disabled: true
				},
				ПодразделениеЗаказчик_Key: {
					value:'',
					requred:true,
					name: 'Подразделение-заказчик',
					disabled: true
				},			
				МестПоЗаявке: {
					value:'',
					requred:true,
					name: 'Мест по заявке',
					disabled: true
				},
				Вес: {
					value:'',
					requred:true,
					name: 'Вес, кг',
					disabled: true
				},
				ТипПеревозки: {
					value:'',
					requred:true,
					name: 'Тип перевозки',
					disabled: true
				},
				Объем: {
					value:'',
					requred:true,
					name: 'Объем, м3',
					disabled: true
				},	
				ДатаДоставки: {
					value:'',
					requred:true,
					name: 'Дата доставки',
					disabled: true
				},	
				ДатаОтгрузки: {
					value:'',
					requred:true,
					name: 'Дата отгрузки',
					disabled: true
				},	
				ДатаВремяДоставкиС: {
					value:'',
					requred:true,
					name: 'Дата доставки с',
					disabled: true
				},
				ДатаВремяОтгрузкиС: {
					value:'',
					requred:true,
					name: 'Дата отгрузки с',
					disabled: true
				},
				ДатаВремяДоставкиПо: {
					value:'',
					requred:true,
					name: 'по',
					disabled: true
				},
				ДатаВремяОтгрузкиПо: {
					value:'',
					requred:true,
					name: 'по',
					disabled: true
				},
				АдресДоставки: {
					value:'',
					requred:true,
					name: 'Адрес отгрузки',
					disabled: true
				},				
				НаименованиеГрузополучателя: {
					value:'',
					requred:true,
					name: 'Грузополучатель',
					disabled: true
				},				
				АдресОтгрузки: {
					value:'',
					requred:true,
					name: 'Адрес доставки',
					disabled: true
				},
				Поставщик: {
					value:'',
					requred:true,
					name: 'Поставщик',
					disabled: true
				},
				Грузополучатель: {
					value:'',
					requred:true,
					name: 'Грузополучатель',
					disabled: true
				},
				Договор: {
					value:'',
					requred:true,
					name: 'Договор',
					disabled: true
				},
				Срочность: {
					value:'',
					requred:true,
					name: 'Срочность',
					disabled: true
				},
				Комментарий: {
					value:'',
					requred:true,
					name: 'Комментарий',
					disabled: true
				},
				НомерТС: {
					value:'',
					requred:true,
					name: 'Номер ТС:',
					disabled: true
				},			
				Водитель: {
					value:'',
					requred:true,
					name: 'Водитель:',
					disabled: true
				},
				Документ:{
					value:'',
					requred:true,
					name: 'Документ',
					disabled: true
				},
				ТребуетсяОтправкаТары:{
					value:'',
					requred:true,
					name: 'Требуется отправка тары',
					disabled: true
				},
			},
		//значения создаваемые во vue (справа)
			structure: {
				НаименованиеОрганизации:{
					Синоним:'',
					Description:''
				},
				Перевозчик_Key:{
					Синоним:'',
					Description:''
				},
				ПодразделениеЗаказчик_Key:{
					Синоним:'',
					Description:''
				},
				МестПоЗаявке:{
					Синоним:'',
					Description:''
				},
				Вес:{
					Синоним:'',
					Description:''
				},
				ТипПеревозки:{
					Синоним:'',
					Description:''
				},
				Объем:{
					Синоним:'',
					Description:''
				},
				ДатаДоставки:{
					Синоним:'',
					Description:''
				},
				ДатаОтгрузки:{
					Синоним:'',
					Description:''
				},
				ДатаВремяДоставкиС:{
					Синоним:'',
					Description:''
				},
				ДатаВремяОтгрузкиС:{
					Синоним:'',
					Description:''
				},
				ДатаВремяДоставкиПо:{
					Синоним:'',
					Description:''
				},
				ДатаВремяОтгрузкиПо:{
					Синоним:'',
					Description:''
				},
				АдресДоставки:{
					Синоним:'',
					Description:''
				},
				АдресОтгрузки:{
					Синоним:'',
					Description:''
				},
				Поставщик_Key:{
					Синоним:'',
					Description:''
				},
				Грузополучатель_Key:{
					Синоним:'',
					Description:''
				},
				НаименованиеГрузополучателя:{
					Синоним:'',
					Description:''
				},
				Договор_Key:{
					Синоним:'',
					Description:''
				},
				Срочность:{
					Синоним:'',
					Description:''
				},
				Комментарий:{
					Синоним:'',
					Description:''
				},
				НомерТС:{
					Синоним:'',
					Description:''
				},
				Водитель:{
					Синоним:'',
					Description:''
				},
				Документ:{
					Синоним:'',
					Description:''
				},
				ТребуетсяОтправкаТары:{
					Синоним:'',
					Description:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			nomenclature: {},
			mode: 'read',
			applicationDeliveryDataByRef:[],
			applicationСomposition:{},
			commentChecke: false,
			transportDostavka: '',
			errorChecke: false,
			fileSaveResp: {
				result: {
					files:[]
				}
			},
			fileMatchArray 	: [],
			additionalFiles	: [],
			fileArray:{},
			newFiles: {
				result: {
					files:[]
				}
			},
			deletedItems	: [],
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {		
				this.PermissionTransportDostavka();		
				this.GetDeliveryRequestByRefKey();				
			}
		);
	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-bool":Bool,
		"form-date":Date,
		"form-number":Number,
		"form-time":Time,
		"form-table":Table,
		"form-select-ref":Select_ref,
		"file-upload":File_upload,
		"form-table-data-submit":Table_data_submit
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ЗаявкаНаДоставку'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Hide();
			});
		},
		//Проверка проверки доступности транспорта/доставки
		PermissionTransportDostavka: function(){
			return axios.post('/api/base/?action=GetConstantTransportOrder') 
				.then((response) => {
					this.transportDostavka = response.data;
					
				});
		},	
		//Получение данных по анкете
		GetDeliveryRequestByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetDeliveryRequestByRefKey&refkey='+ ref) 
				.then((response) => {
					this.applicationDeliveryDataByRef = response.data;
				}).then(
					() => {
						this.loadData();
						this.getNomenclature();	
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			if(pole === 'Комментарий' && this.regForm.Статус.value ==='На согласовании у перевозчика'){
				return false;
			}
			if(this.regForm.Статус.value ==='На согласовании у перевозчика'){
				if(pole === 'Номер ТС' || pole === 'Водитель' || pole === 'Документ' || pole === 'Файлы'){
					this.errorChecke = true;
					return false;
				}
			}
			return true;
		},
		//Переходы после нажатия кнопок
		accept: function() {
			this.$router.push('Application_delivery_table'); 
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.applicationDeliveryDataByRef['Товары'];
			this.applicationСomposition  = this.applicationDeliveryDataByRef['Товары'];
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'Date' || key === 'ДатаДоставки' || key === 'ДатаОтгрузки'){
					this.regForm[key].value = this.$options.filters.formateDate(this.applicationDeliveryDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'Статус'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.applicationDeliveryDataByRef[key]);
				}
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.applicationDeliveryDataByRef[key]);
				}	
				else if(key === 'ТипПеревозки'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.applicationDeliveryDataByRef[key]);
				}
				else if(key === 'АдресОтгрузки' || key === 'АдресДоставки'){
					this.regForm[key].value = this.chekedAddress(this.applicationDeliveryDataByRef[key]);
				}				
				else {
					this.$set(this.regForm[key], 'value', this.applicationDeliveryDataByRef[key]);
				}					
			});	
			_.forEach(this.applicationDeliveryDataByRef['ПрисоединенныеФайлы'], (value, key) => {
					this.fileSaveResp.result.files.push({
						Description:value.Description,
						id:value.Ref_Key,
						ДатаСоздания:value.ДатаСоздания,
						ВидДокумента:value.ВидДокумента.Description,
						ВидДокумента_Key:value.ВидДокумента_Key,
					});						
			});	
			var zaglushka = ""
				if (this.applicationDeliveryDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.applicationDeliveryDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.applicationDeliveryDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;	
			},
			//кнопка Отправить
			saveForm: function(status){
			//обнуляем ошибки
			_.forEach(this.regForm, (value, key) => {
				this.regForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate(status)){
	
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				//Отправка на сервер
				var dataToSend = new FormData();	
				dataToSend.set("Ref_Key", this.$route.query.ref);
				dataToSend.set("data[Статус]", status);				
				dataToSend.set("data[Комментарий]", this.regForm.Комментарий.value);
					if(!this.transportDostavka){
						 dataToSend.set("data[НомерТС]", this.regForm.НомерТС.value);
						 dataToSend.set("data[Водитель]", this.regForm.Водитель.value);
						 dataToSend.set("data[Документ]", this.regForm.Документ.value);
					}
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				axios({
					method: 'post',
					url: '/api/base/?action=UpdateDeliveryRequest',
					data: dataToSend
				}).then(
				 (response) => {					 
					 if(response.data.status === "OK"){
						if(status === 'ПринятаПеревозчиком'){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Заявка на доставку',
							text: 'Заявка на доставку успешно отправлена',
							accept:this.accept
						});							
						}
						else{
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'danger',
							title: 'Заявка на доставку',
							text: 'Заявка на доставку успешно отклонена',
							accept:this.accept
						});							
						}

						this.$router.push('Application_delivery_table');
						//window.location.href = "http://ssa-srmdev-test.hq.severstalauto.com";
					 }
					
				 } 
				);
			}			
		},
		//Отправить заказ
		saveApplication: function(){
			var dataToSend = new FormData();	
			var ref = this.$route.query.ref; 					
			dataToSend.set("Ref_Key", ref);
			dataToSend.set("data[Статус]", "НеПодтвержденПоставщиком");
			_.forEach(this.applicationСomposition, (value, key) => {
				dataToSend.set("Товар["+ key +"][Номенклатура_Key]", value.Номенклатура_Key);
				if(value.ПлановаяДатаПоступления2){
					dataToSend.set("Товар["+ key +"][ИзменениеПлановойДатыПоставщиком]", value.ПлановаяДатаПоступления2);	
				}
				else{
				dataToSend.set("Товар["+ key +"][ИзменениеПлановойДатыПоставщиком]", value.ИзменениеПлановойДатыПоставщиком);
				}
				if(value.Статус){
					dataToSend.set("Товар["+ key +"][Статус]", value.Статус);
					if(value.ИзменениеКоличестваПоставщиком){
						dataToSend.set("Товар["+ key +"][ИзменениеКоличестваПоставщиком]", value.ИзменениеКоличестваПоставщиком);
					}
					if(value.ПричинаОтмены){
						dataToSend.set("Товар["+ key +"][ПричинаОтмены]", value.ПричинаОтмены);
						dataToSend.set("Товар["+ key +"][ОтмененоПоставщиком]", "true");
					}					
				}
				else{
					dataToSend.set("Товар["+ key +"][Статус]", "Согласовано");
				}
			});	
	
			axios({
					method: 'post',
					url: '/api/base/?action=UpdateDeliveryRequest',
					data: dataToSend
				}).then(
					(response) => {
						
					}
				);

				this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка заявки на доставку',
							text: 'Заявка успешно отправлена',
							accept:this.accept
						});
						this.$router.push('Application_delivery_table');
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("application_delivery_table"); 
		},
		//Валидация
		validate: function(status){
			this.errors = [];	
				if(this.regForm.Комментарий.value === "" && status === 'НеСогласованаПеревозчиком'){
					this.commentChecke = true;
					this.errors.push("Не заполнено поле Комментарий");
				}
			//валидируем тип файлов 		
				let lineNumber = 0;
					_.forEach(this.fileArray.oldFiles, (value, key) => {
						lineNumber++
					});					
					_.forEach(this.fileArray.newFiles, (value, key) => {
						lineNumber++
						if (!isDefined(value.type) || value.type.length < 1){	
							this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
						}
						
				});	
			return this.errors.length;			
		},
		//Разбор адреса доставки/отгрузки
		chekedAddress: function(value){
			let json = "";	
			let str = "";				
				if (value != ""){
					json = JSON.parse(value);
					str = json.value;
				}
				else {
					str = "";						
				}
			return str;			
		}, 
		// проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(!obj) {			
				return false;
			}
			return true;
		},
},
}
</script>