<template>
<div class="login-container table_box-shadow Soc Osc">
	<div class="form_line_Order nowrap text_grey soC_margin top_line full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">	
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Заявка на транспорт-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.Статус.value}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table arrow" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div> 
	</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<!--<div class="form_line_Order nowrap text_grey soC_margin top_line" style="display: flex;">
				<form-string class="soCWidth_string150 soCWidth_string2" :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>Номер
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name"/>Дата
			</div>-->
			<div class="form_line_Order nowrap text_grey soC_margin top_line input_ATC" style="display: flex;">
				<form-string class="soCWidth_string150" :disabled="isAllowed()" v-model="regForm.Перевозчик.value" :label="structure.Перевозчик_Key.Синоним"/><!--Перевозчик-->
				<form-bool class="bool_tr" :disabled="isAllowed()" v-model="regForm.Срочность.value" :label="structure.Срочность.Синоним"/><!--Срочность-->
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin input_ATC" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.ТипПеревозки.value" :label="structure.ТипПеревозки.Синоним"/><!--Тип перевозки-->
				<form-string class="soCWidth_string210" :disabled="isAllowed()" v-model="regForm.ТипТранспортногоСредства.value" :label="structure.ТипТранспортногоСредства_Key.Синоним"/><!--Тип транспортного средства-->
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin input_ATC" style="display: flex;">
				<form-string v-model="regForm.НомерТС.value" :label="structure.НомерТС.Синоним"/><!--Номер ТС-->	
				<form-string class="soCWidth_string210" v-model="regForm.Водитель.value" :label="structure.Водитель.Синоним"/><!--Водитель-->	
			</div>
		</div>		
	  </vs-col>
	</vs-row>
	<div class="save_but" style="margin-top: 20px;">
		<button type="button" v-if="regForm.Статус.value === 'На согласовании у перевозчика'" @click="saveForm" class="el-button filter-item" style="margin-left: 10px;"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
			{{PAGE_NAME.SEND2}}</span></button><!--Подтвердить-->
		<button type="button" v-if="regForm.Статус.value === 'На согласовании у перевозчика'" @click="denyFormAlert" class="el-button filter-item" style="margin-left: 10px;"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			{{PAGE_NAME.REJECT}}</span></button><!--Отклонить-->
	</div><!--Подтвердить-->
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="airport_shuttle"><!--Маршрут-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
	<div v-if="mode === 'edit'" class="text_grey"><form-date @input="makeAllDates()" v-model="newDate" :label="PAGE_NAME.ADJUST"/></div>
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th v-if="mode === 'edit'"></vs-th>
				<vs-th v-if="mode === 'edit'"></vs-th>
				<vs-th v-if="mode === 'edit'">{{PAGE_NAME.CHANGE_PLAN_DATE}}</vs-th>	<!--Изменение плановой даты поставщика-->
				<vs-th sort-key="LineNumber">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th>		<!--№-->
				<vs-th sort-key="ЗаявкаНаДоставку">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th><!--Заявка на доставку-->	
				<vs-th sort-key="Поставщик">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th>	    <!--Поставщик-->	
				<vs-th sort-key="ДатаОтгрузки">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th>  	<!--Дата отгрузки-->		
				<vs-th sort-key="ДатаДоставки">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th>  	<!--Дата доставки-->					
				<vs-th sort-key="АдресОтгрузки">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th> 	<!--Адрес отгрузки-->		
				<vs-th sort-key="АдресДоставки">{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th> 	<!--Адрес доставки-->	
				<vs-th sort-key="КоличествоМест">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th>	<!--Количество мест-->
				<vs-th sort-key="Вес">{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th>				<!--Вес, кг-->	
				<vs-th sort-key="Объем">{{PAGE_NAME.COLUMNS.COLUMN10}}</vs-th>			<!--Объем, м. куб-->
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td v-if="mode === 'edit'" class="green_button"><div @click="editItem(data[indextr],indextr)">{{PAGE_NAME.CHANGE}}</div></vs-td><!--изменить-->		
				<vs-td v-if="mode === 'edit'" class="red_button"><div @click="deleteItem(data[indextr],indextr)">{{PAGE_NAME.CANCEL}}</div></vs-td><!--отменить-->		
				<vs-td v-if="mode === 'edit'">{{data[indextr].ПлановаяДатаПоступления2}}</vs-td>
				<vs-td :data="data[indextr].LineNumber">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].ЗаявкаНаДоставку" style="display:table-cell;width:180px;">{{data[indextr].ЗаявкаНаДоставку.НаименованиеДокумента}} № {{data[indextr].ЗаявкаНаДоставку.Number | removeZeroes}} от {{data[indextr].ЗаявкаНаДоставку.Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].Поставщик" style="display:table-cell;width:180px;">{{data[indextr].Поставщик}}</vs-td>
				<vs-td :data="data[indextr].ДатаОтгрузки">{{data[indextr].ДатаОтгрузки | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].ДатаДоставки">{{data[indextr].ДатаДоставки | formateDate('DD.MM.YYYY')}}</vs-td>				
				<vs-td :data="data[indextr].АдресОтгрузки">{{chekedAddress(data[indextr].АдресОтгрузки)}}</vs-td>
				<vs-td :data="data[indextr].АдресДоставки">{{chekedAddress(data[indextr].АдресДоставки)}}</vs-td>
				<vs-td :data="data[indextr].КоличествоМест">{{data[indextr].КоличествоМест | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].Вес">{{data[indextr].Вес}}</vs-td>
				<vs-td :data="data[indextr].Объем">{{data[indextr].Объем}}</vs-td>
			</vs-tr>			
		  </template>
		</vs-table>
	<div class="save_but" v-if="mode === 'edit'"><button type="button" @click="saveApplication()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div><!--Отправить-->
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	

</vs-tabs>
<!--Удаление анкеты(окончательное-попап окно)-->
<vs-prompt :accept-text="PAGE_NAME.FILE.ACCEPT" :cancel-text="PAGE_NAME.FILE.CANCEL" :title="PAGE_NAME.FILE.TITLE" @cancel="" @accept="this.denyForm" @close="" :active.sync="showDenyAlert"><!--Ок/Отмена/Отклонить заявку-->
	<div class="delete_promt">
	<div style="margin: 10px 0;">{{PAGE_NAME.REJECTION}}</div><!--Причина отклонения-->
		<textarea class="el-input__inner line_height width_input_popup" v-model="denyPopUpText"/>
	</div>
</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Time from '@/components/form_poles/Time'									//импорт Time
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/application_transport_card'//импорт application_transport_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Application_transport_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Статус: {
					value:'',
					requred:true,
					name: 'Статус',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'от',
					disabled: true
				},
				Перевозчик: {
					value:'',
					requred:true,
					name: 'Перевозчик',
					disabled: true
				},
				Срочность: {
					value:'',
					requred:true,
					name: 'Срочность',
					disabled: true
				},
				ТипПеревозки: {
					value:'',
					requred:true,
					name: 'Тип перевозки',
					disabled: true
				},
				ТипТранспортногоСредства: {
					value:'',
					requred:true,
					name: 'Тип транспортного средства:',
					disabled: true
				},
				НомерТС: {
					value:'',
					requred:true,
					name: 'Номер ТС:',
					disabled: true
				},			
				Водитель: {
					value:'',
					requred:true,
					name: 'Водитель:',
					disabled: true
				},
			},				
		//значения создаваемые во vue (справа)
			structure: {	
				Перевозчик_Key:{
					Синоним:'',
				},		
				Срочность:{
					Синоним:'',
					Description:''
				},	
				ТипПеревозки:{
					Синоним:'',
					Description:''
				},
				ТипТранспортногоСредства_Key:{
					Синоним:'',
					Description:''
				},
				НомерТС:{
					Синоним:'',
					Description:''
				},
				Водитель:{
					Синоним:'',
					Description:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			nomenclature: {},
			mode: 'read',
			applicationTransportDataByRef:[],
			showEditPromt: false,
			showDeletePromt: false,
			editItemPromt:{},
			deleteItemPromt:{},
			denyPopUpText:"",
			showDenyAlert:false,
			applicationСomposition:{},
			editNum:0,
			newDate:"",
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {					
				this.GetApplicationTransportByRefKey();				
			}
		);
	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-bool":Bool,
		"form-date":Date,
		"form-time":Time,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit,
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ЗаказТранспорта'
			}).then((response) => {			
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Hide();
			});
		},
		//Получение данных по анкете
		GetApplicationTransportByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetApplicationTransportByRefKey&refkey='+ ref) 
				.then((response) => {
					this.applicationTransportDataByRef = response.data;
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				}).then(
					() => {
						this.loadData();
						this.getNomenclature();	
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},
		
		denyFormAlert: function() {
			this.showDenyAlert = true;
		},
		
		isAllowed: function(pole) {
			return true;
		},
		
		makeAllDates: function() {
			_.forEach(this.nomenclature, (value, key) => { 
				value.ПлановаяДатаПоступления2 = this.newDate;
				value.Статус = 'НеСогласовано';
			});
			return true;
		},
		//изменить
		editItem: function(item, num) {
			this.editNum = num;
			this.editItemPromt = item;
			this.editItemPromt.ПлановаяДатаПоступления = this.$options.filters.formateDate(item.ПлановаяДатаПоступления, 'DD.MM.YYYY');
			this.showEditPromt = true;
			return true;
		},
		//Переходы после нажатия кнопок
		accept: function() {
			this.$router.push('Application_transport_table'); 
		},
		//Отмена
		deleteItem: function(item, num) {
			this.deleteItemPromt = item;
			this.editNum = num;
			this.deleteItemPromt.ПлановаяДатаПоступления = this.$options.filters.formateDate(item.ПлановаяДатаПоступления);
			this.showDeletePromt = true;
			return true;
		},
		//Запись данных в таблицу Маршрут
		getNomenclature: function(){
			this.nomenclature  = this.applicationTransportDataByRef['Маршрут'];
			this.applicationСomposition  = this.applicationTransportDataByRef['Маршрут'];
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'Date'){
					this.regForm[key].value = this.$options.filters.formateDate(this.applicationTransportDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'Статус'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.applicationTransportDataByRef[key]);
				}
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.applicationTransportDataByRef[key]);
				}
				else if(key === 'ТипПеревозки'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.applicationTransportDataByRef[key]);
				}	
				else {
					this.$set(this.regForm[key], 'value', this.applicationTransportDataByRef[key]);
				}					
			});		
			var zaglushka = ""
				if (this.applicationTransportDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.applicationTransportDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.applicationTransportDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;			
		},
		//кнопка Отправить
		saveForm: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				//Отправка на сервер
				var dataToSend = new FormData();
				dataToSend.set("Ref_Key", this.$route.query.ref);
				dataToSend.set("data[Водитель]", this.regForm.Водитель.value);
				dataToSend.set("data[НомерТС]", this.regForm.НомерТС.value);
				dataToSend.set("data[Статус]", "КОтгрузке");					
				axios({
					method: 'post',
					url: '/api/base/?action=UpdateApplicationTransport',
					data: dataToSend
				}).then(
				 	(response) => {					 
						if(response.data.status === "OK"){
							this.$vs.dialog({
								acceptText:'Принять',
								type:"alert",
								color:'success',
								title: 'Заявка на транспорт',
								text: 'Заявка на транспорт успешно отправлена',
								accept:this.accept
							});
							this.$router.push('Application_transport_table');
						}	
				 	} 
				);
			}			
		},
		denyForm: function(){
			var dataToSend = new FormData();
			dataToSend.set("Ref_Key", this.$route.query.ref);
			dataToSend.set("data[Комментарий]", this.denyPopUpText);
			dataToSend.set("data[Статус]", "НеСогласованПеревозчиком");	
			axios({
					method: 'post',
					url: '/api/base/?action=UpdateApplicationTransport',
					data: dataToSend
				}).then(
				 (response) => {					 
					if(response.data.status === "OK"){
						 this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'danger',
							title: 'Заявка на транспорт',
							text: 'Заявка на транспорт успешно отклонена',
							accept:this.accept
						});
						this.$router.push('Application_transport_table');
					}
				 }).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				});
		},
		//Отправить заказ
		saveApplication: function(){
			var dataToSend = new FormData();	
			var ref = this.$route.query.ref; 					
			dataToSend.set("Ref_Key", ref);
			dataToSend.set("data[Статус]", "НеПодтвержденПоставщиком");
			_.forEach(this.applicationСomposition, (value, key) => {
				dataToSend.set("Маршрут["+ key +"][Номенклатура_Key]", value.Номенклатура_Key);
				if(value.ПлановаяДатаПоступления2){
					dataToSend.set("Маршрут["+ key +"][ИзменениеПлановойДатыПоставщиком]", value.ПлановаяДатаПоступления2);	
				}
				else{
				dataToSend.set("Маршрут["+ key +"][ИзменениеПлановойДатыПоставщиком]", value.ИзменениеПлановойДатыПоставщиком);
				}
				if(value.Статус){
					dataToSend.set("Маршрут["+ key +"][Статус]", value.Статус);
					if(value.ИзменениеКоличестваПоставщиком){
						dataToSend.set("Маршрут["+ key +"][ИзменениеКоличестваПоставщиком]", value.ИзменениеКоличестваПоставщиком);
					}
					if(value.ПричинаОтмены){
						dataToSend.set("Маршрут["+ key +"][ПричинаОтмены ]", value.ПричинаОтмены);
						dataToSend.set("Маршрут["+ key +"][ОтмененоПоставщиком]", "true");
					}					
				}
				else{
					dataToSend.set("Маршрут["+ key +"][Статус]", "Согласовано");
				}
			});	
	
			axios({
					method: 'post',
					url: '/api/base/?action=UpdateApplicationTransport',
					data: dataToSend
				}).then(
					(response) => {
						
					}
				);

				this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка заказа на доставку',
							text: 'Заказ успешно отправлен',
							accept:this.accept
						});
						this.$router.push('Application_transport_table');
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("application_transport_table"); 
		},
		//Валидация
		validate: function(){
			this.errors = [];	
			return this.errors.length;			
		},
		//Разбор адреса доставки/отгрузки
		chekedAddress: function(value){
			let json = "";	
			let str = "";				
				if (value != ""){
					json = JSON.parse(value);
					str = json.value;
				}
				else {
					str = "";						
				}
			return str;			
		}, 
},
}
</script>
