<template>
<div class="login-container table_box-shadow Soc Apc">
		<div class="cursor form_line_card" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Программа аудита-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="team">
		  <template slot="thead">
			<vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE1}}</vs-th><!--№ [Хасанова Ю]-->
			<vs-th sort-key="СотрудникФИО" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE2}}</vs-th> 		<!--Сотрудник [Хасанова Ю]-->
			<vs-th sort-key="Должность" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE3}}</vs-th> 			<!--Должность [Хасанова Ю]-->
			<vs-th sort-key="Дополнительно" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE4}}</vs-th>		<!--Дополнительно [Хасанова Ю]-->		
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
			<vs-td :data="data[indextr].СотрудникФИО">{{data[indextr].СотрудникФИО}}</vs-td>
			<vs-td :data="data[indextr].Должность">{{data[indextr].Должность}}</vs-td>
			<vs-td :data="data[indextr].Дополнительно">{{data[indextr].Дополнительно}}</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>

  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="audit">
		  <template slot="thead">
			<vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.HEAD.HEAD1}}</vs-th> 	<!--№ [Хасанова Ю]-->
			<vs-th sort-key="ЭтапАудита" style="padding:15px;">{{PAGE_NAME.HEAD.HEAD2}}</vs-th>	 			<!--Этап аудита [Хасанова Ю]-->		
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
			<vs-td :data="data[indextr].ЭтапАудита">{{data[indextr].ЭтапАудита}}</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"   disabled="true"   id="t_2" icon="description"><!--Лист самооценки-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="list">
		  <template slot="thead">
			<vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.LINE.LINE1}}</vs-th> 	<!--№ [Хасанова Ю]-->
			<vs-th sort-key="Вопрос" style="padding:15px;">{{PAGE_NAME.LINE.LINE2}}</vs-th>	 				<!--Требование [Хасанова Ю]-->	
			<vs-th sort-key="ОтветПоставщика" style="padding:15px;">{{PAGE_NAME.LINE.LINE3}}</vs-th>		<!--Ответ поставщика [Хасанова Ю]-->	
			<vs-th sort-key="Комментарий" style="padding:15px;">{{PAGE_NAME.LINE.LINE4}}</vs-th>		 	<!--Комментарий [Хасанова Ю]-->	
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
			<vs-td :data="data[indextr].Вопрос">{{data[indextr].Вопрос}}</vs-td>
			<vs-td :data="data[indextr].ОтветПоставщика">{{data[indextr].ОтветПоставщика}}</vs-td>
			<vs-td :data="data[indextr].Комментарий">{{data[indextr].Комментарий}}</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME3"   disabled="true"  id="t_3" icon="attach_file"><!--Присоединенные файлы-->
	<file-upload :disabled="!isAllowed('Файлы')" v-model="fileArray" v-if="this.auditProgramByRefKey['ПрисоединенныеФайлы']" :oldFiles="this.auditProgramByRefKey['ПрисоединенныеФайлы']" docType="Document_srm_ПрограммаАудита"></file-upload>			
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import File_upload from '@/components/partials/File_upload'		//импорт File upload
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail,isDefined} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/audit_program_card'	//импорт audit_program_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Audit_program_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},				
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			auditProgramByRefKey: {},
			team: {},
			audit: {},
			fileArray:{},
			list: {},
			fileSaveResp: {
				result: {
					files:[]
				}
			},
			oldFiles:[]
		}
	},
	mounted: function() {
		this.GetRequestAuditProgramByRefKey()
	},	
	components:{
		"file-upload":File_upload
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		GetRequestAuditProgramByRefKey: function() {
			var ref = this.$route.query.ref; 
			this.$refs.mainLoader.Show();			
				axios.post('/api/base/?action=GetAuditProgramsByRefKey&refkey='+ ref) 
				.then((response) => {
					this.auditProgramByRefKey = response.data.result;				
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				}).then(() => {
						this.loadData();	
						this.GetTeam();
						this.GetAudit();
						this.GetList();
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
			this.$refs.mainLoader.Hide();
					});
		},
		//Запись данных в таблицу
		GetTeam: function() {
			this.team = this.auditProgramByRefKey['Команда'];
		},
		//Запись данных в таблицу
		GetAudit: function() {
			this.audit = this.auditProgramByRefKey['Программа'];
		},
		//Перебор Листа согласования
		GetList: function() {
			this.list = this.auditProgramByRefKey['ЛистСамооценки_сам'];
			//перебор Листа согласования
			_.forEach(this.list, (value, key) => { 					
				this.list = this.list[key].Программа;
			});
			//перебор по незаполненному Листу согласовнаия
			_.forEach(this.auditProgramByRefKey['ЛистСамооценки'], (value, key) => { 	
				_.forEach(this.list, (value2, key2) => { 					
					if(this.auditProgramByRefKey['ЛистСамооценки'][key].ВопросДляСамооценки_Key === this.list[key2].ВопросДляСамооценки_Key) {
						this.list[key2]['Вопрос'] = this.auditProgramByRefKey['ЛистСамооценки'][key].ВопросПоставщику;
					
						if(this.list[key2].ОтветПоставщика_Type === "Edm.DateTime") {
							this.list[key2].ОтветПоставщика = this.$options.filters.formateDate(this.list[key2].ОтветПоставщика, 'DD.MM.YYYY');
						}
						if(this.list[key2].ОтветПоставщика_Type === "Edm.Boolean") {
								if(this.list[key2].ОтветПоставщика === "true") {
									this.list[key2].ОтветПоставщика = "да";
								}
								else{this.list[key2].ОтветПоставщика = "нет";}
						}
					}
				});						

			});	
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("audit_program_table"); 
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 					
				this.$set(this.regForm[key], 'value', this.auditProgramByRefKey[key]);						
			});	
			var zaglushka = ""
				if (this.auditProgramByRefKey.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.auditProgramByRefKey.Number) + " от " +  this.$options.filters.formateDate(this.auditProgramByRefKey.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;	
			
			if(this.auditProgramByRefKey['ЛистСамооценки_сам'] && this.auditProgramByRefKey['ЛистСамооценки_сам'].length!= 0){
						let id = document.getElementById("t_2");
						id.disabled = "";
			}
			if(this.auditProgramByRefKey['ПрисоединенныеФайлы'] && this.auditProgramByRefKey['ПрисоединенныеФайлы'].length!= 0){
						let id = document.getElementById("t_3");
						id.disabled = "";
			}
		}
	},
}
</script>