<template>
<div class="card home login-container table_box-shadow" id="main_page">
		<div style="margin-left: 10px;">
			<span class="trigger_span cursor">{{PAGE_NAME.PAGE_NAME_H}}</span> 
			<span style="display:none">Не прочитанных документов </span>
			<span class="new_span" style="top: -6px;" v-if="newMessages.Catalog_ДоговорыКонтрагентов > 0">{{newMessages.Catalog_ДоговорыКонтрагентов}}</span><!--Карта контрагента-->
		</div>
<vs-tabs>  
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business">	<!--Таб 1 - Основное-->
<div style="margin-top: 15px;">
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-type="flex" vs-w="12">
		<div class="card_osnovnoi">
			<div class="form_line_Card nowrap pole_required indent text_grey"><label>{{regForm.ЮридическоеФизическоеЛицо.name}}</label>  <!--Вид контрагента-->
				<button v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'" class="el-button__inner">{{PAGE_NAME.ENTITY}}</button>	<!--Юридическое лицо-->
				<button v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" class="el-button__inner">{{PAGE_NAME.INDIVIDUAL}}</button>	<!--Физическое лицо-->
			</div>	
			<div class="form_line_Card nowrap pole_required text_grey">
				<form-string class="full_name" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'" :disabled="isAllowed()" v-model="regForm.НаименованиеПолное.value" :label="structure.НаименованиеПолное.Синоним"/>	<!--Полное юр. наименование-->
			</div>
			<div class="form_line_Card nowrap pole_required text_grey">
				<form-string class="full_name" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'" :disabled="isAllowed()" v-model="regForm.Description.value" :label="regForm.Description.name"/>	<!--Сокращенное наименование-->
			</div>
			<div class="form_line_Card nowrap pole_required text_grey">
				<form-string v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" :disabled="isAllowed()" v-model="regForm.Description.value" :label="structure.ФИО.Синоним"/>	<!--ФИО-->
			</div>			
			<div class="form_line_Card nowrap pole_required text_grey">
				<form-string v-if="regForm.СтранаРегистрации_Key.value != 'РОССИЯ'" :disabled="isAllowed()" v-model="regForm.НаименованиеМеждународное.value" :label="structure.НаименованиеМеждународное.Синоним"/>	<!--Наименование международное-->
			</div><br>	
			
<template>
<div class="card_undertab">
<vs-tabs>
<vs-tab :label="PAGE_NAME.TABS.TAB1"  icon="business">	<!--ПодТаб 1 - Общие-->
<div>						
	<div class="form_line nowrap pole_required text_grey">
		<form-string :disabled="isAllowed()" v-model="regForm.ИНН.value" :label="structure.ИНН.Синоним"/></div>	<!--ИНН-->
	<div class="form_line nowrap pole_required text_grey" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'">
		<form-string :disabled="isAllowed()" v-model="regForm.КПП.value" :label="structure.КПП.Синоним"/></div>	<!--КПП-->
	<div class="form_line nowrap pole_required text_grey" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ЮридическоеЛицо'">
		<form-string v-if="regForm.КодОГРН.value" :disabled="isAllowed()" v-model="regForm.КодОГРН.value" :label="structure.КодОГРН.Синоним"/>
		<form-string v-else :disabled="isAllowed()" v-model="regForm.РегистрационныйНомер.value" :label="structure.КодОГРН.Синоним"/>
	</div>	<!--ОГРН-->
	<div class="form_line nowrap pole_required text_grey" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'">
		<form-string v-if="regForm.КодОГРНИП.value" :disabled="isAllowed()" v-model="regForm.КодОГРНИП.value" :label="structure.КодОГРНИП.Синоним"/>
		<form-string v-else :disabled="isAllowed()" v-model="regForm.РегистрационныйНомер.value" :label="structure.КодОГРНИП.Синоним"/>
	</div>	<!--ОГРНИП-->
	<div class="form_line nowrap pole_required text_grey" style="display: flex;" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'">
		<form-string :disabled="isAllowed()" v-model="regForm.СвидетельствоСерияНомер.value" :label="structure.СвидетельствоСерияНомер.Синоним"/>	<!--Серия и № свидетельства-->
		<form-date :disabled="isAllowed()" v-model="regForm.СвидетельствоДатаВыдачи.value" :label="structure.СвидетельствоДатаВыдачи.Синоним"/>	<!--Дата выдачи-->
	</div>	
	<div data-v-76e750b9="" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" class="form_line nowrap cursor" style="color: rgb(49, 159, 255); font-size: 16px; margin: 10px 0px 10px 40px;">Документ удостоверяющий личность</div>
	<div class="form_line pole_required text_grey" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" > 
		<form-string :disabled="isAllowed()" v-model="regForm.ДокументУдостоверяющийЛичность.value" :label="regForm.ДокументУдостоверяющийЛичность.name"/></div>	<!--Документ, удостоверяющий личность-->
	<div class="form_line nowrap pole_required text_grey" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'" style="display: flex;">
		<form-string :disabled="isAllowed()" v-model="regForm.ДокументУдостоверяющийЛичностьСерия.value" :label="regForm.ДокументУдостоверяющийЛичностьСерия.name"/>	<!--Серия и № свидетельства-->
		<form-date class="short_pole" :disabled="isAllowed()" v-model="regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.value" :label="regForm.ДокументУдостоверяющийЛичностьДатаВыдачи.name" />	<!--Дата выдачи-->
	</div>	
	<div class="form_line nowrap pole_required text_grey" v-if="regForm.ЮридическоеФизическоеЛицо.value == 'ФизическоеЛицо'">
		<form-string :disabled="isAllowed()" v-model="regForm.РегистрационныйНомер.value" :label="structure.РегистрационныйНомер.Синоним"/></div>	<!--Регистрационный номер-->
	<div class="form_line nowrap pole_required text_grey" v-if="regForm.СтранаРегистрации_Key.value != 'РОССИЯ'">
		<form-string :disabled="isAllowed()" v-model="regForm.НалоговыйНомер.value" :label="structure.НалоговыйНомер.Синоним"/></div>	<!--Налоговый номер-->
	<div class="form_line nowrap pole_required text_grey">
		<form-string :disabled="isAllowed()" v-model="regForm.КодПоОКПО.value" :label="structure.КодПоОКПО.Синоним"/></div>	<!--Код по ОКПО-->
	<div class="text_grey" style="margin-left: 39px;">
		<form-bool :disabled="isAllowed()" v-model="regForm.СубъектМСП.value" :label="structure.СубъектМСП.Синоним"/></div>	<!--Субъект МСП-->
</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.TABS.TAB2"  icon="contact_phone">	<!--ПодТаб 2 - Адреса, телефоны-->
<div>
	<div class="form_line_adress nowrap pole_required text_grey">
		<form-string :disabled="isAllowed()" v-model="regForm.СтранаРегистрации_Key.value" :label="structure.СтранаРегистрации_Key.Синоним"/>	<!--Страна регистрации-->
	</div>	
	<div class="form_line_adress nowrap pole_required text_grey">
		<div class="form_line_Order nowrap text_grey soC_margin textarea_OSC" style="display: flex;margin-top: 3px;">
			<div style="margin: 10px 51px 0 40px;">{{PAGE_NAME.TABS.ADDRESS1}}</div><!--Юридический адрес-->
			<textarea :disabled="isAllowed()" class="el-input__inner" v-model="regForm.ЮрАдресКонтрагента.value" :label="regForm.ЮрАдресКонтрагента.name"/>
		</div>
	</div>	
	<div class="form_line_adress nowrap pole_required text_grey">
		<div class="form_line_Order nowrap text_grey soC_margin textarea_OSC" style="display: flex;margin: 6px 0 3px;">
			<div style="margin: 10px 58px 0 40px;">{{PAGE_NAME.TABS.ADDRESS2}}</div><!--Фактический адрес-->
			<textarea :disabled="isAllowed()" class="el-input__inner" v-model="regForm.ФактАдресКонтрагента.value" :label="regForm.ФактАдресКонтрагента.name"/>
		</div>	
	</div>	
	<div class="form_line_adress nowrap pole_required text_grey">
		<form-string :disabled="isAllowed()" v-model="regForm.EmailКонтрагента.value" :label="regForm.EmailКонтрагента.name"/>	<!--Электронная почта-->
	</div>	
	<div class="form_line_adress nowrap pole_required text_grey">
		<form-string :disabled="isAllowed()" v-model="regForm.ТелефонКонтрагента.value" :label="regForm.ТелефонКонтрагента.name"/>	<!--Номер телефона-->
	</div>	
	<div class="form_line_adress nowrap pole_required text_grey">
		<form-string :disabled="isAllowed()" v-model="regForm.ФаксКонтрагенты.value" :label="regForm.ФаксКонтрагенты.name"/>	<!--Факс-->
	</div>							
</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.TABS.TAB3"  icon="class">	<!--ПодТаб 3 - Классификатор видов деятельности-->
<div>	
	<vs-table class="text_grey" hoverFlat search :data="classifier">
	  <template slot="thead">
		<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.TABS.COLUMN1}}</vs-th>	<!--№-->
		<vs-th sort-key="Код" style="padding:15px;">{{PAGE_NAME.TABS.COLUMN2}}</vs-th>	<!--Код ОКВЭД2-->
		<vs-th sort-key="Наименование" style="padding:15px;">{{PAGE_NAME.TABS.COLUMN3}}</vs-th>	<!--Наименование-->
		<vs-th></vs-th>
	  </template>
	  <template slot-scope="{data}">
	   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
		<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
		<vs-td :data="data[indextr].Код">{{data[indextr].Код}}</vs-td>
		<vs-td :data="data[indextr].Наименование">{{data[indextr].Наименование}}</vs-td>
	   </vs-tr>
	  </template>
	</vs-table>
</div>
</vs-tab>      
</vs-tabs>
</div>
</template>	

		</div>		
	  </vs-col>
	</vs-row>
</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="credit_card">	<!--Таб 2 - Банковские счета-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="accounts">
		  <template slot="thead">
			<vs-th sort-key="Description" style="padding:15px;">{{PAGE_NAME.BANK.BANK1}}</vs-th>	<!--Наименование-->
			<vs-th sort-key="Валюта_Key" style="padding:15px;">{{PAGE_NAME.BANK.BANK2}}</vs-th>	<!--Валюта-->
			<vs-th sort-key="НомерСчета" style="padding:15px;">{{PAGE_NAME.BANK.BANK3}}</vs-th>	<!--Номер счета-->
			<vs-th></vs-th>
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].Description">{{data[indextr].Description}}</vs-td>
			<vs-td :data="data[indextr].Валюта_Key">{{data[indextr].Валюта_Key}}</vs-td>
			<vs-td :data="data[indextr].НомерСчета">{{data[indextr].НомерСчета}}</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="recent_actors">	<!--Таб 3 - "Договоры контрагентов-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table @dblSelection="showAgreement" class="text_grey" hoverFlat search :data="contract">
		  <template slot="thead">
			<vs-th sort-key="Code">{{PAGE_NAME.CONTRACT.CONTRACT1}}</vs-th>	<!--Код-->
			<vs-th sort-key="Description">{{PAGE_NAME.CONTRACT.CONTRACT2}}</vs-th>	<!--Наименование-->
			<vs-th sort-key="НомерДоговора">{{PAGE_NAME.CONTRACT.CONTRACT3}}</vs-th>	<!--№ договора-->
			<vs-th sort-key="Валюта_Key">{{PAGE_NAME.CONTRACT.CONTRACT4}}</vs-th>	<!--Валюта расчетов-->
			<vs-th sort-key="ДатаДоговора">{{PAGE_NAME.CONTRACT.CONTRACT5}}</vs-th>	<!--Дата договора-->
			<vs-th sort-key="РасчетыВУсловныхЕдиницах">{{PAGE_NAME.CONTRACT.CONTRACT6}}</vs-th>	<!--Расчеты в условных единицах-->
			<vs-th></vs-th>
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr  :data="tr"  :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
			<vs-td :data="data[indextr].Code">{{data[indextr].Code}}</vs-td>
			<vs-td :data="data[indextr].Description">{{data[indextr].Description}}</vs-td>
			<vs-td :data="data[indextr].НомерДоговора" style="padding-left:3%;">{{data[indextr].НомерДоговора | removeZeroes}}</vs-td>
			<vs-td :data="data[indextr].Валюта_Key" style="padding-left:3%;">{{data[indextr].Валюта_Key}}</vs-td>
			<vs-td :data="data[indextr].ДатаДоговора" style="padding-left:2%;">{{data[indextr].ДатаДоговора | formateDate('DD.MM.YYYY')}}</vs-td>
			<vs-td style="padding-left:3%;"><form-bool :disabled="isAllowed()" v-model="data[indextr].РасчетыВУсловныхЕдиницах" initactive="false"/></vs-td>
			<vs-td><span @click="sendMessage(data[indextr].Ref_Key, $options.filters.removeZeroes(data[indextr].НомерДоговора))"  class="korzina korzina5" :data-description="PAGE_NAME.ADD_INFORM"><!--Задать вопрос-->
				<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span>
			</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="contact_phone">	<!--Таб 4 - Контактные лица-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="contact">
		  <template slot="thead">
			<vs-th sort-key="Description" style="padding:15px;">{{PAGE_NAME.CONTACT.CONTACT1}}</vs-th>	<!--ФИО-->
			<vs-th sort-key="аДолжностьСтрокой" style="padding:15px;">{{PAGE_NAME.CONTACT.CONTACT2}}</vs-th>	<!--Должность-->
			<vs-th sort-key="Почта" style="padding:15px;">{{PAGE_NAME.CONTACT.CONTACT3}}</vs-th>	<!--E-mail-->
			<vs-th sort-key="Телефон" style="padding:15px;">{{PAGE_NAME.CONTACT.CONTACT4}}</vs-th>	<!--Телефон-->
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].Description">{{data[indextr].Description}}</vs-td>
			<vs-td :data="data[indextr].аДолжностьСтрокой">{{data[indextr].аДолжностьСтрокой}}</vs-td>
			<vs-td :data="data[indextr].Почта">{{data[indextr].Почта}}</vs-td>
			<vs-td :data="data[indextr].Телефон">{{data[indextr].Телефон}}</vs-td>			
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME5"  icon="category">	<!--Таб 5 - Товарные категории-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="product">
		  <template slot="thead">
			<vs-th sort-key="ТоварнаяКатегория_Key" style="width: 15%;" class="nowrap">{{PAGE_NAME.GOODS.GOODS1}}</vs-th>	<!--Товарная категория-->
			<vs-th sort-key="СостояниеАккредитации" style="width: 40%;padding: 0 15%;" class="nowrap">{{PAGE_NAME.GOODS.GOODS2}}</vs-th>	<!--Состояние аккредитации-->
			<vs-th sort-key="Period" style="width: 20%;" class="nowrap">{{PAGE_NAME.GOODS.GOODS3}}</vs-th>					<!--Период с-->
			<vs-th sort-key="ПериодПо" style="width: 25%;" class="nowrap">{{PAGE_NAME.GOODS.GOODS4}}</vs-th>				<!--Период по-->
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :data="tr"  :key="indextr" v-for="(tr, indextr) in data">
			<vs-td class="cursor" :data="data[indextr].ТоварнаяКатегория_Key" style="padding-left: 2%;">{{data[indextr]['@attributes'].ТоварнаяКатегория}}</vs-td>
			<vs-td class="cursor" :data="data[indextr].СостояниеАккредитации" :class="colorCardStatus(data[indextr]['@attributes'].СостояниеАккредитации)">{{data[indextr]['@attributes'].СостояниеАккредитации}}</vs-td>
			<vs-td class="cursor" :data="data[indextr].Period" style="padding-left: 1%;">{{data[indextr]['@attributes'].ПериодДействияС | formateDate('DD.MM.YYYY')}}</vs-td>	
			<vs-td class="cursor" :data="data[indextr].ПериодПо">{{data[indextr]['@attributes'].ПериодДействияПо | formateDate('DD.MM.YYYY')}}<span v-if="data[indextr]['@attributes'].ПериодДействияПо === ''">Бессрочно</span></vs-td>		
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME6"  icon="assignment">	<!--Таб 6 - Анкета поставщика-->
	<vs-row>
	  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
	    <template>
		<div class="table_box-shadow-2">
		<vs-table  @dblSelection="showDetails" hoverFlat search :data="ankets">
		 <template slot="thead">
			<vs-th sort-key="Number" style="width: 10%;">{{PAGE_NAME.ANKETA.ANKETA1}}</vs-th>	<!--№-->
			<vs-th sort-key="Date" style="width: 10%;">{{PAGE_NAME.ANKETA.ANKETA2}}</vs-th>	<!--Дата-->
			<vs-th sort-key="СтатусАнкеты" style="width: 25%;padding: 0 7%;">{{PAGE_NAME.ANKETA.ANKETA3}}</vs-th>	<!--Статус анкеты-->
			<vs-th sort-key="ИНН" style="width: 20%;">{{PAGE_NAME.ANKETA.ANKETA4}}</vs-th>	<!--ИНН-->
			<vs-th sort-key="КПП" style="width: 20%;">{{PAGE_NAME.ANKETA.ANKETA5}}</vs-th>	<!--КПП-->
			<vs-th sort-key="НаименованиеСокращенное" style="width: 20%;">{{PAGE_NAME.ANKETA.ANKETA6}}</vs-th>	<!--Название организации-->
			<vs-th></vs-th>
		 </template>
	 	<template slot-scope="{data}">
		   <vs-tr  :data="tr"  :key="indextr" v-for="(tr, indextr) in data" :class="{'colorRead':data[indextr].Непрочитано}">
			<vs-td :data="data[indextr].Number">{{data[indextr].Number | removeZeroes}}</vs-td>
			<vs-td :data="data[indextr].Date">{{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
			<vs-td :data="data[indextr].СтатусАнкеты" :class="colorCardStatus(data[indextr].СтатусАнкеты)">{{data[indextr].СтатусАнкеты}}</vs-td>
			<vs-td :data="data[indextr].ИНН">{{data[indextr].ИНН}}</vs-td>
			<vs-td :data="data[indextr].КПП">{{data[indextr].КПП}}</vs-td>
			<vs-td :data="data[indextr].КПП">{{data[indextr].НаименованиеСокращенное}}</vs-td>
			<vs-td><span @click="sendMessage2(data[indextr].Ref_Key, $options.filters.removeZeroes(data[indextr].Number))"  class="korzina korzina5" :data-description="PAGE_NAME.ADD_INFORM"><!--Задать вопрос-->
				<vs-icon style="color: #1890ff;font-size: 23px;position: relative;top: 0.1em;" icon="textsms"></vs-icon></span>
			</vs-td>
		   </vs-tr>
		 </template>
		</vs-table>
		</div>
		</template> 
	  </vs-col>
	</vs-row>
</vs-tab>

<!--<vs-tab label="Документы">
    <div class="table_box-shadow">
	<vs-row>
	  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
		<table cellspacing="0" cellpadding="0" border="0" class="text_grey small">
		  <thead><tr style="background: #f5f7fa;"><th style="padding:10px;">Файл</th>
			<th style="padding:10px;">Вид документа</th>
			<th style="padding:10px;">Дата создания</th></tr>
		  </thead><tbody><tr>
		    <td style="padding:15px;">Анкета поставщика</td>
			<td style="padding:15px;">docx</td>
			<td style="padding:15px;">28.06.2019 10:20:16</td></tr>			  
		</tbody></table>
	  </vs-col>
	</vs-row>
</div>
</vs-tab>-->
</vs-tabs>
<vs-prompt class="card_popup" :accept-text="this.PAGE_NAME.ACCEPT" :cancel-text="this.PAGE_NAME.CANCEL" :title="this.PAGE_NAME.TITLE" @cancel="" @accept="acceptSendMessage" @close="" :active.sync="showSendMessagePromt"><!--Отправить/Отмена/Отправить сообщение-->	
	<send-message ref="promtBody" :type="selectedType"  :title="sendMessageTitle" :ref-key="selectedRef"  />
</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
import Style from '@/components/css/Style.css'									//импорт Стилей
import Send_Message from '@/components/partials/messages/Send_message'
import String from '@/components/form_poles/String'								//импорт Инпута
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail} from '@/components/utils/validate'//импорт Валидации
import {colorCardStatus} from '@/components/utils/string_functions'		//импорт string_functions (разделение слов, переименовка, формат даты, присвоение цвета рамок в таблицах)
import RegFormCoNstants from '@/constants/constants_pages/card'	//импорт self_assessment_sheet (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				ЮридическоеФизическоеЛицо: {
					value:'',
					requred:true,
					name: 'Вид контрагента:',
					disabled: true
				},
				НаименованиеПолное: {
					value:'',
					requred:true,
					name: 'Полное юридическое наименование:',
					disabled: true
				},
				Description: {
					value:'',
					requred:true,
					name: 'Сокращенное наименование:',
					disabled: true
				},
				НаименованиеМеждународное: {
					value:'',
					requred:true,
					name: 'Наименование международное:',
					disabled: true
				},
				ИНН: {
					value:'',
					requred:true,
					name: 'ИНН:',
					disabled: true
				},
				КПП: {
					value:'',
					requred:true,
					name: 'КПП:',
					disabled: true
				},
				КодОГРН: {
					value:'',
					requred:true,
					name: 'ОГРН:',
					disabled: true
				},
				КодОГРНИП: {
					value:'',
					requred:true,
					name: 'ОГРНИП:',
					disabled: true
				},
				СвидетельствоСерияНомер: {
					value:'',
					requred:true,
					name: 'Серия и № свидетельства:',
					disabled: true
				},	
				СвидетельствоДатаВыдачи: {
					value:'',
					requred:true,
					name: 'Дата выдачи:',
					disabled: true
				},	
				ДокументУдостоверяющийЛичность: {
					value:'',
					requred:true,
					name: 'Документ:',
					disabled: true
				},
				ДокументУдостоверяющийЛичностьСерия: {
					value:'',
					requred:true,
					name: 'Серия документа:',
					disabled: true
				},
				ДокументУдостоверяющийЛичностьДатаВыдачи: {
					value:'',
					requred:true,
					name: 'Дата выдачи:',
					disabled: true
				},	
				РегистрационныйНомер: {
					value:'',
					requred:true,
					name: 'Регистрационный номер:',
					disabled: true
				},
				НалоговыйНомер: {
					value:'',
					requred:true,
					name: 'Налоговый номер:',
					disabled: true
				},
				КодПоОКПО: {
					value:'',
					requred:true,
					name: 'Код по ОКПО:',
					disabled: true
				},
				СубъектМСП: {
					value:'',
					requred:true,
					name: 'Субъект МСП',
					disabled: true
				},				
				СтранаРегистрации_Key: {
					value:'',
					requred:true,
					name: 'Страна регистрации:',
					disabled: true
				},
				ЮрАдресКонтрагента: {
					value:'',
					requred:true,
					name: 'Юридический адрес:',
					disabled: true
				},
				ФактАдресКонтрагента: {
					value:'',
					requred:true,
					name: 'Фактический адрес:',
					disabled: true
				},
				EmailКонтрагента: {
					value:'',
					requred:true,
					name: 'Электронная почта:',
					disabled: true
				},
				ТелефонКонтрагента: {
					value:'',
					requred:true,
					name: 'Номер телефона:',
					disabled: true
				},
				ФаксКонтрагенты: {
					value:'',
					requred:true,
					name: 'Факс:',
					disabled: true
				},
			},
			structure: {
				ЮридическоеФизическоеЛицо:{
					Enum:{
						Member:[]
					}
				},
				СтранаРегистрации_Key:{
					Синоним:'',
					Description:''
				},
				ИНН:{
					Синоним:''
				},
				КПП:{
					Синоним:''
				},
				РегистрационныйНомер:{
					Синоним:''
				},
				ФИО:{
					Синоним:''
				},
				НалоговыйНомер:{
					Синоним:''
				},
				СвидетельствоСерияНомер:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичностьСерия:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичностьДатаВыдачи:{
					Синоним:''
				},
				СвидетельствоДатаВыдачи:{
					Синоним:''
				},
				ДокументУдостоверяющийЛичность:{
					Синоним:''
				},
				НаименованиеМеждународное:{
					Синоним:''
				},
				КодОГРН:{
					Синоним:''
				},
				КодОГРНИП:{
					Синоним:''
				},
				КодПоОКПО:{
					Синоним:''
				},
				СубъектМСП:{
					Синоним:''
				},	
				НаименованиеПолное:{
					Синоним:''
				},
				НаименованиеСокращенное:{
					Синоним:''
				},
				ГородСтранаМеждународный:{
					Синоним:''
				},
				АдресМеждународный:{
					Синоним:''
				},				
				НомерТелефона:{
					Синоним:''
				},
				Факс:{
					Синоним:''
				},				
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,	
			CompanyData:[],
			ankets: [],
			accounts: [],
			contract: [],
			contact: [],
			product: [],
			classifier: [],
			showSendMessagePromt:false,
			sendMessageTitle:"",
			selectedType:"",
			selectedRef:"",
			userInfo: {},
			newMessages: {},
			colorCardStatus: colorCardStatus,
  }
},
	mounted: function() {
		this.$refs.mainLoader.Show();
		this.getStructure().then(
			() => {					
					this.GetRequestCompanyData();
					this.getAnketsByUser();
					this.isAuthorized();
			}
		);
	},
	components:{
		"form-bool":Bool,
		"form-string":String,
		"form-date":Date,
		"send-message":Send_Message
	},
	methods: {
		//Получение данных по структуре Карточки
		getStructure: function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Catalog_Контрагенты'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';				
			});
		},
		//Получение данных по Карточки
		GetRequestCompanyData: function() {	
				axios.post('/api/base/?action=GetCardContractorByUser') 
				.then((response) => {
					this.CompanyData = response.data.result[0];
				}).then(
					() => {
						this.loadData();
						this.getAccounts();		
						this.getContract();	
						this.getContact();
						this.getProduct();
						this.getUnreadElements();
						this.getClassifier();
						document.getElementById('preloader_inner').style.display = 'none';
						this.$refs.mainLoader.Hide();
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		    },
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
					if(key === 'СвидетельствоДатаВыдачи' || key === 'ДокументУдостоверяющийЛичностьДатаВыдачи'){
						this.regForm[key].value = this.$options.filters.formateDate(this.CompanyData[key], 'DD.MM.YYYY');
					}
					else {
						this.$set(this.regForm[key], 'value', this.CompanyData[key]);
					}
			});			
		},
		//Получение данных по Анкете
		getAnketsByUser: function(){
			axios({
					method: 'post',
					url: '/api/base/?action=GetAnketsByUser'
				}).then(
					(response) => {
					this.ankets = response.data.result;
				});
		},
		//Непрочитанное сообщение в Дог.по контрагентам
		getUnreadElements: function(){
				return axios.post('/api/base/?action=GetUnreadElements&type=catalog') 
					.then((response) => {
						this.newMessages = response.data.result;
						
					});
		},
		//Запись данных в таблицу Банковские счета
		getAccounts: function(){
			this.accounts  = this.CompanyData['БанковскиеСчета'];					
		},
		//Всплывающее окно по сообщениям
		acceptSendMessage: function(){
			this.$refs.promtBody.sendMessage(true)			
		},
		//Отправка сообщения в месенджер по Договору
		sendMessage: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "Договор"
			this.sendMessageTitle = "Тема: сообщение по договору №"+ this.$options.filters.removeZeroes(num)
		},
		//Отправка сообщения в месенджер по Анкете
		sendMessage2: function(ref, num){
			this.showSendMessagePromt = true;
			this.selectedRef = ref;
			this.selectedType = "Анкета"
			this.sendMessageTitle = "Тема: сообщение по анкете №"+ this.$options.filters.removeZeroes(num)
		},
		//Запись данных в таблицу Договоры контрагентов
		getContract: function(){
			this.contract  = this.CompanyData['ДоговорыКонтрагентов'];					
		},
		//Запись данных в таблицу Контактные лица
		getContact: function(){
			this.contact  = this.CompanyData['КонтактныеЛица'];					
		},
		//Запись данных в таблицу Товарная категория
		getProduct: function(){
			axios({
				method: 'post',
				url: '/api/base/?action=AccreditationStatus'
			}).then(
				(response) => {
					this.product = response.data.result;
				});								
		},
		//Запись данных в таблицу ОКВЭД2
		getClassifier: function(){
			this.classifier  = this.CompanyData['ОКВЭД2'];					
		},
		//Получение данных по пользователю	
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});	
		},
		//Открытие Анкеты поставщика на просмотр
		showDetails: function(tr){
			this.$router.push("anketa_profile?ref="+tr.Ref_Key+"&mode=open&from=card");
		},
		//Открытие Договора контрагентов на просмотр
		showAgreement: function(tr){
			this.$router.push("partner_contract?ref="+tr.Ref_Key);
		},
		//Открытие Анкеты(последний таб)
		openAs: function(mode){
			this.$router.push("partner_contract?ref=" + this.ankets[this.ankets.length - 1].Ref_Key+"&mode=" + mode);
		}
},
}
</script>

<style scoped>
.vs-table--tbody-table .tr-values td {
	padding-left: 20px;
}
</style>