<template>
  <div class="home login-container" style="background: none;">
    <pre-loader ref="mainLoader"></pre-loader>
      <!--
    <template  v-for="(graph,key) in dashboardData.grafik">
      <div  :key="key" class="graph_wrap">
         <p class="grey_h" style="text-align:center">{{graph.name}}</p>
         <div :id="'chartdiv' + key" class="graph-wrapper" style="height: 390px;"></div>
      </div>
    </template>
  
     <template  v-for="(table,key) in dashboardData.tablica">
        <div  :key="'wrap' + key" class="div_table">
          <p class="grey_h" style="text-align:center">{{table.name}}</p>
		  <div class="table_rt">
          <table class="report_table" border=1>
            <tr>
                <th :key="key2" v-for="(column,key2) in table.data.column">{{column.value}}</th>
            </tr>
            <template  v-for="(row,key3) in table.data.row">
            <tr :class="'report_table__main_tr ' +'report_table__main_tr_row' + key + '-' + key3 " @click="toggleExpand('tr-expand-' + key + '-' + key3,'report_table__main_tr_row' + key + '-' + key3 )" :key="'tr1' + key3">
                <td  v-if="row.row" >
					<svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
				</td>
                <td :key="'td' + key4" v-for="(cell,key4) in row.value">{{cell}}</td>
            </tr>
            <tr v-if="row.row" :key="'tr2' + key3" :class="'tr-expand ' +'tr-expand-' + key + '-' + key3">
              <td :colspan="row.value.length">
                <table class="expand_table" border=0>
                <tr :key="'td' + key4" v-for="(expand,key4) in row.row">
                    <td :key="key" v-for="(expandtd,key) in expand">{{expandtd}}</td>
                </tr>
                </table>
              </td>
            </tr>
            
            </template>
          </table>
       
     
		  </div>		  
         </div>
          
           
     </template>
      -->
      <iframe v-if="dashboardData2" id="board" :srcdoc="dashboardData2" style="width:100%; height:1000px"></iframe>
      
    
      <!--<file-upload v-model="fileArray" v-if="anketaDataByRef['ПрисоединенныеФайлы']" :oldFiles="anketaDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_АнкетаПоставщика"></file-upload>-->

  </div>
</template>
<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
const axios = require('axios');
import Vue from 'vue';
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Style from '@/components/css/Style.css'								//импорт Стилей
import CatalogMultiple from '@/components/form_poles/Catalog_multiple'		//импорт Catalog_multiple
import RegFormCoNstants from '@/constants/constants_pages/home'				//импорт home (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Home',
  data () {
    return {
      msg: 'Welcome to Your Vue.js App',
      PAGE_NAME: RegFormCoNstants.PAGE_NAME,
      dashboardData: {},
      dashboardData2: "",
    }
  },
  mounted:function(){
    document.getElementById('preloader_inner').style.display = 'none';
    this.isAuthorized().then(
       () =>{
         if(this.loadData()){
          this.loadData().then(
              () =>{
                _.forEach(this.dashboardData.grafik, (value, key) => { 
                    // this.drawDonutChart(value.data,key);
                    });
                  }
          );
        }
       }
    );
    
    
    
  },
  components:{
	},
  methods:{
	//Загрузка данных
    loadData: function(){
        ///api/base/?action=ReportDashboardTest
        if(this.userInfo.name){
        this.$refs.mainLoader.Show();
          axios({
            method: 'post',
            url: '/api/base/?action=ReportDashboardTest'
          }).then((response) => {
            this.dashboardData = response.data.result;
            this.title =  response.data.title;
          })
          return axios({
            method: 'post',
            url: '/api/base/?action=ReportDashboardDesktop'
          }).then((response) => {
            this.dashboardData2 = response.data.result;
            this.$refs.mainLoader.Hide();
          })
        }
    },
    isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});
				
			
    },	
	/*
	toggleExpand: function(cssClass,rowClass){
      let elem = document.getElementsByClassName(cssClass)[0];
      let row = document.getElementsByClassName(rowClass)[0];
      if(elem.style.display === "" || elem.style.display ==='none'){
        elem.style.display = 'table-row';
        row.firstChild.outerHTML = '<td style="background: #e3eafa;border-right: 1px solid #e3eafa;"><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7.41 8.59L12 13.17l4.59-4.58L18 10l-6 6-6-6 1.41-1.41z"/><path fill="none" d="M0 0h24v24H0V0z"/></svg></td>';
      }
      else{
        elem.style.display = 'none';
        row.firstChild.outerHTML = '<td style="background: #e3eafa;border-right: 1px solid #e3eafa;"><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6z"/><path d="M0 0h24v24H0z" fill="none"/></svg></td>';
      }
     // this.checked(cssClass);
    },
    renderTable: function(id){
      let tableTemplate ="";
      tableTemplate += "<div class='table_wrapper'>";
      tableTemplate += "<div class='table_header'><div @click='showChilds' class='table__row'>";
      _.forEach(this.dashboardData.tablica[id].data.column, (value, key) => { 
        tableTemplate += "<span>" + value.value + "</span>";
      });
      tableTemplate += "</div></div>";
        //отрисовываем 0 уровень;
        tableTemplate += "<div class=''><div class='table__row'>";
        _.forEach(this.dashboardData.tablica[id].data.row.value, (value, key) => { 
          tableTemplate += "<span>" + value + "</span>";
        });
        tableTemplate += "</div>";
        //проверяем если ли ещё уровень
        if(this.checkRow(this.dashboardData.tablica[id].data.row.row)){
           _.forEach(this.dashboardData.tablica[id].data.row.row, (value, key) => {
             //отрисовываем первый уровень
            tableTemplate += "<div class='row_child'>"
            _.forEach(value.value, (value1, key) => { 
              tableTemplate += "<span>" + value1 + "</span>";
            });
              //проверяем если ли ещё уровень
            if(this.checkRow(value.row)){
              _.forEach(value.row, (value2, key2) => {
                tableTemplate += "<div class='row_child'>"
                _.forEach(value2.value, (value, key) => { 
                  tableTemplate += "<span>" + value + "</span>";
                });
                if(this.checkRow(value2.row)){
                  _.forEach(value2.row, (value3, key3) => {
                    tableTemplate += "<div class='row_child'>"
                  _.forEach(value3.value, (value, key) => { 
                    tableTemplate += "<span>" + value + "</span>";
                  });
                  if(this.checkRow(value3.row)){
                    _.forEach(value2.row, (value4, key4) => {
                      tableTemplate += "<div class='row_child'>"
                    _.forEach(value4.value, (value, key) => { 
                      tableTemplate += "<span>" + value + "</span>";
                    });
                    tableTemplate += "</div>";
                    });
                  }
                  tableTemplate += "</div>";

                  //проверяем если ли ещё уровень
 
                  
                  });
                  
                }
                tableTemplate += "</div>";
                //проверяем если ли ещё уровень
 
                
                
             });
            tableTemplate += "</div>";
          
              
            };
          });
         
        }
        tableTemplate += "</div>";

        

      tableTemplate += "</div>"
      tableTemplate += "</div>";
      return tableTemplate;
    },
    checkRow: function(arr){

      return true;
    },
 

    showChilds: function(elemClass){

        let element = document.getElementsByClassName(elemClass);
     
          for (var i = 0; i < element[0].childNodes.length; i++) {
     
            if(element[0].childNodes[i].classList){
              element[0].childNodes[i].classList.toggle("active");
            }
            
          }


    },
    checked: function(cssClass){
      console.log(cssClass);
      let elem = document.getElementsByClassName(cssClass)[0];
      if(elem){
        if(elem.style.display === "" || elem.style.display ==='none'){
          return true;
        }
        else{
          return false;
        }
      }
      else{
        return false;
      }
    },
    drawDonutChart: function(reportData,key){
			am4core.ready(function() {
				// Themes begin
				am4core.useTheme(am4themes_animated);
				var chart = am4core.create("chartdiv" +key, am4charts.PieChart);
				chart.data = reportData;
				// Set inner radius
				chart.innerRadius = am4core.percent(10);
				// Add and configure Series
				var pieSeries = chart.series.push(new am4charts.PieSeries());
				pieSeries.dataFields.value = "value";
				pieSeries.dataFields.category = "country";
				pieSeries.slices.template.stroke = am4core.color("#fff");
				pieSeries.slices.template.strokeWidth = 2;
				pieSeries.slices.template.strokeOpacity = 1;

				// This creates initial animation
				pieSeries.hiddenState.properties.opacity = 1;
				pieSeries.hiddenState.properties.endAngle = -90;
				pieSeries.hiddenState.properties.startAngle = -90;

			}); 
		}*/
  }
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.expand_table{
  width:100%;
  text-align: center;
}
.report_table__main_tr{
  cursor: pointer;
}
.div_table{
  padding: 0px 10px 10px;
}
.table_rt{
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  padding: 6px 15px;
  padding: 0 10px 10px;
  max-width: fit-content;
  margin: auto;
}
.row_1{
  background: #483D8B;
}
.row_2{
  background: rgb(136, 127, 194);
}
.row_3{
  background: rgb(179, 170, 238);
}
.report_table{
  text-align: center;
  font-size: .8rem;
  border-collapse: collapse;
}
.report_table td, .expand_table td{
  padding: 10px 0;
  border: 0px;
}
.report_table tr, .expand_table tr{
  height: 30px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  border: 1px solid #dcdfe6;
  padding: 6px 15px;
  border-right: 2px solid #ffffff;
  border-left: 2px solid #ffffff;
  border-top: 1px solid #dcdfe6;
}
.report_table tr th{
  font-weight: normal;
  color: #a1a1a1;
  font-family: system-ui;	
  text-align: center;
  border-top: 1px solid #ffffff;
}


.expand_table tr td{
  color: #483D8B;
  font-size: .8rem;
  font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
  background: #f9f9f9;  
}
.graph_wrap,.graph-wrapper{
  display:inline-block;
  width: 1000px;
}
.tr-expand{
  display: none;
}
.row_child{
  display: none;
}
.row_child.active{
  display: block;
}
.grey_h{
  padding: 12px 11px 0px;
  font-weight: bolder;
  line-height: 1.5;
  font-size: 34px;
  color: #535c69;
}
</style>
