<template>
<div class="login-container" id="reg_form">
	<div class="el-form login-form">
		<div class="title-container"><h3 class="title cursor">{{LOGIN.AUTHORIZATION}}</h3></div><!--Авторизация-->
		<div class="el-form-item__content">
			<div class="el-form-item is-success el-form-item--medium">
				<input tabindex="1" type="text" v-model="loginForm.username" placeholder="Username" name="username" class="el-input__inner">
			</div>
		</div>
		<div class="el-form-item__content">
			<div class="el-form-item is-success el-form-item--medium">	
				<input tabindex="1" v-model="loginForm.password" placeholder="Password" name="password" class="el-input__inner">
				<div class="error_text" v-if="error"><span>{{error}}</span></div>
			</div>
		</div>
		<button type="button" @click="tryLogin" class="el-button el-button--primary el-button--medium" style="width: 100%; margin-bottom: 30px; margin-left:0px">
			<vs-icon icon="input" style="bottom: 3px;position: relative;"></vs-icon>
			<span style="bottom: 9px;position: relative;">{{LOGIN.LOGIN1}}</span><!--Войти-->
		</button>
		<span class="restore_password" @click="restorePasswordPopUp">{{LOGIN.PAROLE}}</span><!--Забыли пароль?-->
	</div>
	 <vs-prompt accept-text="отправить" cancel-text="отмена" title="Восстановление доступа" @accept="restorePassword" @close="" :active.sync="restorePopUpShown">	
		<input class="el-input__inner_popup" type="text" v-model="email" placeholder="Email" />
    </vs-prompt>
</div>
</template>

<script>
const axios = require('axios');
import RegFormCoNstants from '@/constants/constants_pages/login'	//импорт login (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
	name :"Login",
		data () {
		return {
			loginForm:{
			username: '',
			password: '',
			
		},
		restorePopUpShown: false,
		LOGIN: RegFormCoNstants.LOGIN,
		error : "",
		restoreError : "",
		email : ""
		}
	},
  mounted: function() {
		document.getElementById('preloader_inner').style.display = 'none';
	},
	created:function(){
		this.$vs.notify = "";
	},
  methods: {
		//Авторизация
		restorePasswordPopUp: function(){
			this.restorePopUpShown = true;
		},		
		//Восстанавливаем пароль
		restorePassword: function(){
			if(this.email){
				var dataToSend = new FormData();
				dataToSend.set("EMAIL", this.email);
				axios({
					method: 'post',
					url: '/api/base/?action=SendPassword',
					data: dataToSend
				}).then((response) => {
					if(response.data.status === "error"){
						this.restoreError = response.data.result;	
					}
					this.showErrors(this.restoreError);
				});
			}
			else{
				this.restoreError = "Не указан адрес";
				this.showErrors(this.restoreError);	
			}			
		},
		//Указывает на ошибку, что не удалось выполнить вход в систему
		showErrors: function(error){	  
			if(this.restoreError.length){
				this.$vs.notify({title:'Ошибка',text:this.restoreError,color:'danger', fixed:true})
			}
			else{
				this.$vs.notify({title:'Выполнено',text:"Сброс пароля прошёл успешно",color:'success', fixed:true})
			}
			this.restoreError = "";
		},
		//Вход в систему
		tryLogin: function(){
			  
			var dataToSend = new FormData();
			dataToSend.set('username', this.loginForm.username);
			dataToSend.set('password',this.loginForm.password);
			
				axios({
				method: 'post',
				url: '/api/base/?action=UserLogin',
				data: dataToSend
			}).then((response) => {
				if(response.data.result == "OK"){
					this.$router.push('/'); 
				}

			}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						this.$vs.notify({title:'Ошибка авторизации',text:'неверный логин/пароль',color:'#fb0000', fixed:true})
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				});
		
		},
  }
}
</script>


<style scoped>
.restore_password {
    color: white;
    text-decoration: underline;
	font-size: 12px;
	cursor: pointer;
	margin-left: 348px;
    font-size: 13px;
}
.restore_password:hover {
    text-decoration: none;
}
  .login-container{
	min-height: 100%;
    width: 100%;
    background-color: #2d3a4b;
    overflow: hidden;
	position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 0;
  }
  .login-container .login-form{
		position: relative;
		width: 520px;
		max-width: 100%;
		padding: 160px 35px 0;
		margin: 0 auto;
		overflow: hidden;
	}
	.login-container .title-container{
		position: relative;
	}
	.login-container .title-container .title{
		font-size: 26px;
		color: #eee;
		margin: 0px auto 40px auto;
		text-align: center;
		font-weight: bold;
	}
	.login-container .el-input {
		display: inline-block;
		height: 47px;
		width: 85%;
	}
	.el-input--medium {
		font-size: 14px;
	}
	.el-input {
		position: relative;
		font-size: 14px;
		display: inline-block;
		width: 100%;
	}
	.login-container .el-input input {
		background: transparent;
		border: 0px;
		-webkit-appearance: none;
		border-radius: 0px;
		padding: 12px 5px 12px 15px;
		color: #fff;
		height: 47px;
		caret-color: #fff;
	}
	.el-input__inner {
		width: 100%;
		padding: 18px;
		border: 1px solid rgba(255, 255, 255, 0.1);
		background: rgba(0, 0, 0, 0.1);
		border-radius: 5px;
		color: white;
		background: #283443;
	}
.el-input__inner_popup{
    width: 100%;
    height: 30px;
    margin: 0;
    padding: 0 12px;
    font-size: 15px;
    background: transparent;
    box-sizing: border-box;
    font-family: Helvetica, Arial, sans-serif;
    line-height: 20px;
    font-weight: 400;
    flex-grow: 1;
    transition: border-color 0.3s;
    border-style: solid;
    border-width: 1px;
    border-color: #E0E0E0;
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
} 
	.el-form-item.is-success.el-form-item--medium {
		margin: 0 0 30px 0;
	}
	button.el-button.el-button--primary.el-button--medium {
		background: #1682e6;
		border-color: #1682e6;
		color: #FFFFFF;
		outline: none;
		height: 40px;
		font-size: 16px;
	}
	.error_text{
		color: #a41212;
		background: #f8f8f8;
		text-align: center;
		padding: 5px;
		margin: 10px 0;
		position: relative;
		top: 10px;
	}
</style>
