<template>
<div class="mess">
<div class="chat_wrapper">	
   <div class="chat_list cursor">
      <h2>{{PAGE_NAME.PAGE_NAME1}}</h2><!--Сообщения-->
	  <span class="korzina korzina6 korzina_text" :data-description="PAGE_NAME.TEMA"><vs-icon @click="addChart()" icon="control_point"></vs-icon></span><!--Добавить тему-->
   </div>
<!--Меню слева-->   
<div class="chat_list_topic">
    <div class="topic_menu" @click="getChat(messagesChat.Тема_ИД)" :key="index" v-for="(messagesChat,index) in messagesChats">
		<span v-if="messagesChat.Тема_Тип == 'Договор'" 				class="important_mess">	<vs-icon icon="list_alt"></vs-icon>				</span>
		<span v-if="messagesChat.Тема_Тип == 'Анкета'" 					class="important_mess">	<vs-icon icon="assignment"></vs-icon>				</span>
		<span v-if="messagesChat.Тема_Тип == 'ЗаказТранспорта'" 		class="important_mess">	<vs-icon icon="local_shipping"></vs-icon>		</span>
		<span v-if="messagesChat.Тема_Тип == 'ЗаявкаНаДоставку'" 		class="important_mess">	<vs-icon icon="departure_board"></vs-icon>		</span>
		<span v-if="messagesChat.Тема_Тип == 'ЗапросПредложений'" 		class="important_mess">	<vs-icon icon="toc"></vs-icon>					</span>
		<span v-if="messagesChat.Тема_Тип == 'ЗаказПоставщику'" 		class="important_mess">	<vs-icon icon="check_circle_outline"></vs-icon>	</span>
		<span v-if="messagesChat.Тема_Тип == 'МероприятияПоКачеству'" 	class="important_mess">	<vs-icon icon="assessment"></vs-icon>			</span>
		<span v-if="messagesChat.Тема_Тип == 'Тема'" 					class="important_mess">	<vs-icon icon="clear_all"></vs-icon>			</span>
		<span v-if="messagesChat.Тема_Тип == 'Менеджер'" 				class="important_mess">	<vs-icon icon="person_outline"></vs-icon>		</span>
		<span v-if="messagesChat.Тема_Тип == 'ПредложениеПоставщика'" 	class="important_mess">	<vs-icon icon="how_to_reg"></vs-icon>			</span>
		<span v-if="messagesChat.Тема_Тип == 'ПретензияПоКачеству'" 	class="important_mess">	<vs-icon icon="priority_high"></vs-icon>		</span>
		<span v-if="messagesChat.Тема_Тип == 'ПрограммаАудита'" 		class="important_mess">	<vs-icon icon="font_download"></vs-icon>		</span>	<!--Весь столбец это: иконки -->		
      <span class="menu_name"><span>{{messagesChat.Тема_Наименование}}</span> </span><!--Текст меню слева-->
      <span class="messages__count" v-if="messagesChat.count !== 0">{{messagesChat.count}}</span><!--Количество сообщений-->	  
    </div>
</div>
 <!--Окно сообщений--> 
<div v-if="selectedChat"   class="message_list_general cursor">
    <div id="message_list_wrap" class="message_list">	
      <div :class="['message', {'message_theirs':message.Автор_Тип == '2'}]" :key="index" v-for="(message,index) in messages">
        <div class="message_author_mess">{{message.Автор_Наименование}}</div><!--Текст сообщений-->
        <div class="message_text"><div class="text_mess" v-html="message.ТекстСообщения"></div>
		<p class="mess_p">{{message.Date | formateDate('DD.MM.YYYY')}}, {{message.Date | formateDate('HH:mm')}}</p></div><!--Дата снизу сообщений-->
      </div>
    </div>
    <div class="add_message">
      <div class="filter-textarea"></div>
      <textarea v-model="newMessageText" class="add_message_textarea" placeholder="Введите сообщение">123</textarea><!--Форма для отправки-->
      <button @click="sendMessage" v-if="newMessageText" class="send_message"><vs-icon icon="send"></vs-icon></button><!--Иконка(Enter)-->
    </div>
</div>
</div>

<vs-prompt :accept-text="PAGE_NAME.ACCEPT" :cancel-text="PAGE_NAME.CANCEL" :title="PAGE_NAME.TITLE" @cancel="" @accept="createChart" @close="" :active.sync="addChartPromt"><!--Отправить/Отмена/Добавить чат-->
<div class="delete_promt">
   <select v-model="selectedType">
      <option v-if="contacts.length" value="Менеджер">{{PAGE_NAME.MESS1}}</option><!--Сообщение менеджеру-->
      <option value="Тема">{{PAGE_NAME.MESS2}}</option><!--Сообщение по теме-->
   </select>
   <select v-if="selectedType == 'Менеджер'" v-model="selectedContact">
      <option :key="index" v-for="(elem, index) in contacts" :value="elem.contactid">{{elem.contactname}}</option>
   </select>
   <select v-if="selectedType == 'Тема'" v-model="selectedTopic">
      <option :key="index" v-for="(elem, index) in topics" :value="elem.Ref_Key">{{elem.Description}}</option>
   </select>
   <textarea class="el-input__inner line_height width_input_popup" style="height: 100%;" v-model="messageText"/>
</div>
</vs-prompt>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
const axios = require('axios');
import RegFormCoNstants from '@/constants/constants_pages/messenges'	//импорт messenges (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Messenges',
  data () {
    	return {
       messages:[],
       newMessageText: "",
       messageText: "",
       popUpHeader: "",
       popUpText: "",
       selectedType: "",
       selectedContact: "",
       selectedTopic: "",
       addChartPromt: false,
       topics:{},
       contacts:{},
       chatTopics:{},
       messagesChats: {},
       selectedChat:"",
       PAGE_NAME: RegFormCoNstants.PAGE_NAME,	
		}
	},
  mounted:function(){
    document.getElementById('preloader_inner').style.display = 'none';
    this.GetTopicsByUser();
    this.getChatList();
    this.getContactsList();
  },
  components:{},
  methods:{
	//Получение тем для чата
    GetTopicsByUser: function(){
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetTopicsByUser'
				}).then(
					(response) => {
          this.messagesChats = response.data.result;
          this.$root.$emit('recountMessages');
          this.$refs.mainLoader.Hide();
				})
		
    },
	//Получение тем для создания новых веток
    getChatList: function(){
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetTopics'
				}).then(
					(response) => {
          this.topics = response.data.result;
          this.$refs.mainLoader.Hide();
				})
		
    },
	//Получение адрессата по менеджерам
    getContactsList: function(){
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetContacts'
				}).then(
					(response) => {
          this.contacts = response.data.result;
          this.$refs.mainLoader.Hide();
				})		
    },
	//Получение сообщений чата
    getChat: function(Ref_Key){
      this.selectedChat = Ref_Key;
      this.$refs.mainLoader.Show();
      let dataToSend = new FormData();
      dataToSend.set("topic",  Ref_Key);
			   axios({
					method: 'post',
          url: '/api/base/?action=GetMessagesByTopic&topic=2d0f10dc-07a2-11ea-80ea-e41f13d56506',
          data: dataToSend
				}).then(
					(response) => {
          this.messages = response.data.result;
          _.forEach(this.messagesChats, (value, key) => {
            if(value.Тема_ИД === this.selectedChat){
              value.count = 0;
            }
          });
          this.$refs.mainLoader.Hide();
				}).then(
          () =>{
            var objDiv = document.getElementById("message_list_wrap");
            objDiv.scrollTop = objDiv.scrollHeight;
             this.$root.$emit('recountMessages');
        });		
    },
	//Отправить сообщение
    sendMessage: function(){
      let dataToSend = new FormData();
      dataToSend.set("data[ТекстСообщения]",  this.newMessageText);
      dataToSend.set("data[Тема_Тип]",  this.messages[0].Тема_Тип);
      dataToSend.set("data[Тема_ИД]",   this.messages[0].Тема_ИД);
			return axios({
				method: 'post',
				url: '/api/base/?action=AddMessage',
				data: dataToSend
			}).then((response) =>{
          this.newMessageText = "";
          this.getChat(this.selectedChat);
      });
    },
	//Добавить чат
    addChart: function(){
      this.addChartPromt = true;
    },
	//Создать чат
    createChart: function(){
      let dataToSend = new FormData();
        dataToSend.set("data[Тема_Тип]",  this.selectedType);
      if(this.selectedType == 'Менеджер'){
        dataToSend.set("data[Тема_ИД]",   this.selectedContact);
      }
	//при пустой теме в попап в Задать вопрос
      if(this.selectedType == '') {
		this.$vs.notify({title:'Ошибка заполнения',text:'Не заполнена тема сообщения',color:'#fb0000', fixed:true})
		return
      }
	 //при пустом сообщении в попап в Задать вопрос
      if(this.messageText == '') {
		this.$vs.notify({title:'Ошибка заполнения',text:'Не заполнен текст сообщения',color:'#fb0000', fixed:true})
		return
      }
      else{
         dataToSend.set("data[Тема_ИД]",   this.selectedTopic);
      }
      dataToSend.set("data[ТекстСообщения]",  this.messageText);

			return axios({
				method: 'post',
				url: '/api/base/?action=AddMessage',
				data: dataToSend
			}).then((response) =>{
        this.GetTopicsByUser();
        this.getChat(this.selectedTopic);
      });
    }
  }
}
</script>
<style scoped>
.mess {
    text-align: left;
    width: 100%;
}
.mess .filter-text {
    border: none;
    width: 100%;
    height: auto;
    text-align: left;
	margin: 10px auto 0;
    padding: 0 6px;
	font-family: 'SansNarrow', sans-serif;
    position: absolute;
}
.mess .filter-textarea {
    background-color: #e4ebf3;
    border: none;
	height: 20px;
    text-align: center;
    color: #6a7484;
    padding: 0 6px;
    font-family: 'SansNarrow', sans-serif;
}
.mess .filter-mess {
    border: none;
    width: 100%;
    height: auto;
    color: rgb(2, 51, 163);
	margin: 10px auto;
    padding: 0 6px;
	font-family: 'SansNarrow', sans-serif;
    position: absolute;
    cursor: pointer;
}
.chat_wrapper {
	margin: 0 0 0 15px;
}
.chat_list {
    margin: 15px 5px 5px 0;
	display: flex;
    width: 10%;
}
.chat_list h2 {
    display: inline-block;
    position: relative;
    top: -0.1em;
    margin: 0 5px;
}
.chat_list i {
    cursor: pointer;
	color: #7bd066;	
}
.chat_list_topic {
    height: 70vh;
    width: 250px;
    width: 23%;
    display: inline-block;   
    margin: 5px 5px 30px 0;
    overflow-x: hidden;
    overflow-y: scroll;
}
.message_list_general {
    height: 62vh;
    width: 75%;
    display: inline-block;
    text-align: left;
    vertical-align: top;
    margin: 4px 5px 30px 0;
}
.message_list {
    height: 62vh;
    padding: 35px;
    overflow-x: hidden;
    overflow-y: scroll;
	background: radial-gradient(40% 50%, #FAECD5, #cad7e4);
}
.topic_menu {
    padding: 10px 0;
    font-size: 14px;
    cursor: pointer;	
    border-bottom: 1px solid #f5f3f3;
    color: #1890ff;
}
.topic_menu:hover {
    background: #f7f7f7;
    opacity: .6;
}
.topic_menu .menu_name {
    display: inline-grid;
    width: 70%;
}
.topic_menu .menu_name span {
    position: relative;
    top: 0px;
    left: 0px;
    padding: 0 5px;
}

.message_text {
    background: #8ca9f1;
    background: #1890ff;
    color: white;
    padding: 10px;
    display: inline-block;
    border-radius: 7px;
    margin: 0 0 30px 0;
    max-width: 700px;
}
.message.message_theirs {
    text-align: right;
}
.message.message_theirs .message_text{
    background: #7bd066;
    max-width: 700px;
    padding: 15px 20px;
}	
.message.message_theirs .message_text .text_mess{
    text-align: left;
}
.add_message{
    bottom: 0;
    margin: 0 0 85px;
}
.send_message {
    position: absolute;
    margin: 10px 0;
    border: 0px;
    background: initial;
    cursor: pointer;
    color: #a6b7c6;
}
.send_message .material-icons {
    margin-left: -40px;
}
.add_message_textarea {
    width: 945px;
    width: 100%;	
    height: 50px;
    padding: 10px;
    background: #f7f7f7;
    border: 0px;
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
}
.message_author_mess {
    font-size: 10px;
    margin-bottom: 5px;
    color: grey;
}

.important_mess {
    padding: 2px 4px;
    color: #f89406;
    position: relative;
    top: 0.6em;
}
.number_mess {
    position: absolute;
    background: #1790ff;
    color: white;
    padding: 6px 9px;
    border-radius: 5px;
    top: 4px;
    right: 60px;
}

.messages__count {
    background: #1790ff;
    color: white;
    padding: 6px 9px;
    border-radius: 5px;
}
.mess_p {
	color: white;
	font-size: 8px;
	padding-top: 5px;
	text-align: right;
}
</style>