<template>
<div class="new_wrapper">
	<div class="cursor form_line_card">
		<div data-description="Вернуться к списку" class="korzina korzina2"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></div>	
		<div class="new_title">{{peiceOfNew.Description}}</div>
	</div>
	<div class="new_date cursor">{{peiceOfNew.ДатаПубликации | formateDate('DD.MM.YYYY')}}, {{peiceOfNew.ДатаПубликации | formateDate('hh:mm')}}</div>
	<div class="new_text cursor" v-html="peiceOfNew.ТекстНовости"></div>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>
<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
export default {
  name: 'News',
	data () {
		return {
			peiceOfNew: {}
		}
	}, 
	mounted: function() {
		this.isAuthorized().then(
			() =>{
				this.GetNew();
			}
		);
	},
	components:{},
	methods: {
		//Получение данных из 1С
		GetNew: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetNewsByRefKey&Ref_Key='+ this.$route.query.ref
				}).then(
					(response) => {
					this.peiceOfNew = response.data.result[0];
					
				})
			this.$refs.mainLoader.Hide();
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("news_list"); 
		},
		//Получение данных по пользователю		
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});				
		},
	}	 
}
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
.new_wrapper {
    margin: 0 auto;	
    max-width: 680px;		
    min-height: 77px;
    text-align: left;	
    position: relative;
    padding: 20px 0 25px;
}
.new_title {
    font: normal 20px/24px GraphikCy-Semibold,'Helvetica CY',Arial,sans-serif;
    letter-spacing: -.5px;	
	margin-top: 27px;	
    line-height: 26px;	
    font-weight: 700;	
    font-size: 24px;
    color: #222;	
    outline: 0;
}
.new_date {
    color: #999;
    font-size: 14px;
    padding-top: 26px;
    line-height: 18px;
    white-space: normal;
    margin-bottom: 16px;
    font-family: GraphikCy-Semibold,'Helvetica CY',Arial,sans-serif;
}
.new_text {	
	font: normal 14px/28px GraphikCy-Semibold,'Helvetica CY',Arial,sans-serif;	
	border-top: 1px solid #ddd;	
    padding: 10px 0;
    color: #222;	
    outline: 0;
}
</style>