<template>
<div class="news_wrapper">
<!--Переключение страниц-->	
<div style="margin-top: 10px;"><vs-pagination v-if="pageCount > 1" :total="pageCount" @input="pageChange" v-model="tablePage" prev-icon="arrow_back" next-icon="arrow_forward"></vs-pagination></div>	
<h1>{{PAGE_NAME.PAGE_NAME1}}</h1><!--Лента новостей-->
       
<div class="item__wrap l-col-center">
 <div :key="index" :class="['new_wrapper', {'colorRead':pieceOfNew.Непрочитано}]" @click="showDetails(pieceOfNew.Ref_Key)" v-for="(pieceOfNew,index) in news">
  <div class="new_title">
    <span class="new_desc">{{pieceOfNew.Description}}</span><!--Новости-->  
  </div>
  <div class="new_description">
    <span class="new_date">{{pieceOfNew.ДатаПубликации | formateDate('DD.MM.YYYY')}}, {{pieceOfNew.ДатаПубликации | formateDate('HH:mm')}}</span><!--Дата под новостью-->
    <span v-if="pieceOfNew.Важность == 1" class="important_new">{{PAGE_NAME.IMPORTANT1}}</span><!--Очень важно!-->
    <span v-if="pieceOfNew.Важность == 2" class="important_new">{{PAGE_NAME.IMPORTANT2}}</span><!--Важно!--><!--2 категории(оранжевый)-->
  </div>
 </div>
</div>

<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>
<script>
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
const axios = require('axios');
import Style from '@/components/css/Style.css'							//импорт Стилей
import RegFormCoNstants from '@/constants/constants_pages/news_list'	//импорт news_list (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'News_list',
  data () {
    return {
      pageCount:0,
      news:{},
      tablePage:0,
      PAGE_NAME: RegFormCoNstants.PAGE_NAME,	
    }
  },
  mounted:function(){
    document.getElementById('preloader_inner').style.display = 'none';
    this.getNewsList();
  },
  components:{},
  methods:{
	//Получение списка новостей
    getNewsList: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetNewsList'
				}).then(
					(response) => {
					this.pageCount = response.data.PAGE_COUNT;
					this.news = response.data.result;
				})
			this.$refs.mainLoader.Hide();
    },
    pageChange: function(){
			var dataToSend = new FormData();
			dataToSend.set('PAGE', this.tablePage);
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetNewsList',
					data: dataToSend
				}).then((response) => {
					this.news =  response.data.result;
					setTimeout(this.$refs.mainLoader.Hide(),2000);
				});
		},
	//Открытие новостей на просмотр
    showDetails: function(ref){
      this.$router.push("news?ref="+ref);
    }
  }
}
</script>
<style scoped>
</style>