<template>
<div class="login-container table_box-shadow Soc Osc">
	<div class="form_line_Order nowrap text_grey soC_margin top_line full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">	
			<span v-if="mode === 'edit'" class="trigger_span">{{PAGE_NAME.ORDER.ORDER1}}</span>	<!--Корректировка заказа -->		
			<span v-if="mode != 'edit'" class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span>	<!--Заказ поставщику-->
			<span class="trigger">{{regForm.Триггер.value}}</span>								<!--№/Дата-->
			<span class="trigger_color_status">{{regForm.СтатусДокумента.value}}</span>			<!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
	</div>
<div class="indent" style="display: flex;">
	<div style="margin-top: 10px;" class="save_but" v-if="regForm.СтатусДокумента.value === 'На согласовании у поставщика' && mode !=='edit'">
		<button type="button" @click="acceptOrder()" class="el-button filter-item">
			<span style="color:white;margin-left: -8px;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
			{{PAGE_NAME.ORDER.ORDER2}}</span>
		</button>
	</div><!--Подтвердить заказ-->
	<div style="margin-top: 10px;" class="save_but" v-if="regForm.СтатусДокумента.value === 'На согласовании у поставщика' && mode !=='edit'">
		<button type="button" @click="denyOrder()" class="el-button filter-item">
			<span style="color:white;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21 19.1H3V5h18v14.1zM21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/><path fill="none" d="M21 19.1H3V5h18v14.1zM21 3H3c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h18c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2z"/><path d="M14.59 8L12 10.59 9.41 8 8 9.41 10.59 12 8 14.59 9.41 16 12 13.41 14.59 16 16 14.59 13.41 12 16 9.41z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
			{{PAGE_NAME.ORDER.ORDER3}}</span>
		</button>
	</div><!--Отклонить заказ-->
	<div style="margin-top: 10px;" class="save_but" v-if="regForm.СтатусДокумента.value === 'На согласовании у поставщика' && mode !=='edit'">
		<button type="button" @click="editOrder()" class="el-button filter-item">
			<span style="color:white;margin-left: -10px;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
			{{PAGE_NAME.ORDER.ORDER4}}</span>
		</button>
	</div><!--Скорректировать заказ-->
	<div style="margin-top: 10px;" class="save_but" v-if="regForm.СтатусДокумента.value === 'Подтвержден' && mode !=='edit' && !ConstantSupplierInform">
		<button type="button" @click="sendFiles()" class="el-button filter-item" style="width: 300px;">
			<span style="color:white;margin-left: -8px;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3H5c-1.11 0-2 .9-2 2v14c0 1.1.89 2 2 2h14c1.11 0 2-.9 2-2V5c0-1.1-.89-2-2-2zm-9 14l-5-5 1.41-1.41L10 14.17l7.59-7.59L19 8l-9 9z"/></svg>
			{{PAGE_NAME.ORDER.ORDER5}}</span>
		</button>
	</div><!--Отправить прикреплённые файлы-->
</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="list_alt"><!--Сведения по заказу-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<!--<div class="form_line_Order nowrap text_grey soC_margin top_line" style="display: flex;">
				<form-string class="soCWidth_string150 soCWidth_string2" :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>Номер
				<form-date class="date" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name"/>Дата
			</div>-->
			<div class="form_line_Order form_line_Order3 nowrap text_grey soC_margin">
				<form-string class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.Договор.value" :label="regForm.Договор.name"/><!--Договор-->				
			</div>			
			<div class="form_line_Order form_line_Order3 nowrap text_grey soC_margin">
				<form-string class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.Контрагент.value" :label="regForm.Контрагент.name"/><!--Поставщик-->
			</div>			
			<div class="form_line_Order form_line_Order3 nowrap text_grey soC_margin">				
				<form-string class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.Организация.value" :label="regForm.Организация.name"/><!--Организация-->
			</div>
			<div class="form_line_Order form_line_card form_line_Order3 text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string_188" :disabled="isAllowed()" v-model="regForm.НомерПоДаннымПоставщика.value" :label="regForm.НомерПоДаннымПоставщика.name"/><!--Номер по данным поставщика-->
				<form-date class="soCWidth2" :disabled="isAllowed()" v-model="regForm.ДатаПоДаннымПоставщика.value" :label="regForm.ДатаПоДаннымПоставщика.name"/><!--Дата по данным поставщика-->				
			</div>			
			<div class="form_line_Order nowrap text_grey soC_margin textarea_OSC textarea_OSC3" style="display: flex;">
				<div style="margin-left:40px;">{{PAGE_NAME.COMMENT}}</div><!--Комментарий-->	
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.Комментарий.value" :label="regForm.Комментарий.name"/>
			</div>		
		</div>		
	  </vs-col>
	</vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="playlist_add_check"><!--Условия заказа-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi osc_bool soCard_margin zac">
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-string  class="soCWidth_string100" :disabled="isAllowed()" v-model="regForm.ВалютаДоговора.value" :label="regForm.ВалютаДоговора.name"/><!--Валюта-->
				<form-string  class="soCWidth_string100 soCWidth_string210 soCWidth_string2" :disabled="isAllowed()" v-model="regForm.СуммаДокументаБезНДС.value" :label="regForm.СуммаДокументаБезНДС.name"/><!--Сумма документа без учета НДС-->				
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-string  class="soCWidth_string100"  :disabled="isAllowed()" v-model="regForm.СтавкаНДС.value" :label="regForm.СтавкаНДС.name"/><!--Ставка НДС-->		
				<form-string  class="soCWidth_string100 soCWidth_string210 soCWidth_string2" :disabled="isAllowed()" v-model="regForm.СуммаНДС.value" :label="regForm.СуммаНДС.name"/><!--Сумма НДС-->					
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияОплаты.value" :label="regForm.УсловияОплаты.name"/><!--Условие оплаты-->		
				<form-string class="soCWidth_string100 soCWidth_string210 soCWidth_string2" :disabled="isAllowed()" v-model="regForm.СуммаДокументаСНДС.value" :label="regForm.СуммаДокументаСНДС.name"/><!--Сумма документа с учетом НДС-->
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияДоставкиIncoterms.value" :label="regForm.УсловияДоставкиIncoterms.name"/><!--Условия доставки-->	
			</div>
			<div class="text_grey bool_box" style="display: flex;">
				<form-bool class="bool_box_div2" :disabled="isAllowed()" v-model="regForm.ПоступлениеОднойДатой.value" :label="regForm.ПоступлениеОднойДатой.name"/><!--Поступление одной датой-->		
				<form-bool :disabled="isAllowed()" v-model="regForm.ОсобыеУсловияПеревозки.value" :label="regForm.ОсобыеУсловияПеревозки.name"/><!--Особые условия перевозки-->	
				<form-bool class="bool_box_div" :disabled="isAllowed()" v-model="regForm.УведомлениеОбОтгрузке.value" :label="regForm.УведомлениеОбОтгрузке.name"/><!--Уведомление об отгрузке-->	
			</div>			
			<div class="form_line_Order nowrap text_grey soC_margin" style="margin-left: 40px;display: flex;">
				<div style="margin-right: -40px;">{{PAGE_NAME.ADDRESS1}}</div><!--Адрес отгрузки-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.АдресОтгрузки.value" :label="regForm.АдресОтгрузки.name"/>
			</div>				
			<div class="form_line_Order nowrap text_grey soC_margin" style="margin-left: 40px;display: flex;">
				<div style="margin-right: -45px;">{{PAGE_NAME.ADDRESS2}}</div><!--Адрес доставки-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.АдресДоставки.value" :label="regForm.АдресДоставки.name"/>
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin" style="display: flex;">
				<form-time class="time" type="text" disabled="true" v-model="regForm.ВремяДоставкиС.value" :label="regForm.ВремяДоставкиС.name"/><!--Время доставки с-->	
				<form-time class="valuta_Width10 soCWidth time" :disabled="isAllowed()" v-model="regForm.ВремяДоставкиПо.value" :label="regForm.ВремяДоставкиПо.name"/><!--по[Время доставки по]-->	
			</div>
			<div class="form_line_Order nowrap text_grey soC_margin">
				<form-string class="soCWidth_string370" :disabled="isAllowed()" v-model="regForm.Перевозчик.value" :label="regForm.Перевозчик.name"/><!--Перевозчик-->	
			</div>
			<div class="form_line_Order text_grey soC_margin textarea_OSC" style="display: flex;">
				<div style="margin-left:40px;">{{PAGE_NAME.INF}}<br />{{PAGE_NAME.DELIVERY}}</div><!--Доп.информация о доставке-->	
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.ДополнительнаяИнформацияПоДоставке.value" :label="regForm.ДополнительнаяИнформацияПоДоставке.name"/>
			</div>				
			<div class="form_line_Order nowrap text_grey soC_margin textarea_OSC textarea_OSC2" style="display: flex;">
				<div style="margin-left:40px;">{{PAGE_NAME.COMMENT}}</div><!--Комментарий-->	
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text " v-model="regForm.Комментарий.value" :label="regForm.Комментарий.name"/>
			</div>			
		</div>		
	  </vs-col>
	</vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="category"><!--Товары-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
	<div v-if="mode === 'edit'" class="text_grey"><form-date @input="makeAllDates()" v-model="newDate" :label="PAGE_NAME.ADJUST"/></div>
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th v-if="mode === 'edit'"></vs-th>
				<vs-th v-if="mode === 'edit'"></vs-th>
				<vs-th v-if="mode === 'edit'">{{PAGE_NAME.CHANGE_PLAN_DATE}}</vs-th><!--Изменение плановой даты поставщика-->
				<vs-th sort-key="LineNumber">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th><!--№-->
				<vs-th sort-key="НоменклатураПоставщика">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th><!--Номенклатура поставщика-->	
				<vs-th sort-key="НаименованиеТовара">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th><!--Номенклатура-->	
				<vs-th sort-key="Артикул">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th><!--Артикул-->						
				<vs-th sort-key="ЕденицаИзмерения">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th><!--Ед.изм.-->
				<vs-th sort-key="ПлановаяДатаПоступления">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th><!--Плановая дата поступления-->		
				<vs-th sort-key="ЦенаБезНДС">{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th><!--Цена без НДС-->	
				<vs-th sort-key="СтавкаНДС">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th><!--Ставка НДС-->
				<vs-th sort-key="СуммаБезНДС">{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th><!--Сумма без НДС-->	
				<vs-th sort-key="СуммаНДС">{{PAGE_NAME.COLUMNS.COLUMN10}}</vs-th><!--Сумма НДС-->
				<vs-th sort-key="СуммаСНДС">{{PAGE_NAME.COLUMNS.COLUMN11}}</vs-th><!--Сумма с НДС-->	
				<vs-th sort-key="Количество">{{PAGE_NAME.COLUMNS.COLUMN12}}</vs-th>	<!--Количество-->	
				<vs-th sort-key="Количество">Количество поставщика</vs-th>	<!--Количество-->				
				<vs-th>{{PAGE_NAME.COLUMNS.COLUMN13}}</vs-th><!--Отменено-->
				<vs-th>Отменено Поставщиком</vs-th><!--Отменено-->
				<vs-th sort-key="ПричинаОтмены">{{PAGE_NAME.COLUMNS.COLUMN14}}</vs-th>	<!--Причина отмены-->			
				<vs-th sort-key="НаименованиеСклада">{{PAGE_NAME.COLUMNS.COLUMN15}}</vs-th><!--Склад-->			
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">			
				<vs-td v-if="mode === 'edit'"><button @click="editItem(data[indextr],indextr)" class="el-button_PPAC button_PAAC" type="button" ><span style="margin-left: -10px;">
					<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
					{{PAGE_NAME.CHANGE}}</span></button></vs-td><!--кнопка Изменить-->
				<vs-td v-if="mode === 'edit'"><button @click="deleteItem(data[indextr],indextr)" class="el-button_PPAC button_PAAC" type="button"><span style="margin-left: -10px;">
					<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
					{{PAGE_NAME.CANCEL}}</span></button></vs-td><!--кнопка Отменить-->	
			
				<!--<vs-td v-if="mode === 'edit'" class="green_button"><div @click="editItem(data[indextr],indextr)">{{PAGE_NAME.CHANGE}}</div></vs-td> изменить		
				<vs-td v-if="mode === 'edit'" class="red_button"><div @click="deleteItem(data[indextr],indextr)">{{PAGE_NAME.CANCEL}}</div></vs-td> отменить-->		
				<vs-td v-if="mode === 'edit'">{{data[indextr].ПлановаяДатаПоступления2 | formateDate}}</vs-td>
				<vs-td :data="data[indextr].LineNumber">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].НоменклатураПоставщика">{{data[indextr].НоменклатураПоставщика}}</vs-td>
				<vs-td :data="data[indextr].НаименованиеТовара">{{data[indextr].НаименованиеТовара}}</vs-td>
				<vs-td :data="data[indextr].Артикул">{{data[indextr].Артикул}}</vs-td>
				<vs-td :data="data[indextr].Упаковка">{{data[indextr].Упаковка}}</vs-td>
				<vs-td>{{formateDate(data[indextr].ПлановаяДатаПоступления)}}</vs-td>
				<vs-td :data="data[indextr].ЦенаБезНДС" class="nowrap">{{data[indextr].ЦенаБезНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтавкаНДС">{{data[indextr].СтавкаНДС | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].СуммаБезНДС" class="nowrap">{{data[indextr].СуммаБезНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СуммаНДС" class="nowrap">{{data[indextr].СуммаНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СуммаСНДС" class="nowrap">{{data[indextr].СуммаСНДС | numberBeautifier}}</vs-td>	
				<vs-td :data="data[indextr].Количество">{{data[indextr].Количество}}</vs-td>	
				<vs-td :data="data[indextr].Количество">{{data[indextr].ИзменениеКоличестваПоставщиком}}</vs-td>				
				<vs-td><vs-checkbox color="success" v-model="data[indextr].Отменено" disabled="true"></vs-checkbox></vs-td>				
				<vs-td><vs-checkbox color="success" v-model="data[indextr].ОтмененоПоставщиком" disabled="true"></vs-checkbox></vs-td>				
				<vs-td :data="data[indextr].ПричинаОтмены" v-model="data[indextr].ПричинаОтмены">{{data[indextr].ПричинаОтмены}}</vs-td>				
				<vs-td :data="data[indextr].НаименованиеСклада">{{data[indextr].НаименованиеСклада}}</vs-td>
			</vs-tr>			
		  </template>
		</vs-table>
	<div class="save_but" v-if="mode === 'edit'"><button type="button" @click="saveOrder()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div><!--Отправить-->
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	

<vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="attach_file"><!--Присоединенные файлы-->
	<file-upload :disabled="fileCheked()" v-model="fileArray" v-if="orderSupplierDataByRef['ПрисоединенныеФайлы']" :oldFiles="orderSupplierDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_ЗаказПоставщику"></file-upload>			
</vs-tab>	  

</vs-tabs>
<vs-prompt :accept-text="PAGE_NAME.FILE.ACCEPT" :cancel-text="PAGE_NAME.FILE.CANCEL2" :title="PAGE_NAME.FILE.REDACTION" @cancel="" @accept="makeEdit(editItemPromt.ПлановаяДатаПоступления2)" @close="" :active.sync="showEditPromt"><!--принять/отмена/Редактирование товара-->
	<div class="edit_item_form_wrapper osc_red_tov">
		<div class="flex"><label class="label">{{PAGE_NAME.FILE.PRODUCT}}</labeL><span class="el-input__inner" style="margin-left: 5px;padding-top: 6px;">{{editItemPromt.НаименованиеТовара}}</span></div><!--Товар-->
		<div><form-string class="flex" disabled="true" v-model="editItemPromt.Количество" :label="PAGE_NAME.FILE.NUMBER1" /></div><!--Количество-->
		<div><form-date class="flex" disabled="true" v-model="editItemPromt.ПлановаяДатаПоступления" :label="PAGE_NAME.FILE.PLAN1" /></div><!--Плановая дата-->
		<div><form-string class="flex" v-model="goodsCount" :label="PAGE_NAME.FILE.NUMBER2" /></div><!--Количество поставщика-->
		<div v-if="!regForm.ПоступлениеОднойДатой.value"><form-date class="flex"  v-model="editItemPromt.ПлановаяДатаПоступления2" :label="PAGE_NAME.FILE.PLAN2" /></div><!--Плановая дата поставщика-->				
	</div>
</vs-prompt> 
<vs-prompt :accept-text="PAGE_NAME.FILE.ACCEPT" :cancel-text="PAGE_NAME.FILE.CANCEL2" :title="PAGE_NAME.FILE.REDACTION" @cancel="" @accept="makeDelete()" @close="" :active.sync="showDeletePromt"><!--принять/отмена/Редактирование товара-->
	<div class="edit_item_form_wrapper osc_red_tov">
		<div class="flex"><label class="label">{{PAGE_NAME.FILE.PRODUCT}}</labeL><span class="el-input__inner" style="margin-left: 5px;padding-top: 6px;">{{deleteItemPromt.НаименованиеТовара}}</span></div><!--Товар-->
		<div><form-string class="flex" v-model="deleteReason" :label="PAGE_NAME.FILE.CANCEL3" /></div><!--Причина отмены-->
	</div>
</vs-prompt> 
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'	
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Time from '@/components/form_poles/Time'									//импорт Time
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import File_upload from '@/components/partials/File_upload'						//импорт File upload
import Select_ref from '@/components/form_poles/Select_ref'
import {isEmpty, replaceUndefined,validEmail,isDefined } from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/order_supplier_card'	//импорт order_supplier_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Order_supplier_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'Дата',
					disabled: true
				},
				СтатусДокумента: {
					value:'',
					requred:true,
					name: 'Статус документа',
					disabled: true
				},
				Контрагент: {
					value:'',
					requred:true,
					name: 'Поставщик:',
					disabled: true
				},
				Организация: {
					value:'',
					requred:true,
					name: 'Организация:',
					disabled: true
				},		
				Договор: {
					value:'',
					requred:true,
					name: 'Договор:',
					disabled: true
				},
				НомерПоДаннымПоставщика: {
					value:'',
					requred:true,
					name: '№ по данным поставщика:',
					disabled: true
				},
				ДатаПоДаннымПоставщика: {
					value:'',
					requred:true,
					name: 'от:',
					disabled: true
				},
				Комментарий: {
					value:'',
					requred:true,
					name: 'Комментарий:',
					disabled: true
				},
				ВалютаДоговора: {
					value:'',
					requred:true,
					name: 'Валюта:',
					disabled: true
				},
				СуммаДокументаБезНДС: {
					value:'',
					requred:true,
					name: 'Сумма документа без учета НДС:',
					disabled: true
				},
				СтавкаНДС: {
					value:'',
					requred:true,
					name: 'Ставка НДС:',
					disabled: true
				},
				СуммаНДС: {
					value:'',
					requred:true,
					name: 'Сумма НДС:',
					disabled: true
				},
				УсловияОплаты: {
					value:'',
					requred:true,
					name: 'Условие оплаты:',
					disabled: true
				},
				СуммаДокументаСНДС: {
					value:'',
					requred:true,
					name: 'Сумма документа с учетом НДС:',
					disabled: true
				},
				УсловияДоставкиIncoterms: {
					value:'',
					requred:true,
					name: 'Условие доставки:',
					disabled: true
				},
				ПоступлениеОднойДатой: {
					value:'',
					requred:true,
					name: 'Поступление одной датой',
					disabled: true
				},
				АдресОтгрузки: {
					value:'',
					requred:true,
					name: 'Адрес отгрузки:',
					disabled: true
				},
				ВремяДоставкиС: {
					value:'',
					requred:true,
					name: 'Время доставки с:',
					disabled: true
				},
				ВремяДоставкиПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				Перевозчик: {
					value:'',
					requred:true,
					name: 'Перевозчик:',
					disabled: true
				},
				ДополнительнаяИнформацияПоДоставке: {
					value:'',
					requred:true,
					name: 'Доп.информация о доставке:',
					disabled: true
				},
				АдресДоставки: {
					value:'',
					requred:true,
					name: 'Адрес доставки:',
					disabled: true
				},
				ОсобыеУсловияПеревозки: {
					value:'',
					requred:true,
					name: 'Особые условия перевозки',
					disabled: true
				},
				УведомлениеОбОтгрузке: {
					value:'',
					requred:true,
					name: 'Уведомление об отгрузке',
					disabled: true
				},			
			},
		//значения создаваемые во vue (справа)
			structure: {
				КонтактноеЛицоПоставщика_Key:{
					Синоним:'',
					Description:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			nomenclature: {},
			mode: 'read',
			orderSupplierDataByRef:[],
			showEditPromt: false,
			showDeletePromt: false,
			editItemPromt:{},
			deleteItemPromt:{},
			orderСomposition:{},
			planDate:"",
			goodsCount:0,
			editNum:0,
			deleteReason:"",
			newDate:"",
			ConstantSupplierInform:false,
			fileMatchArray 	: [],
			additionalFiles	: [],
			fileSaveResp: {
				result: {
					files:[]
				}
			},
			newFiles: {
				result: {
					files:[]
				}
			},
			deletedItems: [],
			showMatchings: false,
			fileArray:{},
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {					
				this.GetOrderSupplierByRefKey();	
				this.GetConstantSupplierInform();
			}
		);
	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,		
		"form-bool":Bool,
		"form-date":Date,
		"form-time":Time,
		"form-table":Table,
		"form-select-ref":Select_ref,
		"form-table-data-submit":Table_data_submit,
		"file-upload":File_upload,
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ЗаказПоставщику'
			}).then((response) => {				
				this.structure = response.data.result.structure;
			});
		},
		//Получение данных по анкете
		GetOrderSupplierByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetOrderSupplierByRefKey&refkey='+ ref) 
				.then((response) => {
					this.orderSupplierDataByRef = response.data.result;
				}).then(
					() => {
						this.loadData();
						this.getNomenclature();	
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
						this.$refs.mainLoader.Hide();
					}
				);
		},
		//Вывод ошибки при загрузке файла
		fileUploadError: function(e){
			let respAnswer = JSON.parse(e.target.responseText).result;
			this.$vs.notify({title:'Ошибка',text:respAnswer,color:'danger', fixed:true});
		},
		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileMatchArray = [];
			this.newFiles = [];
			this.newFiles.result = {};
			this.newFiles.result.files = [];
			this.additionalFiles = JSON.parse(resp.target.response);
			_.forEach(this.additionalFiles.result.files, (value, key) => {
				
				this.newFiles.result.files.push({
						name:value.name,
						id:value.id
					});					
			});
			this.showMatchings = true;
		},
		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileMatchArray = [];
			this.newFiles = [];
			this.newFiles.result = {};
			this.newFiles.result.files = [];
			this.additionalFiles = JSON.parse(resp.target.response);
			_.forEach(this.additionalFiles.result.files, (value, key) => {
				
				this.newFiles.result.files.push({
						name:value.name,
						id:value.id
					});					
			});
			this.showMatchings = true;
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},		
		//Изменение вида даты
		formateDate: function(date){
			if(date.length === 19){
				return this.$options.filters.formateDate(date);
			}
			return date;
		},
		//Проставновка всех дат при корректировки заказов (в таком виде отправляется на сервер)
		makeAllDates: function() {
			_.forEach(this.nomenclature, (value, key) => { 
				value.ПлановаяДатаПоступления2 = this.newDate;
				value.Статус = 'НеСогласовано';
			});
			return true;
		},
		//изменить
		editItem: function(item, num) {
			this.editNum = num;
			this.editItemPromt = item;
			if(item.ПлановаяДатаПоступления.length === 19){
				this.editItemPromt.ПлановаяДатаПоступления = this.$options.filters.formateDate(item.ПлановаяДатаПоступления, 'DD.MM.YYYY');
			}
			this.editItemPromt.ИзменениеКоличестваПоставщиком = item.ИзменениеКоличестваПоставщиком;
			this.showEditPromt = true;
			this.goodsCount = item.ИзменениеКоличестваПоставщиком;
			return true;
		},
		//Редактирование заказа
		makeEdit: function(planDate) {
			this.orderСomposition[this.editNum].ИзменениеКоличестваПоставщиком  = this.goodsCount;
			this.orderСomposition[this.editNum].ИзменениеПлановойДатыПоставщиком = planDate;
			this.nomenclature[this.editNum].ИзменениеКоличестваПоставщиком = this.goodsCount;
			this.orderСomposition[this.editNum].Статус = 'НеСогласовано';
			this.goodsCount = 0;
			this.planDate = "";
			return true;
		},
		//Отмена заказа
		makeDelete: function() {
			this.orderСomposition[this.editNum].ПричинаОтмены  = this.deleteReason;
			this.nomenclature[this.editNum].ОтмененоПоставщиком  = true;
			this.orderСomposition[this.editNum].Статус = 'НеСогласовано';
			this.deleteReason = "";
			return true;
		},
		//Переходы после нажатия кнопок
		accept: function() {
			this.$router.push('Order_supplier_table'); 
		},
		//Отмена
		deleteItem: function(item, num) {
			this.deleteItemPromt = item;
			this.editNum = num;
			this.deleteItemPromt.ПлановаяДатаПоступления = this.$options.filters.formateDate(item.ПлановаяДатаПоступления);
			this.showDeletePromt = true;
			return true;
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.orderSupplierDataByRef['Товары'];
			this.orderСomposition  = this.orderSupplierDataByRef['Товары'];
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'Date' || key === 'ДатаПоДаннымПоставщика'){
					this.regForm[key].value = this.$options.filters.formateDate(this.orderSupplierDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'СтатусДокумента'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.orderSupplierDataByRef[key]);
				}
				else if(key === 'СтавкаНДС'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.orderSupplierDataByRef[key]);
				}
				else if(key === 'СуммаДокументаБезНДС'){
					this.regForm[key].value = this.$options.filters.numberBeautifier(this.orderSupplierDataByRef[key]);
				}
				else if(key === 'СуммаНДС'){
					this.regForm[key].value = this.$options.filters.numberBeautifier(this.orderSupplierDataByRef[key]);
				}
				else if(key === 'СуммаДокументаСНДС'){
					this.regForm[key].value = this.$options.filters.numberBeautifier(this.orderSupplierDataByRef[key]);
				}
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.orderSupplierDataByRef[key]);
				}
				else {
					this.$set(this.regForm[key], 'value', this.orderSupplierDataByRef[key]);
				}					
			});
			_.forEach(this.orderSupplierDataByRef['ПрисоединенныеФайлы'], (value, key) => {
					this.fileSaveResp.result.files.push({
						Description:value.Description,
						id:value.Ref_Key,
						ДатаСоздания:value.ДатаСоздания,
						ВидДокумента:value.ВидДокумента.Description,
						ВидДокумента_Key:value.ВидДокумента_Key,
					});						
			});	
			var zaglushka = ""
				if (this.orderSupplierDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.orderSupplierDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.orderSupplierDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;
		},
		//Согласование заказа
		acceptOrder: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				var dataToSend = new FormData();	
				var ref = this.$route.query.ref; 					
				dataToSend.set("Ref_Key", ref);
				dataToSend.set("data[СтатусДокумента]", "Подтвержден");
				_.forEach(this.orderСomposition, (value, key) => {
					dataToSend.set("Товар["+ key +"][Номенклатура_Key]", value.Номенклатура_Key);
						dataToSend.set("Товар["+ key +"][Статус]", "Согласовано");
						dataToSend.set("Товар["+ key +"][Упаковка_Key]", value.Упаковка_Key);
						dataToSend.set("Товар["+ key +"][Проект_Key]", value.Проект_Key);
						dataToSend.set("Товар["+ key +"][LineNumber]", value.LineNumber);
						dataToSend.set("Товар["+ key +"][ID]", value.ID);
						dataToSend.set("Товар["+ key +"][ПроизводственныйЗаказ_Key]", value.ПроизводственныйЗаказ_Key);
				});	
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				axios({
						method: 'post',
						url: '/api/base/?action=UpdateOrderSupplier',
						data: dataToSend
					}).then(
						(response) => {
							if(response.data.status === "OK"){
								this.$vs.dialog({
									color:'success',
									title: 'Подтверждение заказа',
									text: "Заказ подтверждён",
									acceptText:'Ок'
								});
								this.$router.push('Order_supplier_table');
							}
						
						}
					).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					});
			}
		},
		//Отклонить заказ
		denyOrder: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				var dataToSend = new FormData();	
				var ref = this.$route.query.ref; 					
				dataToSend.set("Ref_Key", ref);
				dataToSend.set("data[СтатусДокумента]", "ОтклоненПоставщиком");
				_.forEach(this.orderСomposition, (value, key) => {
					dataToSend.set("Товар["+ key +"][Номенклатура_Key]", value.Номенклатура_Key);
						dataToSend.set("Товар["+ key +"][Статус]", "Отменено");
				});
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				axios({
						method: 'post',
						url: '/api/base/?action=UpdateOrderSupplier',
						data: dataToSend
					}).then(
						(response) => {
							if(response.data.status === "OK"){
							this.$vs.dialog({
								title: 'Отклонение заказа',
								text: "Заказ отклонён",
								acceptText:'Ок'
							});
							this.$router.push('Order_supplier_table');
							}
						}
					).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					});
				}	
		},
		//Отправить прикреплённые файлы
		sendFiles: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				var dataToSend = new FormData();	
				var ref = this.$route.query.ref; 					
				dataToSend.set("Ref_Key", ref);
					var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				axios({
						method: 'post',
						url: '/api/base/?action=UpdateOrderSupplier',
						data: dataToSend
					}).then(
						(response) => {
							if(response.data.status === "OK"){
								this.$vs.dialog({
									color:'success',
									title: 'Отправка файлов',
									text: "Файлы успешно отправлены",
									acceptText:'Ок'
								});
								this.$router.push('Order_supplier_table');
							}
						
						}
					).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					});
			}
		},
		//Отправить заказ
		saveOrder: function(){
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else {
				var dataToSend = new FormData();	
				var ref = this.$route.query.ref; 					
				dataToSend.set("Ref_Key", ref);
			//dataToSend.set("data[СтатусДокумента]", "НаСогласованииУПоставщика");
				dataToSend.set("data[СтатусДокумента]", "НеПодтвержденПоставщиком");
				_.forEach(this.orderСomposition, (value, key) => {
					dataToSend.set("Товар["+ key +"][Номенклатура_Key]", value.Номенклатура_Key);
					if(value.ПлановаяДатаПоступления2){
						dataToSend.set("Товар["+ key +"][ИзменениеПлановойДатыПоставщиком]", value.ПлановаяДатаПоступления2);	
					}
					else{
					dataToSend.set("Товар["+ key +"][ИзменениеПлановойДатыПоставщиком]", value.ИзменениеПлановойДатыПоставщиком);
					}
					dataToSend.set("Товар["+ key +"][Упаковка_Key]", value.Упаковка_Key);
					dataToSend.set("Товар["+ key +"][Проект_Key]", value.Проект_Key);
					dataToSend.set("Товар["+ key +"][ПроизводственныйЗаказ_Key]", value.ПроизводственныйЗаказ_Key);
					dataToSend.set("Товар["+ key +"][LineNumber]", value.LineNumber);
					dataToSend.set("Товар["+ key +"][ID]", value.ID);
					if(value.Статус){
						dataToSend.set("Товар["+ key +"][Статус]", value.Статус);
						if(value.ИзменениеКоличестваПоставщиком){
							dataToSend.set("Товар["+ key +"][ИзменениеКоличестваПоставщиком]", value.ИзменениеКоличестваПоставщиком);
						}
						if(value.ПричинаОтмены){
							dataToSend.set("Товар["+ key +"][ПричинаОтмены]", value.ПричинаОтмены);
							dataToSend.set("Товар["+ key +"][ОтмененоПоставщиком]", "true");
						}					
					}
					else{
						dataToSend.set("Товар["+ key +"][Статус]", "Согласовано");
					}
				});	
				
					var i= 0;
					_.forEach(this.fileArray.newFiles, (value, key) => {
						if(isDefined(value)){
							dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
							dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
							i++;
						}
					});
					_.forEach(this.fileArray.oldFiles, (value, key) => {
						if(isDefined(value)){
							dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
							dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
							i++;
						}
					});
					
				axios({
						method: 'post',
						url: '/api/base/?action=UpdateOrderSupplier',
						data: dataToSend
					}).then(
						(response) => {
							
						}
					);

					this.$vs.dialog({
								acceptText:'Принять',
								type:"alert",
								color:'success',
								title: 'Отправка корректировки заказа',
								text: 'Заказ успешно отправлен',
								accept:this.accept
							});
							this.$router.push('Order_supplier_table');
			}					
		},
		//Скорректировать заказа
		editOrder: function(){
			this.mode = 'edit';
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("order_supplier_table"); 
		},	
		//Валидация
		validate: function(){
			this.errors = [];	
			//валидируем тип файлов 
				if (this.fileMatchArray){
					let i = 0;				
					if(Object.keys(this.fileMatchArray).length !== Object.keys(this.newFiles.result.files).length){
						this.errors.push('не заполнен тип документа в Присоединенных файлах');
					}
					_.forEach(this.fileMatchArray, (value, key) => {
						var id = Object.keys(value)[0];
						i++;
						if (value[id] === ""){						
						this.errors.push('не заполнен тип документа в Присоединенных файлах в строке №' + i);	
						}
					});				
				}	
			return this.errors.length;			
		},
		//Запрос на возможность создания уведомлений о поставке
		GetConstantSupplierInform: function(){
			return axios.post('/api/base/index.php?action=GetConstantSupplierInform') 
				.then((response) => {
					this.ConstantSupplierInform = response.data;
				});			
		},
		//Проверка на возможность добавления файла
		fileCheked: function(){
			if(this.ConstantSupplierInform){
				if(this.regForm.СтатусДокумента.value === 'На согласовании у поставщика'){
					return true;
				}
				else {
					return false;
				}
			}
			if(!this.ConstantSupplierInform){
				if(this.regForm.СтатусДокумента.value === 'На согласовании у поставщика' || this.regForm.СтатусДокумента.value === 'Подтвержден'){
					return true;
				}
				else {
					return false;
				}
			}
		},
		//Удаление файла
		delFile: function(file, key,index){
			delete(this.newFiles.result.files[key]);
			delete(this.fileMatchArray[index]);
			let obj = {};
			Object.assign(obj,this.fileMatchArray);
			this.fileMatchArray = obj;
			this.deletedItems.push(key);
		},
		//Удаление файла - проверка
		isDeleted: function(key){
			return (this.deletedItems.indexOf(key) !== -1);
		},
		// проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(!obj) {			
				return false;
			}
			return true;
		},
},
}
</script>
