<template>
<div class="login-container table_box-shadow Soc Osc Osi">
	<div class="form_line_Order nowrap text_grey soC_margin top_line full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">	
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Новое уведомление об отгрузке-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.СтатусДокумента.value}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>		
	</div>
<vs-tabs>

<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="list_alt"><!--Сведения по заказу-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
	<div class="indent text_grey" style="display: flex;">
		<div style="margin:10px;"><form-date v-model="dateOfSupply" :label="PAGE_NAME.THEAD.THEAD3" /></div><!--Дата отгрузки-->	
		<div style="margin-top:6px;"><button type="button" @click="makeAllDate" class="el-button filter-item"><span style="color:white;margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-2 14l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>
			{{PAGE_NAME.FILL}}</span></button>
		</div><!--Заполнить Всё-->
	</div>
  <template>
    <div class="table_box-shadow-2 tov_so_card shipped2">
		<vs-table :key="rerender" class="text_grey" hoverFlat search :data="orders">
			<template slot="thead">
				<vs-th sort-key="LineNumber">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th><!--№-->
				<vs-th sort-key="ПлановаяДатаПоступления">{{PAGE_NAME.COLUMNS.COLUMN10}}</vs-th><!--Плановая дата поступления-->
				<vs-th sort-key="НоменклатураПоставщика">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th><!--Номенклатура поставщика-->
				<vs-th sort-key="НаименованиеТовара">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th><!--Номенклатура-->
				<vs-th sort-key="Артикул">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th><!--Артикул-->	
				<vs-th sort-key="ЕденицаИзмерения">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th><!--Ед.изм.-->
				<vs-th>{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th><!--Отгруженное количество-->
				<vs-th>{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th><!--Количество в заказе-->			
				<vs-th>{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th><!--Количество к отгрузке-->			
				<vs-th>{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th><!--Доступно к отгрузке-->			
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(order, indextr, index) in data">
				<vs-td>{{indextr + 1}}</vs-td>
				<vs-td>{{order.ПлановаяДатаПоступления | formateDate('DD.MM.YYYY')}}</vs-td>				
				<vs-td>{{order.НоменклатураПоставщика}}</vs-td>
				<vs-td>{{order.Номенклатура}}</vs-td>
				<vs-td>{{order.Артикул}}</vs-td>
				<vs-td>{{order.Упаковка}}</vs-td>
				<vs-td>{{order.ОтгруженоеКоличество}}</vs-td>
				<vs-td>{{order.Количество}}</vs-td>
				<vs-td>{{order.Количество - order.ОтгруженоеКоличество}}</vs-td>
				<vs-td><form-number :max="order.Количество - order.ОтгруженоеКоличество" v-model="orders[indextr].Доступно" /></vs-td>
			</vs-tr>	
		  </template>
		</vs-table>
		
	</div>
  </template>  
	  </vs-col>
	</vs-row>
<div class="save_but"><button type="button" @click="saveOrder()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
	<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div><!--Отправить--> 	
</vs-tab>	

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="local_shipping"><!--Осуществлённые отгрузки-->
  <template>
    <div class="table_box-shadow-2 tov_so_card shipped">
		<vs-table class="text_grey" hoverFlat search :data="shipmentsData">
			<template slot="thead">
				<vs-th sort-key="Number">{{PAGE_NAME.THEAD.THEAD1}}</vs-th><!--№-->
				<vs-th sort-key="НоменклатураПоставщика">{{PAGE_NAME.THEAD.THEAD2}}</vs-th><!--Дата создания-->
				<vs-th sort-key="НаименованиеТовара">{{PAGE_NAME.THEAD.THEAD3}}</vs-th><!--Дата отгрузки-->
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td :data="data[indextr].Number">{{data[indextr].Number | removeZeroes}}</vs-td>
				<vs-td :data="data[indextr].Date">{{data[indextr].Date | formateDate('DD.MM.YYYY')}}</vs-td>
				<vs-td :data="data[indextr].ДатаОтгрузкиТовараПоставщиком">{{data[indextr].ДатаОтгрузкиТовараПоставщиком | formateDate('DD.MM.YYYY')}}</vs-td>			
				<template slot="expand">
				<div class="expand_div_checkbox">	  
				  <div class="leftstr">
					<vs-table>
					<template>
							<vs-th>{{PAGE_NAME.CELL.CELL1}}</vs-th><!--Артикул-->
							<vs-th>{{PAGE_NAME.CELL.CELL2}}</vs-th><!--Ед.изм.-->
							<vs-th>{{PAGE_NAME.CELL.CELL3}}</vs-th><!--Количество-->
							<vs-th>{{PAGE_NAME.CELL.CELL4}}</vs-th><!--Номенклатура-->
							<vs-th>{{PAGE_NAME.CELL.CELL5}}</vs-th>	<!--Номенклатура поставщика-->						
					</template>
					<template>
						<vs-tr :key="index" v-for="(goods,key,index) in data[indextr].Товары">							
							<vs-td class="nowrap">{{goods.Артикул}}</vs-td>
							<vs-td>{{goods.Упаковка}}</vs-td>
							<vs-td>{{goods.Количество}}</vs-td>
							<vs-td>{{goods.НаименованиеТовара}}</vs-td>
							<vs-td>{{goods.НоменклатураПоставщика}}</vs-td>
						</vs-tr>
					</template>
					</vs-table>
				  </div>
				</div>
				</template>	
				</vs-tr>			
		  </template>
		</vs-table>
	</div>
  </template> 
</vs-tab>	

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="attach_file"><!--Присоединенные файлы-->
	<file-upload :disabled="true" v-model="fileArray"  docType="Document_srm_ЗаказПоставщику"></file-upload>
</vs-tab>
					

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'	
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Number from '@/components/form_poles/Number'								//импорт Номеров
import Select_ref from '@/components/form_poles/Select_ref'
import File_upload from '@/components/partials/File_upload'		//импорт File upload
import Date from '@/components/form_poles/Date'									//импорт Дат
import Time from '@/components/form_poles/Time'									//импорт Time
import Table from '@/components/form_poles/Table'								//импорт Table
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail,isDefined} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/order_supplier_inform'	//импорт order_supplier_inform (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Order_supplier_inform',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'Дата',
					disabled: true
				},
				СтатусДокумента: {
					value:'',
					requred:true,
					name: 'Статус документа',
					disabled: true
				},		

			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			nomenclature: {},
			orderSupplierDataByRef:[],
			fileArray:{},
			orders:[],		
			rerender:0,
			shipments:{},
			shipmentsData:{},
			dateOfSupply:"",
		}
	},
	mounted: function() {
		this.GetOrderSupplierByRefKey();					
	},	
	components:{
		"form-number":Number,
		"form-date":Date,
		"form-time":Time,
		"form-select-ref":Select_ref,
		"file-upload":File_upload,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit,
		"form-string":String
	},
	filters: {},	
	methods: {
		//Получение данных по анкете
		GetOrderSupplierByRefKey: function() {
			var ref = this.$route.query.ref; 	
				this.$refs.mainLoader.Show();	
				axios.post('/api/base/?action=GetOrderSupplierByRefKey&refkey='+ ref) 
				.then((response) => {
					this.orderSupplierDataByRef = response.data.result;
				}).then(
					() => {
						this.loadData();
						this.getShipmentNoticeByRefKey(this.orderSupplierDataByRef['Ref_Key']).then(()=>{
							this.getNomenclature();	
						});	
							this.$refs.mainLoader.Hide();
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
					}
				);
		},
		//Получение уведомления об отгрузке по точке
		getShipmentNoticeByRefKey: function(ref){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetShipmentNoticeByRefKey&refkey='+ ref
			}).then((response) => {				
				this.shipmentsData = response.data[0].result;
				_.forEach(this.shipmentsData, (value, key) => { 
					_.forEach(value.Товары, (good, key) => { 
						if(typeof this.shipments[good.ID] === 'undefined'){
							this.shipments[good.ID] = {};
						}
						if(typeof this.shipments[good.ID]['Количество'] === 'undefined'){
							this.shipments[good.ID]['Количество'] = 0;
						}
						this.shipments[good.ID]['Количество'] += good.Количество;
					});
				});
			});			
		},
		// проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(!obj) {			
				return false;
			}
			return true;
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.orderSupplierDataByRef['Товары'];
			_.forEach(this.nomenclature, (value, key) => { 
				if(typeof this.orders[key] === 'undefined'){
					this.orders[key] = {};
				}
				if(typeof this.orders[key]['Количество'] === 'undefined'){
					this.orders[key]['Количество'] = 0;
				}
				this.orders[key]['Ref_Key']  = value.Номенклатура_Key;
				this.orders[key]['Количество']  += parseInt(value.Количество);
				this.orders[key]['ПлановаяДатаПоступления']  = value.ПлановаяДатаПоступления;
				this.orders[key]['НоменклатураПоставщика']  = value.НоменклатураПоставщика;
				this.orders[key]['Номенклатура']  = value.НаименованиеТовара;
				this.orders[key]['Артикул']  = value.Артикул;
				this.orders[key]['Упаковка']  = value.Упаковка;
				this.orders[key]['Упаковка_Key']  = value.Упаковка_Key;
				this.orders[key]['ID']  = value.ID;
				
			console.log(this.shipments);	
				if(this.shipments[value.ID]){
					this.orders[key]['ОтгруженоеКоличество']  = this.shipments[value.ID].Количество;
				}
				else{
					this.orders[key]['ОтгруженоеКоличество'] = 0;
				}
			});
			this.rerender++;
		},
		//Заполнить всё
		makeAllDate: function() {
			_.forEach(this.orders, (value, key) => { 
				this.$set(this.orders[key],'Доступно' , value.Количество - value.ОтгруженоеКоличество);
			});
			this.rerender++;
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'СтатусДокумента'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.orderSupplierDataByRef[key]);
				}
				else if(key === 'Date' || key === 'ПлановаяДатаПоступления'){
					this.regForm[key].value = this.$options.filters.formateDate(this.orderSupplierDataByRef[key], 'DD.MM.YYYY');
				}				
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.orderSupplierDataByRef[key]);
				}
				else {
					this.$set(this.regForm[key], 'value', this.orderSupplierDataByRef[key]);
				}					
			});	
			var zaglushka = ""
				if (this.orderSupplierDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.orderSupplierDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.orderSupplierDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;
		},
		//Сохранить уведомление
		saveOrder: function(){
			if(!this.validate()){
				var dataToSend = new FormData();	
				dataToSend.set("data[ДокументСозданНаПортале]", true);
				var ref = this.$route.query.ref; 					
				dataToSend.set("data[ЗаказПоставщику_Key]", this.orderSupplierDataByRef['Ref_Key']);
				dataToSend.set("data[ДатаОтгрузкиТовараПоставщиком]", this.dateOfSupply);
				dataToSend.set("data[Статус]", 'Отгружен');
				let k = 0;
				_.forEach(this.orders, (value, key) => { 
					if(value.Доступно > 0){
						dataToSend.set("data[Товары]["+ k +"][Номенклатура_Key]",value.Ref_Key);
						dataToSend.set("data[Товары]["+ k +"][Артикул]",value.Артикул);
						dataToSend.set("data[Товары]["+ k +"][Количество]",value.Доступно);
						dataToSend.set("data[Товары]["+ k +"][Упаковка_Key]",value.Упаковка_Key);
						dataToSend.set("data[Товары]["+ k +"][ПлановаяДатаПоступления]",value.ПлановаяДатаПоступления);
						dataToSend.set("data[Товары]["+ k +"][ID]",value.ID);
						dataToSend.set("data[Товары]["+ k +"][Номенклатура]",value.Номенклатура);
						dataToSend.set("data[Товары]["+ k +"][НоменклатураПоставщика]",(value.НоменклатураПоставщика)?value.НоменклатураПоставщика : "");
						k++;
					}
					
				});		
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				axios({
						method: 'post',
						url: '/api/base/?action=AddShipmentNotice',
						data: dataToSend
					}).then(
						(response) => {
							if(response.data.status === "OK"){
								this.$vs.dialog({
									acceptText:'Принять',
									type:"alert",
									color:'success',
									title: 'Отправка заказа',
									text: 'Данные успешно отправлены',
									accept:this.accept
								}) ;
								this.$router.push('Order_supplier_table');
							}
						}
					).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					});
			}	
			else{
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger'})
				});
			}
		},
		//Валидация
		validate: function(){
			this.errors = [];	
			if(!this.dateOfSupply.length){
				this.errors.push('Не заполнена дата отгрузки');
			}
			/*
			if(moment().isAfter(this.dateOfSupply,'days')){
				this.errors.push('Дата должна быть больше текущей');
			}
			*/
			let availableSumm = 0;
			_.forEach(this.orders, (value, key) => { 
				if(value.Доступно > value.Количество - value.ОтгруженоеКоличество){
					this.errors.push('Превышено допустимое количество к отгрузке');
				}
				availableSumm += value.Доступно;
			});
			if(availableSumm <= 0){
				this.errors.push('Нет доступного количества к отгрузке');
			}
			//валидируем тип файлов 		
			let lineNumber = 0;
			_.forEach(this.fileArray.oldFiles, (value, key) => {
				lineNumber++
			});					
			_.forEach(this.fileArray.newFiles, (value, key) => {
				lineNumber++
			if (!isDefined(value.type) || value.type.length < 1){	
				this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
			}
						
			});	
			return this.errors.length;			
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("order_supplier_table"); 
		},
		//Обратный вызов
		accept: function(){
			this.$router.push('Order_supplier_table')		
		},
},
}
</script>
