<template>
<div class="login-container table_box-shadow Soc PC">
		<div class="cursor form_line_card" style="margin-left: 10px;">	
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Договор-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
		<p class="cursor" style="color:#31a0ff">{{PAGE_NAME.HEADING1}}</p><!--Основные реквизиты-->
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.Description.value" :label="structure.НаименованиеПолное.Синоним"/><!--Наименование полное-->
				<form-string class="w_pC" :disabled="isAllowed()" v-model="regForm.СтатусДокумента.value" :label="structure.СтатусДокумента.Синоним"/><!--Статус документа-->			
			</div>			
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.НаименованиеОрганизатора.value" :label="structure.Организация_Key.Синоним"/>	<!--Организация-->
			</div>
			<!--<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.НомерДоговора.value" :label="structure.НомерДоговора.Синоним"/>№ договора
				<form-date class="w_pC" :disabled="isAllowed()" v-model="regForm.ДатаДоговора.value" :label="structure.ДатаДоговора.Синоним" />Дата договора
			</div>	-->
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<form-date :disabled="isAllowed()" v-model="regForm.СрокДействия.value" :label="structure.СрокДействия.Синоним" /><!--Срок действия-->
				<form-date class="soCWidth2 date_PC" :disabled="isAllowed()" v-model="regForm.СрокДействияПо.value" :label="regForm.СрокДействияПо.name" /><!--Срок действия по-->
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.НаименованиеПоставщика.value" :label="regForm.НаименованиеПоставщика.name"/><!--Контрагент-->
				<form-string class="w_pC" :disabled="isAllowed()" v-model="regForm.ТипВзаимоотношений.value" :label="structure.ТипВзаимоотношений.Синоним"/><!--Тип взаимоотношений-->
			</div>					
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.НомерВходящий.value" :label="structure.НомерВходящий.Синоним"/><!--№ входящий-->
				<form-string class="w_pC" :disabled="isAllowed()" v-model="regForm.ВидСоглашения.value" :label="structure.ВидСоглашения.Синоним"/><!--Вид соглашения-->
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string v-if="docNDA" :disabled="isAllowed()" v-model="regForm.ВидКонтракта.value" :label="structure.ВидКонтракта.Синоним"/><!--Вид контракта-->
			</div>	
		<p class="cursor" style="color:#31a0ff">{{PAGE_NAME.HEADING2}}</p><!--Тип и предмет договора-->
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string v-if="docNDA" :disabled="isAllowed()" v-model="regForm.ВидЗакупки.value" :label="structure.ВидЗакупки_Key.Синоним"/><!--Вид закупки-->
				<form-string v-if="docNDA" class="w_pC" :disabled="isAllowed()" v-model="regForm.КатегорияЗакупки.value" :label="structure.КатегорияЗакупки_Key.Синоним"/><!--Категория закупки-->
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.ГруппаДоговоров.value" :label="structure.ГруппаДоговоров_Key.Синоним"/><!--Группа договоров-->
				<!--<form-string v-if="docNDA" class="w_pC" :disabled="isAllowed()" v-model="regForm.ПредметДоговора.value" :label="structure.ПредметДоговора.Синоним"/>Предмет договора-->
				<div class="form_line_Accreditation nowrap text_grey soC_margin textarea_ParC" style="display: flex;">
					<div style="margin: 0 13px 0 40px;">{{PAGE_NAME.HEADING2_1}}</div><!--Предмет договора-->
					<textarea v-if="docNDA" class="el-input__inner text_grey" :disabled="isAllowed()" v-model="regForm.ПредметДоговора.value" :label="structure.ПредметДоговора.Синоним"/>
				</div>				
			</div>

		</div>		
	  </vs-col>
	</vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2" disabled="true"  id="tab_2" icon="local_atm"><!--Расчеты-->
    <div class="table_box-shadow-2 soCard_margin">
	<vs-row>
	  <vs-col vs-type="flex" vs-align="center" vs-w="12">
		<div class="card_undertab" style="font-size: 14px;">		
			<div class="form_line form_line_CU nowrap pole_required soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияОплаты.value" :label="structure.УсловияОплаты_Key.Синоним"/><!--Условия оплаты-->
			</div>
			<div class="form_line form_line_CU nowrap pole_required soC_margin" style="display: flex;">
			    <form-string :disabled="isAllowed()" v-model="regForm.ВалютаДоговора.value" :label="structure.Валюта_Key.Синоним"/><!--Валюта договора-->
			    <form-string :disabled="isAllowed()" v-model="regForm.ВалютаРасчетов.value" :label="structure.ВалютаРасчетов_Key.Синоним"/><!--Валюта расчетов-->
			</div>
			<div class="form_line form_line_CU pole_required soC_margin" style="display: flex;">
			    <form-string :disabled="isAllowed()" v-model="regForm.СуммаДоговораБезНДС.value" :label="regForm.СуммаДоговораБезНДС.name"/><!--Сумма договора без НДС-->
			    <form-string :disabled="isAllowed()" v-model="regForm.СтавкаНДС.value" :label="structure.СтавкаНДС.Синоним"/><!--Ставка НДС-->
			</div>
			<div class="form_line form_line_CU pole_required soC_margin" style="display: flex;">
			    <form-string :disabled="isAllowed()" v-model="regForm.СуммаНДС.value" :label="structure.СуммаНДС.Синоним"/><!--Сумма НДС-->
			    <form-string :disabled="isAllowed()" v-model="regForm.СуммаДоговораСНДС.value" :label="structure.СуммаДоговораСНДС.Синоним"/><!--Сумма договора с НДС-->
			</div>					
		</div>
	  </vs-col>
	</vs-row>
</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  disabled="true" id="tab_3" icon="category"><!--Товары-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th><!--№-->
				<vs-th sort-key="НаименованиеТовара" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th><!--Номенклатура-->
				<vs-th sort-key="Артикул" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th><!--Артикул-->
				<vs-th sort-key="НоменклатураПоставщика" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th><!--Номенклатура поставщика-->
				<vs-th sort-key="ЕденицаИзмерения" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th><!--Ед.изм.-->
				<vs-th sort-key="Цена" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th><!--Цена без НДС-->
				<vs-th sort-key="СтавкаНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th><!--Ставка НДС-->
				<vs-th sort-key="ЦенаСНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th><!--Цена с НДС-->
				<vs-th sort-key="СтоимостьБезНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th><!--Стоимость без НДС-->
				<vs-th sort-key="СуммаНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN10}}</vs-th><!--Сумма НДС-->
				<vs-th sort-key="СтоимостьСНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN11}}</vs-th><!--Стоимость с НДС-->
				<vs-th sort-key="КоличествоИтог" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN12}}</vs-th><!--Количество итог-->
				<vs-th sort-key="Отменено" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN13}}</vs-th><!--Отменено-->
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td :data="data[indextr].LineNumber">{{index + 1}}</vs-td>
				<vs-td :data="data[indextr].НаименованиеТовара">{{data[indextr].НаименованиеТовара}}</vs-td>	
				<vs-td :data="data[indextr].Артикул">{{data[indextr].Артикул}}</vs-td>
				<vs-td :data="data[indextr].НоменклатураПоставщика" class="acenter_span">{{data[indextr].НоменклатураПоставщика}}</vs-td>				
				<vs-td :data="data[indextr].ЕденицаИзмерения">{{data[indextr].ЕденицаИзмерения}}</vs-td>
				<vs-td :data="data[indextr].Цена">{{data[indextr].Цена | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтавкаНДС">{{data[indextr].СтавкаНДС | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].ЦенаСНДС">{{data[indextr].ЦенаСНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтоимостьБезНДС">{{data[indextr].СтоимостьБезНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СуммаНДС">{{data[indextr].СуммаНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтоимостьСНДС">{{data[indextr].СтоимостьСНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].КоличествоИтог">{{data[indextr].КоличествоИтог}}</vs-td>
				<vs-td :data="data[indextr].Отменено"><form-bool :disabled="true" v-model="data[indextr].Отменено"/></vs-td>
				<template slot="expand">
				<div class="expand_div_checkbox">
				  	<div class="leftstr">	
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN1}}: </b>{{index + 1}}</div><!--№-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN2}}: </b>{{data[indextr].НаименованиеТовара}}</div><!--Номенклатура-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN3}}: </b>{{data[indextr].Артикул}}</div><!--Артикул-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN4}}: </b>{{data[indextr].НоменклатураПоставщика}}</div><!--Номенклатура поставщика-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN5}}: </b>{{data[indextr].ЕденицаИзмерения}}</div><!--Ед.изм.-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN6}}: </b>{{data[indextr].Цена | numberBeautifier}}</div><!--Цена без НДС-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN7}}: </b>{{data[indextr].СтавкаНДС | uncamelize}}</div><!--Ставка НДС-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN8}}: </b>{{data[indextr].ЦенаСНДС | numberBeautifier}}</div><!--Цена с НДС-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN9}}: </b>{{data[indextr].СтоимостьБезНДС | numberBeautifier}}</div><!--Стоимость без НДС-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN10}}: </b>{{data[indextr].СуммаНДС | numberBeautifier}}</div><!--Сумма НДС-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN11}}: </b>{{data[indextr].СтоимостьСНДС | numberBeautifier}}</div><!--Стоимость с НДС-->
						<div><b>{{PAGE_NAME.COLUMNS.COLUMN12}}: </b>{{data[indextr].КоличествоИтог}}</div><!--Количество итог-->
				  	</div>				  
				<div class="rightstr">
					<vs-table>
					<template>
						<vs-th>{{PAGE_NAME.COLUMNS.COLUMN14}}</vs-th><!--Период планирования<-->
						<vs-th>{{PAGE_NAME.COLUMNS.COLUMN15}}</vs-th><!--Количество-->
					</template>
					<template>
						<vs-tr :key="index" v-for="(period,key,index) in data[indextr].Периоды">							
							<vs-td>{{period.ПериодПланирования |getDateYearAndMonth}}</vs-td>
							<vs-td>{{period.Количество}}</vs-td>
						</vs-tr>
					</template>
					</vs-table>
				  </div>
				</div>
				</template>			
			</vs-tr>			
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	

<vs-tab :label="PAGE_NAME.PAGE_NAME4" disabled="true" id="tab_4" icon="local_shipping"><!--Доставка-->

    <div class="table_box-shadow-2 soCard_margin">
	<vs-row>
	  <vs-col vs-type="flex" vs-align="center" vs-w="12">
		<div class="card_undertab" style="font-size: 14px;">					 
			<div class="form_line form_line_CU nowrap pole_required soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияПоставкиIncoterms.value" :label="structure.УсловияПоставкиIncoterms_Key.Синоним"/><!--Условия поставки Incoterms-->
			</div>	
			<div class="form_line form_line_CU pole_required soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияПоставкиIncotermsСтрока.value" :label="structure.УсловияПоставкиIncotermsСтрока.Синоним"/><!--Условия поставки Incoterms строка-->
			</div>	
			
			<div class="form_line form_line_CU nowrap pole_required soC_margin textarea_OSC" style="display: flex;margin: 6px 0 3px;">
				<div style="margin: 10px 95px 0 20px;cursor: default;">{{PAGE_NAME.ADDRESS1}}</div><!--Адрес отгрузки-->
				<textarea :disabled="isAllowed()" class="el-input__inner text_grey" v-model="regForm.АдресОтгрузки.value" :label="structure.АдресОтгрузки.Синоним"/>
			</div>
			<div class="form_line form_line_CU nowrap pole_required soC_margin textarea_OSC" style="display: flex;margin: 6px 0 3px;">
				<div style="margin: 10px 91px 0 20px;cursor: default;">{{PAGE_NAME.ADDRESS2}}</div><!--Адрес доставки-->
				<textarea :disabled="isAllowed()" class="el-input__inner text_grey" v-model="regForm.АдресДоставки.value" :label="structure.АдресДоставки.Синоним"/>
			</div>
		</div>
	  </vs-col>
	</vs-row>
</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME5"  icon="attach_file"><!--Присоединенные файлы-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 attached_files table_file">
		<vs-table class="text_grey">
		  <template slot="thead">
				<vs-th>{{PAGE_NAME.FILE.FILE1}}</vs-th><!--Наименование-->
				<vs-th>{{PAGE_NAME.FILE.FILE2}}</vs-th><!--Вид документа-->
				<vs-th>{{PAGE_NAME.FILE.FILE3}}</vs-th><!--Расширение-->
				<vs-th>{{PAGE_NAME.FILE.FILE4}}</vs-th><!--Результат согласования-->
		  </template>
		  <template v-for="(file, key) in fileSaveResp.result.files"><tr>
				<td><span v-if="file.Наименование"><a :href="'/api/base/?action=GetContractorAgreementFile&code=' + file.Файл_Key">{{file.Наименование}}</a></span></td>
			    <td><span v-if="file.ВидДокумента">{{file.ВидДокумента.Description}}</span></td>				
				<td><span v-if="file.Расширение">{{file.Расширение}}</span></td>
				<td><span v-if="file.РезультатСогласования">{{file.РезультатСогласования}}</span></td>
		  </tr></template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Select from '@/components/form_poles/Select'								//импорт Селекта
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/partner_contract'	//импорт partner_contract (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Partner_contract',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Description: {
					value:'',
					requred:true,
					name: 'Наименование',
					disabled: true
				},
				СтатусДокумента: {
					value:'',
					requred:true,
					name: 'Статус документа',
					disabled: true
				},
				НаименованиеОрганизатора: {
					value:'',
					requred:true,
					name: 'Организация',
					disabled: true
				},
				НомерДоговора: {
					value:'',
					requred:true,
					name: '№ договора',
					disabled: true
				},
				ДатаДоговора: {
					value:'',
					requred:true,
					name: 'Дата договора',
					disabled: true
				},
				СрокДействия: {
					value:'',
					requred:true,
					name: 'Срок действия с',
					disabled: true
				},
				СрокДействияПо: {
					value:'',
					requred:true,
					name: 'по',
					disabled: true
				},
				НаименованиеПоставщика: {
					value:'',
					requred:true,
					name: 'Контрагент',
					disabled: true
				},				ТипВзаимоотношений: {
					value:'',
					requred:true,
					name: 'Тип взаимоотношений',
					disabled: true
				},
				НомерВходящий: {
					value:'',
					requred:true,
					name: '№ входящий',
					disabled: true
				},
				ВидСоглашения: {
					value:'',
					requred:true,
					name: 'Вид соглашения',
					disabled: true
				},
				ВидКонтракта: {
					value:'',
					requred:true,
					name: 'Вид контракта',
					disabled: true
				},
				ВидЗакупки: {
					value:'',
					requred:true,
					name: 'Вид закупки',
					disabled: true
				},
				КатегорияЗакупки: {
					value:'',
					requred:true,
					name: 'Категория закупки',
					disabled: true
				},
				ГруппаДоговоров: {
					value:'',
					requred:true,
					name: 'Группа договоров',
					disabled: true
				},
				ПредметДоговора: {
					value:'',
					requred:true,
					name: 'Предмет договора',
					disabled: true
				},
				ТипКлассификации: {
					value:'',
					requred:true,
					name: 'Тип классификации',
					disabled: true
				},			
				УсловияОплаты: {
					value:'',
					requred:true,
					name: 'Условия оплаты',
					disabled: true
				},
				ВалютаДоговора: {
					value:'',
					requred:true,
					name: 'Валюта договора',
					disabled: true
				},
				ВалютаРасчетов: {
					value:'',
					requred:true,
					name: 'Валюта расчетов',
					disabled: true
				},
				СуммаДоговораБезНДС: {
					value:'',
					requred:true,
					name: 'Сумма договора без НДС',
					disabled: true
				},
				СтавкаНДС: {
					value:'',
					requred:true,
					name: 'Ставка НДС',
					disabled: true
				},
				СуммаНДС: {
					value:'',
					requred:true,
					name: 'Сумма НДС',
					disabled: true
				},
				СуммаДоговораСНДС: {
					value:'',
					requred:true,
					name: 'Сумма договора С НДС',
					disabled: true
				},
				
				УсловияПоставкиIncoterms: {
					value:'',
					requred:true,
					name: 'Условия поставки incoterms',
					disabled: true
				},
				УсловияПоставкиIncotermsСтрока: {
					value:'',
					requred:true,
					name: 'Условия поставки incoterms строка',
					disabled: true
				},
				АдресОтгрузки: {
					value:'',
					requred:true,
					name: 'Адрес отгрузки',
					disabled: true
				},
				АдресДоставки: {
					value:'',
					requred:true,
					name: 'Адрес доставки',
					disabled: true
				},
			},
		//значения создаваемые во vue (справа)
			structure: {
				НаименованиеПолное:{
					Синоним:''
				},
				СтатусДокумента:{
					Синоним:''
				},
				Организация_Key:{
					Синоним:''
				},
				НомерДоговора:{
					Синоним:''
				},
				ДатаДоговора:{
					Синоним:''
				},
				СрокДействия:{
					Синоним:''
				},
				СрокДействияПо:{
					Синоним:''
				},
				ТипВзаимоотношений:{
					Синоним:''
				},
				НомерВходящий:{
					Синоним:''
				},
				ВидСоглашения:{
					Синоним:''
				},
				ВидКонтракта:{
					Синоним:''
				},
				ВидЗакупки_Key:{
					Синоним:''
				},
				КатегорияЗакупки_Key:{
					Синоним:''
				},
				ГруппаДоговоров_Key:{
					Синоним:''
				},
				ПредметДоговора:{
					Синоним:''
				},
				ТипКлассификации_Key:{
					Синоним:''
				},
				
				УсловияОплаты_Key:{
					Синоним:''
				},
				Валюта_Key:{
					Синоним:''
				},
				ВалютаРасчетов_Key:{
					Синоним:''
				},
				СтавкаНДС:{
					Синоним:''
				},
				СуммаНДС:{
					Синоним:''
				},
				СуммаДоговораСНДС:{
					Синоним:''
				},
				
				УсловияПоставкиIncoterms_Key:{
					Синоним:''
				},
				УсловияПоставкиIncotermsСтрока:{
					Синоним:''
				},
				АдресОтгрузки:{
					Синоним:''
				},
				АдресДоставки:{
					Синоним:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			contractorAgreementByRefKey:[],
			nomenclature: {},
			docNDA: false,
			docReg: false,
			docFile: false,
			fileSaveResp: {
				result: {
					files:[]
				}
			},
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {					
					this.GetContractorAgreementByRefKey();					
			}
		);
	},	
	components:{
		"form-bool":Bool,
		"form-string":String,
		"form-textarea":Textarea,
		"form-date":Date
	},
	filters: {
		getDateYearAndMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		}
	},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Catalog_ДоговорыКонтрагентов'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
				this.$refs.mainLoader.Hide();
			});
		},
		//Получение данных по анкете
		GetContractorAgreementByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetContractorAgreementByRefKey&refkey='+ ref) 
				.then((response) => {
					this.contractorAgreementByRefKey = response.data.result[0];
					this.docNDA = false;
				}).then(
					() => {
						this.loadData();
						this.getNomenclature();						
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
					}
				).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				});
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.contractorAgreementByRefKey['Товары'];
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => {
				if(key === 'СтатусДокумента'){					
					this.regForm[key].value = this.$options.filters.uncamelize(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'ДатаДоговора' || key === 'СрокДействия' || key === 'СрокДействияПо' ){
					this.regForm[key].value = this.$options.filters.formateDate(this.contractorAgreementByRefKey[key], 'DD.MM.YYYY');
				}
				else if(key === 'НомерДоговора'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'ТипВзаимоотношений'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'ВидСоглашения'){
					this.regForm[key].value = this.chekedAgreement(this.contractorAgreementByRefKey[key]);					
				}
				else if(key === 'ВидКонтракта'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'СтавкаНДС'){		
					this.regForm[key].value = this.$options.filters.uncamelize(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'СуммаДоговораБезНДС'){
					this.regForm[key].value = this.$options.filters.numberBeautifier(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'СуммаНДС'){
					this.regForm[key].value = this.$options.filters.numberBeautifier(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'СуммаДоговораСНДС'){
					this.regForm[key].value = this.$options.filters.numberBeautifier(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'file.ВидДокумента'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.contractorAgreementByRefKey[key]);
				}
				else if(key === 'АдресОтгрузки' || key === 'АдресДоставки'){
					this.regForm[key].value = this.chekedAddress(this.contractorAgreementByRefKey[key]);
				}
				else {
					this.$set(this.regForm[key], 'value', this.contractorAgreementByRefKey[key]);
				}
			});	
			var zaglushka = ""
				if (this.contractorAgreementByRefKey.НомерДоговора) {
					//zaglushka = this.$options.filters.removeZeroes(this.contractorAgreementByRefKey.НомерДоговора) + " от " +  this.$options.filters.formateDate(this.contractorAgreementByRefKey.ДатаДоговора, 'DD.MM.YYYY');
					zaglushka = this.contractorAgreementByRefKey.НомерДоговора + " от " +  this.$options.filters.formateDate(this.contractorAgreementByRefKey.ДатаДоговора, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;
			//файлы
			_.forEach(this.contractorAgreementByRefKey['ПрисоединенныеФайлы'], (value, key) => {
					this.fileSaveResp.result.files.push({
						LineNumber:value.LineNumber,
						id:value.Ref_Key,
						ВидДокумента:value.ВидДокумента,
						ВидДокумента_Key: value.ВидДокумента_Key,
						Наименование:value.Description,
						Расширение:value.Расширение,
						Файл_Key:value.Файл_Key,
						РезультатСогласования:value.РезультатСогласования,
					});					
			});			
		},
		//проверка "Вид Соглашения"
		chekedAgreement: function(value){		//v-if="docNDA" 
			if(value === "ДоговорСУсловием") {
				this.docNDA = true;
				this.docReg= true;
				this.docFile= true;		
				document.getElementById("tab_2").disabled = "";	
				document.getElementById("tab_3").disabled = "";
				document.getElementById("tab_4").disabled = "";				
			}
			if(value === "РамочныйДоговор") {
				this.docNDA = true;
				this.docFile= true;	
				document.getElementById("tab_2").disabled = "";	
				document.getElementById("tab_4").disabled = "";	
			}
			if(value === "СпецификацияКДоговору") {
				this.docNDA = true;
				this.docReg= true;
				this.docFile= true;	
				document.getElementById("tab_2").disabled = "";	
				document.getElementById("tab_3").disabled = "";	
				document.getElementById("tab_4").disabled = "";	
			}
			if(value === "ДополнительноеСоглашение") {
				this.docNDA = true;
				this.docReg= true;
				this.docFile= true;	
				document.getElementById("tab_2").disabled = "";	
				document.getElementById("tab_3").disabled = "";
				document.getElementById("tab_4").disabled = "";		
				
			}
			if(value === "ДоговорNDA") {
				this.docFile= true;	
				document.getElementById("tab_5").disabled = "";					
			}			
			return this.$options.filters.uncamelize(value);			
		}, 
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("card"); 
		},		
		//Разбор адреса доставки
		chekedAddress: function(value){
			let json = JSON.parse(value);	
			return json.value;			
		}, 
},
}
</script>