<template>
<div class="login-container table_box-shadow Soc Osc Pret_card">
<div class="cursor form_line_card" style="margin-left: 10px;">	
	<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Претензия поставщику-->
	<span class="trigger">{{regForm.Триггер.value}}</span>
	<span class="trigger_color_status">{{regForm.СтатусДокумента.value}}</span><!--Статус-->
	<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
</div>
<div class="indent" style="display: flex;margin-top:10px;">
	<div class="save_but" v-if="regForm.СтатусДокумента.value === 'Направлена поставщику'"><button type="button" @click="saveForm()" class="el-button filter-item"><span style="color:white;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M15.73 3H8.27L3 8.27v7.46L8.27 21h7.46L21 15.73V8.27L15.73 3zM12 17.3c-.72 0-1.3-.58-1.3-1.3 0-.72.58-1.3 1.3-1.3.72 0 1.3.58 1.3 1.3 0 .72-.58 1.3-1.3 1.3zm1-4.3h-2V7h2v6z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.APPROVE}}</span></button></div><!--Согласовать претензию-->
	<div class="save_but" v-if="regForm.СтатусДокумента.value === 'Направлена поставщику'"><button type="button" @click="reject()" class="el-button filter-item k2"><span style="color:white;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M11 7h2v2.92l6.91 6.91 1.09-1.1V8.27L15.73 3H8.27L7.18 4.1 11 7.92zm11.27 14.73l-20-20.01L1 2.99l3.64 3.64L3 8.27v7.46L8.27 21h7.46l1.64-1.63L21 23l1.27-1.27zM12 17.3c-.72 0-1.3-.58-1.3-1.3s.58-1.3 1.3-1.3 1.3.58 1.3 1.3-.58 1.3-1.3 1.3z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
		{{PAGE_NAME.REJECT}}</span></button></div><!--Отклонить претензию-->
</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="list_alt"><!--Сведения по заказу-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<div v-if="regForm.СтатусДокумента.value === 'Отклонено поставщиком'" class="form_line_Order text_grey soC_margin">
				<form-string :disabled="isAllowed()" :label="regForm.ПричинаОтклонения.name"  v-model="regForm.ПричинаОтклонения.value" /><!--Причина отклонения-->
			</div>
			<!--<div class="form_line_Accreditation text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string150" :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>Номер	
				<form-date class="date" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name"/>Дата
			</div>	-->
			<div class="form_line_Accreditation form_line_card text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string2" :disabled="isAllowed()" v-model="regForm.НомерПоставщика.value" :label="regForm.НомерПоставщика.name"/><!--Номер документа поставщика-->
				<form-date class="soCWidth2" :disabled="isAllowed()" v-model="regForm.ДатаПоставщика.value" :label="regForm.ДатаПоставщика.name"/><!--Дата документа поставщика-->
			</div>
			<div class="form_line_Accreditation form_line_card text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string2" :disabled="isAllowed()" v-model="regForm.НомерАкта.value" :label="regForm.НомерАкта.name"/><!--Номер акта о несоответствии-->
				<form-date class="soCWidth2" :disabled="isAllowed()" v-model="regForm.ДатаАкта.value" :label="regForm.ДатаАкта.name"/><!--Дата акта о несоответствии-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.Организация.value" :label="structure.Организация_Key.Синоним"/><!--Организация-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span class="span_ref" @click="toCard()"><form-string :disabled="isAllowed()" v-model="regForm.Договор.value" :label="structure.Договор_Key.Синоним"/></span><!--Договор-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.ТипПретензии.value" :label="structure.ТипПретензии.Синоним"/><!--Тип претензии-->
			</div>
			<div class="text_grey">				
				<form-bool :disabled="isAllowed()" v-model="regForm.ТребуетсяПлан.value" :label="structure.ТребуетсяПлан.Синоним"/><!--Требуется план корректирующих мероприятий (Отчет по форме G8D)-->
			</div>

			<div class="form_line_Accreditation text_grey soC_margin textarea_PC" style="display: flex;">
				<div style="margin-left:40px;margin-right: 80px;">{{PAGE_NAME.DESCRIPTION}}</div><!--Описание несоответствия-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.Комментарий.value" :label="structure.Комментарий.Синоним"/><!--Описание несоответствия-->	
			</div>
			<div v-if="regForm.СтатусДокумента.value === 'Отклонена поставщиком'" class="form_line_Accreditation text_grey soC_margin textarea_PC" style="display: flex;">
				<div style="margin-left:40px;margin-right: 80px;">Причина отклонения</div><!--Причина отклонения-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.ПричинаОтклонения.value" :label="structure.ПричинаОтклонения.Синоним"/><!--Описание причина отклонения-->	
			</div>	
		</div>		
	  </vs-col>
	</vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="category"><!--Товары-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th sort-key="LineNumber">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th><!--№-->
				<vs-th sort-key="НоменклатураПоставщика">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th><!--Номенклатура поставщика-->
				<vs-th sort-key="НаименованиеТовара">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th><!--Номенклатура-->
				<vs-th sort-key="Артикул">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th><!--Артикул-->
				<vs-th sort-key="ЕденицаИзмерения">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th><!--Ед.изм.-->
				<vs-th sort-key="Количество">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th><!--Количество по документу-->
				<vs-th sort-key="КоличествоПоПретензии">{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th><!--Количество по претензии-->
				<vs-th sort-key="Документ основание">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th><!--Документ основание-->
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td :data="data[indextr].LineNumber" style="padding-left: 1%;">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].НоменклатураПоставщика" style="padding-left: 1%;">{{data[indextr].НоменклатураПоставщика}}</vs-td>
				<vs-td :data="data[indextr].НаименованиеТовара" style="padding-left: 1%;">{{data[indextr].НаименованиеТовара}}</vs-td>
				<vs-td :data="data[indextr].Артикул" style="padding-left: 1%;">{{data[indextr].Артикул}}</vs-td>
				<vs-td :data="data[indextr].ЕденицаИзмерения" style="padding-left: 2%;">{{data[indextr].ЕденицаИзмерения}}</vs-td>				
				<vs-td :data="data[indextr].Количество" style="padding-left: 5%;">{{data[indextr].Количество}}</vs-td>	
				<vs-td :data="data[indextr].КоличествоПоПретензии" style="padding-left: 5%;">{{data[indextr].КоличествоПоПретензии}}</vs-td>			
				<vs-td :data="data[indextr].НаименованиеСклада">{{data[indextr].ДокументОснование}}</vs-td>
			</vs-tr>			
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="attach_file"><!--Присоединенные файлы-->

	<file-upload :disabled="!isAllowed('Файлы')" v-model="fileArray" v-if="pretenseDataByRef['ПрисоединенныеФайлы']" :oldFiles="pretenseDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_ПретензияПоставщику"></file-upload>			

</vs-tab>


<vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="library_add_check"><!--Решение поставщика-->
   <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card att_Files decision">
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th sort-key="LineNumber">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th><!--№-->
				<vs-th sort-key="НаименованиеТовара">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th><!--Номенклатура-->
				<vs-th sort-key="Артикул">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th><!--Ед.изм.-->
				<vs-th sort-key="Документ основание">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th><!--Документ основание-->
				<vs-th sort-key="ВЧастиОплаты">{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th><!--В части оплаты-->
				<vs-th sort-key="ВЧастиТоваров">{{PAGE_NAME.COLUMNS.COLUMN10}}</vs-th><!--В части товаров-->
				<vs-th sort-key="ИноеВЧастиТоваров">{{PAGE_NAME.COLUMNS.COLUMN11}}</vs-th><!--Иное-->
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr) in data">
				<vs-td :data="data[indextr].LineNumber">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].НаименованиеТовара">{{data[indextr].НаименованиеТовара}}</vs-td>
				<vs-td :data="data[indextr].ЕденицаИзмерения" style="padding-left: 2%;">{{data[indextr].ЕденицаИзмерения}}</vs-td>							
				<vs-td :data="data[indextr].НаименованиеСклада">{{data[indextr].ДокументОснование}}</vs-td>
				<vs-td :data="data[indextr].ВЧастиОплаты">				
					<select v-model="data[indextr].ВЧастиОплаты" :disabled="isAllowed('Файлы')" >
						<option v-for="(type, tkey) in structure.ВЧастиОплаты.Enum.Member" :key="tkey" :value="type">{{$options.filters.uncamelize(type)}}</option>
					</select>
				</vs-td>
				
				<vs-td :data="data[indextr].ВЧастиТоваров">
					<span :class="{'isError':!isAllowed('Файлы') && data[indextr].ВЧастиТоваров === ''}">
						<select v-model="data[indextr].ВЧастиТоваров" :disabled="isAllowed('Файлы')">
							<option v-for="(type, tkey) in structure.ВЧастиТоваров.Enum.Member" :key="tkey" :value="type" >{{$options.filters.uncamelize(type)}}</option>
						</select>
					</span>
				</vs-td>
				<vs-td :data="data[indextr].ИноеВЧастиТоваров">
					<span :class="{'isError':!isAllowed(data[indextr].ВЧастиТоваров) && data[indextr].ИноеВЧастиТоваров === ''}">
						<form-string :disabled="isAllowed(data[indextr].ВЧастиТоваров)" v-model="data[indextr].ИноеВЧастиТоваров"/>
					</span>
				</vs-td>
			</vs-tr>			
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

</vs-tabs>
<!--Удаление анкеты(окончательное-попап окно)-->
<vs-prompt :accept-text="PAGE_NAME.ACCEPT" :cancel-text="PAGE_NAME.CANCEL" :title="PAGE_NAME.REJECT" @cancel="" @accept="this.rejectClaim" @close="" :active.sync="showDeleteAlert"><!--принять/отмена/Отклонить претензию-->
	<div class="delete_promt">
	<div style="margin: 10px 0;">{{PAGE_NAME.REJECTION}}</div><!--Причина отклонения-->
		<textarea class="el-input__inner line_height width_input_popup" style="height:102px;width:380px;padding-top:6px;" v-model="deletePopUpText"/>
	</div>
</vs-prompt>	
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Инпута
import Select from '@/components/form_poles/Select'								//импорт Селекта
import Select_ref from '@/components/form_poles/Select_ref'
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Time from '@/components/form_poles/Time'									//импорт Time
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import File_upload from '@/components/partials/File_upload'						//импорт File upload
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail,isDefined} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/pretense_card'	//импорт pretense_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Pretense_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'Дата',
					disabled: true
				},
				НомерПоставщика: {
					value:'',
					requred:true,
					name: 'Документ поставщика №',
					disabled: true
				},
				ДатаПоставщика: {
					value:'',
					requred:true,
					name: 'от',
					disabled: true
				},
				НомерАкта: {
					value:'',
					requred:true,
					name: 'Акт о несоответствии №',
					disabled: true
				},
				ДатаАкта: {
					value:'',
					requred:true,
					name: 'от',
					disabled: true
				},
				ПричинаОтклонения: {
					value:'',
					requred:true,
					name: 'Причина отклонения',
					disabled: true
				},
				Организация: {
					value:'',
					requred:true,
					name: 'Организация',
					disabled: true
				},
				Договор: {
					value:'',
					requred:true,
					name: 'Договор',
					disabled: true
				},
				ТипПретензии: {
					value:'',
					requred:true,
					name: 'Тип претензии',
					disabled: true
				},
				ТребуетсяПлан: {
					value:'',
					requred:true,
					name: 'Требуется план корректирующих мероприятий (Отчет по форме G8D)',
					disabled: true
				},
				СтатусДокумента: {
					value:'',
					requred:true,
					name: 'Статус документа',
					disabled: true
				},
				Комментарий: {
					value:'',
					requred:true,
					name: 'Описание о несоответствия',
					disabled: true
				},
			},
		//значения создаваемые во vue (справа)
			structure: {
				ВЧастиОплаты:{
					Enum:{
						Member:[]
					}
				},
				НомерПоставщика:{
					Синоним:'',
					Description:''
				},
				ДатаПоставщика:{
					Синоним:'',
					Description:''
				},
				НомерАкта:{
					Синоним:'',
					Description:''
				},
				ДатаАкта:{
					Синоним:'',
					Description:''
				},
				Организация_Key:{
					Синоним:'',
					Description:''
				},
				Договор_Key:{
					Синоним:'',
					Description:''
				},
				ТипПретензии:{
					Синоним:'',
					Description:''
				},
				ТребуетсяПлан:{
					Синоним:'',
					Description:''
				},
				Комментарий:{
					Синоним:'',
					Description:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			nomenclature: {},
			mode: 'read',
			pretenseDataByRef:[],
			showMatchings: false,
			fileSaveResp: {
				result: {
					files:[]
				}
			},
			newFiles: {
				result: {
					files:[],
					types:[]
				}
			},
			fileMatchArray: [],
			additionalFiles:[],
			deletedItems:[],
			showDeleteAlert: false,
			anketaNum: "",
			deletePopUpHeader: "",
			deletePopUpText: "",
			fileArray:{},
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {					
				this.GetPretenseByRefKey();				
			}
		);
	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-bool":Bool,
		"form-select":Select,
		"form-select-ref":Select_ref,
		"form-number":Number,
		"form-date":Date,
		"form-time":Time,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit,
		"file-upload":File_upload,
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ПретензияПоставщику'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			});
		},
		//Получение данных по анкете
		GetPretenseByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetClaimSupplierByRefKey&refkey='+ ref) 
				.then((response) => {
					this.pretenseDataByRef = response.data;
				}).then(
					() => {
						this.loadData();
						this.getNomenclature();	
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
						this.$refs.mainLoader.Hide();
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			if(this.regForm.СтатусДокумента.value != "Направлена поставщику"){return true;}
			if(pole === "Файлы"){return false;}
			if(pole === "Иное"){return false;}
				return true;
		},
		//Запись данных в таблицу
		getNomenclature: function(){
			this.nomenclature  = this.pretenseDataByRef['Товары'];
			_.forEach(this.nomenclature, (value, key) => { 	
				if (this.nomenclature[key]['ДокументОснование']) { 
					this.nomenclature[key]['ДокументОснование'] = this.nomenclature[key]['ДокументОснование'].НаименованиеДокумента+' №'+this.$options.filters.removeZeroes(this.nomenclature[key]['ДокументОснование'][0].Number)+' от '+this.$options.filters.formateDate(this.nomenclature[key]['ДокументОснование'][0].Date, 'DD.MM.YYYY');	
				}
			});	
		},
		//Открывает Договоры контрагентов
		toCard: function(){
			this.$router.push('partner_contract?ref=' + this.pretenseDataByRef.Договор_Key); 
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
			
				if(key === 'Date' || key === 'ДатаПоставщика' || key === 'ДатаАкта'){
					this.regForm[key].value = this.$options.filters.formateDate(this.pretenseDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'ТипПретензии' || key === 'СтатусДокумента'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.pretenseDataByRef[key]);
				}
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.pretenseDataByRef[key]);
				}	
				else{
					this.$set(this.regForm[key], 'value', this.pretenseDataByRef[key]);
				}								
			});	
			var zaglushka = ""
				if (this.pretenseDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.pretenseDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.pretenseDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;	
		},
		//Кнопка Отправить
		saveForm: function(status){
			//Обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//Валидация данных перед отправкой
			//Возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				
				//Отправка на сервер
				var dataToSend = new FormData();
				var ref = this.$route.query.ref; 					
				dataToSend.set("Ref_Key", ref);
				dataToSend.set("data[СтатусДокумента]", "СогласованаПоставщиком");
				_.forEach(this.nomenclature, (value, key) => {
					dataToSend.set("data[Товары]["+key+"][Номенклатура_Key]",this.nomenclature[key].Номенклатура_Key);
					dataToSend.set("data[Товары]["+key+"][ВЧастиОплаты]",this.nomenclature[key].ВЧастиОплаты);
					dataToSend.set("data[Товары]["+key+"][ВЧастиТоваров]",this.nomenclature[key].ВЧастиТоваров);
					dataToSend.set("data[Товары]["+key+"][ИноеВЧастиТоваров]",this.nomenclature[key].ИноеВЧастиТоваров);
				
				});	
				var i= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i++;
					}
				});
				
				axios({
					method: 'post',
					url: '/api/base/?action=UpdateClaimSupplier',
					data: dataToSend
				}).then(
				 (response) => {					 
					 if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка претензии',
							text: 'Претензия успешно согласована',
							accept:this.accept
						});
						this.$router.push('Pretense_table');
						//window.location.href = "http://ssa-srmdev-test.hq.severstalauto.com";
					 }
					
				 } 
				);
				
			}			
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("pretense_table"); 
		},
		//Валидация
		validate: function(){
			this.errors = [];	
			let i = 0
			_.forEach(this.nomenclature, (value, key) => { 	
			i++;
				if(this.nomenclature[key].ВЧастиТоваров === ""){
					this.errors.push("Не заполнено решение поставщика в части товара в строке №"+i);	
				}
				if(this.nomenclature[key].ВЧастиТоваров === "Иное" && this.nomenclature[key].ИноеВЧастиТоваров === ''){
					this.errors.push("Не заполнено поле 'Иное' в строке №"+i);	
				}
			});	
			//валидируем тип файлов 		
				let lineNumber = 0;
					_.forEach(this.fileArray.oldFiles, (value, key) => {
						lineNumber++
					});					
					_.forEach(this.fileArray.newFiles, (value, key) => {
						lineNumber++
						if (!isDefined(value.type) || value.type.length < 1){	
							this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
						}						
					});	
			return this.errors.length;			
		},		
		//Проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
		if(!obj) {			
			return false;
		}
		return true;
		},
		//Кнопка Удаление(попап) [Заболотный А]
		reject: function(){
			this.deletePopUpText = "";
			this.showDeleteAlert = true;
		},
		//Переключение страниц
		rejectClaim: function(){
			let error = 0;		
			
			if(this.deletePopUpText === ""){
				this.$vs.notify({title:'Ошибка',text:"Не заполнена причина отклонения претензии",color:'danger', fixed:true})
				error = 1;				
				return;
			}
			
			//валидируем тип файлов 			
			let lineNumber = 0;		
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					lineNumber++
				});					
				_.forEach(this.fileArray.newFiles, (value, key) => {
					lineNumber++
					if (!isDefined(value.type) || value.type.length < 1){	
						error = 1;
						this.$vs.notify({title:'Ошибка',text:'не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber),color:'danger', fixed:true})	
						return;
					}						
				});	
			if (error === 0){				
				let dataToSend = new FormData();			
				var ref = this.$route.query.ref; 					
				dataToSend.set("Ref_Key", ref);
				dataToSend.set("data[СтатусДокумента]", "ОтклоненаПоставщиком");
				dataToSend.set("data[ПричинаОтклонения]", this.deletePopUpText);
				
					axios({
						method: 'post',
						url: '/api/base/?action=UpdateClaimSupplier',
						data: dataToSend
					}).then(
					 (response) => {					 
						 if(response.data.status === "OK"){
							this.$vs.dialog({
								acceptText:'Принять',
								type:"alert",
								color:'success',
								title: 'Отправка претензии',
								text: 'Претензия успешно отклонена',
								accept:this.accept
							});
							this.$router.push('Pretense_table');
							//window.location.href = "http://ssa-srmdev-test.hq.severstalauto.com";
						 }
						
					 } 
					).catch(error => {
						let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
						if (error.response.status == '401'){
							window.location.reload();
						}
						else{
							this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
						}	
					});
			}
		},
},
}
</script>
