<template>
<div class="login-container table_box-shadow Soc PAAC">
	<div class="form_line_Accreditation nowrap text_grey soC_margin full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Заявка на аудит-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.Статус.value}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
	</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business">
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<!--<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string2" :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>	Номер				
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name" />	от
			</div>-->
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.ТипАудита.value" :label="structure.ТипАудита_Key.Синоним"/>	<!--Тип аудита-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.Контрагент.value" :label="structure.Контрагент_Key.Синоним"/>	<!--Контрагент-->
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
			<span :class="{'isError':!regForm.КонтактноеЛицоПоставщика_Key.value.Description != ''}">
				<form-catalog :disabled="isAllowed('КонтактноеЛицоПоставщика_Key')" v-model="regForm.КонтактноеЛицоПоставщика_Key.value" :label="structure.КонтактноеЛицоПоставщика_Key.Синоним" :collection="structure.КонтактноеЛицоПоставщика_Key.Type"/>	<!--Контактное лицо поставщика-->
			</span>
			</div>				
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<form-date :disabled="isAllowed()" v-model="regForm.ДатаНачалаАудита.value" :label="regForm.ДатаНачалаАудита.name" />	<!--Плановая дата аудита с-->	
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.ДатаОкончанияАудита.value" :label="regForm.ДатаОкончанияАудита.name" />&#8195;		<!--по[Плановая дата аудита по]-->
				<div>
					<button class="el-button_PPAC cursor_point" type="button" v-if="chekedApprouveButton && !chekedRejectButton && this.regForm.Статус.value === 'На согласовании у поставщика'" @click="acceptData()"><span style="margin-left: -10px;">
						<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
						{{approuveButtonName}}</span></button><!--кнопка Подтвердить-->
					<button class="el-button_PPAC button_PAAC cursor_point" type="button" v-if="chekedApprouveButton && !chekedChangeButton && !chekedRejectButton && this.regForm.Статус.value === 'На согласовании у поставщика'" @click="changeData()"><span style="margin-left: -10px;">
						<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
						{{PAGE_NAME.CHANGE}}</span></button><!--кнопка Изменить-->
					<button class="el-button_PPAC button_PAAC cursor_point" type="button" v-if="chekedApprouveButton && !chekedChangeButton && !chekedRejectButton && this.regForm.Статус.value === 'На согласовании у поставщика'" @click="rejectData()"><span style="margin-left: -10px;">
						<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
						{{PAGE_NAME.CANCEL}}</span></button><!--кнопка Отменить-->				
				</div>	
				<div class="indent tin-tack" v-if="!chekedApprouveButton">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
				</div>	
				<div class="indent tin-tack" v-if="chekedRejectButton">
					<svg class="svg_color_fill_red" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
				</div>	
			</div>
			<div v-if="chekedRejectButton || regForm.Статус.value === 'Отклонена поставщиком'" class="form_line_textarea nowrap text_grey soC_margin textarea_OSC" style="display: flex;">
				<label style="margin-top: 0px;">{{structure.ПричинаОтклоненияЗаявки.Синоним}}</label><!--Причина отклонения заявки-->
				<span :class="{'isError':!regForm.ПричинаОтклоненияЗаявки.value != ''}">
					<textarea :disabled="isAllowed('Причина')" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.ПричинаОтклоненияЗаявки.value"/>
				</span>	
			</div>
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError':!regForm.ЖелаемаяДатаАудитаС.value}">
					<form-date v-if="chekedChangeButton" :disabled="isAllowed('ДатаС')" v-model="regForm.ЖелаемаяДатаАудитаС.value" :label="structure.ЖелаемаяДатаАудитаС.Синоним" />	<!--Желаемая дата аудита с-->
				</span>	
				<span :class="{'isError':!regForm.ЖелаемаяДатаАудитаПо.value}">
					<form-date class="soCWidth" v-if="chekedChangeButton" :disabled="isAllowed('ДатаПо')" v-model="regForm.ЖелаемаяДатаАудитаПо.value" :label="regForm.ЖелаемаяДатаАудитаПо.name" />	<!--по[Желаемая дата аудита по]-->
				</span>		
			</div>			
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.ВидАудита.value" :label="structure.ВидАудита.Синоним"/>	<!--Вид аудита-->
			</div>
		</div>
		<!--Таблица-->	
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th>			<!--№ [Хасанова Ю]-->
				<vs-th sort-key="НаименованиеТовара" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th>	<!--Номенклатура [Хасанова Ю]-->
				<vs-th sort-key="Артикул" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th>				<!--Артикул [Хасанова Ю]-->			
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
				<vs-td :data="data[indextr].НаименованиеТовара">{{data[indextr].НаименованиеТовара}}</vs-td>
				<vs-td :data="data[indextr].Артикул">{{data[indextr].Артикул}}</vs-td>				
			</vs-tr>			
		  </template>
		</vs-table>
	<div class="save_but" v-if="!chekedApprouveButton || chekedRejectButton"><button type="button" @click="saveForm()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div>	<!--Кнопка Отправить-->	
  </vs-col>
  </vs-row>
</vs-tab>
</vs-tabs>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Catalog from '@/components/form_poles/Catalog'						    //импорт Каталога
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,russianToDate,validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/proposal_audit_application_card'	//импорт proposal_audit_application_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Proposal_audit_application_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'от',
					disabled: true
				},
				Контрагент: {
					value:'',
					requred:true,
					name: 'Контрагент',
					disabled: true
				},
				ТипАудита: {
					value:'',
					requred:true,
					name: 'Тип аудита',
					disabled: true
				},
				КонтактноеЛицоПоставщика_Key: {
					value: {
						Description: '',
						Ref_Key: ''
					},
					requred:true,
					name: 'Контактное лицо поставщика',
					disabled: true
				},
				ДатаНачалаАудита: {
					value:'',
					requred:true,
					name: 'Плановая дата аудита с',
					disabled: true
				},
				ДатаОкончанияАудита: {
					value:'',
					requred:true,
					name: 'по',
					disabled: true
				},
				ЖелаемаяДатаАудитаС: {
					value:'',
					requred:true,
					name: 'Желаемая дата аудита с',
					disabled: true
				},
				ЖелаемаяДатаАудитаПо: {
					value:'',
					requred:true,
					name: 'по',
					disabled: true
				},
				Статус: {
					value:'',
					requred:true,
					name: 'Статус',
					disabled: true
				},
				ВидАудита: {
					value:'',
					requred:true,
					name: 'Вид аудита',
					disabled: true
				},
				ПричинаОтклоненияЗаявки: {
					value:'',
					requred:true,
					name: 'Причина отклонения заявки',
					disabled: true
				},
			},
			//значения полей забераемых из структуры 1С (справа)
			structure: {
				ТипАудита_Key:{
					Синоним:''
				},	
				Контрагент_Key:{
					Синоним:''
				},	
				КонтактноеЛицоПоставщика_Key:{
					Синоним:'',
					Description:''
				},	
				ЖелаемаяДатаАудитаС:{
					Синоним:''
				},	
				Статус:{
					Синоним:''
				},	
				ВидАудита:{
					Синоним:''
				},	
				ПричинаОтклоненияЗаявки:{
					Синоним:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,	
			nomenclature: {},
			chekedApprouveButton: true,
			saveStatusDate: '',
			chekedChangeButton: false,
			applicationDataByRef:[],
			approuveButtonName: 'Подтвердить',
			chekedRejectButton: false,
		}
	},
	created: function() {
		this.getStructure().then(
			() => {					
					this.GetAuditApplicationByRefKey();					
			}
		);
	},	
	components:{
		"form-string":String,	
		"form-bool":Bool,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ЗаявкаНаАудитПоставщика'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			});
		},
		//Получение данных по анкете
		GetAuditApplicationByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetAuditApplicationByRefKey&refkey='+ ref) 
				.then((response) => {
					this.applicationDataByRef = response.data.result;
				}).then(
					() => {
						this.loadData();
						this.getNomenclature();	
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			if(pole === 'ДатаС' || pole === 'ДатаПо'){
				if (!this.chekedApprouveButton) {
					return true;
				}
				return false;
			}
			if(pole === 'КонтактноеЛицоПоставщика_Key' && !this.chekedRejectButton && this.regForm.Статус.value === 'На согласовании у поставщика'){
				return false;
			}
			if(pole === 'Причина' && this.chekedRejectButton){
				return false;
			}
			return true;
		},
		//Запись данных в таблицу
		getNomenclature: function(){
			this.nomenclature  = this.applicationDataByRef['АудитКачестваПродукцииИУслуг'];
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'Статус'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.applicationDataByRef[key]);
				}	
				else if(key === 'Date' || key === 'ДатаНачалаАудита' || key === 'ДатаОкончанияАудита' || key === 'ЖелаемаяДатаАудитаС' || key === 'ЖелаемаяДатаАудитаПо'){
					this.regForm[key].value = this.$options.filters.formateDate(this.applicationDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'ВидАудита'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.applicationDataByRef[key]);
				}
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.applicationDataByRef[key]);
				}				
				else if(key === 'КонтактноеЛицоПоставщика_Key'){
					this.regForm[key].value.Ref_Key = this.applicationDataByRef.КонтактноеЛицоПоставщика_Key;
					this.regForm[key].value.Description = this.applicationDataByRef.КонтактноеЛицоПоставщика;
				}				
				else {
					this.$set(this.regForm[key], 'value', this.applicationDataByRef[key]);
				}
			});	
			var zaglushka = ""
				if (this.applicationDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.applicationDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.applicationDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;
		},
		//применить
		acceptData: function(){
			this.chekedApprouveButton = false;
			if(this.saveStatusDate != "UpDate") {
				this.saveStatusDate = "noneUpDate"
			}
		},
		//изменить
		changeData: function(){
			this.chekedChangeButton = true;
			this.saveStatusDate = "UpDate";
			this.approuveButtonName = "Подтвердить изменения";
		},
		//отменить
		rejectData: function(){
			this.chekedRejectButton = true;
			this.saveStatusDate = "Reject";
		},
		//кнопка Отправить
		saveForm: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
				this.chekedApprouveButton = true;
			}
			else{
				//Отправка на сервер
				var dataToSend = new FormData();
				dataToSend.set("Ref_Key", this.applicationDataByRef["Ref_Key"]);
				if(this.saveStatusDate === "Reject") {
					dataToSend.set("data[Статус]", "ОтклоненаПоставщиком");
					dataToSend.set("data[ПричинаОтклоненияЗаявки]", this.regForm.ПричинаОтклоненияЗаявки.value);
				}
				if(this.saveStatusDate === "noneUpDate") {
					dataToSend.set("data[КонтактноеЛицоПоставщика_Key]", this.regForm.КонтактноеЛицоПоставщика_Key.value.Ref_Key);
					dataToSend.set("data[Статус]", "ДатаСогласованаПоставщиком");
				}		
				if(this.saveStatusDate === "UpDate") {
					dataToSend.set("data[ЖелаемаяДатаАудитаС]", russianToDate(this.regForm.ЖелаемаяДатаАудитаС.value));
					dataToSend.set("data[ЖелаемаяДатаАудитаПо]", russianToDate(this.regForm.ЖелаемаяДатаАудитаПо.value));
					dataToSend.set("data[КонтактноеЛицоПоставщика_Key]", this.regForm.КонтактноеЛицоПоставщика_Key.value.Ref_Key);
					dataToSend.set("data[Статус]", "СогласованиеСкорректированныхДат");
				}	
				axios({
					method: 'post',
					url: '/api/base/?action=AuditRequestChangeByRefKey',
					data: dataToSend
				}).then(
				 (response) => {					 
					if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Заявка на аудит поставщика',
							text: 'Заявка успешно отправлена',
							accept:this.accept
						}) ;
						this.$router.push('Proposal_audit_application_table');
						
					}
					
				 } 
				);
			}			
		},
		//Переходы после нажатия кнопок
		accept: function(){
			this.$router.push('Proposal_audit_application_table'); 
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("proposal_audit_application_table"); 
		},
		//Валидация
		validate: function(){
			this.errors = [];	
				//валидируем Дату аудита(всплыв.кр.окна)			
				/*if(this.saveStatusDate === ""){
					this.errors.push("Не подтверждена Дата аудита");	
				}*/	
				if(this.saveStatusDate != "Reject"){
					if(this.saveStatusDate === "UpDate"){
						if(!this.regForm.ЖелаемаяДатаАудитаС.value){
							this.errors.push("Не задана Желаемая дата начала аудита");
						}
						if(!this.regForm.ЖелаемаяДатаАудитаПо.value){
							this.errors.push("Не задана Желаемая дата окончания аудита");
						}
						if(moment(this.regForm.ЖелаемаяДатаАудитаС.value).isAfter(this.regForm.ЖелаемаяДатаАудитаПо.value)){
							this.errors.push("Желаемая дата окончания аудита меньше желаемой даты начала аудита");
						}
					}					
					if(this.chekedApprouveButton){
						this.errors.push("Не подтверждена Дата аудита");	
					}
					if(typeof this.regForm.КонтактноеЛицоПоставщика_Key.value.Description === "undefined" ){			
						this.errors.push("Не задано Контактное лицо поставщика");
					}
				}
				if(this.saveStatusDate === "Reject"){
					if(this.regForm.ПричинаОтклоненияЗаявки.value === ''){
						this.errors.push("Не заполнена Причина отклонения заявки");
					}
				}	
			return this.errors.length;
			
		},		
},
}
</script>