<template>
<div class="login-container table_box-shadow Soc PAAC">
	<div class="form_line_Accreditation nowrap text_grey soC_margin full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">			
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Оценка поставщика-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{regForm.Статус.value}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
	</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<!--<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>			Номер			
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name" />	от	
			</div>-->
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.ТипОценки.value" :label="structure.ТипОценки.Синоним"/>	<!--Тип оценки-->	
				<form-string class="valuta_Width105" :disabled="isAllowed()" v-model="regForm.ТипАудита.value" :label="structure.ТипАудита_Key.Синоним"/>	<!--Тип аудита-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-date :disabled="isAllowed()" v-model="regForm.СрокПроведенияАудитаС.value" :label="regForm.СрокПроведенияАудитаС.name" />	<!--Фактический срок проведения аудита с-->	
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.СрокПроведенияАудитаПо.value" :label="regForm.СрокПроведенияАудитаПо.name" />	<!--по[Срок проведения аудита по]-->	
			</div>	
			<div v-if="this.regForm.ТипОценки.value === 'Общий рейтинг'" class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string :disabled="isAllowed()" v-model="regForm.КатегорияПоставщика.value" :label="structure.КатегорияПоставщика_Key.Синоним" />	<!--Категория поставщика-->	
				<div>
					<label style="font-weight: bolder;">{{structure.Оценка.Синоним}}</label><!--Оценка-->
					<span style="margin-left: -100px;">{{regForm.Оценка.value}}</span>
				</div>
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span class="span_ref" @click="toCard()"><form-string  :disabled="isAllowed()" v-model="regForm.ЗаявкиНаАудит.value" :label="structure.ЗаявкаНаАудит_Key.Синоним" /></span>	<!--Заявка на аудит-->	
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span class="span_ref" @click="toCard2()"><form-string :disabled="isAllowed()" v-model="regForm.ЛистСамооценки.value" :label="structure.СамооценкаПоставщика_Key.Синоним" /></span>	<!--Самооценка поставщика-->	
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.КонтактноеЛицоПоставщика.value" :label="regForm.КонтактноеЛицоПоставщика.name"/>	<!--Контактное лицо поставщика-->	
			</div>
			
			<div style="padding: 10px 40px;">			
			 <div class="table_box-shadow-2" v-if="this.regForm.ТипОценки.value === 'По номенклатуре'">
			  <vs-table class="text_grey" hoverFlat search :data="nomenclature">
		 	    <template slot="thead">
					  <vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE1}}</vs-th> <!--№-->
					  <vs-th sort-key="Номенклатура" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE2}}</vs-th> 		<!--Номенклатура-->
				 	 <vs-th sort-key="Рейтинг" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE3}}</vs-th> 				<!--Рейтинг-->
				 	 <vs-th sort-key="КатегорияПоставщика" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE4}}</vs-th>	<!--Категория поставщика-->		
				 	 <vs-th></vs-th>
			     </template>
			     <template slot-scope="{data}">
		  	 	  <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			 	 	<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
				  	<vs-td :data="data[indextr].Номенклатура">{{data[indextr].Номенклатура}}</vs-td>
			 	 	<vs-td :data="data[indextr].Рейтинг">{{data[indextr].Рейтинг}}</vs-td>
				 	 <vs-td :data="data[indextr].КатегорияПоставщика">{{data[indextr].КатегорияПоставщика}}</vs-td>
		  	 	  </vs-tr>
			     </template>
			  </vs-table>
			 </div>
			 <div class="table_box-shadow-2" v-if="this.regForm.ТипОценки.value === 'По товарным категориям'">
			  <vs-table class="text_grey" hoverFlat search :data="criterion">
		 	    <template slot="thead">
					  <vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE1}}</vs-th> <!--№-->
					  <vs-th sort-key="ТоварнаяКатегория" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE5}}</vs-th> 	<!--Товарная категория-->
				 	 <vs-th sort-key="Рейтинг" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE3}}</vs-th> 				<!--Рейтинг-->
				 	 <vs-th sort-key="КатегорияПоставщика" style="padding:15px;">{{PAGE_NAME.NAME_TABLE.NAME_TABLE4}}</vs-th>	<!--Категория поставщика-->		
				 	 <vs-th></vs-th>
			     </template>
			     <template slot-scope="{data}">
		  	 	  <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			 	 	<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
				  	<vs-td :data="data[indextr].ТоварнаяКатегория">{{data[indextr].ТоварнаяКатегория}}</vs-td>
			 	 	<vs-td :data="data[indextr].Рейтинг">{{data[indextr].Рейтинг}}</vs-td>
				 	 <vs-td :data="data[indextr].КатегорияПоставщика">{{data[indextr].КатегорияПоставщика}}</vs-td>
		  	 	  </vs-tr>
			     </template>
			  </vs-table>
			 </div>
			</div>
			
			<div class="form_line_Accreditation nowrap text_grey textarea_RSC" style="display: flex;">
				<div style="margin: 10px 135px 10px 40px;font-weight: bolder;">{{PAGE_NAME.RAT}}</div><!--Оценка качества-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.ОценкаКачества.value" :label="structure.ОценкаКачества.Синоним"/>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey textarea_RSC" style="display: flex;">
				<div style="margin: 10px 40px;">{{PAGE_NAME.REC}}</div><!--Рекомендации по итогам аудита-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.РекомендацииПоИтогамАудита.value" :label="structure.РекомендацииПоИтогамАудита.Синоним"/>	
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-date v-if="regForm.ДатаСледующегоАудита.value != ''" :disabled="isAllowed()" v-model="regForm.ДатаСледующегоАудита.value" :label="structure.ДатаСледующегоАудита.Синоним" />	<!--Дата следующего аудита-->	
			</div>				
		</div>
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="attach_file"><!--Присоединенные файлы-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div v-if="ratingDataByRef.ПрисоединенныеФайлы" class="table_box-shadow-2 attached_files">
		<vs-table hoverFlat class="text_grey" :data="ratingDataByRef.ПрисоединенныеФайлы">
		  <template slot="thead">
				<vs-th>{{PAGE_NAME.FILE.FILE1}}</vs-th><!--Наименование-->
				<vs-th>{{PAGE_NAME.FILE.FILE2}}</vs-th><!--Вид документа-->
				<vs-th>{{PAGE_NAME.FILE.FILE3}}</vs-th><!--Дата изменения-->
		  </template>
		  <template>
			<vs-tr :key="key" v-for="(row,key) in ratingDataByRef.ПрисоединенныеФайлы">
				<vs-td><a :href="'/api/base/?action=GetSupplierRatingFile&code=' + row.Файл_Key">{{row.Description}}</a></vs-td>
			    <vs-td><span v-if="row.ВидДокумента">{{row.ВидДокумента.Description}}</span></vs-td>
				<vs-td>{{row.ДатаСоздания | formateDate('DD.MM.YYYY')}}</vs-td>
			</vs-tr>
			</template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	
</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined,validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/rating_supplier_card'	//импорт rating_supplier_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Rating_supplier_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Статус: {
					value:'',
					requred:true,
					name: 'Статус:',
					disabled: true
				},				
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'от:',
					disabled: true
				},
				СрокПроведенияАудитаС: {
					value:'',
					requred:true,
					name: 'Фактический срок проведения аудита с',
					disabled: true
				},
				СрокПроведенияАудитаПо: {
					value:'',
					requred:true,
					name: 'по',
					disabled: true
				},
				КатегорияПоставщика: {
					Синоним:"Категория Поставщика",
					value:'',
					requred:true,
					name: 'Категория поставщика:',
					disabled: true
				},
				ТипОценки: {
					value:'',
					requred:true,
					name: 'Тип оценки:',
					disabled: true
				},
				Оценка: {
					value:'',
					requred:true,
					name: 'Оценка:',
					disabled: true
				},	
				ЗаявкиНаАудит: {
					value:'',
					requred:true,
					name: 'Заявка на аудит:',
					disabled: true
				},					
				ЛистСамооценки: {
					value:'',
					requred:true,
					name: 'Самооценка поставщика:',
					disabled: true
				},		
				ОценкаКачества: {
					value:'',
					requred:true,
					name: 'Оценка качества:',
					disabled: true
				},				
				РекомендацииПоИтогамАудита: {
					value:'',
					requred:true,
					name: 'Рекомендации по итогам аудита:',
					disabled: true
				},
				ДатаСледующегоАудита: {
					value:'',
					requred:true,
					name: 'Дата следующего аудита:',
					disabled: true
				},
				ТипАудита: {
					value:'',
					requred:true,
					name: 'Тип аудита:',
					disabled: true
				},
				КонтактноеЛицоПоставщика: {
					value:'',
					requred:true,
					name: 'Контактное лицо поставщика',
					disabled: true
				},
			},
			//значения полей забераемых из структуры 1С (справа)
			structure: {				
				ТипОценки:{
					Синоним:'',
					Description:''
				},
				СрокПроведенияАудитаС: {
					Синоним:'',
					Description:''
				},
				КатегорияПоставщика_Key: {
					Синоним:'',
					Description:''
				},		
				Оценка: {
					Синоним:'',
					Description:''
				},
				ЗаявкаНаАудит_Key: {
					Синоним:'',
					Description:''
				},
				СамооценкаПоставщика_Key: {
					Синоним:'',
					Description:''
				},
				ОценкаКачества: {
					Синоним:'',
					Description:''
				},				
				РекомендацииПоИтогамАудита: {
					Синоним:'',
					Description:''
				},
				ДатаСледующегоАудита: {
					Синоним:'',
					Description:''
				},
				ТипАудита_Key: {
					Синоним:'',
					Description:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			ratingDataByRef:[],
			nomenclature: {},
			criterion: {},
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {					
					this.GetSupplierRatingByRefKey();					
			}
		);
	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,		
		"form-date":Date,
		"form-table":Table,
		"form-table-data-submit":Table_data_submit
	},
	filters: {},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ОценкаПоставщика'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Hide();
			});
		},
		//Получение данных по анкете
		GetSupplierRatingByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetSupplierRatingByRefKey&refkey='+ ref) 
				.then((response) => {
					this.ratingDataByRef = response.data.result[0];
				}).then(
					() => {
						this.loadData();
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
					}
				);
		},	
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
				if(key === 'Статус'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.ratingDataByRef[key]);
				}	
				else if(key === 'ТипОценки'){
					this.regForm[key].value = this.$options.filters.uncamelize(this.ratingDataByRef[key]);
				}
				else if(key === 'КатегорияПоставщика'){
					this.regForm[key].value =  (this.ratingDataByRef[key])?this.ratingDataByRef[key].Description: "";
				}
				else if(key === 'ТипАудита'){	
						if (this.ratingDataByRef[key]) {						
							this.regForm[key].value = this.ratingDataByRef[key].Description;
						}
						else{
							this.regForm[key].value = "";
						}
				}
				else if(key === 'Date' || key === 'СрокПроведенияАудитаС' || key === 'СрокПроведенияАудитаПо'){
					this.regForm[key].value = this.$options.filters.formateDate(this.ratingDataByRef[key], 'DD.MM.YYYY');
				}
				else if(key === 'Number'){
					this.regForm[key].value = this.$options.filters.removeZeroes(this.ratingDataByRef[key]);
				}
				else if(key === 'ДатаСледующегоАудита'){
					if (this.ratingDataByRef[key] === "0001-01-01T00:00:00"){
						this.regForm[key].value = "";
					}
					else {
						this.regForm[key].value = this.$options.filters.formateDate(this.ratingDataByRef[key], 'YYYY-MM-DD')
					}
				}				
				else {
					this.$set(this.regForm[key], 'value', this.ratingDataByRef[key]);
				}	
			});	
			//Запись данных в таблицу По Номенклатуре
			this.nomenclature = this.ratingDataByRef['РейтингПоНоменклатуре'];
			//Запись данных в таблицу По Товарным категориям
			this.criterion = this.ratingDataByRef['РейтингПоТоварнымКатегориям'];
			
			var zaglushka = ""
			var zaglushka2 = ""	
			var zaglushka3 = ""				
				if (this.ratingDataByRef.НомерЛистСамооценки) {
					zaglushka = "№" + this.$options.filters.removeZeroes(this.ratingDataByRef.НомерЛистСамооценки) + " от " +  this.$options.filters.formateDate(this.ratingDataByRef.ДатаЛистСамооценки, 'DD.MM.YYYY');
				}
				if (this.ratingDataByRef.НомерЗаявкиНаАудит) {
					zaglushka2 = "№" + this.$options.filters.removeZeroes(this.ratingDataByRef.НомерЗаявкиНаАудит) + " от " +  this.$options.filters.formateDate(this.ratingDataByRef.ДатаЗаявкиНаАудит, 'DD.MM.YYYY');
				}		
				if (this.ratingDataByRef.Number) {
					zaglushka3 = this.$options.filters.removeZeroes(this.ratingDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.ratingDataByRef.Date, 'DD.MM.YYYY');
				}					
			this.regForm.ЛистСамооценки.value = zaglushka;
			this.regForm.ЗаявкиНаАудит.value = zaglushka2;			
			this.regForm.Триггер.value = zaglushka3;			
			},	
		//кнопка Отправить
		saveForm: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});			
		},
		//Переходы после нажатия кнопок
		accept: function(){
			this.$router.push('Rating_supplier_table'); 
		},
		//Открывает Заявку на оценку поставщика
		toCard: function(){
			this.$router.push('proposal_audit_application_card?ref=' + this.ratingDataByRef.ЗаявкаНаАудит_Key); 
		},
		//Открывает Программу оценки
		toCard2: function(){
			this.$router.push('audit_program_card?ref=' + this.ratingDataByRef.ПрограммаАудита_Key); 
		},
		//Открывает Оценку поставщика
		toTable: function(ref){
			this.$router.push("rating_supplier_table"); 
		},
		//Валидация
		validate: function(){
			this.errors = [];	
			return this.errors.length;			
		},		
},
}
</script>