<template>
<div class="login-container table_box-shadow Soc RSCP">
	<div class="form_line_Accreditation nowrap text_grey soC_margin full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">		
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Предложение поставщика-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span class="trigger_color_status">{{supllyForm.ДопущенКУчастию.value}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->	
		</div>
	</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<div class="form_line_Accreditation nowrap text_grey soC_margin textarea_RSCP textarea_RSCP2" style="display: flex;margin-bottom: -8px;">
				<div style="margin: 10px 41px;">{{PAGE_NAME.SUBJECT_PURCHASE}}</div><!--Предмет закупки-->
				<textarea :disabled="isAllowed()" class="el-input__inner" v-model="regForm.ПредметЗакупки.value" :label="structure.ПредметЗакупки.Синоним"/><!--Предмет закупки-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-date :disabled="isAllowed()" v-model="regForm.ПериодЗакупкиС.value" :label="regForm.ПериодЗакупкиС.name" /><!--Дата начала поставок-->
				<form-date class="soCWidth2" :disabled="isAllowed()" v-model="regForm.ПериодЗакупкиПо.value" :label="structure.ПериодЗакупкиПо.Синоним" /><!--по-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string_217" :disabled="isAllowed()"  v-model="supllyForm.НомерПоставщика.value" :label="supllyForm.НомерПоставщика.name"/><!--Вх.№ предложения от поставщика-->
				<form-date class="soCWidth2" :disabled="isAllowed()" v-model="supllyForm.ДатаПоставщика.value" :label="supllyForm.ДатаПоставщика.name" /><!--Дата направления-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span class="span_ref" @click="toCard()"><form-string class="RSCP_input" :disabled="isAllowed()" v-model="regForm.ЦенаЗакупки.value" :label="structure.ЗапросПредложений_Key.Синоним"/></span><!--Запрос предложений (док. основание)-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string class="RSCP_input" :disabled="isAllowed()" v-model="supllyForm.УсловиеОплаты_Key.value" :label="structure.УсловиеОплаты_Key.Синоним" /><!--Условия оплаты-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string class="RSCP_input" :disabled="isAllowed()" v-model="supllyForm.УсловиеПоставки_Key.value" :label="structure.УсловиеПоставки_Key.Синоним" collection="structure.УсловиеПоставки_Key.Type"/><!--Условия поставки-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin textarea_RSCP textarea_RSCP2" style="display: flex;margin-bottom: -8px;margin-top: -8px;">
				<div style="margin-top: 10px;margin-left: 40px;margin-right: -3px;">{{PAGE_NAME.DELIVERY_TEXT}}</div><!--Условия поставки текст-->
				<textarea :disabled="isAllowed()" class="el-input__inner" v-model="supllyForm.УсловиеПоставкиТекст.value" :label="structure.УсловиеПоставкиТекст.Синоним"/>
			</div>	
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string  class="soCWidth_string" style="font-weight: bolder;" :disabled="isAllowed()" v-model="regForm.СтоимостьЗакупкиБезНДС.value" :label="structure.СуммаДокументаВВалютеЗапросаБезНДС.Синоним"/><!--Сумма в валюте запроса (без НДС)-->
				<form-string class="valuta_Width105 soCWidth_string" :disabled="isAllowed()" v-model="regForm.Валюта_Key.value" :label="regForm.Валюта_Key.name"/><!--Валюта запроса-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<form-string  class="soCWidth_string" :disabled="isAllowed()" v-model="supllyForm.ВалютаПоставщика.value" :label="structure.ВалютаПоставщика_Key.Синоним"/><!--Валюта поставщика-->
			</div>		
		</div>		
	  </vs-col>
	</vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="category"><!--Товары-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th><!--№-->
				<vs-th sort-key="Артикул" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th><!--Артикул-->
				<vs-th sort-key="Наименование" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th><!--Номенклатура-->
				<vs-th sort-key="НаименованиеНоменклатурыПоставщика" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th><!--Номенклатура поставщика-->
				<vs-th sort-key="ЕдиницаИзмерения" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th><!--Ед.изм.-->
				<vs-th sort-key="ОбщееКоличество" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th><!--Кол-в-->
				<vs-th sort-key="ИтогоКоличество" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN7}}</vs-th><!--Кол-во по периодам поставки-->
				<vs-th sort-key="Цена" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN8}}</vs-th><!--Цена за ед.(без НДС)-->
				<vs-th sort-key="СтоимостьУпаковки" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN9}}</vs-th><!--Стоимость упак.за ед.(без НДС)-->
				<vs-th sort-key="ТЗР" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN10}}</vs-th><!--Стоимость ТЗР за ед.(без НДС)-->
				<vs-th sort-key="ИтоговаяЦенаЗаЕдиницу" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN11}}</vs-th><!--Итоговая Цена за ед.(без НДС)-->
				<vs-th sort-key="СтавкаНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN12}}</vs-th><!--Ставка НДС-->
				<vs-th sort-key="ЦенаСНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN13}}</vs-th><!--Итоговая Цена за ед.с НДС-->
				<vs-th sort-key="СуммаБезНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN14}}</vs-th><!--Сумма без НДС-->
				<vs-th sort-key="СуммаНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN15}}</vs-th><!--Сумма НДС-->
				<vs-th sort-key="СтоимостьСНДС" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN16}}</vs-th><!--Сумма с НДС-->
			</template>
			<template slot-scope="{data}">
			<vs-tr class="nowrap" :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td :data="data[indextr].LineNumber">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].Артикул">{{data[indextr].Артикул}}</vs-td>	
				<vs-td :data="data[indextr].Наименование">{{data[indextr].Наименование}}</vs-td>
				<vs-td :data="data[indextr].НаименованиеНоменклатурыПоставщика">{{data[indextr].НаименованиеНоменклатурыПоставщика}}</vs-td>				
				<vs-td :data="data[indextr].ЕдиницаИзмерения">{{data[indextr].ЕдиницаИзмерения}}</vs-td>
				<vs-td :data="data[indextr].ОбщееКоличество">{{data[indextr].ОбщееКоличество}}</vs-td>
				<vs-td :data="data[indextr].ИтогоКоличество">{{data[indextr].ИтогоКоличество}}</vs-td>
				<vs-td :data="data[indextr].Цена">{{data[indextr].Цена | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтоимостьУпаковки">{{data[indextr].СтоимостьУпаковки | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].ТЗР">{{data[indextr].ТЗР | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].ИтоговаяЦенаЗаЕдиницу">{{data[indextr].ИтоговаяЦенаЗаЕдиницу | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтавкаНДС">{{data[indextr].СтавкаНДС | uncamelize}}</vs-td>
				<vs-td :data="data[indextr].ЦенаСНДС">{{data[indextr].ЦенаСНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СуммаБезНДС">{{data[indextr].СуммаБезНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СуммаНДС">{{data[indextr].СуммаНДС | numberBeautifier}}</vs-td>
				<vs-td :data="data[indextr].СтоимостьСНДС">{{data[indextr].СтоимостьСНДС | numberBeautifier}}</vs-td>
				<template slot="expand">
				<div class="expand_div_checkbox">
				  <div class="leftstr">	
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN1}}: </b>{{indextr + 1}}</div><!--№-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN2}}: </b>{{data[indextr].Артикул}}</div><!--Артикул-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN3}}: </b>{{data[indextr].Наименование}}</div><!--Номенклатура-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN4}}: </b>{{data[indextr].НаименованиеНоменклатурыПоставщика}}</div><!--Номенклатура поставщика-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN5}}: </b>{{data[indextr].ЕдиницаИзмерения}}</div><!--Ед.изм.-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN6}}: </b>{{data[indextr].ОбщееКоличество}}</div><!--Кол-в-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN7}}: </b>{{data[indextr].ИтогоКоличество}}</div><!--Кол-во по периодам поставки-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN8}}: </b>{{data[indextr].Цена | numberBeautifier}}</div><!--Цена за ед.(без НДС)-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN9}}: </b>{{data[indextr].СтоимостьУпаковки | numberBeautifier}}</div><!--Стоимость упак.за ед.(без НДС)-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN10}}: </b>{{data[indextr].ТЗР | numberBeautifier}}</div><!--Стоимость ТЗР за ед.(без НДС)-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN11}}: </b>{{data[indextr].ИтоговаяЦенаЗаЕдиницу | numberBeautifier}}</div><!--Итоговая Цена за ед.(без НДС)-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN12}}: </b>{{data[indextr].СтавкаНДС | uncamelize}}</div><!--Ставка НДС-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN13}}: </b>{{data[indextr].ЦенаСНДС | numberBeautifier}}</div><!--Итоговая Цена за ед.с НДС-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN14}}: </b>{{data[indextr].СуммаБезНДС | numberBeautifier}}</div><!--Сумма без НДС-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN15}}: </b>{{data[indextr].СуммаНДС | numberBeautifier}}</div><!--Сумма НДС-->
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN16}}: </b>{{data[indextr].СтоимостьСНДС | numberBeautifier}}</div><!--Сумма с НДС-->
				  </div>				  
				  <div class="rightstr">
					<vs-table>
					<template>
							<vs-th>{{PAGE_NAME.COLUMNS.COLUMN17}}</vs-th><!--Период планирования-->
							<vs-th>{{PAGE_NAME.COLUMNS.COLUMN18}}</vs-th><!--Количество-->
					</template>
					<template>
						<vs-tr :key="index" v-for="(period,key,index) in data[indextr].Периоды">							
							<vs-td>{{period.ПериодПланирования |getDateYearAndMonth}}</vs-td>
							<vs-td>{{period.Количество}}</vs-td>
						</vs-tr>
					</template>
					</vs-table>
				  </div>
				</div>
				</template>			
			</vs-tr>			
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>		  

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="supervisor_account"><!--Требования к поставщику-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat :data="reqsuppliers">
		  <template slot="thead">
			<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.TAB.TAB1}}</vs-th><!--№-->
			<vs-th sort-key="Требование_Key_value.Description" style="padding:15px;">{{PAGE_NAME.TAB.TAB2}}</vs-th><!--Требование-->
			<vs-th sort-key="ОтветПоставщика" style="padding:15px;">{{PAGE_NAME.TAB.TAB3}}</vs-th><!--Ответ поставщика-->
			<vs-th sort-key="Комментарий" style="padding:15px;">{{PAGE_NAME.TAB.TAB4}}</vs-th><!--Комментарий-->
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
			<vs-td :data="data[indextr].Требование_Key_value.Description">{{data[indextr].Требование_Key_value.Description}}</vs-td>
			<vs-td :data="data[indextr].ОтветПоставщика">{{data[indextr].ОтветПоставщика}}</vs-td>
			<vs-td :data="data[indextr].Комментарий">{{data[indextr].Комментарий}}</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="print"><!--Требования к номенклатуре-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat :data="reqnomenclature">
		  <template slot="thead">
			    <vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.TAB.TAB1}}</vs-th><!--№-->
			    <vs-th sort-key="Требование_Key_value.Description" style="padding:15px;">{{PAGE_NAME.TAB.TAB2}}</vs-th><!--Требование-->
				<vs-th sort-key="ОтветПоставщика" style="padding:15px;">{{PAGE_NAME.TAB.TAB3}}</vs-th><!--Ответ поставщика-->
				<vs-th sort-key="Комментарий" style="padding:15px;">{{PAGE_NAME.TAB.TAB4}}</vs-th><!--Комментарий-->
		  </template>
		  <template slot-scope="{data}">
			 <vs-tr :key="indextr" v-for="(tr, indextr) in data">
				<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
				<vs-td :data="data[indextr].Требование_Key_value.Description">{{data[indextr].Требование_Key_value.Description}}</vs-td>
				<vs-td :data="data[indextr].ОтветПоставщика">{{data[indextr].ОтветПоставщика}}</vs-td>
				<vs-td :data="data[indextr].Комментарий">{{data[indextr].Комментарий}}</vs-td>
			</vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME5"  disabled="true"   id="t_5" icon="trending_down">	<!--Переторжки-->		
  <vs-row>  
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  
<vs-tabs color="#4da951">
  <vs-tab :key="index" v-for="(row,index) in this.peretorg" :label="'№'+row.НомерПереторжки"><!---->				
  <template>
	<div style="margin-bottom:20px;">
		<div class="form_line_card nowrap text_grey soC_margin zac" style="display: flex;">
			<form-time class="time" :disabled="isAllowed()" v-model="row.СрокС" :label="regForm.СрокС.name" /><!--Срок с-->	
			<form-time class="time time2" disabled="isAllowed()" v-model="row.СрокПо" :label="regForm.СрокПо.name" /><!--Срок по-->
			<form-string :disabled="isAllowed()" v-model="row.ВариантПроведения" :label="regForm.ВариантПроведения.name" /><!--Вариант проведения-->	
		</div>		
	</div>	
	
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="peretorgnomenclature">
		  <template slot="thead">
			    <vs-th sort-key="Номенклатура.Description">{{PAGE_NAME.PERETOR.PERETOR1}}</vs-th>	<!--Номенклатура-->
			    <vs-th sort-key="ЕдиницаИзмерения">{{PAGE_NAME.PERETOR.PERETOR2}}</vs-th>	<!--Единица измерения-->
			    <vs-th sort-key="КоличествоИтого">{{PAGE_NAME.PERETOR.PERETOR3}}</vs-th>	<!--Количество итого-->
			    <vs-th v-if="row.ПоказыватьМинимальноеЦеновоеПредложение" sort-key="ЦелеваяЦенаБезНДС">{{PAGE_NAME.PERETOR.PERETOR4}}</vs-th>	<!--Минимальная цена без НДС-->
			    <vs-th sort-key="ВалютаЗапроса">{{PAGE_NAME.PERETOR.PERETOR5}}</vs-th>	<!--Валюта запроса-->
		  </template>
		  <template slot-scope="{data}">
			 <vs-tr :key="indextr" v-for="(tr, indextr) in data" v-if="row.НомерПереторжки === data[indextr].НомерПереторжки">
				<vs-td :data="data[indextr].Номенклатура.Description">{{data[indextr].Номенклатура.Description}}</vs-td>
				<vs-td :data="data[indextr].ЕдиницаИзмерения">{{data[indextr].ЕдиницаИзмерения}}</vs-td>
				<vs-td :data="data[indextr].КоличествоИтого">{{data[indextr].КоличествоИтого}}</vs-td>
				<vs-td v-if="row.ПоказыватьМинимальноеЦеновоеПредложение" :data="data[indextr].ЦелеваяЦенаБезНДС">{{data[indextr].ЦелеваяЦенаБезНДС}}</vs-td>
				<vs-td :data="data[indextr].ВалютаЗапроса">{{data[indextr].ВалютаЗапроса}}</vs-td>
			</vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-tab>
  
 </vs-tabs> 
 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME6" icon="attach_file"><!--Присоединенные файлы-->
	<file-upload :disabled="false" v-model="fileArray" v-if="supplierOffersByRefKey['ПрисоединенныеФайлы']" :oldFiles="supplierOffersByRefKey['ПрисоединенныеФайлы']" docType="Document_srm_ПредложениеПоставщика"></file-upload>	
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Date from '@/components/form_poles/Date'									//импорт Дат
import File_upload from '@/components/partials/File_upload'						//импорт File upload
import Time from '@/components/form_poles/Time'									//импорт Time
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined, isDefined, validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/request_supplier_card_profile'	//импорт request_supplier_card_profile (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Request_supplier_card_profile',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				ПредметЗакупки: {
					value:'',
					requred:true,
					name: 'Предмет закупки',
					disabled: true
				},
				ДопущенКУчастию: {
					value:'Черновик',
					requred:true,
					name: 'Статус',
					disabled: true
				},
				СтоимостьЗакупкиБезНДС: {
					value:'',
					requred:true,
					name: 'Сумма в валюте запроса (без НДС)',
					disabled: true
				},
				ПериодЗакупкиС: {
					value:'',
					requred:true,
					name: 'Дата начала поставок c',
					disabled: true
				},
				ПериодЗакупкиПо: {
					value:'',
					requred:true,
					name: 'Дата окончания поставок',
					disabled: true
				},
				ЦенаЗакупки: {
					value:'',
					requred:true,
					name: 'Сумма документа',
					disabled: true
				},
				Валюта_Key: {
					value:'',
					requred:true,
					name: 'Валюта запроса',
					disabled: true
				},
				УсловиеОплаты_Key: {
					value:'',
					requred:true,
					name: 'Условия оплаты',
					disabled: true
				},
				СрокС: {
					value:'',
					requred:true,
					name: 'Срок с',
					disabled: true
				},
				СрокПо: {
					value:'',
					requred:true,
					name: 'Срок по',
					disabled: true
				},
				ВариантПроведения: {
					value:'',
					requred:true,
					name: 'Вариант проведения',
					disabled: true
				},
			},
		//значения создаваемые во vue (справа)
			supllyForm:{
				ДопущенКУчастию: {
					value: "",
					requred:true,
					name: 'Статус',
					disabled: true
				},				
				ДатаПоставщика: {
					value: "",
					requred:true,
					name: 'от',
					disabled: true
				},
				НомерПоставщика: {
					value: "",
					requred:true,
					name: 'Вх.№ предложения от поставщика',
					disabled: true
				},
				УсловиеПоставки_Key: {
					value: "",
					requred:true,
					name: 'Условие поставки',
					disabled: false
				},
				УсловиеОплаты_Key: {
					value: "",
					requred:true,
					name: 'Условия оплаты',
					disabled: false
				},
				УсловиеПоставкиТекст: {
					value: "",
					requred:true,
					name: 'Условие поставки (текст)',
					disabled: false
				},
				ВалютаПоставщика: {
					value: "",
					requred:true,
					name: 'Валюта поставщика',
					disabled: false
				},
			},
			structure: {
				ПредметЗакупки:{
					Синоним:''
				},
				ПериодЗакупкиС:{
					Синоним:''
				},
				ПериодЗакупкиПо:{
					Синоним:''
				},				
				НомерПоставщика:{
					Синоним:''
				},				
				ДатаПоставщика:{
					Синоним:''
				},
				ЗапросПредложений_Key:{
					Синоним:''
				},
				УсловиеОплаты_Key:{
					Синоним:''
				},
				УсловиеПоставки_Key:{
					Синоним:''
				},				
				УсловиеПоставкиТекст:{
					Синоним:''
				},
				СуммаДокументаВВалютеЗапросаБезНДС:{
					Синоним:''
				},
				ВалютаПоставщика_Key:{
					Синоним:''
				},
				Валюта_Key:{
					Синоним:''
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			proposalDataByRef:[],
			supplierOffersByRefKey:[],
			reqsuppliers : {},
			reqnomenclature : {},
			nomenclature : {},
			peretorg: {},
			peretorgnomenclature: {},
			fileArray:{},
			userInfo:{},			
		}
	},
	mounted: function() {
		this.isAuthorized();
		this.getStructure().then(
			() => {		
					this.GetRequestSupplierOffersByRefKey();					
			}
		);

	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-date":Date,
		"form-time":Time,
		"file-upload":File_upload,
	},
	filters: {
		getDateYearAndMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		}
	},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ПредложениеПоставщика'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			});
		},
		//Запись данных в таблицу Требования к поставщикам
		getReqsuppliers: function(){
			this.reqsuppliers  = this.supplierOffersByRefKey['ТребованияПоПоставщику'];
		},
		//Запись данных в таблицу Требования к номенклатуре
		getReqnomenclature: function(){
			this.reqnomenclature = this.supplierOffersByRefKey['ТребованиеПоНоменклатуре'];;
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.supplierOffersByRefKey['Товары'];
		},
		//Запись данных в таблицу Переторжки
		getPeretorge: function(){
			this.peretorg  = this.proposalDataByRef['Переторжки'];		
				if (this.peretorg.length >= 1){
					this.peretorgnomenclature = this.proposalDataByRef['ПереторжкиТовары'];
					_.forEach(this.peretorg, (value, key) => {
						this.peretorg[key].ВариантПроведения = this.$options.filters.uncamelize(this.peretorg[key].ВариантПроведения);						
					});					
					document.getElementById("t_5").disabled = "";
				}			
		},
		//Получение данных по Запросу предложений
		GetRequestProposalsByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetRequestProposalsByRefKey&refkey='+ this.supplierOffersByRefKey["ЗапросПредложений_Key"]) 
				.then((response) => {
					this.proposalDataByRef = response.data;
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				}).then(
					() => {
						this.loadData();
						this.getPeretorge();
					}
				);
		},
		//Получение данных по анкете
		GetRequestSupplierOffersByRefKey: function() {
			var ref = this.$route.query.ref; 		
				axios.post('/api/base/?action=GetRequestSupplierOffersByRefKey&refkey='+ ref) 
				.then((response) => {
					this.supplierOffersByRefKey = response.data.result;
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				}).then(
					() => {
						this.loadData2();						
						this.GetRequestProposalsByRefKey();
						this.getReqsuppliers();
						this.getReqnomenclature();	
						this.getNomenclature();		
						this.$refs.mainLoader.Hide();				
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
					if(key === 'СтоимостьЗакупкиБезНДС'){
						this.regForm[key].value = this.$options.filters.numberBeautifier(this.proposalDataByRef[key]);
					}
					else {
						this.$set(this.regForm[key], 'value', this.proposalDataByRef[key]);
						}						
			});
			var zaglushka= ""	
				if (this.proposalDataByRef) {
					zaglushka = "Запрос предложения №"+ this.$options.filters.removeZeroes(this.proposalDataByRef.Number) + " от " + this.$options.filters.formateDate(this.proposalDataByRef.Date, 'DD.MM.YYYY');	
				}
			this.regForm.ЦенаЗакупки.value = zaglushka;	
			var zaglushka2 = ""
				if (this.supplierOffersByRefKey.Number) {
					zaglushka2 = this.$options.filters.removeZeroes(this.supplierOffersByRefKey.Number) + " от " +  this.$options.filters.formateDate(this.supplierOffersByRefKey.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka2;	
		},
		//Открывает Запрос предложения
		toCard: function(){
			this.$router.push('supplier_offer_card?ref=' + this.proposalDataByRef.Ref_Key); 
		},
		//Загрузка данных
		loadData2: function() {
			//поля с первой вкладки
			_.forEach(this.supllyForm, (value, key) => { 
					if(key === 'ДатаПоставщика'){
						this.supllyForm[key].value = this.$options.filters.formateDate(this.supplierOffersByRefKey[key], 'DD.MM.YYYY');
					}
					else if(key === 'ВалютаПоставщика') {
						this.supllyForm[key].value = this.supplierOffersByRefKey['ВалютаПоставщика_Key_value'][0]['Description'];
						}
					else if(key === 'УсловиеОплаты_Key'){					
						this.supllyForm[key].value = this.supplierOffersByRefKey['УсловиеОплаты_value']['Description'];
						}
					else if(key === 'УсловиеПоставки_Key'){					
						this.supllyForm[key].value = this.supplierOffersByRefKey['УсловиеПоставки_value']['Description'];
						}
					else if(key === 'ДопущенКУчастию'){		
						this.supllyForm[key].value = this.$options.filters.uncamelize(this.supplierOffersByRefKey[key]);	
						}
					else if(key === 'СтавкаНДС'){
						this.supllyForm[key].value = this.$options.filters.uncamelize(this.supplierOffersByRefKey[key]);
					}
					else if(key === 'file.ВидДокумента'){
						this.supllyForm[key].value = this.$options.filters.uncamelize(this.supplierOffersByRefKey[key]);
					}					
					else {
						this.$set(this.supllyForm[key], 'value', this.supplierOffersByRefKey[key]);
						}						
			});
			
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("request_supplier_table"); 
		},
		//Получение данных по пользователю	
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});
		},
},
}
</script>