<template>
<div class="login-container table_box-shadow Soc Rsc ">
	<div class="form_line_Accreditation nowrap text_grey soC_margin full_name form_line_st">
		<div class="cursor form_line_card" style="margin-left: 10px;">	
			<span class="trigger_span" v-if="currentStep == 1">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Создание нового предложения-->
			<span class="trigger_span" v-if="currentStep == 2">{{PAGE_NAME.PAGE_NAME_H2}}</span><!--Дополнить предложение на 2-этапе-->
			<span class="trigger_span" v-if="currentStep == 3">{{PAGE_NAME.PAGE_NAME_H3}}</span><!--Дополнить предложение на 2-этапе-->
			<span class="trigger_color_status">{{regForm.ДопущенКУчастию.value ?regForm.ДопущенКУчастию.value:'Черновик'}}</span><!--Статус-->
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #4da951;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>		
	</div>
<vs-tabs color="#4da951"> 
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business"><!--Основное-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin">
			<div class="form_line_Accreditation nowrap text_grey soC_margin textarea_RSCP" style="display: flex;">
				<div style="margin: 10px 40px;">{{PAGE_NAME.SUBJECT_PURCHASE}}</div><!--Предмет закупки-->
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" v-model="regForm.ПредметЗакупки.value" :label="structure.ПредметЗакупки.Синоним"/><!--Предмет закупки-->
			</div>		
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<form-date disabled="true" v-model="regForm.ПериодЗакупкиС.value" :label="regForm.ПериодЗакупкиС.name" /><!--Дата начала поставок-->
				<form-date class="soCWidth" disabled="true" v-model="regForm.ПериодЗакупкиПо.value" :label="regForm.ПериодЗакупкиПо.name" /><!--по[Дата окончания поставок]-->
			</div>
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span><form-date disabled="true" v-model="regForm.СрокПриемаПредложенийС.value" :label="regForm.СрокПриемаПредложенийС.name"/></span><!--Срок приема предложений этапа с-->				
				<span><form-date disabled="true" class="soCWidth" v-model="regForm.СрокПриемаПредложенийПо.value" :label="regForm.СрокПриемаПредложенийПо.name"/></span><!--по[Срок приема предложений этапа по]-->
			</div>
			<div v-if="proposalDataByRef.ПоэтапнаяПроцедура" class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span><form-date disabled="true" v-model="regForm.СрокПриемаПредложенийС2.value" :label="regForm.СрокПриемаПредложенийС2.name"/></span><!--Срок приема предложений этапа с 2-->				
				<span><form-date disabled="true" class="soCWidth" v-model="regForm.СрокПриемаПредложенийПо2.value" :label="regForm.СрокПриемаПредложенийПо2.name"/></span><!--по[Срок приема предложений этапа по]2-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError':!supllyForm.ВходящийНомер.value}"><form-string class="soCWidth_string390" :disabled="isAllowed(supllyForm.ВходящийНомер.name)"  v-model="supllyForm.ВходящийНомер.value" :label="supllyForm.ВходящийНомер.name"/></span><!--Вх.№ предложения от поставщика-->	
				<span :class="{'isError':!supllyForm.ДатаНаправления.value}"><form-date class="soCWidth2" :disabled="isAllowed(supllyForm.ДатаНаправления.name)" v-model="supllyForm.ДатаНаправления.value" :label="supllyForm.ДатаНаправления.name" /></span><!--Дата направления-->			
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span class="span_ref" @click="toCard()"><form-string class="soCWidth_string390" disabled="true" v-model="regForm.ЦенаЗакупки.value" :label="structure.ЗапросПредложений_Key.Синоним"/></span><!--Запрос предложений (док. основание)-->
			</div>
			<div class="text_grey bool_box" style="margin-top: 10px;">
				<div class="bool_box_div"><form-bool :disabled="true" v-model="regForm.ДопускаетсяПодачаЧастичныхПредложений.value" :label="regForm.ДопускаетсяПодачаЧастичныхПредложений.name"/></div>		<!--ДопускаетсяПодачаЧастичныхПредложений-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<span :class="{'isError':!supllyForm.УсловиеОплаты_Key.value}"><form-catalog class="soCWidth_string390" :disabled="isAllowed(supllyForm.УсловиеОплаты_Key.name)"  v-model="supllyForm.УсловиеОплаты_Key.value"  :label="supllyForm.УсловиеОплаты_Key.name" :collection="structure.УсловиеОплаты_Key.Type"/></span><!--Условие оплаты-->							
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError':!supllyForm.УсловиеПоставки_Key.value}"><form-catalog class="soCWidth_string390" :disabled="isAllowed(supllyForm.УсловиеПоставки_Key.name)" v-model="supllyForm.УсловиеПоставки_Key.value" :label="supllyForm.УсловиеПоставки_Key.name" :collection="structure.УсловиеПоставки_Key.Type"/></span><!--Условие поставки-->	
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError':!supllyForm.УсловиеПоставкиТекст.value}"><form-string class="soCWidth_string390" :disabled="isAllowed(supllyForm.УсловиеПоставкиТекст.name)" v-model="supllyForm.УсловиеПоставкиТекст.value" :label="supllyForm.УсловиеПоставкиТекст.name"/></span><!--Условие поставки (текст)-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string  class="soCWidth_string" style="font-weight: bolder;" :disabled="true" v-model="allGoods.totalP" :label="supllyForm.СуммаДокументаВВалютеПоставщикаБезНДС.name"/><!--Сумма в валюте поставщика без НДС-->
				<form-string class="valuta_Width105 soCWidth_string" style="margin-left: -10px;" disabled="true" v-model="regForm.Валюта_Key.value" :label="regForm.Валюта_Key.name"/><!--Валюта запроса-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin">
				<span :class="{'isError':!supllyForm.ВалютаПоставщика_Key.value}"><form-catalog class="soCWidth_string" :disabled="isAllowed(supllyForm.ВалютаПоставщика_Key.name)" v-model="supllyForm.ВалютаПоставщика_Key.value" :label="supllyForm.ВалютаПоставщика_Key.name" :collection="structure.ВалютаПоставщика_Key.Type"/></span><!--Валюта поставщика-->
			</div>	
		</div>		
	  </vs-col>
	</vs-row>
<div class="save_but" v-if="checkAllGoods() || (currentStep == 1 && proposalDataByRef.ПоэтапнаяПроцедура == true)"><button type="button" @click="saveForm()" class="el-button filter-item"  style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
	<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		{{PAGE_NAME.SEND}}</span></button></div><!--ОТПРАВИТЬ-->	
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="category"><!--Товары-->
<table-goods class="Rsc_tov" :disabled="checkPermission()" v-model="allGoods" :data="nomenclature" :steps="currentStep" :onlyFull="regForm.ДопускаетсяПодачаЧастичныхПредложений.value" />
</vs-tab>		  

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="supervisor_account"><!--Требования к поставщику-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 none">
		<template v-if="this.currentStep == 2">
			<template>
				<div class="table_box-shadow-2">
					<vs-table class="text_grey" hoverFlat search :data="supplierData['ТребованияПоПоставщику']">
					<template slot="thead">
						<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.TAB.TAB1}}</vs-th><!--№-->
						<vs-th sort-key="Требование_Key_value.Description" style="padding:15px;">{{PAGE_NAME.TAB.TAB2}}</vs-th><!--Требование-->
						<vs-th sort-key="ОтветПоставщика" style="padding:15px;">{{PAGE_NAME.TAB.TAB3}}</vs-th><!--Ответ поставщика-->
						<vs-th sort-key="Комментарий" style="padding:15px;">{{PAGE_NAME.TAB.TAB4}}</vs-th><!--Комментарий-->
					</template>
					<template slot-scope="{data}">
					<vs-tr :key="indextr" v-for="(tr, indextr) in data">
						<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
						<vs-td :data="data[indextr].Требование_Key_value.Description">{{data[indextr].Требование_Key_value.Description}}</vs-td>
						<vs-td :data="data[indextr].ОтветПоставщика">{{data[indextr].ОтветПоставщика}}</vs-td>
						<vs-td :data="data[indextr].Комментарий">{{data[indextr].Комментарий}}</vs-td>
					</vs-tr>
					</template>
					</vs-table>
				</div>
			</template> 
		</template>
		<template v-else>
			<form-table-data-submit2  :questions="this.proposalDataByRef['Условия']" v-model="allAnswers" :headings="questionsHeaders"/>
		</template>
		
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="supervisor_account"><!--Требования к номенклатуре-->
	<template v-if="this.currentStep == 2">
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="supplierData['ТребованиеПоНоменклатуре']">
		  <template slot="thead">
			    <vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.TAB.TAB1}}</vs-th><!--№-->
			    <vs-th sort-key="Требование_Key_value.Description" style="padding:15px;">{{PAGE_NAME.TAB.TAB2}}</vs-th><!--Требование-->
				<vs-th sort-key="ОтветПоставщика" style="padding:15px;">{{PAGE_NAME.TAB.TAB3}}</vs-th><!--Ответ поставщика-->
				<vs-th sort-key="Комментарий" style="padding:15px;">{{PAGE_NAME.TAB.TAB4}}</vs-th><!--Комментарий-->
		  </template>
		  <template slot-scope="{data}">
			 <vs-tr :key="indextr" v-for="(tr, indextr) in data">
				<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
				<vs-td :data="data[indextr].Требование_Key_value.Description">{{data[indextr].Требование_Key_value.Description}}</vs-td>
				<vs-td :data="data[indextr].ОтветПоставщика">{{data[indextr].ОтветПоставщика}}</vs-td>
				<vs-td :data="data[indextr].Комментарий">{{data[indextr].Комментарий}}</vs-td>
			</vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  <template v-else>
    <div class="table_box-shadow-2 none">		
		 <form-table-data-submit2  :questions="this.proposalDataByRef['УсловияНоменклатура']" v-model="allAnswersNomen" :headings="questionsHeaders"/>
	</div>
  </template> 
</vs-tab>


<vs-tab :label="PAGE_NAME.PAGE_NAME5" disabled="true"   id="t_5"  icon="trending_down">	<!--Переторжки-->		
  <vs-row>  
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  
<vs-tabs color="#4da951">
  <vs-tab :key="index" v-for="(row,index) in this.peretorg" :label="'№'+row.НомерПереторжки"><!---->				
  <template>
	<div style="margin-bottom:20px;">
		<div class="form_line_card nowrap text_grey soC_margin zac" style="display: flex;">
			<form-time class="time" :disabled="isAllowed()" v-model="row.СрокС" :label="regForm.СрокС.name" /><!--Срок с-->	
			<form-time class="time time2" disabled="isAllowed()" v-model="row.СрокПо" :label="regForm.СрокПо.name" /><!--Срок по-->
			<form-string :disabled="isAllowed()" v-model="row.ВариантПроведения" :label="regForm.ВариантПроведения.name" /><!--Вариант проведения-->	
		</div>		
	</div>	
	
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="peretorgnomenclature">
		  <template slot="thead">
			    <vs-th sort-key="Номенклатура.Description">{{PAGE_NAME.PERETOR.PERETOR1}}</vs-th>	<!--Номенклатура-->
			    <vs-th sort-key="ЕдиницаИзмерения">{{PAGE_NAME.PERETOR.PERETOR2}}</vs-th>	<!--Единица измерения-->
			    <vs-th sort-key="КоличествоИтого">{{PAGE_NAME.PERETOR.PERETOR3}}</vs-th>	<!--Количество итого-->
			    <vs-th v-if="row.ПоказыватьМинимальноеЦеновоеПредложение" sort-key="ЦелеваяЦенаБезНДС">{{PAGE_NAME.PERETOR.PERETOR4}}</vs-th>	<!--Минимальная цена без НДС-->
			    <vs-th sort-key="ВалютаЗапроса">{{PAGE_NAME.PERETOR.PERETOR5}}</vs-th>	<!--Валюта запроса-->
		  </template>
		  <template slot-scope="{data}">
			 <vs-tr :key="indextr" v-for="(tr, indextr) in data" v-if="row.НомерПереторжки === data[indextr].НомерПереторжки">
				<vs-td :data="data[indextr].Номенклатура.Description">{{data[indextr].Номенклатура.Description}}</vs-td>
				<vs-td :data="data[indextr].ЕдиницаИзмерения">{{data[indextr].ЕдиницаИзмерения}}</vs-td>
				<vs-td :data="data[indextr].КоличествоИтого">{{data[indextr].КоличествоИтого}}</vs-td>
				<vs-td v-if="row.ПоказыватьМинимальноеЦеновоеПредложение" :data="data[indextr].ЦелеваяЦенаБезНДС">{{data[indextr].ЦелеваяЦенаБезНДС}}</vs-td>
				<vs-td :data="data[indextr].ВалютаЗапроса">{{data[indextr].ВалютаЗапроса}}</vs-td>
			</vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-tab>
  
 </vs-tabs> 
 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME6" icon="attach_file"><!--Присоединённые файлы-->
 	<file-upload :disabled="!isAllowed('файлы')" v-model="fileArray" v-if="proposalDataByRef['ПрисоединенныеФайлы']" :oldFiles="proposalDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_ПредложениеПоставщика"></file-upload>
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Number from '@/components/form_poles/Number'								//импорт Номера
import Catalog from '@/components/form_poles/Catalog'							//импорт Каталога
import Select from '@/components/form_poles/Select'								//импорт Селекта
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Select_ref from '@/components/form_poles/Select_ref'
import File_upload from '@/components/partials/File_upload'		//импорт File upload
import Date from '@/components/form_poles/Date'									//импорт Дат
import Time from '@/components/form_poles/Time'									//импорт Time
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit2 from '@/components/form_poles/Table_data_submit2'		//импорт Table_data_submit2
import Table_goods from '@/components/form_poles/Table_goods'					//импорт Table_goods
import {isEmpty, isTrue, replaceUndefined,russianToDate,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/request_supplier_card' //импорт request_supplier_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Request_supplier_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				ПредметЗакупки: {
					value:'',
					requred:true,
					name: 'Предмет закупки',
					disabled: true
				},
				ДопускаетсяПодачаЧастичныхПредложений: {
					value:'',
					requred:true,
					name: 'Допускается подача частичных предложений',
					disabled: true
				},
				ДопущенКУчастию: {
					value:'Черновик',
					requred:true,
					name: 'Статус',
					disabled: true
				},
				ПериодЗакупкиС: {
					value:'',
					requred:true,
					name: 'Дата начала поставок с:',
					disabled: true
				},
				ПериодЗакупкиПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				СрокПриемаПредложенийС: {
					value: '2019-01-01',
					requred:true,
					name: 'Срок приема предложений этапа с:',
					disabled: true
				},
				СрокПриемаПредложенийПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				СрокПриемаПредложенийС2: {
					value: '2019-01-01',
					requred:true,
					name: 'Срок приема предложений 2го этапа с:',
					disabled: true
				},
				СрокПриемаПредложенийПо2: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				ЦенаЗакупки: {
					value:'',
					requred:true,
					name: 'Сумма документа:',
					disabled: true
				},
				Валюта_Key: {
					value:'',
					requred:true,
					name: 'Валюта запроса:',
					disabled: true
				},
				ПоэтапнаяПроцедура: {
					value:'',
					requred:true,
					name: 'Поэтапная процедура',
					disabled: true
				},
				СрокС: {
					value:'',
					requred:true,
					name: 'Срок с',
					disabled: true
				},
				СрокПо: {
					value:'',
					requred:true,
					name: 'Срок по',
					disabled: true
				},
				ВариантПроведения: {
					value:'',
					requred:true,
					name: 'Вариант проведения',
					disabled: true
				},
			},
		//значения создаваемые во vue (справа)
			supllyForm:{
				ДатаНаправления: {
					value: moment().format("DD.MM.YYYY"),
					requred:true,
					name: 'от',
					disabled: true
				},
				ВходящийНомер: {
					value: "",
					requred:true,
					name: 'Вх.№ предложения от поставщика:',
					disabled: true
				},
				ДопущенКУчастию: {
					value:'Черновик',
					requred:true,
					name: 'Статус',
					disabled: true
				},
				УсловиеПоставки_Key: {
					value: "",
					requred:true,
					name: 'Условие поставки:',
					disabled: false
				},
				УсловиеПоставкиТекст: {
					value: "",
					requred:true,
					name: 'Условие поставки (текст):',
					disabled: false
				},
				ВалютаПоставщика_Key: {
					value: "",
					requred:true,
					name: 'Валюта поставщика:',
					disabled: false
				},
				УсловиеОплаты_Key: {
					value: "",
					requred:true,
					name: 'Условие оплаты:',
					disabled: false
				},
				СуммаДокументаВВалютеПоставщикаБезНДС:{
					value: "",
					requred:true,
					name: 'Сумма в валюте поставщика без НДС',
					disabled: false
				},
			},
			structure: {
				Поставщик_Key:{
					Синоним: ''
				},
				УсловиеОплаты_Key:{
					Синоним: '',
					Type:''
				},
				УсловиеПоставки_Key:{
					Синоним: '',
					Type:''
				},
				ВалютаПоставщика_Key:{
					Синоним: '',
					Type:''
				},
				ЗапросПредложений_Key:{
					Синоним: '',
					Type:''
				},
				ДопускаетсяПодачаЧастичныхПредложений:{
					Синоним: ''
				},
				ПредметЗакупки:{
					Синоним: ''
				}
			},
			fileArray:{},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			proposalDataByRef:[],
			supplierData:{},
			deletedItems:[],
			reqsuppliers : {},
			reqnomenclature : {},
			nomenclature : {},
			nomenclatureForPeretorg : {},
			currentStep:isDefined(this.$route.query.step)?this.$route.query.step: "",
			allGoods:{
				totalP:0,
			},
			userInfo:{},
			allAnswers:{},
			fileSaveResp: [],
			newFiles: {
				result: {
					files:[]
				}
			},
			fileMatchArray: [],
			additionalFiles	: [],
			allAnswersNomen:{},
			showMatchings: false,
			peretorg: {},
			peretorgnomenclature: {},
			categories:{},
			questionsHeaders : [
						{
							"ВидимостьНаФорме": true,
							"Синоним": "Требование",		
						},
						{
							"Ответ поставщика": true,
							"Синоним": "Ответ поставщика",		
						},
						{
							"Ответ поставщика": true,
							"Синоним": "Комментарий",		
						}
				  	]			
		}
	},
	created: function() {
		this.isAuthorized();
		this.getStructure().then(
			() => {					
					this.GetRequestProposalsByRefKey().then(
						() =>{
						
						}
					);					
			}
		);
	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-select":Select,
		"form-select-ref":Select_ref,
		"file-upload":File_upload,
		"form-date":Date,
		"form-time":Time,
		"form-bool":Bool,
		"form-catalog":Catalog,
		"form-table-data-submit2":Table_data_submit2,
		"table-goods":Table_goods
	},
	filters: {
		getDateYearAndMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		}
	},	
	methods: {		
		//Получение данных по структуре анкеты
		getStructure: function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ПредложениеПоставщика'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			});
		},
		//Проверка прав
		checkPermission: function(){
			var step = this.$route.query.step; 	
			if(this.proposalDataByRef.ПоэтапнаяПроцедура && step === '1'){
				return true;
			}
			return false;
		},

		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileMatchArray = [];
			this.newFiles = [];
			this.newFiles.result = {};
			this.newFiles.result.files = [];
			this.additionalFiles = JSON.parse(resp.target.response);
			_.forEach(this.additionalFiles.result.files, (value, key) => {
				
				this.newFiles.result.files.push({
						name:value.name,
						id:value.id
					});					
			});
			this.showMatchings = true;
		},
		//Выбор типа присоед.файлов
		getOptions: function(obj) {
			let arr = []
			_.forEach(obj, (value, key) => {
				arr.push(value.Имя);
			})
			return arr;
		},
		getShoppingCategories: function(){

			return axios.post('/api/base/index.php?action=GetShoppingCategories') 
				.then((response) => {
					this.categories = response.data.result;
				});
		},
		//Отключаем флажок
		haveNoAccreditation: function(ref_key){
			let haveNoAccreditation = true;
			_.forEach(this.categories, (value, key) => {
				if(value === ref_key){
					haveNoAccreditation = false;
				}
			});
			return haveNoAccreditation;
		},
		//Запись данных в таблицу Требования к поставщикам
		getReqsuppliers: function(){
			this.reqsuppliers  = this.proposalDataByRef['Условия'];
		},
		//Запись данных в таблицу Требования к номенклатуре
		getReqnomenclature: function(){
			this.reqnomenclature = this.proposalDataByRef['УсловияНоменклатура'];;
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.proposalDataByRef['Товары'];

			_.forEach(this.nomenclature, (value, key) => { 	
								_.forEach(this.nomenclature[key].Периоды, (value2, key2) => { 									
									this.nomenclature[key].Периоды[key2].КоличествоВЗапросе = this.nomenclature[key].Периоды[key2].Количество
								});								
							});
		},

		//Запись данных в таблицу Переторжки
		getPeretorge: function(){
			this.peretorg  = this.proposalDataByRef['Переторжки'];		
				if (this.peretorg && this.peretorg.length >= 1){
					this.peretorgnomenclature = this.proposalDataByRef['ПереторжкиТовары'];
					_.forEach(this.peretorg, (value, key) => {
						this.peretorg[key].ВариантПроведения = this.$options.filters.uncamelize(this.peretorg[key].ВариантПроведения);						
					});					
					document.getElementById("t_5").disabled = "";
				}			
		},
		//Получение данных по анкете
		GetRequestProposalsByRefKey: function() {
			var ref = this.$route.query.ref; 		
				return axios.post('/api/base/?action=GetRequestProposalsByRefKey&refkey='+ ref) 
				.then((response) => {
					this.proposalDataByRef = response.data;
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				}).then(
					() => {
						this.loadData();
						this.getReqsuppliers();	
						this.getReqnomenclature();	
						this.getNomenclature();	
						this.getPeretorge();
						this.$refs.mainLoader.Hide();
					}
				);
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			if( this.currentStep == 2 && pole != 'файлы'){
				return true;
			}
			if( this.currentStep == 2 && pole == 'файлы'){
				return false;
			}
			if( this.currentStep == 3){
				if(pole){
					return false
						
				}
				else {
					return true;
				}
			}
			if( this.currentStep == 1){
				return false;
			}
			return true;
		    },
		//Проверка всех товаров на их выбор (селект)	
		checkAllGoods: function(pole) {
			let isChecked = false
			_.forEach(this.allGoods, (value, key) => { 
				if(value.rowChecked === true){
					isChecked = true;
				}
			});
			return isChecked;
		 },
		 //Открывает Запрос предложения
		 toCard: function(){
			this.$router.push('supplier_offer_card?ref=' + this.proposalDataByRef["Ref_Key"]); 
		},
		//Загрузка данных
		loadData: function() {	
			if(isDefined(this.$route.query.ПредложениеПоставщика_Key)){
				axios({
					method: 'post',
					//url: '/api/base/?action=GetRequestSupplierOffersByRefKey&refkey='+this.$route.query.predlojenye
					url: '/api/base/?action=GetRequestSupplierOffersByRefKey&refkey='+this.$route.query.ПредложениеПоставщика_Key
				}).then((response) => {				
					this.supplierData = response.data.result;
					_.forEach(this.supllyForm, (value, key) => { 						
						if(key === 'УсловиеОплаты_Key'){	
							this.$set(this.supllyForm[key] ,'value',  { "Ref_Key": this.supplierData.УсловиеОплаты_Key, "Description": this.supplierData.УсловиеОплаты_value.Description });	
						}
						else if(key === 'УсловиеПоставки_Key'){	
							this.$set(this.supllyForm[key] ,'value',  { "Ref_Key": this.supplierData.УсловиеПоставки_Key, "Description": this.supplierData.УсловиеПоставки_value.Description });	
						}
						else if(key === 'ВалютаПоставщика_Key'){	
							this.$set(this.supllyForm[key] ,'value',  { "Ref_Key": this.supplierData.ВалютаПоставщика_Key, "Description": this.supplierData.ВалютаПоставщика_Key_value[0].Description });	
						}
						else if(key === 'УсловиеПоставкиТекст'){
							this.$set(this.supllyForm[key] ,'value',this.supplierData.УсловиеПоставкиТекст);
						}
						else if(key === 'ВходящийНомер'){
							this.$set(this.supllyForm[key] ,'value',this.supplierData.НомерПоставщика);
						}
						else if(key === 'ДопущенКУчастию'){	
							this.$set(this.regForm[key] ,'value',this.$options.filters.uncamelize(this.supplierData.ДопущенКУчастию));
		
						}
						else if(key === 'ДатаНаправления'){
							this.supllyForm[key].value = this.$options.filters.formateDate(value, 'DD.MM.YYYY');
							this.$set(this.supllyForm[key] ,'value',this.supllyForm[key].value );
						}
					});
					
					//Перезаполнение номенклатуры по переторжке
					
					if( this.currentStep == 3){
						this.getShoppingCategories().then(() => {
							this.haveNoAccreditation();
							this.nomenclatureForPeretorg = this.supplierData['Товары'];
							let minusCounter = 0;
							//удаляем те что без аккредитации
							_.forEach(this.nomenclature, (value, key) => { 
								if(this.haveNoAccreditation(this.nomenclature[key - minusCounter].srm_ТоварнаяКатегория_Key)){
									this.nomenclature.splice(key,1);
									minusCounter++;
								}
							});
							_.forEach(this.nomenclature, (value, key) => { 	
								if(this.nomenclatureForPeretorg) {
									this.nomenclature[key].ТЗР = this.nomenclatureForPeretorg[key].ТЗР;
									this.nomenclature[key].СтоимостьУпаковки = this.nomenclatureForPeretorg[key].СтоимостьУпаковки;
									this.nomenclature[key].НаименованиеНоменклатурыПоставщика = this.nomenclatureForPeretorg[key].НаименованиеНоменклатурыПоставщика;
									this.nomenclature[key].СтавкаНДС = this.nomenclatureForPeretorg[key].СтавкаНДС;
									this.nomenclature[key].ЦенаБезНДС = this.nomenclatureForPeretorg[key].Цена;
									console.log(this.nomenclature[key].Периоды,1);
									console.log(this.nomenclatureForPeretorg[key].Периоды,2);
									_.forEach(this.nomenclature[key].Периоды, (value2, key2) => { 
										this.nomenclature[key].Периоды[key2].КоличествоПоставщика = this.nomenclatureForPeretorg[key].Периоды[key2].Количество
									});
								}
							});								
						});
					}				
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				});		
			}
			//Поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
					if(key === 'СуммаДокументаВВалютеЗапросаБезНДС'){		
						this.supllyForm[key].value = this.$options.filters.numberBeautifier(this.supplierOffersByRefKey[key]);	
					}						
					else {
						this.$set(this.regForm[key], 'value', this.proposalDataByRef[key]);
					}
			});
			var zaglushka= ""	
				if (this.proposalDataByRef.Number) {
					zaglushka = "Запрос предложения №"+ this.proposalDataByRef.Number + " от " + this.$options.filters.formateDate(this.proposalDataByRef.Date, 'DD.MM.YYYY');	
				}
			this.regForm.ЦенаЗакупки.value = zaglushka;		
		},
		//Формат даты
		getDateYearMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		},
		//Получение данных по пользователю	
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});
		},
		//Кнопка Отправить
		saveForm: function(){
			//Обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//Валидация данных перед отправкой
			//Возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				//Отправка на сервер
				var dataToSend = new FormData();
				dataToSend.set("data[СозданоНаПортале]", true);
				if(this.currentStep == 2){
					dataToSend.set("Ref_Key", this.supplierData["Ref_Key"]);
				}
				dataToSend.set("data[ЗапросПредложений_Key]", this.proposalDataByRef["Ref_Key"]);
				dataToSend.set("data[Валюта_Key]", this.proposalDataByRef["Валюта_Key_value"]);
				dataToSend.set("data[ПредметЗакупки]", this.regForm.ПредметЗакупки.value);
				dataToSend.set("data[ПериодЗакупкиС]", this.proposalDataByRef["ПериодЗакупкиС"]);
				dataToSend.set("data[ПериодЗакупкиПо]", this.proposalDataByRef["ПериодЗакупкиПо"]);
				if(this.currentStep == 1){
					dataToSend.set("data[Поставщик_Key]", this.userInfo.company);
				}
				_.forEach(this.supllyForm, (value, key) => {
					if(key === 'УсловиеПоставки_Key' || key === 'УсловиеОплаты_Key' || key === 'ВалютаПоставщика_Key'){
						dataToSend.set("data["+key+"]", value.value.Ref_Key);
					}
					else if(key === 'ВходящийНомер'){
						dataToSend.set("data[НомерПоставщика]", value.value);
					}
					else if(key === 'ДатаНаправления'){
						dataToSend.set("data[ДатаПоставщика]", russianToDate(value.value));
					}
					else if(key === 'ДопущенКУчастию'){
						if(this.proposalDataByRef.ПоэтапнаяПроцедура == true && this.currentStep === '1'){
							dataToSend.set("data[ДопущенКУчастию]", "НаправленНаРассмотрениеВПервомЭтапеЗакупочнойПроцедуры");
						}
						else{
							dataToSend.set("data[ДопущенКУчастию]", "НаправленНаРассмотрение");
						}
					}
					else if(key === 'СуммаДокументаВВалютеПоставщикаБезНДС'){
						dataToSend.set("data[СуммаДокументаВВалютеПоставщикаБезНДС]", this.allGoods.totalP);
					}
					
					else{
						dataToSend.set("data["+key+"]", value.value);
					}
					
					
					
				});
				//Товары
				if(this.currentStep == 1 && this.proposalDataByRef.ПоэтапнаяПроцедура == true){
					let i = 0;
					_.forEach(this.nomenclature, (value, key)=>{
						i++;
						dataToSend.set("data[Товары]["+i+"][LineNumber]", i);
						dataToSend.set("data[Товары]["+i+"][Номенклатура_Key]", value.Номенклатура_Key);
						dataToSend.set("data[Товары]["+i+"][НаименованиеНоменклатурыПоставщика]", "");
						dataToSend.set("data[Товары]["+i+"][ТЗР]","");
						dataToSend.set("data[Товары]["+i+"][Цена]", value.Цена);
						dataToSend.set("data[Товары]["+i+"][СтоимостьУпаковки]", "");
						dataToSend.set("data[Товары]["+i+"][СтавкаНДС]", "НДС0");
						let i2 = 0;
						_.forEach(value.Периоды, (value2, key2)=>{
							dataToSend.set("data[Товары]["+i+"][Период]["+i2+"][Количество]", value2.Количество);
							dataToSend.set("data[Товары]["+i+"][Период]["+i2+"][ПериодПланирования]", value2.ПериодПланирования);
							i2++;
						})
						dataToSend.set("data[Товары]["+i+"][ИтоговаяЦенаЗаЕдиницу]",0);
						dataToSend.set("data[Товары]["+i+"][ЦенаСНДС]", 0);
						dataToSend.set("data[Товары]["+i+"][СуммаБезНДС]", 0);
						dataToSend.set("data[Товары]["+i+"][СтоимостьСНДС]", 0);
						dataToSend.set("data[Товары]["+i+"][СуммаНДС]", 0);
						dataToSend.set("data[Товары]["+i+"][ЕдиницаИзмерения_Key]", value.ЕдиницаИзмерения_Key);
						dataToSend.set("data[Товары]["+i+"][ИтогоКоличество]", value.ОбщееКоличество);

					});
				}
				 let i = 0;
				_.forEach(this.allGoods, (value, key)=>{					
					if(key != "totalP"){
						if(this.allGoods[key].rowChecked === true){				
						i++;
						dataToSend.set("data[Товары]["+i+"][НаименованиеНоменклатурыПоставщика]", (this.allGoods[key].Nomenkltatura)?this.allGoods[key].Nomenkltatura:"");
						dataToSend.set("data[Товары]["+i+"][ТЗР]", this.allGoods[key].TZR);
						dataToSend.set("data[Товары]["+i+"][Цена]", this.allGoods[key].pricePerThingWithoutNDS);
						dataToSend.set("data[Товары]["+i+"][СтоимостьУпаковки]", this.allGoods[key].wrapPriceWithoutNDS);
						dataToSend.set("data[Товары]["+i+"][ЕдиницаИзмерения_Key]", this.allGoods[key].ЕдиницаИзмерения_Key);
						dataToSend.set("data[Товары]["+i+"][Номенклатура_Key]", this.allGoods[key].Номенклатура_Key)
						let NDS = 0;
						if(this.allGoods[key].selectedNDS === "0"){
							NDS = 1;
							dataToSend.set("data[Товары]["+i+"][СтавкаНДС]", "БезНДС");
						}
						if(this.allGoods[key].selectedNDS === 1){
							NDS = 1;
							dataToSend.set("data[Товары]["+i+"][СтавкаНДС]", "НДС0");
						}
						else if(this.allGoods[key].selectedNDS === "1.0"){
							NDS = 1.0;
							dataToSend.set("data[Товары]["+i+"][СтавкаНДС]", "БезНДС");
						}
						else if(this.allGoods[key].selectedNDS === "1.1"){
							NDS = 1.1;
							dataToSend.set("data[Товары]["+i+"][СтавкаНДС]", "НДС10");
						}
						else if(this.allGoods[key].selectedNDS === "1.2"){
							NDS = 1.2;
							dataToSend.set("data[Товары]["+i+"][СтавкаНДС]", "НДС20");
						}						
						let i2 = 0;
						let coll = 0
						_.forEach(this.allGoods[key].periods, (value2, key2)=>{
							i2++;
							coll += this.allGoods[key].periods[key2].Количество;
							dataToSend.set("data[Товары]["+i+"][Период]["+i2+"][Количество]", this.allGoods[key].periods[key2].Количество);
							dataToSend.set("data[Товары]["+i+"][Период]["+i2+"][ПериодПланирования]", this.allGoods[key].periods[key2].ПериодПланирования);
						});
						//Итоговая цена за ед.(без НДС)
						let itogsumm = parseFloat(this.allGoods[key].TZR)+ parseFloat(this.allGoods[key].pricePerThingWithoutNDS) + parseFloat(this.allGoods[key].wrapPriceWithoutNDS);
						dataToSend.set("data[Товары]["+i+"][ИтоговаяЦенаЗаЕдиницу]",itogsumm);

						//Итоговая цена за ед. с НДС
						let itogsumm2 = parseFloat(itogsumm) * NDS;
						dataToSend.set("data[Товары]["+i+"][ЦенаСНДС]", itogsumm2.toFixed(2));
						
						//Сумма без НДС
						let itogsumm3 = parseFloat(itogsumm) * parseFloat(coll);
						dataToSend.set("data[Товары]["+i+"][СуммаБезНДС]", itogsumm3.toFixed(2));						
										
						//Сумма с учетом НДС
						let itogsumm5 = NDS * parseFloat(itogsumm3);
						dataToSend.set("data[Товары]["+i+"][СтоимостьСНДС]", itogsumm5.toFixed(2));
						
						//Сумма НДС
						let itogsumm4 = parseFloat(itogsumm5) - parseFloat(itogsumm3);
						dataToSend.set("data[Товары]["+i+"][СуммаНДС]", itogsumm4.toFixed(2));						
							if(this.allGoods[key].selectedNDS === "1.0" || this.allGoods[key].selectedNDS === "1"){
								dataToSend.set("data[Товары]["+i+"][СуммаНДС]", 0);
								dataToSend.set("data[Товары]["+i+"][ЦенаСНДС]", 0);
							}
						
						//Итого количество
						dataToSend.set("data[Товары]["+i+"][ИтогоКоличество]", coll);
					}
					}
				});
				//ТребованияКПоставщику
				if(this.allAnswers.length && this.currentStep != 2){
					_.forEach(this.allAnswers, (value, key)=>{
						dataToSend.set("data[ТребованияПоПоставщику]["+this.allAnswers[key].LineNumber+"][LineNumber]", this.allAnswers[key].LineNumber);
						dataToSend.set("data[ТребованияПоПоставщику]["+this.allAnswers[key].LineNumber+"][Требование_Key]", this.allAnswers[key].Требование_Key);
						dataToSend.set("data[ТребованияПоПоставщику]["+this.allAnswers[key].LineNumber+"][ОтветПоставщика]", this.allAnswers[key].Ответ);
						dataToSend.set("data[ТребованияПоПоставщику]["+this.allAnswers[key].LineNumber+"][ОтветПоставщика_Type]", this.getAnswerType(this.allAnswers[key].ТипВопроса));
						dataToSend.set("data[ТребованияПоПоставщику]["+this.allAnswers[key].LineNumber+"][Комментарий]", (this.allAnswers[key].Коммент)?this.allAnswers[key].Коммент:"");
					});
				}
				else{
					if(this.currentStep != 2) {
						_.forEach(this.proposalDataByRef["Условия"], (value, key)=>{
							dataToSend.set("data[ТребованияПоПоставщику]["+ key +"][LineNumber]", value.LineNumber);
							dataToSend.set("data[ТребованияПоПоставщику]["+ key +"][Требование_Key]", value.Требование_Key);
							dataToSend.set("data[ТребованияПоПоставщику]["+ key +"][ОтветПоставщика]", (value.ТипВопроса == 'Булево') ? false : "" );
							dataToSend.set("data[ТребованияПоПоставщику]["+ key +"][ОтветПоставщика_Type]", this.getAnswerType(value.ТипВопроса));
							dataToSend.set("data[ТребованияПоПоставщику]["+ key +"][Комментарий]", "");
						});
					}
				}
				//ТребованияКНоменклатуре
				if(this.allAnswersNomen.length && this.currentStep != 2){					
					_.forEach(this.allAnswersNomen, (value, key)=>{
						dataToSend.set("data[ТребованиеПоНоменклатуре]["+this.allAnswersNomen[key].LineNumber+"][LineNumber]", this.allAnswersNomen[key].LineNumber);
						dataToSend.set("data[ТребованиеПоНоменклатуре]["+this.allAnswersNomen[key].LineNumber+"][Требование_Key]", this.allAnswersNomen[key].Требование_Key);
						dataToSend.set("data[ТребованиеПоНоменклатуре]["+this.allAnswersNomen[key].LineNumber+"][ОтветПоставщика]", this.allAnswersNomen[key].Ответ);
						dataToSend.set("data[ТребованиеПоНоменклатуре]["+this.allAnswersNomen[key].LineNumber+"][ОтветПоставщика_Type]", this.getAnswerType(this.allAnswersNomen[key].ТипВопроса));
						dataToSend.set("data[ТребованиеПоНоменклатуре]["+this.allAnswersNomen[key].LineNumber+"][Комментарий]", (this.allAnswersNomen[key].Коммент)?this.allAnswersNomen[key].Коммент:"");
					});
				}
				else{
					if(this.currentStep != 2) {
						_.forEach(this.proposalDataByRef["УсловияНоменклатура"], (value, key)=>{
							dataToSend.set("data[ТребованиеПоНоменклатуре]["+ key +"][LineNumber]", value.LineNumber);
							dataToSend.set("data[ТребованиеПоНоменклатуре]["+ key +"][Требование_Key]", value.Требование_Key);
							dataToSend.set("data[ТребованиеПоНоменклатуре]["+ key +"][ОтветПоставщика]", (value.ТипВопроса == 'Булево') ? false : "");
							dataToSend.set("data[ТребованиеПоНоменклатуре]["+ key +"][ОтветПоставщика_Type]", this.getAnswerType(value.ТипВопроса));
							dataToSend.set("data[ТребованиеПоНоменклатуре]["+ key +"][Комментарий]", "");
						});
					}	
				}
				//Присоед.файлы

				var i2= 0;
				_.forEach(this.fileArray.newFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+ key +"][id]", replaceUndefined(value.id));	
						dataToSend.set("FILES["+ key +"][type]", replaceUndefined(value.type));	
						i2++;
					}
				});
				_.forEach(this.fileArray.oldFiles, (value, key) => {
					if(isDefined(value)){
						dataToSend.set("FILES["+i2+"][guid]", replaceUndefined(value.Ref_Key));	
						dataToSend.set("FILES["+i2+"][type]", replaceUndefined(value.ВидДокумента_Key));	
						i2++;
					}
				});
				let restPointUrl = 'AddSupplierOffer';
				if(this.currentStep == 2){
					restPointUrl = 'UpdateSupplierOffer';
				}
				console.log(this.allAnswers);
		
				axios({
					method: 'post',
					url: '/api/base/?action=' + restPointUrl,
					data: dataToSend
				}).then(
				 (response) => {
					 
					 if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка предложения',
							text: 'Предложение успешно отправлено',
							accept:this.accept
						}) ;
						this.$router.push('Request_supplier_table'); 
					 }
					
				 } 
				);

			}
		},
		//Валидация
		validate: function(){
			this.errors = [];
			_.forEach(this.supllyForm, (value, key) => {
				if(this.isRequired(key)){
					if (typeof value.value === 'boolean'){
						if(!isTrue(value.value)){
							this.errors.push('не выбрано поле ' + value.name);
						}
					}
					else{
						if(isEmpty(value.value)){
							this.errors.push('не заполнено поле ' + value.name);
							this.supllyForm[key].error = true;
						}
					}	
				}	
			});			
			
				//Валидируем ТребованияКПоставщику(всплыв.кр.окна)
				if(this.allAnswers.length && this.currentStep != 2){

				_.forEach(this.allAnswers, (value, key) => {
					if(value.ТипВопроса === "Булево"){
						if(!isDefined(value.Ответ) && !value.wrong){
							this.allAnswers[key].Ответ = false;
						}
					}
					else{
						if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong && value.ТипВопроса != "Булево"){
							this.errors.push('не заполнен ответ ' + (parseInt(key) + 1) + " в Требованиях к поставщику");						
						}
					}

				});	
				}
				else{
					if(this.currentStep != 2) {
						_.forEach(this.proposalDataByRef["Условия"], (value, key) => {
							if(value.ТипВопроса === "Булево"){
							}
							else{
								if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong && value.ТипВопроса != "Булево"){
									this.errors.push('не заполнен ответ ' + (parseInt(key) + 1) + " в Требованиях к поставщику");						
								}
							}

						});
					}
					
				}
				
				//Валидируем ТребованияКНоменклатуре(всплыв.кр.окна)
				if(this.allAnswersNomen.length && this.currentStep != 2){

				_.forEach(this.allAnswersNomen, (value, key) => {
					if(value.ТипВопроса === "Булево"){
						if(!isDefined(value.Ответ) && !value.wrong){
							this.allAnswersNomen[key].Ответ = false;
						}
					}
					else{

						if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong && value.ТипВопроса != "Булево"){
							this.errors.push('не заполнен ответ ' + (parseInt(key) + 1) + " в Требованиях к номенклатуре");
						}
					}

				});	
				}
				else{
					if(this.currentStep != 2) {
						_.forEach(this.proposalDataByRef["УсловияНоменклатура"], (value, key) => {
							if(value.ТипВопроса === "Булево"){
							}
							else{
								if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong && value.ТипВопроса != "Булево"){
									this.errors.push('не заполнен ответ ' + (parseInt(key) + 1) + " в Требованиях к номенклатуре");
								}
							}

						});	
					}
				}		
				//Валидируем Товары(всплыв.кр.окна)				
				if(this.allGoods){
					let i = 0;
					_.forEach(this.allGoods, (value, key) => {
						i++;
						if(isDefined(this.allGoods[key].rowChecked)){					
							if(this.allGoods[key].rowChecked === true){
								/*
								if(this.allGoods[key].Nomenkltatura === ""){
									this.errors.push('не заполнено поле Номенклатура поставщика в строке №' + i);
								}
								*/
								if(parseFloat(this.allGoods[key].pricePerThingWithoutNDS) === 0){
									this.errors.push('не заполнено поле Цена за ед.(без НДС) в строке №' + i);
								}
									_.forEach(this.allGoods[key].periods, (value2, key2) => {										
										if(this.allGoods[key].periods[key2].Количество === "0"){ 
										let p = this.getDateYearMonth(this.allGoods[key].periods[key2].ПериодПланирования);											
											this.errors.push('не заполнено поле Количество в Периоде ('+p+') поставки в строке №' + i);
										}
									});								
							}
						}
					});
				}

				//валидируем тип файлов 		
				let lineNumber = 0;
					_.forEach(this.fileArray.oldFiles, (value, key) => {
						lineNumber++
					});					
					_.forEach(this.fileArray.newFiles, (value, key) => {
						lineNumber++
						if (!isDefined(value.type) || value.type.length < 1){	
							this.errors.push('не заполнен вид документа в Присоединенных файлах в строке №' + (lineNumber));	
						}
						
				});	
			return this.errors.length;			
		},
		//Проверка на заполнение полей
		isRequired: function(pole){
			switch(pole){
				case 'ДатаНаправления':
				case 'УсловиеПоставки_Key':
				case 'УсловиеПоставкиТекст':
				case 'ВалютаПоставщика_Key':
				case 'УсловиеОплаты_Key':
				case 'ВходящийНомер':
					return true;
				default:
					return false;
			}
		},
		//Получение типов ответов для анкеты
		getAnswerType: function(type){
			switch(type){
				case 'Число':
					//return 'Edm.Int64';
					return 'Edm.Double';
				case 'Дата':
					return 'Edm.DateTime';
				case 'Строка':
					return 'Edm.String';
				case 'ВыборИзМножества':
					return 'StandardODATA.Catalog_srm_ЗначенияПеречислимыхКритериев';
				case 'Булево':
					return 'Edm.Boolean';
			}
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("supplier_offer_table"); 
		},
		//Проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(obj === "") {
				return false;
			}
			if(!obj) {
				return false;
			}
			return true;
		}
		
},
}
</script>
