<template>
<div class="login-container table_box-shadow Soc Sas">
		<div class="cursor form_line_card" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME1}}</span><!--Лист самооценки-->	
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>	
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="fact_check">	<!--Таб 1 - Лист самооценки-->
<div class="sas_button">
	<div><button class="el-button filter-item k1" type="button" @click="loadAnketa"><span style="color:white;">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
		{{PAGE_NAME.DOWNLOAD}}</span></button>	<!--Загрузить-->
	</div>
	<vs-row>
	<vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
		<template>
			<div class="table_box-shadow-2 none" v-if="this.listShow === true" >
				<form-table-data-submit  :key="uploadAnketaKey" :questions="this.list" v-model="allAnswers" :loaded="loadedQuestions" :headings="questionsHeaders"/>
			</div>
		</template> 
	</vs-col>
	</vs-row>
</div>

<div class="save_but"><button type="button" @click="saveForm()" class="el-button filter-item" style="margin-top:10px;"><span style="color:white;margin-left: -10px;">
	<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M21.99 8c0-.72-.37-1.35-.94-1.7L12 1 2.95 6.3C2.38 6.65 2 7.28 2 8v10c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2l-.01-10zM12 13L3.74 7.84 12 3l8.26 4.84L12 13z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
	{{PAGE_NAME.SEND}}</span></button></div>	<!--ОТПРАВИТЬ-->
	
<vs-prompt :accept-text="PAGE_NAME.ACCEPT" :cancel-text="PAGE_NAME.CANCEL" :title="PAGE_NAME.UPL_FILE" :is-valid="okButtonValid" @cancel="" @accept="" @close="" :active.sync="showLoadDialog">	<!--принять/отмена/Загрузка файла-->
	<div class="load_promt">
		<vs-upload :automatic="true" fileName="files[]" :text="PAGE_NAME.UPLOAD" limit="1" @on-success="loadAnketaAnswer"  action="/api/base/?action=UploadFile"/>	<!--Загрузить файлы на сервер-->
	</div>
</vs-prompt>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="attach_file">	<!--Таб 2 - Присоединенные файлы-->
<template lang="html">
	<div class="centerx att_Files">
		<div class="alert cursor" v-if="showMatchings">{{PAGE_NAME.OLD_FILES}}</div>	<!--При загрузке старые файлы будут перезаписаны-->
		<vs-upload fileName="files[]" :text="PAGE_NAME.UPLOAD" @on-success="getFileSaveAnswer" multiple action="/api/base/?action=UploadFile&filetype=Document_srm_ЛистСамооценки"/>
		<div v-if="showMatchings"><br />
				<p class="text_p_headline2 cursor">{{PAGE_NAME.UPLOAD_FILES}}:</p><br /><!--Загруженные файлы-->
				<vs-table class="text_grey" :data="123">
					<template slot="thead">
						<vs-th style="color: #909399;font-weight: bold;padding: 12px 10px;width:60%;">{{PAGE_NAME.FILE.FILE1}}</vs-th><!--Наименование-->
						<vs-th style="color: #909399;font-weight: bold;padding: 12px 10px;width:30%;">Вид документа</vs-th><!--Вид документа-->
						<vs-th></vs-th><!--Удалить-->
					</template>
					<tbody>
						<template>
							<tr v-if="!isDeleted(file.id)" :key="index" v-for="(file, key, index) in fileSaveResp.result.files">
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;">{{file.name}}</td>
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;">
								<span :class="{'isError':!chekedFileType(fileMatchArray[key][file.id])}">
									<form-select-ref v-model="fileMatchArray[key][file.id]" uncamelize="true"  :options="fileSaveResp.result.types"/>
								</span>	
								</td>
								<td align="center"><div @click="delFile(file, file.id,key)" :data-description="PAGE_NAME.DELETE" class="korzina korzina2">
									<vs-icon style="color: #d97b81;cursor: pointer;" icon="delete_forever"></vs-icon>
								</div></td><!--Удалить-->
							</tr>
						</template>
					</tbody>
				</vs-table>
		</div>
	</div>
</template>
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
</div>  
</template>


<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Number from '@/components/form_poles/Number'								//импорт Числовых инпутов
import Catalog from '@/components/form_poles/Catalog'							//импорт Каталога
import Select_ref from '@/components/form_poles/Select_ref'
import Select from '@/components/form_poles/Select'								//импорт Селекта
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_assessment'	//импорт Table_data_assessment
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/self_assessment_sheet'	//импорт self_assessment_sheet (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Self_assessment_sheet',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{				
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,			
			okButtonValid: false,
			auditProgramByRefKey: {},
			allAnswers: {},
			list:{},
			listShow: false,
			fileSaveResp: [],
			deletedItems: [],
			loadedQuestions : {},
			uploadAnketaKey : 0,
			fileId : "",
			fileMatchArray: [],
			showLoadDialog: false,
			showMatchings: false,
			questionsHeaders : [
				{
				"ВидимостьНаФорме": true,
				"Синоним": "Требование",	
				},
				{
				"Ответ поставщика": true,
				"Синоним": "Ответ поставщика",	
				},
				{
				"Ответ поставщика": true,
				"Синоним": "Комментарий",	
				}
				]		
	}
},
	mounted: function() {
		this.GetRequestAuditProgramByRefKey()
	},	
	components:{
		"form-bool":Bool,
		"form-string":String,
		"form-select":Select,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-table-data-submit":Table_data_submit,
		"form-select-ref":Select_ref
	},
	filters: {
		getDateYearAndMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		}
	},	
	methods: {
		//Получение данных по анкете
		GetRequestAuditProgramByRefKey: function() {
			var ref = this.$route.query.ref; 	
			this.$refs.mainLoader.Show();			
				axios.post('/api/base/?action=GetAuditProgramsByRefKey&refkey='+ ref) 
				.then((response) => {
					this.auditProgramByRefKey = response.data.result;
				
				}).then(() => {
						this.loadData();	
						this.GetList();
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
			this.$refs.mainLoader.Hide();
					});
		},
		//Скачивание Анкеты
		loadAnketa: function(){
			this.okButtonValid = false;
			this.showLoadDialog = true;
		},
		//удаление файла
		delFile: function(file, key,index){
			delete(this.fileSaveResp.result.files[key]);
			delete(this.fileMatchArray[index]);
			let obj = {};
			Object.assign(obj,this.fileMatchArray);
			this.fileMatchArray = obj;
			this.deletedItems.push(key);
		},
		//удаление файла - проверка
		isDeleted: function(key){
			return (this.deletedItems.indexOf(key) !== -1);
		},
		//загрузка ответов в Анкете
		loadAnketaAnswer: function(resp){
			this.fileSaveResp = JSON.parse(resp.target.response);
			this.fileId = this.fileSaveResp.result.files[0].id;
			let dataToSend = new FormData();
			dataToSend.set("type", "self_assessment_sheet");
			dataToSend.set("data[fileId]", this.fileId);
			return axios({
					method: 'post',
					url: '/api/base/?action=UploadAnketaQuestion',
					data:dataToSend
				}).then((response) => {
					if(response.data.status === 'error'){
						this.$vs.notify({title:'Ошибка',text:response.data.result,color:'danger', fixed:true});
						this.showLoadDialog = false;
					}
					else{
						this.loadedQuestions = response.data.result;
						this.allAnswers = this.loadedQuestions;						
							_.forEach(this.loadedQuestions, (value, key) => {								
									var com = '';
									if(this.loadedQuestions[key].Коммент){com = this.loadedQuestions[key].Коммент;}
										this.allAnswers[key].LineNumber = key+1;
										this.allAnswers[key].ВопросДляСамооценки_Key = this.loadedQuestions[key].Ref_Key;
										this.allAnswers[key].ОтветПоставщика = this.loadedQuestions[key].Ответ;
										this.allAnswers[key].ОтветПоставщика_Type = this.getAnswerType(this.loadedQuestions[key].Тип);	
										this.allAnswers[key].Коммент = com;
										this.allAnswers[key].КритерийОтветаПоставщика = this.loadedQuestions[key].Тип;								
							});
						this.uploadAnketaKey++;
						this.okButtonValid = true;
					}
				});
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("audit_program_table"); 
		},
		//получение Листа самооценки
		GetList: function() {
			this.list = this.auditProgramByRefKey['ЛистСамооценки'];
			this.listShow = true;
		    },
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		    },
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 					
				this.$set(this.regForm[key], 'value', this.auditProgramByRefKey[key]);
			});			
		},
		//Обработка загруженных пользователем файлов
		getFileSaveAnswer: function(resp){
			this.fileSaveResp = JSON.parse(resp.target.response);
			this.fileMatchArray = [];
			_.forEach(this.fileSaveResp.result.files, (value, key) => {
				this.fileMatchArray.push({[value.id]: ""});
			});
			this.showMatchings = true;			
		},
		//кнопка Отправить
		saveForm: function(){
			//обнуляем ошибки
			_.forEach(this.supllyForm, (value, key) => {
				this.supllyForm[key].error = false;
			});
			//валидация данных перед отправкой
			//возвращает массив ошибок и если false то всё валидно
			if (this.validate()){
				_.forEach(this.errors, (value, key) => {
					this.$vs.notify({title:'Ошибка',text:value,color:'danger', fixed:true})
				});	
			}
			else{
				//Отправка на сервер
				var dataToSend = new FormData();
				dataToSend.set("data[ДокументОснование_Key]", this.auditProgramByRefKey["Ref_Key"]);
				dataToSend.set("data[ДокументСозданНаПортале]", true);
				//ТребованияКПоставщику
				_.forEach(this.allAnswers, (value, key)=>{
					if(this.allAnswers[key].КритерийОтветаПоставщика != 'ВыборИзМножества'){
						var com = '';	
							if(this.allAnswers[key].Коммент){com = this.allAnswers[key].Коммент;}
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][LineNumber]", this.allAnswers[key].LineNumber);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][ВопросДляСамооценки_Key]", this.allAnswers[key].ВопросДляСамооценки_Key);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][ОтветПоставщика]", this.allAnswers[key].Ответ);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][ОтветПоставщика_Type]", this.getAnswerType(this.allAnswers[key].КритерийОтветаПоставщика));
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][Комментарий]", com);
					}
					if(this.allAnswers[key].КритерийОтветаПоставщика === 'ВыборИзМножества'){
						var com = '';
							if(this.allAnswers[key].Коммент){com = this.allAnswers[key].Коммент;}
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][LineNumber]", this.allAnswers[key].LineNumber);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][ВопросДляСамооценки_Key]", this.allAnswers[key].ВопросДляСамооценки_Key);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][ОтветПоставщика]", this.allAnswers[key].Ответ.Description);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][ОтветПоставщика_Type]", this.getAnswerType(this.allAnswers[key].КритерийОтветаПоставщика));
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][Комментарий]", com);
						dataToSend.set("data[Программа]["+this.allAnswers[key].LineNumber+"][МножественныйВыбор]", true);
					}
				});

				_.forEach(this.fileMatchArray, (value, key) => {
					var id = Object.keys(value)[0];
					dataToSend.set("FILES["+ key +"][id]", id);	
					dataToSend.set("FILES["+ key +"][type]", value[id]);	
				});	
				
				axios({
					method: 'post',
					url: '/api/base/?action=AddSelfAssessmentSheet',
					data: dataToSend
				}).then(
				 (response) => {
					 
					 if(response.data.status === "OK"){
						this.$vs.dialog({
							acceptText:'Принять',
							type:"alert",
							color:'success',
							title: 'Отправка Листа самооценки',
							text: 'Лист самооценки успешно отправлен',
							accept:this.accept
						}) ;
						this.$router.push('Audit_program_table');
						//window.location.href = "http://ssa-srmdev-test.hq.severstalauto.com";
					 }
					
				 } 
				);
				
			}
		},
		//получение типов ответов для анкеты
		getAnswerType: function(type){
			switch(type){
				case 'Число':
					return 'Edm.Int64';
				case 'Дата':
					return 'Edm.DateTime';
				case 'Строка':
					return 'Edm.String';
				case 'ВыборИзМножества':
					return 'Edm.String';
				case 'Булево':
					return 'Edm.Boolean';
				case 'Да/Нет':
					return 'Edm.Boolean';
			}
		},
		//проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(obj === "") {
				return false;
			}
			return true;
		},
		//Валидация
		validate: function(){
			this.errors = [];			
				//валидируем Лист самооценки(всплыв.кр.окна)				
				if(this.allAnswers.length){					
				_.forEach(this.allAnswers, (value, key) => {
					if(value.КритерийОтветаПоставщика === "Булево"){
					if(!isDefined(value.Ответ) && !value.wrong){
						this.allAnswers[key].Ответ = false;
					}
					}
					else{
					if((isEmpty(value.Ответ) || !isDefined(value.Ответ)) && !value.wrong && value.ТипВопроса != "Булево"){
						this.errors.push('не заполнен ответ ' + (parseInt(key) + 1) + " в Листе самооценки");						
					}
					}

				});	
				}		
					else{
					this.errors.push("Не заполнена вкладка Лист самооценки");
					}	
					//валидируем тип файлов 
			if (this.fileMatchArray){			
				let i = 0;	


				_.forEach(this.fileMatchArray, (value, key) => {
					var id = Object.keys(value)[0];

					i++;
					if (value[id] === ""){						
						this.errors.push('не заполнен тип документа в Присоединенных файлах в строке №' + i);	
					}
				});					
			}		
			return this.errors.length;
			
		},
},
}
</script>