<template>
<div class="files_wrapper" style="margin: 0 20px;">
	<h1 class="text_p_headline" style="text-align:left"><span class="cursor">{{title}}</span>
		<div v-if="history.length > 1" style="font-size: 14px;color: #788791;font-weight: lighter;" class="cursor_point">
			<div :key="index" v-for="(row,index) in this.history" style="display:inline-block;">
				<a @click="goBack(row.Ref_Key,row.name)">{{row.name}}</a>
				<span style="position: relative;top: 7px;" v-if="history[index+1]"><vs-icon icon="arrow_right_alt"></vs-icon></span>
			</div>			
		</div>
	</h1>
<vs-table v-if="supplierFiles.folders && supplierFiles.folders.length"  @dblSelection="showFolder" class="text_grey" :data="[1,2,3]">
	<template slot="header">
		<h3 class="cursor">
			<vs-icon style="position: relative;top: 4px;margin-left: 25px;" icon="folder"></vs-icon>  Папки
		</h3>
	</template>
	<vs-tr :data="supplierFile" :key="index" v-for="(supplierFile, index) in supplierFiles.folders" :class="{'colorRead':supplierFile.Непрочитано}">
		<vs-td style="text-align:left">
			<vs-icon style="position: relative;top: 4px;margin: 0 10px;" icon="folder"></vs-icon>
			{{supplierFile.Description}}</vs-td>
	</vs-tr>
</vs-table>
<vs-table v-if="supplierFiles.files.length" class="text_grey" :data="[1,2,3]">
	<template slot="header">
		<h3 class="cursor">
			<vs-icon style="position: relative;top: 4px;margin-left: 25px;" icon="attachment"></vs-icon>  Файлы
		</h3>
	</template>
	<vs-tr :data="supplierFile"  :key="index" v-for="(supplierFile, index) in supplierFiles.files" :class="{'colorRead':supplierFile.Непрочитано}">
		<vs-td style="text-align:left"><a :href="'/api/base/?action=GetFile&file=' + supplierFile.Ref_Key">
			<span v-if="supplierFile.ТекущаяВерсия.Расширение == 'xlsx' || supplierFile.ТекущаяВерсия.Расширение == 'xls'" class="important_mess"><img src="../../assets/SVG/file-excel.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'pdf'" class="important_mess"><img src="../../assets/SVG/file-pdf.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'png' || supplierFile.ТекущаяВерсия.Расширение == 'jpg' || supplierFile.ТекущаяВерсия.Расширение == 'gif'" class="important_mess"><img src="../../assets/SVG/file-picture.svg" style="height:20px;margin-bottom:-5px;"></span>			
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'txt'" class="important_mess"><img src="../../assets/SVG/file-text2.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'avi'" class="important_mess"><img src="../../assets/SVG/file-video.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'mp3' || supplierFile.ТекущаяВерсия.Расширение == 'mp4'" class="important_mess"><img src="../../assets/SVG/file-music.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'docx' || supplierFile.ТекущаяВерсия.Расширение == 'doc'" class="important_mess"><img src="../../assets/SVG/file-word.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == 'pptx' || supplierFile.ТекущаяВерсия.Расширение == 'pot'" class="important_mess"><img src="../../assets/SVG/file-openoffice.svg" style="height:20px;margin-bottom:-5px;"></span>
			<span v-else-if="supplierFile.ТекущаяВерсия.Расширение == '7z' || supplierFile.ТекущаяВерсия.Расширение == 'zip'" class="important_mess"><img src="../../assets/SVG/file-zip.svg" style="height:20px;margin-bottom:-5px;"></span>			
			<span v-else class="important_mess"><img src="../../assets/SVG/file-empty.svg" style="height:20px;margin-bottom:-5px;"></span>			
				{{supplierFile.имяФайла}}</a></vs-td>
	</vs-tr>
</vs-table>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
const axios = require('axios');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'
export default {
    name: 'Files',
    data () {
      return {
        supplierFiles: {
          folders: [],
          files:[]
        },
        selectedFolder: {},
        history: [
          {
            name:"Информация для поставщика",
            Ref_Key:""
          }
        ],
        title: "Информация для поставщика"
		  }
  	},
  mounted:function(){	  
    this.GetSupplierFolder();
  },
  components:{},
  methods:{
	//Получение первичных данных по корневым папкам
    GetSupplierFolder: function(){
			document.getElementById('preloader_inner').style.display = 'none';
			this.$refs.mainLoader.Show();
			axios({
					method: 'post',
					url: '/api/base/?action=GetSupplierFolder'
				}).then(
					(response) => {
            this.supplierFiles = response.data.result;
				})
		  this.$refs.mainLoader.Hide();
    },
	//Отображение конкретной папки
    showFolder: function(elem, notAdd = false){
      axios({
					method: 'post',
					url: '/api/base/?action=GetSupplierFolder&Ref_Key=' + elem.Ref_Key
				}).then(
					(response) => {
            this.supplierFiles = response.data.result;
            if(!notAdd){
              this.title = elem.Description;
              this.history.push({
                 name: elem.Description,
                 Ref_Key:elem.Ref_Key
              });
            }    
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
			})
			
    },
    //возврат по структуре папок
    goBack: function(key,name){
	this.title = name;
	var del = [];
		if(key === ''){
	
			this.GetSupplierFolder();
			this.history = [ {
            name:"Информация для поставщика",
            Ref_Key:""
          }];
		}
		else{
			var d = false
			_.forEach(this.history, (v, k) => {
				if(d){
					del.push(k)
				}
				if(v["Ref_Key"] === key){d = true}
			});
			_.forEach(del, (v, k) => {
				this.history.splice(this.history.indexOf(v), 1); 
			});
			this.showFolder(
          {
            Ref_Key:key
          }
          ,true);
		}
    }
  }
}
</script>
<style scoped>

</style>