<template>
<div class="login-container table_box-shadow Soc">
		<div class="cursor" style="margin-left: 10px;">
			<span class="trigger_span">{{PAGE_NAME.PAGE_NAME_H}}</span><!--Запрос предложений-->
			<span class="trigger">{{regForm.Триггер.value}}</span>
			<span style="position: absolute;right: 1.5rem;top: 5.4rem;" :data-description="PAGE_NAME.RETURN" class="korzina korzina7"><vs-icon class="icon_Table arrow" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span><!--Вернуться к списку-->
		</div>
<vs-tabs>
<vs-tab :label="PAGE_NAME.PAGE_NAME1"  icon="business">	<!--Таб 1 - Основное-->
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-align="center" vs-w="12">
		<div class="supplier_offer_card_osnovnoi soCard_margin zac">
			<!--<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string class="soCWidth_string" :disabled="isAllowed()" v-model="regForm.Number.value" :label="regForm.Number.name"/>	Номер
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.Date.value" :label="regForm.Date.name" />	от
			</div>-->
			<div class="form_line_Accreditation nowrap text_grey soC_margin textarea_RSCP" style="display: flex;">
				<div style="margin: 10px 40px;">{{structure.ПредметЗакупки.Синоним}}</div><!--Предмет закупки-->
				<textarea :disabled="isAllowed()" class="el-input__inner" v-model="regForm.ПредметЗакупки.value"/>
			</div>		
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<form-date :disabled="isAllowed()" v-model="regForm.ПериодЗакупкиС.value" :label="regForm.ПериодЗакупкиС.name" />	<!--Дата начала поставок-->
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.ПериодЗакупкиПо.value" :label="regForm.ПериодЗакупкиПо.name" />	<!--по-->				
			</div>
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span><form-time class="time" :disabled="isAllowed()" v-model="regForm.СрокПриемаПредложенийС.value" :label="regForm.СрокПриемаПредложенийС.name"/></span>	<!--Срок приема предложений с-->				
				<span><form-time class="valuta_Width10 soCWidth time" :disabled="isAllowed()"  v-model="regForm.СрокПриемаПредложенийПо.value" :label="regForm.СрокПриемаПредложенийПо.name"/></span>	<!--по-->
			</div>
			<div v-if="proposalDataByRef.ПоэтапнаяПроцедура" class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;">
				<span><form-time class="time" :disabled="isAllowed()" v-model="regForm.СрокПриемаПредложенийС2.value" :label="regForm.СрокПриемаПредложенийС2.name"/></span>	<!--Срок приема предложений этап 2 с-->				
				<span><form-time class="valuta_Width10 soCWidth time" :disabled="isAllowed()" v-model="regForm.СрокПриемаПредложенийПо2.value" :label="regForm.СрокПриемаПредложенийПо2.name"/></span>	<!--по-->
			</div>
			<div class="form_line_Accreditation form_line_card nowrap text_grey soC_margin" style="display: flex;" v-if="regForm.СрокПроведенияПереторжкиПо.value != '0001-01-01T00:00:00'">
				<span><form-time class="time" :disabled="isAllowed()" v-model="regForm.СрокПроведенияПереторжкиС.value" :label="regForm.СрокПроведенияПереторжкиС.name"/></span>	<!--Срок проведения переторжки с-->				
				<span><form-time class="valuta_Width10 soCWidth time" :disabled="isAllowed()" v-model="regForm.СрокПроведенияПереторжкиПо.value" :label="regForm.СрокПроведенияПереторжкиПо.name"/></span>	<!--по-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin RSCP_input">
				<form-string  :disabled="isAllowed()" v-model="regForm.srm_СпособПубликации.value" :label="structure.srm_СпособПубликации.Синоним"/>	<!--Способ публикации-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin RSCP_input">
				<form-string :disabled="isAllowed()" v-model="regForm.Заказчик_Key.value" :label="structure.Заказчик_Key.Синоним"/>	<!--Заказчик-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin" style="display: flex;">
				<form-string v-if="showPriceRequest"  class="soCWidth_string" :disabled="isAllowed()" v-model="regForm.ЦенаЗакупки.value" :label="regForm.ЦенаЗакупки.name"/>	<!--Сумма документа-->
				<form-string :class="{'valuta soCWidth_string':showPriceRequest}" :disabled="isAllowed()" v-model="regForm.Валюта_Key.value" :label="(showPriceRequest)?regForm.Валюта_Key.name:'Валюта запроса'"/>	<!--Валюта-->
			</div>
			<div class="text_grey bool_box">
				<div><form-bool :disabled="isAllowed()" v-model="regForm.ТребуетсяЗаключениеДоговораNDA.value" :label="structure.ТребуетсяЗаключениеДоговораNDA.Синоним"/></div>	<!--Требуется заключение договора NDA-->
				<div class="bool_box_div"><form-bool :disabled="isAllowed()" v-model="regForm.ПоэтапнаяПроцедура.value" :label="structure.ПоэтапнаяПроцедура.Синоним"/></div>	<!--Поэтапная процедура-->
				<div class="bool_box_div"><form-bool :disabled="isAllowed()" v-model="regForm.ИспользоватьПроектыДЗ.value" :label="regForm.ИспользоватьПроектыДЗ.name"/></div>	<!--Проектная закупка-->
			</div>
			<div class="text_grey bool_box" style="margin-top: 10px;">
				<div><form-bool :disabled="isAllowed()" v-model="regForm.ВозможнаПереторжка.value" :label="structure.ВозможнаПереторжка.Синоним"/></div>		<!--Возможна переторжка-->
				<div class="bool_box_div"><form-bool :disabled="isAllowed()" v-model="regForm.ДопускаетсяПодачаЧастичныхПредложений.value" :label="structure.ДопускаетсяПодачаЧастичныхПредложений.Синоним"/></div>		<!--ДопускаетсяПодачаЧастичныхПредложений-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin RSCP_input">
				<form-string :disabled="isAllowed()" v-model="regForm.srm_ВидыЗапроса_Key.value" :label="regForm.srm_ВидыЗапроса_Key.name"/>	<!--Вид закупки-->
			</div>
			<div class="form_line_Accreditation nowrap text_grey soC_margin RSCP_input">
				<form-string :disabled="isAllowed()" v-model="regForm.ОрганизаторЗакупки_Key.value" :label="structure.ОрганизаторЗакупки_Key.Синоним"/>	<!--Организатор закупки-->
			</div>		
		</div>		
	  </vs-col>
	</vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME2"  icon="category">	<!--Таб 2 - Товары-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2 tov_so_card">
		<vs-table class="text_grey" hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th sort-key="LineNumber" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN1}}</vs-th>		<!--№-->
				<vs-th sort-key="Артикул" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN2}}</vs-th>			<!--Артикул-->	
				<vs-th sort-key="Наименование" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN3}}</vs-th>		<!--Наименование-->
				<vs-th v-if="showPriceRequest" sort-key="Цена" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN4}}</vs-th>				<!--НМЦ-->
				<vs-th sort-key="ОбщееКоличество" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN5}}</vs-th>	<!--Количество-->
				<vs-th sort-key="ЕдиницаИзмерения" style="padding:15px;">{{PAGE_NAME.COLUMNS.COLUMN6}}</vs-th>	<!--Ед.изм.-->		
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr) in data">
				<vs-td :data="data[indextr].LineNumber">{{indextr + 1}}</vs-td>
				<vs-td :data="data[indextr].Артикул">{{data[indextr].Артикул}}</vs-td>				
				<vs-td :data="data[indextr].Наименование">{{data[indextr].Наименование}}</vs-td>
				<vs-td  v-if="showPriceRequest" :data="data[indextr].Цена">{{data[indextr].Цена}}</vs-td>
				<vs-td :data="data[indextr].ОбщееКоличество">{{data[indextr].ОбщееКоличество}}</vs-td>
				<vs-td :data="data[indextr].ЕдиницаИзмерения">{{data[indextr].ЕдиницаИзмерения}}</vs-td>
				<template slot="expand">
				<div class="expand_div_checkbox">
				  <div class="leftstr">	
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN1}}: </b>{{indextr + 1}}</div>
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN2}}: </b>{{data[indextr].Артикул}}</div>
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN3}}: </b>{{data[indextr].Наименование}}</div>
				   <div v-if="showPriceRequest"><b>{{PAGE_NAME.COLUMNS.COLUMN4}}: </b>{{data[indextr].Цена}}</div>
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN5}}: </b>{{data[indextr].ОбщееКоличество}}</div>
				   <div><b>{{PAGE_NAME.COLUMNS.COLUMN6}}: </b>{{data[indextr].ЕдиницаИзмерения}}</div>				  
				   <div v-if="showPriceRequest"><b>{{PAGE_NAME.COLUMNS.COLUMN7}}: </b>{{data[indextr].СтавкаНДС | uncamelize}}</div>
				   <div v-if="showPriceRequest"><b>{{PAGE_NAME.COLUMNS.COLUMN8}}: </b>{{data[indextr].СтоимостьСНДС | numberBeautifier}}</div>
				   <div v-if="showPriceRequest"><b>{{PAGE_NAME.COLUMNS.COLUMN9}}: </b>{{data[indextr].СуммаНДС | numberBeautifier}}</div>
				   <div v-if="showPriceRequest"><b>{{PAGE_NAME.COLUMNS.COLUMN10}}: </b>{{data[indextr].ЦенаСНДС | numberBeautifier}}</div>		
				  </div>				  
				  <div class="rightstr">
					<vs-table>
					<template>
							<vs-th>{{PAGE_NAME.COLUMNS.COLUMN11}}</vs-th>
							<vs-th>{{PAGE_NAME.COLUMNS.COLUMN12}}</vs-th>
					</template>
					<template>
						<vs-tr :key="index" v-for="(period,key,index) in data[indextr].Периоды">							
							<vs-td>{{period.ПериодПланирования |getDateYearAndMonth}}</vs-td>
							<vs-td>{{period.Количество}}</vs-td>
						</vs-tr>
					</template>
					</vs-table>
				  </div>
				</div>
				</template>			
			</vs-tr>			
		  </template>
		</vs-table>
		
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>	  

<vs-tab :label="PAGE_NAME.PAGE_NAME3"  icon="supervisor_account">	<!--Таб 3 - Требования к поставщикам-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="reqsuppliers">
		  <template slot="thead">
			<vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.REQ_SUP.REQ_SUP1}}</vs-th>	<!--№ [Хасанова Ю]-->
			<vs-th sort-key="Название" style="padding:15px;">{{PAGE_NAME.REQ_SUP.REQ_SUP2}}</vs-th>				<!--Требование [Хасанова Ю]-->
			<vs-th sort-key="Критерий" style="padding:15px;">{{PAGE_NAME.REQ_SUP.REQ_SUP3}}</vs-th>				<!--Критерий, выражающий требование [Хасанова Ю]-->		
			<vs-th></vs-th>
		  </template>
		  <template slot-scope="{data}">
		   <vs-tr :key="indextr" v-for="(tr, indextr) in data">
			<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
			<vs-td :data="data[indextr].Название">{{data[indextr].Название}}</vs-td>
			<vs-td :data="data[indextr].Критерий">{{data[indextr].Критерий}}</vs-td>
		   </vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME4"  icon="print">	<!--Таб 4 - Требования к номенклатуре-->
  <vs-row>
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  <template>
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="reqnomenclature">
		  <template slot="thead">
			    <vs-th sort-key="LineNumber" style="padding:15px;width: 5%;">{{PAGE_NAME.REQ_SUP.REQ_SUP1}}</vs-th>	<!--№ [Хасанова Ю]-->
			    <vs-th sort-key="Название" style="padding:15px;">{{PAGE_NAME.REQ_SUP.REQ_SUP2}}</vs-th>				<!--Требование [Хасанова Ю]-->
		  </template>
		  <template slot-scope="{data}">
			 <vs-tr :key="indextr" v-for="(tr, indextr) in data">
				<vs-td :data="data[indextr].LineNumber">{{data[indextr].LineNumber}}</vs-td>
				<vs-td :data="data[indextr].Название">{{data[indextr].Название}}</vs-td>
			</vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-col>
  </vs-row>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME5"  icon="history">	<!--Таб 5 - Условия поставки-->

    <div class="table_box-shadow-2 soCard_margin">
	<vs-row class="vs-con-tbody-table">
	  <vs-col vs-type="flex" vs-align="center" vs-w="12">
		<div class="card_undertab" style="font-size: 14px;">					 
			<div class="form_line form_line_CU nowrap pole_required soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияДоставки.value" :label="structure.УсловияДоставки_Key.Синоним"/>
			</div>	
			<div class="form_line form_line_CU nowrap pole_required soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияДоставкиТекст.value" :label="structure.УсловияДоставкиТекст.Синоним"/>
			</div>	
			<div class="form_line form_line_CU nowrap pole_required soC_margin">
				<form-string :disabled="isAllowed()" v-model="regForm.УсловияОплаты.value" :label="structure.УсловияОплаты_Key.Синоним"/>
			</div>
			<div class="form_line form_line_CU pole_required soC_margin">
			    <form-string class="soCWidth_string" :disabled="isAllowed()" v-model="regForm.srm_СрокЗаключенияДоговора.value" :label="structure.srm_СрокЗаключенияДоговора.Синоним"/>
			    <form-string class="soCWidth_string" :disabled="isAllowed()" v-model="regForm.srm_СрокПодписанияДоговораПоставщиком.value" :label="structure.srm_СрокПодписанияДоговораПоставщиком.Синоним"/>
			    <form-string class="soCWidth_string" :disabled="isAllowed()" v-model="regForm.srm_ВремяПоставкиПослеЗаказа.value" :label="structure.srm_ВремяПоставкиПослеЗаказа.Синоним"/>
			</div>
			<div class="form_line form_line_CU nowrap pole_required soC_margin" style="display: flex;">
			    <form-date :disabled="isAllowed()" v-model="regForm.srm_СрокДействияДоговораС.value" :label="regForm.srm_СрокДействияДоговораС.name"/>
				<form-date class="soCWidth" :disabled="isAllowed()" v-model="regForm.srm_СрокДействияДоговораПо.value" :label="regForm.srm_СрокДействияДоговораПо.name"/>
			</div>	
			<div class="form_line_Order nowrap text_grey soC_margin textarea_OSC" style="display: flex;">
				<div style="margin-top: 10px;margin-left: 20px;margin-right: 105px;">{{structure.Комментарий.Синоним}}</div>
				<textarea :disabled="isAllowed()" class="el-input__inner line_height width_input_popup texterea_text" style="height: 100%;" v-model="regForm.srm_КомментарийПоОплате.value"/>
			</div>				
		</div>
	  </vs-col>
	</vs-row>
</div>
</vs-tab>

<vs-tab :label="PAGE_NAME.PAGE_NAME6" disabled="true"   id="t_6"  icon="trending_down">	<!--Переторжки-->		
  <vs-row>  
  <vs-col vs-type="flex" vs-justify="center" vs-align="center" vs-w="12">
  
<vs-tabs color="#4da951">
  <vs-tab :key="index" v-for="(row,index) in this.peretorg" :label="'№'+row.НомерПереторжки"><!---->				
  <template>
	<div style="margin-bottom:20px;">
		<div class="form_line_card nowrap text_grey soC_margin zac" style="display: flex;">
			<form-time class="time" :disabled="isAllowed()" v-model="row.СрокС" :label="regForm.СрокС.name" /><!--Срок с-->	
			<form-time class="time time2" disabled="isAllowed()" v-model="row.СрокПо" :label="regForm.СрокПо.name" /><!--Срок по-->
			<form-string :disabled="isAllowed()" v-model="row.ВариантПроведения" :label="regForm.ВариантПроведения.name" /><!--Вариант проведения-->	
		</div>			
		<div class="save_but" v-if="mode === 'peretorg' && proposalDataByRef.НомерПереторжки  === row.НомерПереторжки"><button type="button" @click="openWithMode(proposalDataByRef.Ref_Key,'step=3&ПредложениеПоставщика_Key='+predlojenye)" class="el-button filter-item" style="margin: 10px 0;"><span style="margin-left: -10px;">
			<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M20 4h-3.17L15 2H9L7.17 4H4c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm-5 11.5V13H9v2.5L5.5 12 9 8.5V11h6V8.5l3.5 3.5-3.5 3.5z"/></svg>
				{{PAGE_NAME.PERETOR.REBIDDING}}</span></button>
		</div><!--Создать предложение для переторжки-->
	</div>	
	
    <div class="table_box-shadow-2">
		<vs-table class="text_grey" hoverFlat search :data="peretorgnomenclature">
		  <template slot="thead">
			    <vs-th sort-key="Номенклатура.Description">{{PAGE_NAME.PERETOR.PERETOR1}}</vs-th>	<!--Номенклатура-->
			    <vs-th sort-key="ЕдиницаИзмерения">{{PAGE_NAME.PERETOR.PERETOR2}}</vs-th>	<!--Единица измерения-->
			    <vs-th sort-key="КоличествоИтого">{{PAGE_NAME.PERETOR.PERETOR3}}</vs-th>	<!--Количество итого-->
			    <vs-th v-if="row.ПоказыватьМинимальноеЦеновоеПредложение" sort-key="ЦелеваяЦенаБезНДС">{{PAGE_NAME.PERETOR.PERETOR4}}</vs-th>	<!--Минимальная цена без НДС-->
			    <vs-th sort-key="ВалютаЗапроса">{{PAGE_NAME.PERETOR.PERETOR5}}</vs-th>	<!--Валюта запроса-->
		  </template>
		  <template slot-scope="{data}">
			 <vs-tr :key="indextr" v-for="(tr, indextr) in data" v-if="row.НомерПереторжки === data[indextr].НомерПереторжки">
				<vs-td :data="data[indextr].Номенклатура.Description">{{data[indextr].Номенклатура.Description}}</vs-td>
				<vs-td :data="data[indextr].ЕдиницаИзмерения">{{data[indextr].ЕдиницаИзмерения}}</vs-td>
				<vs-td :data="data[indextr].КоличествоИтого">{{data[indextr].КоличествоИтого}}</vs-td>
				<vs-td v-if="row.ПоказыватьМинимальноеЦеновоеПредложение" :data="data[indextr].ЦелеваяЦенаБезНДС">{{data[indextr].ЦелеваяЦенаБезНДС}}</vs-td>
				<vs-td :data="data[indextr].ВалютаЗапроса">{{data[indextr].ВалютаЗапроса}}</vs-td>
			</vs-tr>
		  </template>
		</vs-table>
	</div>
  </template> 
  </vs-tab>
  
 </vs-tabs> 
 
  </vs-col>
  </vs-row>
</vs-tab>

 <vs-tab :label="PAGE_NAME.PAGE_NAME7"  icon="attach_file">	<!--Таб 7 - Присоединенные файлы-->
	<file-upload :disabled="!isAllowed('Файлы')" v-model="fileArray" v-if="proposalDataByRef['ПрисоединенныеФайлы']" :oldFiles="proposalDataByRef['ПрисоединенныеФайлы']" docType="Document_srm_ЗапросПредложений"></file-upload>			
</vs-tab>

</vs-tabs>
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import Vue from 'vue'
import PreLoader from '@/components/partials/PreLoader.vue';
Vue.component('pre-loader', PreLoader);
import Style from '@/components/css/Style.css'									//импорт Стилей
import String from '@/components/form_poles/String'								//импорт Инпута
import Textarea from '@/components/form_poles/Textarea'							//импорт Текстереа
import Bool from '@/components/form_poles/Bool'									//импорт Булета
import Date from '@/components/form_poles/Date'									//импорт Дат
import Time from '@/components/form_poles/Time'									//импорт Time
import File_upload from '@/components/partials/File_upload'						//импорт File upload
import Table from '@/components/form_poles/Table'								//импорт Таблиц
import Table_data_submit from '@/components/form_poles/Table_data_submit'		//импорт Table_data_submit
import {isEmpty, replaceUndefined, isDefined, validEmail} from '@/components/utils/validate'//импорт Валидации
import RegFormCoNstants from '@/constants/constants_pages/supplier_offer_card'	//импорт supplier_offer_card (Названия колонок в шапке таблицы, названия строк и т.д.)
export default {
  name: 'Supplier_offer_card',
  data () {
    return {
		//значения создаваемые во vue (слева)
			regForm:{
				Триггер: {
					value:'',
					requred:true,
					name: 'Триггер:',
					disabled: true
				},
				Number: {
					value:'',
					requred:true,
					name: 'Номер',
					disabled: true
				},
				ПредметЗакупки: {
					value:'',
					requred:true,
					name: 'Предмет закупки',
					disabled: true
				},
				Date: {
					value:'',
					requred:true,
					name: 'от:',
					disabled: true
				},
				ПериодЗакупкиС: {
					value:'',
					requred:true,
					name: 'Дата начала поставок с:',
					disabled: true
				},
				ПериодЗакупкиПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				СрокПриемаПредложенийС: {
					value:'',
					requred:true,
					name: 'Срок приема предложений с:',
					disabled: true
				},
				СрокПриемаПредложенийПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				СрокПриемаПредложенийС2: {
					value:'',
					requred:true,
					name: 'Срок приема предложений этап 2 с:',
					disabled: true
				},
				СрокПриемаПредложенийПо2: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				srm_СпособПубликации: {
					value:'',
					requred:true,
					name: 'Способ публикации:',
					disabled: true
				},
				Заказчик_Key: {
					value:'',
					requred:true,
					name: 'Заказчик:',
					disabled: true
				},
				ЦенаЗакупки: {
					value:'',
					requred:true,
					name: 'Сумма документа:',
					disabled: true
				},
				Валюта_Key: {
					value:'',
					requred:true,
					name: 'Валюта:',
					disabled: true
				},
				ТребуетсяЗаключениеДоговораNDA: {
					value:'',
					requred:true,
					name: 'Требуется заключение договора NDA',
					disabled: true
				},
				ПоэтапнаяПроцедура: {
					value:'',
					requred:true,
					name: 'Поэтапная процедура',
					disabled: true
				},
				srm_ВидыЗапроса_Key: {
					value:'',
					requred:true,
					name: 'Вид закупки:',
					disabled: true
				},
				ИспользоватьПроектыДЗ: {
					value:'',
					requred:true,
					name: 'Проектная закупка',
					disabled: true
				},
				ОрганизаторЗакупки_Key: {
					value:'',
					requred:true,
					name: 'Организатор закупки:',
					disabled: true
				},
				srm_КомментарийПоОплате: {
					value:'',
					requred:true,
					name: 'Комментарий:',
					disabled: true
				},
				srm_СрокЗаключенияДоговора: {
					value:'',
					requred:true,
					name: 'Срок заключения договора (дней):',
					disabled: true
				},
				srm_СрокПодписанияДоговораПоставщиком: {
					value:'',
					requred:true,
					name: 'Срок подписания договора поставщиком (дней):',
					disabled: true
				},
				srm_ВремяПоставкиПослеЗаказа: {
					value:'',
					requred:true,
					name: 'Время поставки после заказа (дней):',
					disabled: true
				},
				srm_СрокДействияДоговораС: {
					value:'',
					requred:true,
					name: 'Срок действия договора с:',
					disabled: true
				},
				srm_СрокДействияДоговораПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				УсловияДоставки: {
					value:'',
					requred:true,
					name: 'Условия доставки:',
					disabled: true
				},
				УсловияОплаты: {
					value:'',
					requred:true,
					name: 'Условия оплаты:',
					disabled: true
				},
				УсловияДоставкиТекст: {
					value:'',
					requred:true,
					name: 'Условия доставки текст:',
					disabled: true
				},
				СрокПроведенияПереторжкиС: {
					value:'',
					requred:true,
					name: 'Срок проведения переторжки с:',
					disabled: true
				},
				СрокПроведенияПереторжкиПо: {
					value:'',
					requred:true,
					name: 'по:',
					disabled: true
				},
				ВозможнаПереторжка: {
					value:'',
					requred:true,
					name: 'Возможная переторжка',
					disabled: true
				},
				ДопускаетсяПодачаЧастичныхПредложений: {
					value:'',
					requred:true,
					name: 'Допускается подача частичных предложений',
					disabled: true
				},
				СрокС: {
					value:'',
					requred:true,
					name: 'Срок с',
					disabled: true
				},
				СрокПо: {
					value:'',
					requred:true,
					name: 'Срок по',
					disabled: true
				},
				ВариантПроведения: {
					value:'',
					requred:true,
					name: 'Вариант проведения',
					disabled: true
				},
			},
		//значения создаваемые во vue (справа)
			structure: {
				ПредметЗакупки:{
					Синоним:'',
					Description:''
				},				
				srm_СпособПубликации:{
					Синоним:'',
					Description:''
				},
				Заказчик_Key:{
					Синоним:'',
					Description:''
				},
				ТребуетсяЗаключениеДоговораNDA:{
					Синоним:'',
					Description:''
				},
				ПоэтапнаяПроцедура:{
					Синоним:'',
					Description:''
				},
				ВозможнаПереторжка:{
					Синоним:'',
					Description:''
				},
				ДопускаетсяПодачаЧастичныхПредложений:{
					Синоним:'',
					Description:''
				},
				ОрганизаторЗакупки_Key:{
					Синоним:'',
					Description:''
				},
				УсловияДоставки_Key:{
					Синоним:'',
					Description:''
				},
				УсловияДоставкиТекст:{
					Синоним:'',
					Description:''
				},
				УсловияОплаты_Key:{
					Синоним:'',
					Description:''
				},
				srm_СрокЗаключенияДоговора:{
					Синоним:'',
					Description:''
				},
				srm_СрокПодписанияДоговораПоставщиком:{
					Синоним:'',
					Description:''
				},
				srm_ВремяПоставкиПослеЗаказа:{
					Синоним:'',
					Description:''
				},
				Комментарий:{
					Синоним:'',
					Description:''
				},
				

				
			},
			PAGE_NAME: RegFormCoNstants.PAGE_NAME,
			proposalDataByRef:[],
			reqsuppliers : {},
			reqnomenclature : {},
			nomenclature : {},
			fileArray:{},
			peretorg: {},
			peretorgnomenclature: {},
			mode: '',
			predlojenye: '',
			showPriceRequest:true
		}
	},
	mounted: function() {
		this.getStructure().then(
			() => {					
					this.GetRequestProposalsByRefKey();		
					this.gotConstants();			
			}
		);

	},	
	components:{
		"form-string":String,
		"form-textarea":Textarea,
		"form-bool":Bool,
		"file-upload":File_upload,
		"form-date":Date,
		"form-time":Time,
	},
	filters: {
		getDateYearAndMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		}
	},	
	methods: {
		//Получение данных по структуре анкеты
		getStructure: function(){
			this.$refs.mainLoader.Show();
			return axios({
				method: 'post',
				url: '/api/base/?action=GetDocument&code=Document_srm_ЗапросПредложений'
			}).then((response) => {				
				this.structure = response.data.result.structure;
				document.getElementById('preloader_inner').style.display = 'none';
			});
		},
		//Запись данных в таблицу Требования к поставщикам
		getReqsuppliers: function(){
			this.reqsuppliers  = this.proposalDataByRef['Условия'];
		},
		//Запись данных в таблицу Требования к номенклатуре
		getReqnomenclature: function(){
			this.reqnomenclature = this.proposalDataByRef['УсловияНоменклатура'];;
		},
		//Запись данных в таблицу Товары
		getNomenclature: function(){
			this.nomenclature  = this.proposalDataByRef['Товары'];
		},
		//Запись данных в таблицу Переторжки
		getPeretorge: function(){
			this.peretorg  = this.proposalDataByRef['Переторжки'];		
				if (this.peretorg.length >= 1){
					this.peretorgnomenclature = this.proposalDataByRef['ПереторжкиТовары'];
					_.forEach(this.peretorg, (value, key) => {
						this.peretorg[key].ВариантПроведения = this.$options.filters.uncamelize(this.peretorg[key].ВариантПроведения);						
					});					
					document.getElementById("t_6").disabled = "";
				}
				this.mode = this.$route.query.mode; 
				this.predlojenye = this.$route.query.predlojenye; 			
		},
		//Получение данных по анкете
		GetRequestProposalsByRefKey: function() {
			var ref = this.$route.query.ref; 
			this.$refs.mainLoader.Show();		
				axios.post('/api/base/?action=GetRequestProposalsByRefKey&refkey='+ ref) 
				.then((response) => {
					this.proposalDataByRef = response.data;
				}).catch(error => {
					let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
					if (error.response.status == '401'){
						window.location.reload();
					}
					else{
						this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
					}	
				}).then(
					() => {
						this.loadData();
						this.getReqsuppliers();	
						this.getReqnomenclature();	
						this.getNomenclature();	
						this.getPeretorge();
				
						setTimeout(() => {document.getElementById('preloader_inner').style.display = 'none';}, 1000);
						this.$refs.mainLoader.Hide();
					}
				);
		},
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("supplier_offer_table"); 
		},
		gotConstants: function(){
			return axios.post('/api/base/index.php?action=GetConstantShowPriceRequestProposals') 
				.then((response) => {
					this.showPriceRequest = response.data;
			});			
		},
		//Проверяет, есть ли права на чтение указанной страницы для текущего пользователя
		isAllowed: function(pole) {
			return true;
		},
		//Загрузка данных
		loadData: function() {
			//поля с первой вкладки
			_.forEach(this.regForm, (value, key) => { 
					if(key === 'srm_СпособПубликации' || key === 'СтавкаНДС'){
						this.regForm[key].value = this.$options.filters.uncamelize(this.proposalDataByRef[key]);					
						}
					else if(key === 'УсловияДоставки' || key === 'УсловияОплаты'){	
						if (this.proposalDataByRef[key]) {						
							this.regForm[key].value = this.proposalDataByRef[key].Description;
						}
						else{this.regForm[key].value = "";}
						}		
					else if(key === 'ЦенаЗакупки'){
						this.regForm[key].value = this.$options.filters.numberBeautifier(this.proposalDataByRef[key]);
					}
					else {
						this.$set(this.regForm[key], 'value', this.proposalDataByRef[key]);
						}						
			});	
			var zaglushka = ""
				if (this.proposalDataByRef.Number) {
					zaglushka = this.$options.filters.removeZeroes(this.proposalDataByRef.Number) + " от " +  this.$options.filters.formateDate(this.proposalDataByRef.Date, 'DD.MM.YYYY');
				}				
			this.regForm.Триггер.value = zaglushka;				
		},
		//Открытие предложения на просмотр
		openWithMode: function(ref, mode){
			if(mode){
				this.$router.push("request_supplier_card?ref="+ref+"&"+mode);
			}
			else{
				this.$router.push("request_supplier_card?ref="+ref);
			}
		},
},
}
</script>