<template>
		  <div class="centerx att_Files">
			<div  v-if="showMatchings" class="alert">При загрузке старые файлы будут перезаписаны</div><!--При загрузке старые файлы будут перезаписаны-->
			<vs-upload  v-if="disabled" @on-error="fileUploadError" fileName="files[]" text="Загрузить файлы на сервер" @on-success="getFileSaveAnswer" multiple :action="'/api/base/?action=UploadFile&filetype='+ docType"/><!--Загрузить файлы на сервер-->
			<div><br />
				<p v-if="$route.query.mode !== 'open'" class="text_p_headline2">Загруженные файлы:</p><br /><!--Загруженные файлы-->
				<vs-table class="text_grey">
					<template slot="thead">
						<vs-th style="color: #909399;font-weight: bold;padding: 12px 10px;width:40%;">Наименование</vs-th><!--Наименование-->
						<vs-th style="color: #909399;font-weight: bold;padding: 12px 10px;width:30%;">Вид документа</vs-th><!--Вид документа-->
						<vs-th style="color: #909399;font-weight: bold;padding: 12px 10px;width:20%;">Дата создания</vs-th><!--Дата создания-->
						<vs-th></vs-th><!--Удалить-->
					</template>
					<tbody>
						<template  v-if="oldFiles" v-for="(file, key) in oldFiles">							
							<tr>
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;"><a :href="'/api/base/?action=DownloadSavedFile&Ref_Key=' + file.Файл_Key + '&table=' + docType">{{file.Description}}</a></td>
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;"><span v-if="file.ВидДокумента">{{file.ВидДокумента.Description}}</span></td>							
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;"><span v-if="file.ДатаСоздания">{{file.ДатаСоздания | formateDate('DD.MM.YYYY')}}</span></td>
								<td></td>
							</tr>
						</template>
						<template>
							<tr :key="index" v-for="(file, key, index) in newFiles">
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;">{{file.name}}</td>
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;">
											
									<span :class="{'isError':!chekedFileType(newFiles[key]['type'])}">
										<form-select-ref v-model="newFiles[key]['type']" uncamelize="true" :options="fileOption"/>
									</span> 
								</td>
								<td style="font-size: 14px;color: #606266;padding: 12px 10px;">Новый</td><!--Новый-->
								<td align="center"><div @click="delFile(file, file.id,key)" data-description="Удалить" class="korzina korzina2">
									<vs-icon style="color: #d97b81;cursor: pointer;" icon="delete_forever"></vs-icon>
								</div></td><!--Удалить-->								
							</tr>
						</template>
					</tbody>
				</vs-table>
				</div>
	</div>
</template>
<script>

const axios = require('axios');
import Vue from 'vue';
import Select_ref from '@/components/form_poles/Select_ref'
import {isDefined} from '@/components/utils/validate'
export default {
  name: 'FileUpload',
  props: ['docType', 'oldFiles', 'value','disabled'],
    data: function () {
		return {
			additionalFiles	: [],
			fileOption:{},
			showMatchings: false,
			res:this.value,
			fileSaveResp: {
				result: {
					files:[]
				}
			},
		    newFiles: (this.value.newFiles)?this.value.newFiles:{},
		}
	},
	mounted: function(){
		this.returnValue();
		this.getFileTypes();
	},
	methods:{
		getFileSaveAnswer: function(resp){
			this.newFiles = [];
			this.additionalFiles = JSON.parse(resp.target.response);
			_.forEach(this.additionalFiles.result.files, (value, key) => {
				
				this.newFiles.push({
						name:value.name,
						id:value.id
					});	
								
			});
			this.showMatchings = true;
			this.returnValue();
		},
		getFileTypes:  function(){
			return axios({
				method: 'post',
				url: '/api/base/?action=UploadFile&filetype=' + this.docType,
			}).then((response) => {				
				this.fileOption = response.data.result.types;
			});
		},
		//удаление файла
		delFile: function(file, key,index){
			delete(this.newFiles[index]);
			let obj = {};
			Object.assign(obj,this.newFiles);
			this.newFiles = obj;
			this.returnValue();
		},
		//Вывод ошибки при загрузке файла
		fileUploadError: function(e) {
			let respAnswer = JSON.parse(e.target.responseText).result;
			this.$vs.notify({title:'Ошибка', text:respAnswer,color:'danger', fixed:true})
		},
		// проверка статуса файлов(is-error)
		chekedFileType: function(obj) {
			if(!obj) {			
				return false;
			}
			return true;
		},
		returnValue(){
			this.res = {
			}
			//проверяем нужны ли старые файлы или нет, если нужны компонент надо рендерить только при условии их получения
			if(isDefined(this.oldFiles)){
				Object.assign(this.res, {oldFiles : this.oldFiles});	
			}
			else{
				Object.assign(this.res, {oldFiles : []});
			}
			Object.assign(this.res, {newFiles : this.newFiles});
			this.$emit('input', this.res);
		}
  },
  components:{
		"form-select-ref":Select_ref,		
	},
  watch: {
	 newFiles:{ 
			handler: function(val, oldVal){		
				this.returnValue();
			}		
		},
	},
}
</script>