<template>
<div class="report_wrapper table_box-shadow chart_report">
<p class="text_p_headline tph">{{title}}</p>
<div id="chartdiv"></div>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
export default {
  name: 'Report_card',
  	data () {
    	return {
			reportData : [],
			title : ""
		}
	},
	mounted: function() {
		this.getReport().then(()=>{
			let reportData = this.reportData;
			this.drawColumnChart(reportData);
		});

	},	
	methods: {
		getReport: function(){
			let dataToSend = new FormData();
			return axios({
				method: 'post',
				url: '/api/base/?action=ReportDonutChartTest',
				data: dataToSend
			}).then((response) =>{
				document.getElementById('preloader_inner').style.display = 'none';	
				this.reportData =  JSON.parse(response.data.result['#value'][1]['Value']['#value']);
				this.title =  response.data.title;
			});
		},
		drawColumnChart: function(){
			am4core.ready(function() {

				// Themes begin
				am4core.useTheme(am4themes_animated);
				// Themes end

				// Create chart instance
				var chart = am4core.create("chartdiv", am4charts.XYChart);


				// Add data
				chart.data = [{
				"year": "2016",
				"europe": 2.5,
				"namerica": 2.5,
				"asia": 2.1,
				"lamerica": 0.3,
				"meast": 0.2,
				"africa": 0.1
				}, {
				"year": "2017",
				"europe": 2.6,
				"namerica": 2.7,
				"asia": 2.2,
				"lamerica": 0.3,
				"meast": 0.3,
				"africa": 0.1
				}, {
				"year": "2018",
				"europe": 2.8,
				"namerica": 2.9,
				"asia": 2.4,
				"lamerica": 0.3,
				"meast": 0.3,
				"africa": 0.1
				}];

				// Create axes
				var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
				categoryAxis.dataFields.category = "year";
				categoryAxis.renderer.grid.template.location = 0;


				var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());
				valueAxis.renderer.inside = true;
				valueAxis.renderer.labels.template.disabled = true;
				valueAxis.min = 0;

				// Create series
				function createSeries(field, name) {
				
				// Set up series
				var series = chart.series.push(new am4charts.ColumnSeries());
				series.name = name;
				series.dataFields.valueY = field;
				series.dataFields.categoryX = "year";
				series.sequencedInterpolation = true;
				
				// Make it stacked
				series.stacked = true;
				
				// Configure columns
				series.columns.template.width = am4core.percent(60);
				series.columns.template.tooltipText = "[bold]{name}[/]\n[font-size:14px]{categoryX}: {valueY}";
				
				// Add label
				var labelBullet = series.bullets.push(new am4charts.LabelBullet());
				labelBullet.label.text = "{valueY}";
				labelBullet.locationY = 0.5;
				
				return series;
				}

				createSeries("europe", "Europe");
				createSeries("namerica", "North America");
				createSeries("asia", "Asia-Pacific");
				createSeries("lamerica", "Latin America");
				createSeries("meast", "Middle-East");
				createSeries("africa", "Africa");

				// Legend
				chart.legend = new am4charts.Legend();

			}); // end am4core.ready()
		}
	},
}
</script>
<style lang="scss" src="@/components/css/reports.css">

</style>