<template >
<div class="report_wrapper table_box-shadow2 text_grey ROA">
	<p class="text_p_headline tph cursor">{{title}}</p>
	<span style="position: absolute;right: 1.5rem;top: 5.5rem;" data-description="Вернуться к списку" class="korzina korzina7"><vs-icon class="icon_Table" style="color: #1890ff;font-size: 38px;" @click="toTable()" icon="reply"></vs-icon></span>
	<div class="filter_block" style="margin: 20px 30px 0;">
        <form-date class="otstup" v-model="periodStart" label="C" />
        <form-date class="otstup" v-model="periodEnd" label="По" />
        <div class="save_but otstup" @click="sendFilters">
			<button class="el-button report_button"><span style="color:white;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
				Применить</span></button>
		</div>
    </div>
<div class="report_table" v-if="Object.keys(dashboardData).length"> 
       
    <div class="table_wrapper__head text_grey2">
        <span></span>
        <span :key="index" v-for="(column,index) in dashboardData.column">{{column.title}}</span>
    </div> 
    <div class="table_wrap ">
        <div :key="index" v-for="(row,index) in dashboardData.root">
            <div :class="'root_block' + index"> 
                <div  class="row__value row1" @click="showChilds('root_block' + index)">
                    <p class="plus border_p p_m"><vs-icon icon="add"></vs-icon></p>
                    <p class="minus border_p p_m"><vs-icon icon="maximize"></vs-icon></p>
                    <span :key="index" v-for="(label,index) in row.label">{{checkTypes(index,label)}}</span>
                </div>
                <div class="chilren_block">
                    <div :key="cindex" :class="'child child_1' + index + cindex" v-for="(child, cindex) in row.children">
                        <div class="row__value row2"  @click="showChilds('child_1' + index + cindex)">
                            <p class="plus border_p"><vs-icon icon="add"></vs-icon></p>
                            <p class="minus border_p"><vs-icon icon="maximize"></vs-icon></p>
                            <span v-if="index != 0" :key="index" v-for="(label,index) in child.label">{{checkTypes(index,label)}}</span>
                            <span v-else></span>
                        </div>
                        <div class="chilren_block">
                            <div :key="cindex" :class="'child child_2' + index + cindex" v-for="(child, cindex) in child.children">
                                <div  class="row__value row3" @click="showChilds('child_2' + index + cindex)">
                                    <p class="plus border_p"><vs-icon icon="add"></vs-icon></p>
                                    <p class="minus border_p"><vs-icon icon="maximize"></vs-icon></p>
                                    <span  v-if="index != 0 && index !== 1" :key="index" v-for="(label,index) in child.label">{{checkTypes(index,label)}}</span>
                                    <span v-else></span>
                                </div>
                                <div class="chilren_block">
                                    <div :key="cindex" :class="'child child_3' + index + cindex" v-for="(child, cindex) in child.children">
                                        <div class="row__value row_last"> 
									        <span style="width: 28px;"></span>
                                            <span v-if="index != 0 && index !== 1 && index !== 4" :key="index" v-for="(label,index) in child.label">{{checkTypes(index,label)}}</span>
                                            <span v-else></span>   
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<pre-loader ref="mainLoader"></pre-loader>    
</div>
</template>
<script>
const axios = require('axios');
const moment = require('moment');
import Date from '@/components/form_poles/Date'
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации

export default {
  name: 'ReportOrderAnalysis',
  	data () {
    	return {
            dashboardData: {},
            title: "",
            types:[],
            titles:[],
            periodStart:"",
            periodEnd:"",
            editedDashboard:{}
		}
	},
	mounted: function() {
        document.getElementById('preloader_inner').style.display = 'none';
        this.loadData();
	},		
	methods: {
		loadData: function(){
            axios({
                method: 'post',
                url: '/api/base/?action=ReportOrderAnalysis'
            }).then((response) => {
                this.title =  response.data.title;
                _.forEach(response.data.result.column, (value, key) => { 
                    this.types.push(value.type);	
                    this.titles.push(value.title);				  
                })  
            })			

        },
	
        sendFilters: function(){
            var dataToSend = new FormData();
            let error = false;
            if(moment(this.periodStart).isAfter(this.periodEnd)){
				error = true;
				this.$vs.notify({title:'Ошибка',text:"Вторая дата филтьтра не может быть больше первой",color:'danger'})
			};
            dataToSend.set("START_PERIOD", this.periodStart);
            dataToSend.set("END_PERIOD", this.periodEnd);
            if(!error){
                this.$refs.mainLoader.Show();
                axios({
                        method: 'post',
                        url: '/api/base/?action=ReportOrderAnalysis',
                        data: dataToSend
                    }).then((response) => {
                        this.dashboardData = response.data.result; 
                        if(!this.dashboardData.root){
                            this.$vs.notify({title:'Ошибка',text:"По выбранным датам, результатов нет",color:'warning'})
                        }  
                    _.forEach(response.data.result.column, (value, key) => { 
                        this.types.push(value.type);	
                        this.titles.push(value.title);				  
                    })  
                    this.$refs.mainLoader.Hide();						
                    });

            }
        },
        checkRow: function(arr){
            return true;
        },
        checkData: function(cell){
            return (Array.isArray(cell))?"":cell;
        },
        showChilds: function(elemClass){
            let element = document.getElementsByClassName(elemClass);
             for (var i = 0; i < element[0].childNodes.length; i++) {
                if(element[0].childNodes[i].classList){
                element[0].childNodes[i].classList.toggle("active");
                }
               
            }
        },
        checkTypes: function(cellNum, val){
            
			if(this.types[cellNum] === "dateTime" ){
               val = this.$options.filters.formateDate(val);
            }
			if(this.types[cellNum] === "xs:boolean" ){
                if(val === 'true'){
                   val = 'Да'; 
                }
                if(val === 'false'){
                   val = 'Нет'; 
                }
            }
			if(this.titles[cellNum] === "Рег. номер заказа" ){
				if(val != ""){
					val = '№' + this.$options.filters.removeZeroes(val);
				}
            }
            return this.checkData(val);
        },
		//обратно на страницу таблицы
		toTable: function(ref){
			this.$router.push("report_table"); 
		},
    },
    components:{
		"form-date":Date
	}     
}

</script>
<style lang="scss" src="@/components/css/reports.css">

</style>
