<template>
<div class="report_wrapper table_box-shadow chart_report">
<p class="text_p_headline tph">{{title}}</p>
<div id="chartdiv"></div>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
export default {
  name: 'Report_card',
  	data () {
    	return {
			reportData : [],
			title : ""
		}
	},
	mounted: function() {
		this.getReport().then(()=>{
			let reportData = this.reportData;
			this.drawAngularChart();
		});

	},	
	methods: {
		getReport: function(){
			let dataToSend = new FormData();
			return axios({
				method: 'post',
				url: '/api/base/?action=ReportDonutChartTest',
				data: dataToSend
			}).then((response) =>{
				document.getElementById('preloader_inner').style.display = 'none';	
				this.reportData =  JSON.parse(response.data.result['#value'][1]['Value']['#value']);
				this.title =  response.data.title;
			});
		},
		
		drawAngularChart: function(){
			am4core.ready(function() {

				// Themes begin
				am4core.useTheme(am4themes_animated);
				// Themes end

				// create chart
				var chart = am4core.create("chartdiv", am4charts.GaugeChart);
				chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

				chart.innerRadius = -25;

				var axis = chart.xAxes.push(new am4charts.ValueAxis());
				axis.min = 0;
				axis.max = 100;
				axis.strictMinMax = true;
				axis.renderer.grid.template.stroke = new am4core.InterfaceColorSet().getFor("background");
				axis.renderer.grid.template.strokeOpacity = 0.3;

				var colorSet = new am4core.ColorSet();

				var range0 = axis.axisRanges.create();
				range0.value = 0;
				range0.endValue = 50;
				range0.axisFill.fillOpacity = 1;
				range0.axisFill.fill = colorSet.getIndex(0);
				range0.axisFill.zIndex = - 1;

				var range1 = axis.axisRanges.create();
				range1.value = 50;
				range1.endValue = 80;
				range1.axisFill.fillOpacity = 1;
				range1.axisFill.fill = colorSet.getIndex(2);
				range1.axisFill.zIndex = -1;

				var range2 = axis.axisRanges.create();
				range2.value = 80;
				range2.endValue = 100;
				range2.axisFill.fillOpacity = 1;
				range2.axisFill.fill = colorSet.getIndex(4);
				range2.axisFill.zIndex = -1;

				var hand = chart.hands.push(new am4charts.ClockHand());

				// using chart.setTimeout method as the timeout will be disposed together with a chart
				chart.setTimeout(randomValue, 2000);

				function randomValue() {
					hand.showValue(Math.random() * 100, 1000, am4core.ease.cubicOut);
					chart.setTimeout(randomValue, 2000);
				}

			}); // end am4core.ready()
		}
	},
}
</script>
<style lang="scss" src="@/components/css/reports.css">

</style>