<template>
<div class="report_wrapper table_box-shadow RC">
<p class="text_p_headline tph">{{title}}</p>
<button class="el-button filter-item k3" @click="save" type="button">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0V0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" d="M20.55 5.22l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.15.55L3.46 5.22C3.17 5.57 3 6.01 3 6.5V19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.49-.17-.93-.45-1.28zM12 9.5l5.5 5.5H14v2h-4v-2H6.5L12 9.5zM5.12 5l.82-1h12l.93 1H5.12z"/></svg>
		<span>Скачать</span></button>
<div v-html="reportContent" class="">

</div>

<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации

export default {
  name: 'Report_card',
  	data () {
    	return {
			reportContent: "",
			title:""
		}
	},
	mounted: function() {
		this.getReport();
	},		
	methods: {
		getReport: function(){
			let dataToSend = new FormData();
			return axios({
				method: 'post',
				url: '/api/base/?action=' + this.$route.query.reportId,
				data: dataToSend
			}).then((response) =>{
				this.reportContent = response.data.result;
				this.title = response.data.title;
				document.getElementById('preloader_inner').style.display = 'none';		
			});
		},
		save: function(url){
			var link_url = document.createElement("a");
			link_url.download = url.substring((url.lastIndexOf("/") + 1), url.length);
			link_url.href = url;
			document.body.appendChild(link_url);
			link_url.click();
			document.body.removeChild(link_url);

		},
	},
}
</script>
<style lang="scss" src="@/components/css/reports.css">

</style>