<template>
  <div class="login-container home At"> 
   <template>
    <div class="table_box-shadow">
		<span class="text_p_headline tph cursor"><vs-icon icon="grade"></vs-icon> Отчёты по качеству</span><!--Отчёты-->
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails" class="text_grey" :data="[1,2,3]">
		  <!--<template slot="thead">
			    <vs-th>Название отчёта</vs-th>
		  </template>-->
		 <template>
			<vs-tr data="defect_report" >
				<vs-td style="border-top: 1px solid white;">ТОП-10 браконосных номенклатур (PPM)</vs-td><!--Динамика дефектности продукции-->
			</vs-tr>
			<vs-tr data="ReportG8D" >
				<vs-td>Сводный отчёт по G8D</vs-td>
			</vs-tr>
		
		</template>
		</vs-table>
	</div>
  </template> 
  
   <template>
    <div class="table_box-shadow">
		<span class="text_p_headline tph cursor"><vs-icon icon="insert_chart_outlined"></vs-icon> Отчёты по заказу</span><!--Отчёты-->
		<!--Таблица-->
		<vs-table  @dblSelection="showDetails" class="text_grey" :data="[1,2,3]">
		  <!--<template slot="thead">
			    <vs-th>Название отчёта</vs-th>
		  </template>-->
		 <template>
			 
			<vs-tr data="Report_order_analysis" >
				<vs-td style="border-top: 1px solid white;">Анализ заказов</vs-td>
			</vs-tr>
		</template>
		</vs-table>
	</div>
  </template> 
  
   <template>
	<!--
    <div class="table_box-shadow">
		<span class="text_p_headline tph cursor"><vs-icon icon="picture_as_pdf"></vs-icon> Тестовый отчёт</span>

		<vs-table  @dblSelection="showDetails" class="text_grey" :data="[1,2,3]">
		 <template>
			 <vs-tr data="ReportDonutChartTest">
				<vs-td style="border-top: 1px solid white;">Диаграмма</vs-td>
			</vs-tr>
			 <vs-tr data="Спидометр" >
				<vs-td>Спидометр</vs-td>
			</vs-tr>
			 <vs-tr data="Колонна" >
				<vs-td>Колонна</vs-td>
			</vs-tr>
			 <vs-tr data="Колонна2" >
				<vs-td>Колонна2</vs-td>
			</vs-tr>
			<vs-tr data="ReportNew" >
				<vs-td>Репорт нью</vs-td>
			</vs-tr>
			<vs-tr data="ReportDonutChartTest">
				<vs-td>Таблица1</vs-td>
			</vs-tr>
			<vs-tr data="ReportDonutChartTest">
				<vs-td>Таблица2</vs-td>
			</vs-tr>
		</template>
		</vs-table>
	</div> -->
  </template> 
<pre-loader ref="mainLoader"></pre-loader>
  </div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
export default {
  name: 'Report_table',
	data () {
		return {
			userInfo: {},
		}
	}, 
	mounted: function() {
		document.getElementById('preloader_inner').style.display = 'none';	
		this.$refs.mainLoader.Show();
		this.$refs.mainLoader.Hide();		
	},
	methods: {		
		//Открытие анкеты на просмотр
		showDetails: function(report){
			if(report === 'ReportDonutChartTest'){
				this.$router.push("Report_diagram");
			}
			if(report === 'ReportProductDefectivenessDynamics'){
				this.$router.push("report_card?reportId="+ report);
			}
			if(report === 'ReportProductDefectivenessDynamics'){
				this.$router.push("report_card?reportId="+ report);
			}
			if(report === 'Спидометр'){
				this.$router.push("report_angular");
			}
			if(report === 'Колонна'){
				this.$router.push("report_column");
			}
			if(report === 'Колонна2'){
				this.$router.push("report_column2");
			}
			if(report === 'ReportNew'){
				this.$router.push("report_new");
			}
			if(report === 'defect_report'){
				this.$router.push("defect_report");
			}
			if(report === 'ReportG8D'){
				this.$router.push("ReportG8D");
			}
			if(report === 'Report_order_analysis'){
				this.$router.push("Report_order_analysis");
			}

		},
	}	 
}
</script>