<template>
<div class="report_wrapper table_box-shadow text_grey RN">
    <div class='table_wrapper' v-if="dashboardData.tablica">
        <div class='table_header'>
            <div class=''>
                <div class="row_value"><span></span><span v-for="(value, key) in dashboardData.tablica[0].data.column">{{checkTypes(key,value.value)}}</span></div>
            </div>
        </div>
        <div class=''>
            <div class='table__row'>
                <div class="row_value_first" @click='showChilds("table__row")'>
                    <!--+/--->
                    <span><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg></span>
                    <span><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
                    <!--end +/--->
                    <span v-for="(value, key) in dashboardData.tablica[0].data.row.value">{{checkTypes(key,value)}}</span></div>
                <template v-if="checkRow(dashboardData.tablica[0].data.row.row)" v-for="(value, key) in dashboardData.tablica[0].data.row.row">
                    <div :class="'row_child row_1 row_'+0+key">
                        <div class="row_value row_value2" @click='showChilds("row_"+0+key)'>
                            <!--+/--->
                            <span><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg></span>
                            <span><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
                            <!--end +/--->
                            <span v-for="(value1, key) in value.value">{{checkTypes(key,value1)}}</span></div>
                        <template v-if="checkRow(value.row)" v-for="(value2, key2) in value.row">
                            <div :class="'row_child row_2 row_0'+key+key2">
                                <div class="row_value row_value2" @click='showChilds("row_"+0+key+key2)'>
                                    <!--+/--->
                                    <span><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M10 17l5-5-5-5v10z"/><path fill="none" d="M0 24V0h24v24H0z"/></svg></span>
                                    <span><svg style="fill:#1890ff;margin-left: -24px;cursor: pointer;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg></span>
                                    <!--end +/--->
                                    <span v-for="(value, key) in value2.value">{{checkTypes(key,value)}}</span></div>
                                <template v-if="checkRow(value2.row.row)" v-for="(value3, key3) in value2.row">
                                    <div :class="'row_child row_3 row_0'+key+key2+key3">
                                        <div class="row_value row_value2"><span></span>
                                          <span v-for="(value, key) in value2.value">{{value}}</span>
                                        </div>
                                        <template v-if="checkRow(value3.row)" v-for="(value4, key4) in value3.row">
                                            <div class="row_value row_value2"><span v-for="(value, key) in value4.value">{{checkTypes(key,value)}}</span></div>
                                        </template>
                                    </div>
                                </template>
                            </div>
                        </template>
                    </div>
                </template>
            </div>
        </div>

    </div>
</div>
</template>
<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации

export default {
  name: 'Report_new',
  	data () {
    	return {
        dashboardData: {},
        title: "",
        showRN1:true,
        showRN2:true,
        showRN3:true,
        types:[]
		}
	},
	mounted: function() {
        document.getElementById('preloader_inner').style.display = 'none';
        this.loadData();
	},		
	methods: {
		loadData: function(){
            ///api/base/?action=ReportDashboardTest
            axios({
                method: 'post',
                url: '/api/base/?action=ReportDashboardTest'
            }).then((response) => {
                this.dashboardData = response.data.result;
                _.forEach(response.data.result.tablica[0].data.column, (value, key) => { 
                  this.types.push(value.type);				  
                })

            })         

        },
        showChilds: function(elemClass){
            let element = document.getElementsByClassName(elemClass);
             for (var i = 0; i < element[0].childNodes.length; i++) {
                if(element[0].childNodes[i].classList){
                element[0].childNodes[i].classList.toggle("active");
                }
               
            }
        },
        checkRow: function(arr){
            return true;
        },
 
        checkTypes: function(cellNum, val){
            if(this.types[cellNum] === "dateTime"){
               val = this.$options.filters.formateDate(val);
            }
            return val;
        },
 
    },
        
}

</script>
<style lang="scss" src="@/components/css/reports.css">

</style>
