<template>
<div class="report_wrapper table_box-shadow chart_report">
<p class="text_p_headline tph">{{title}}</p>
<div id="chartdiv"></div>
<pre-loader ref="mainLoader"></pre-loader>
</div>
</template>

<script>
const axios = require('axios');
const moment = require('moment');
import PreLoader from '@/components/partials/PreLoader.vue' 		//импорт PreLoader
Vue.component('pre-loader', PreLoader);
import Vue from 'vue'												//импорт Vue
import Style from '@/components/css/Style.css'						//импорт Стилей
import {isEmpty, isTrue, replaceUndefined,validEmail, isDefined} from '@/components/utils/validate'//импорт Валидации
import * as am4core from "@amcharts/amcharts4/core";
import * as am4charts from "@amcharts/amcharts4/charts";
import am4themes_animated from "@amcharts/amcharts4/themes/animated";

am4core.useTheme(am4themes_animated);
export default {
  name: 'Report_card',
  	data () {
    	return {
			reportData : [],
			title : ""
		}
	},
	mounted: function() {
		this.getReport().then(()=>{
			let reportData = this.reportData;
			this.drawDonutChart(reportData);
		});

	},	
	methods: {
		getReport: function(){
			let dataToSend = new FormData();
			return axios({
				method: 'post',
				url: '/api/base/?action=ReportDonutChartTest',
				data: dataToSend
			}).then((response) =>{
				document.getElementById('preloader_inner').style.display = 'none';	
				this.reportData =  JSON.parse(response.data.result['#value'][1]['Value']['#value']);
				this.title =  response.data.title;
			});
		},
		drawDonutChart: function(reportData){
			am4core.ready(function() {
				// Themes begin
				am4core.useTheme(am4themes_animated);
				var chart = am4core.create("chartdiv", am4charts.PieChart);
				chart.data = reportData;
				// Set inner radius
				chart.innerRadius = am4core.percent(50);
				// Add and configure Series
				var pieSeries = chart.series.push(new am4charts.PieSeries());
				pieSeries.dataFields.value = "value";
				pieSeries.dataFields.category = "country";
				pieSeries.slices.template.stroke = am4core.color("#fff");
				pieSeries.slices.template.strokeWidth = 2;
				pieSeries.slices.template.strokeOpacity = 1;

				// This creates initial animation
				pieSeries.hiddenState.properties.opacity = 1;
				pieSeries.hiddenState.properties.endAngle = -90;
				pieSeries.hiddenState.properties.startAngle = -90;

			}); 
		},
		drawAngularChart: function(){
			am4core.ready(function() {

				// Themes begin
				am4core.useTheme(am4themes_animated);
				// Themes end

				// create chart
				var chart = am4core.create("chartdiv2", am4charts.GaugeChart);
				chart.hiddenState.properties.opacity = 0; // this makes initial fade in effect

				chart.innerRadius = -25;

				var axis = chart.xAxes.push(new am4charts.ValueAxis());
				axis.min = 0;
				axis.max = 100;
				axis.strictMinMax = true;
				axis.renderer.grid.template.stroke = new am4core.InterfaceColorSet().getFor("background");
				axis.renderer.grid.template.strokeOpacity = 0.3;

				var colorSet = new am4core.ColorSet();

				var range0 = axis.axisRanges.create();
				range0.value = 0;
				range0.endValue = 50;
				range0.axisFill.fillOpacity = 1;
				range0.axisFill.fill = colorSet.getIndex(0);
				range0.axisFill.zIndex = - 1;

				var range1 = axis.axisRanges.create();
				range1.value = 50;
				range1.endValue = 80;
				range1.axisFill.fillOpacity = 1;
				range1.axisFill.fill = colorSet.getIndex(2);
				range1.axisFill.zIndex = -1;

				var range2 = axis.axisRanges.create();
				range2.value = 80;
				range2.endValue = 100;
				range2.axisFill.fillOpacity = 1;
				range2.axisFill.fill = colorSet.getIndex(4);
				range2.axisFill.zIndex = -1;

				var hand = chart.hands.push(new am4charts.ClockHand());

				// using chart.setTimeout method as the timeout will be disposed together with a chart
				chart.setTimeout(randomValue, 2000);

				function randomValue() {
					hand.showValue(Math.random() * 100, 1000, am4core.ease.cubicOut);
					chart.setTimeout(randomValue, 2000);
				}

			}); // end am4core.ready()
		},
		drawColumnChart: function(){
			am4core.ready(function() {

				// Themes begin
				am4core.useTheme(am4themes_animated);
				// Themes end

				// Create chart instance
				var chart = am4core.create("chartdiv3", am4charts.XYChart);

				// Export
				chart.exporting.menu = new am4core.ExportMenu();

				// Data for both series
				var data = [ {
				"year": "2009",
				"income": 23.5,
				"expenses": 21.1
				}, {
				"year": "2010",
				"income": 26.2,
				"expenses": 30.5
				}, {
				"year": "2011",
				"income": 30.1,
				"expenses": 34.9
				}, {
				"year": "2012",
				"income": 29.5,
				"expenses": 31.1
				}, {
				"year": "2013",
				"income": 30.6,
				"expenses": 28.2,
				"lineDash": "5,5",
				}, {
				"year": "2014",
				"income": 34.1,
				"expenses": 32.9,
				"strokeWidth": 1,
				"columnDash": "5,5",
				"fillOpacity": 0.2,
				"additional": "(projection)"
				} ];

				/* Create axes */
				var categoryAxis = chart.xAxes.push(new am4charts.CategoryAxis());
				categoryAxis.dataFields.category = "year";
				categoryAxis.renderer.minGridDistance = 30;

				/* Create value axis */
				var valueAxis = chart.yAxes.push(new am4charts.ValueAxis());

				/* Create series */
				var columnSeries = chart.series.push(new am4charts.ColumnSeries());
				columnSeries.name = "Income";
				columnSeries.dataFields.valueY = "income";
				columnSeries.dataFields.categoryX = "year";

				columnSeries.columns.template.tooltipText = "[#fff font-size: 15px]{name} in {categoryX}:\n[/][#fff font-size: 20px]{valueY}[/] [#fff]{additional}[/]"
				columnSeries.columns.template.propertyFields.fillOpacity = "fillOpacity";
				columnSeries.columns.template.propertyFields.stroke = "stroke";
				columnSeries.columns.template.propertyFields.strokeWidth = "strokeWidth";
				columnSeries.columns.template.propertyFields.strokeDasharray = "columnDash";
				columnSeries.tooltip.label.textAlign = "middle";

				var lineSeries = chart.series.push(new am4charts.LineSeries());
				lineSeries.name = "Expenses";
				lineSeries.dataFields.valueY = "expenses";
				lineSeries.dataFields.categoryX = "year";

				lineSeries.stroke = am4core.color("#fdd400");
				lineSeries.strokeWidth = 3;
				lineSeries.propertyFields.strokeDasharray = "lineDash";
				lineSeries.tooltip.label.textAlign = "middle";

				var bullet = lineSeries.bullets.push(new am4charts.Bullet());
				bullet.fill = am4core.color("#fdd400"); // tooltips grab fill from parent by default
				bullet.tooltipText = "[#fff font-size: 15px]{name} in {categoryX}:\n[/][#fff font-size: 20px]{valueY}[/] [#fff]{additional}[/]"
				var circle = bullet.createChild(am4core.Circle);
				circle.radius = 4;
				circle.fill = am4core.color("#fff");
				circle.strokeWidth = 3;

				chart.data = data;

			}); // end am4core.ready()	
		}
	},
}
</script>
<style lang="scss" src="@/components/css/reports.css">

</style>