<template id="header">
<div class="content" style="background-image: linear-gradient(90deg, rgb(2, 51, 163), rgb(2, 51, 163));">
<div class="header_wrapper header_w container">
 <header class="header">
    <div class="header_container">	
	
    <div class="header_grid_wrapper header_grid_wrapper__small">	
        <div v-if="userInfo" data-description="Главное меню" class="korzina korzina8 korzina_text header_every header_logo">			
			<router-link to="/">
				<img src="/api/base/?action=GetLogo" style="width: 120px;height: 50px;">
			</router-link>
		</div>	

        <div v-if="!userInfo" class="header_every header_logo">			
				<img src="/api/base/?action=GetLogo" style="width: 120px;height: 50px;">
		</div>		
	   
		<div v-if="userInfo" class="header_every header_background" style="border-left: 1px solid #838b94;">
			<router-link to="/Card"><a class="header__aux-link">
			<div class="ul_span">
				<label><span class="span">Карта поставщика</span>
					<vs-button class="svg_icon" icon="comment">
						<span class="new_span_header" v-if="newMessages.Catalog_ДоговорыКонтрагентов > 0">{{newMessages.Catalog_ДоговорыКонтрагентов}}</span>
					</vs-button>				
				</label>

			</div></a></router-link>
		</div>
		
		<div v-if="userInfo" class="header_every header_background">
			<router-link to="/News_list"><a class="header__aux-link">
			<div class="ul_span">
				<label><span class="span">Новости</span>
					<vs-button class="svg_icon" icon="donut_large">
						<span class="new_span_header" v-if="newMessages.Catalog_Новости > 0">{{newMessages.Catalog_Новости}}</span>
					</vs-button>									
				</label>				
			</div></a></router-link>
		</div>

		<div v-if="userInfo" class="header_every header_background header_width1">
			<router-link to="/Supplier_files"><a class="header__aux-link">
			<div class="ul_span">
				<label><span class="span">Информация</span>
					<vs-button class="svg_icon" icon="info"></vs-button>										
				</label>				
			</div></a></router-link>
		</div>

		<div class="sidebar header_every header_width2">
			<div><div v-if="userInfo" class="menu-top">
				<user-panel />
			</div></div>
		</div>		
		
	</div>
	</div>

 </header>
</div>
</div>
</template>
<script>
import Style from '@/components/css/Style.css'
import UserPanel from '@/components/user_panel/UserPanel';
const axios = require('axios');
export default{
		props: [],
		data: function () {
			return {
				userInfo:{},	
				newMessages: {},			
			}
		},
		methods:{
			isAuthorized: function(){
				return axios.post('/api/base/index.php?action=IsAuthorized') 
					.then((response) => {
						this.userInfo = response.data;						
					});
			},
			getUnreadElements: function(){
			return axios.post('/api/base/?action=GetUnreadElements&type=catalog') 
				.then((response) => {
					this.newMessages = response.data.result;
					
				});
			},
		},
		watch: {},
		created: function(){			
			let currentURL = window.location.href;
			let client = currentURL.match('~(.*?)\/');
			if(client){
				document.cookie = "CLIENT=" + client[1] +"; path=/"; 
			}			
			this.isAuthorized().then(
				()=>{
					if(this.userInfo.name){
						this.getUnreadElements();
					}
				}
			);		
			    console.log(navigator.userAgent,111);	
		},
		template: "#header"
	}
</script>
<style scoped>
.header_background {
    display: inline-block;
    border-right: 1px solid #838b94;
    height: 49px;
    overflow: hidden;
    padding: 14px 0 0 0;
    position: relative;
    box-sizing: content-box;
    transition: background-color 0.3s linear;
}
.header_background:hover {
    background:#1746b3;
	opacity: 0.9;
    transition: background-color 170ms ease-in-out;
}
.header_every i:hover {
	color: #36393c;
}
.ul_span {color: white;}
body { margin: 0; padding: 0; }
.container {
    width: 100%;
    min-width: 780px;
    margin: 0 auto; 
    border: 1px solid #000;
    display: table-row;
}
.header_wrapper{
	width: 100%; 
    margin: 0 auto;
    border: 1px solid #dcdfe6; 
}
.header_grid_wrapper {display: grid;}
.header_grid_wrapper__small {
    grid-template-columns: repeat(5, 1fr);
    grid-template-columns: repeat(5, 210px);
    cursor: pointer;
	margin-left: 70px;
}
.header_every label {
    margin: 10px 0;
    display: inline-block;
    display: -moz-inline-block;
	cursor: pointer;
}
.header_every label .span {
	margin-left: -10px;
}
.header_every {
	text-align: left;
	height: 88%;
}
.header_logo {
	text-align: center;
	margin-top: 10px;
}
.sidebar {
    position: absolute;
    right: 0;
    padding: 0 20px;
}
.header_every label button {
    margin-top: -10px;
}
</style>