/*Anketa.vue*/
body{
		height: 100%;
		-moz-osx-font-smoothing: grayscale;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}
.osnovnoi .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	left: 9%;
	width: 300px;
	margin-left: 244px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.class_vid_d .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
    left: -379px;
    width: 100%;
	margin-left: 379px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.tovar_classe .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	left: -379px;
    width: 100%;
	margin-left: 379px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.etp .details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
	position: relative;
	left: -379px;
    width: 100%;
	margin-left: 379px;
	box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.details_row:hover {
		background-color: #f0f2f5;
		cursor: pointer;
}
.text_grey {
    color: #606266;
    font-size: 14px;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
}
.nowrap {
    white-space: nowrap;
}
.form_line label {
    margin: 10px;
    display:inline-block;
    display:-moz-inline-block;
    width:250px;
    margin-left: 40px;
}
.form_line_Card label {
    margin: 10px;
    display:inline-block;
    display:-moz-inline-block;
    width:300px;
    margin-left: 40px;
}
.el-input__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
	width: 300px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}

.big .certificate_indent .el-input__inner {
    width: 30%;
}
.details {
    -webkit-appearance: none;
	background-color: #fff;
	border-radius: 4px;
	border: 1px solid #dcdfe6;
	line-height: 30px;
	padding: 0 15px;
}
.login-container {
	text-align: left;	
}
.con-select {
	display: inline-block;
	width: 100%;
}
.contact_lic .con-select {
    width: 350px;
}
.contact_lic .vs-table--tbody-table .tr-values td {
    text-align: right;
}
.contact_lic .certificate_indent .el-input__inner {
    width: 100%;
}
.details {
    width: 300px;
    margin-left: 379px;
	border: 1px solid #dfe4ed;
    border-radius: 4px;
    background-color: #fff;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
}
.details_row span {
    color: #606266;
    font-family: Helvetica Neue,Helvetica,PingFang SC,Hiragino Sans GB,Microsoft YaHei,Arial,sans-serif;
    font-size: 14px;
}
.con-slot-tabs {
    margin-top: 30px;
}
.bool_left {
    margin: 7px;	
}
.svg_color {
    fill: #606266;
    width:30px;
    height:30px;
    margin:-10px 10px;
	border-radius:4px;
	border:1px solid #dcdfe6;	
}
.svg_color:hover {
    opacity: 0.8;	
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 6px 0px;
}

.el-button, .tableButton {
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    transition: .1s;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(24, 144, 255);
    border-color: rgb(24, 144, 255);
	color: white;
	margin:0 0 10px;
}
.el-button:hover, .tableButton:hover {
    opacity: 0.8;
}
.vs-sidebar{
    background-color: #304156!important;
    color: rgb(191, 203, 217);
}
.svg_color_fill {
    fill: rgb(191, 203, 217);
}
.small {
	width:100%;
}
.table_small {
	margin:-10px;
	border:1px solid red;
}
table .vs-table--thead {
	color: #909399;
    font-weight: 500;
}
table .col-0 {
	background: rgb(245, 247, 250);
	border: 0px solid #dfe6ec;
    text-align: center;
	font-size: 14px;	
	padding: 12px 10px;
}
table .vs-table--td {
    border: 0px solid #dfe6ec;
}

.form_line .con-select {
    margin-left: -110px;
}
.form_line_select .con-select {
    margin-left: 0px;
}
.certificate_indent .certificate {
	width: 210px;
}
.select_width .select_size {
	width: 50%;
}

.vs-table--tbody-table .tr-values:not(.activeEdit):not(.tr-expandedx):not(.hoverFlat):hover {
    z-index: auto;
    -webkit-transform: translateY(-4px);
    transform: none;
}
.select_fake .con-select {
	width: 100%;
}
/*
table .col-0 span {
	padding: 0 30%;
	white-space: nowrap;
}
*/
.vs-table--content {
    overflow: visible;
}

.multiple-input {
	width: 100%;
}
.class_vid_d .top_bool {
	margin-top: 8px;
	margin: 0 40px;
}
.bool_doc label {
	margin: -20px 60px;
}

.anketa .con-select {
	width: 200px;
}
.anketa .el-input__inner {
	width: 200px;
}
.anketa_td_3 .isError {
	width: 202px;
}
.anketa .small {
	width: 200px;
}
input[type=date] {
	width: 120px;
	display: -webkit-inline-box;
	vertical-align:middle;
}

.osnovnoi input[type=date] {
	width: 180px;
	margin-left: -140px;
}
.card input[type=date] {
	width: 180px;
	margin-left: -110px;
}
.tovar_classe .el-input__inner{
    width: 100%;
}
.tovar_classe button{
    margin: 0 50px;
}
.etp .el-input__inner{
    width: 100%;
}
.etp button {
    margin: 0 50px;
}
.osnovnoi .country {
	width: 200px;
}


.alert {
    border: 2px solid #15cc4d;
    display: inline-block;
    padding: 10px;
    color: #15cc4d;
}
.osnovnoi .pole_required label:after {
    content: " *"; 
	color: red;
}
.bool_left label:after{
    content: " "; 
}
.anketa .anketa_td span:after {
    content: " *"; 
	color: red;
}
.osnovnoi .pole_required .bool_left .top_bool label:after{
    content: " "; 
}

.centerx table, .centerx table th,  .centerx table td {
    border: 1px solid #dfe6ec;
}
.centerx table {
	font-size: .8rem;
	width: 100%;
    border-collapse: collapse;
}
.centerx .con-select {
	width: 400px;
}
.alert {
	display: inline-block;
    color: #6a643b;
    text-decoration: none;
    padding: 20px 20px;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #f1f4db #000 #d5d0a5;
    border-radius: 4px;
    background: linear-gradient(#e5e6be, #e1dfb0) #e7e7cb;
    transition: 0.2s;
}

.table_box-shadow {
    background: rgb(255, 255, 255);
    border: 1px solid rgb(220, 223, 230);
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 6px 0px;
    padding: 10px;
    width: 98%;
    margin-left: 20px;
}
 
.vs-con-tbody, .vs-con-tbody-table {
    background: rgb(255, 255, 255);
    padding: 10px;
}	


.contact_lic .th_number_table {
    width: 1%;
}
.contact_lic .table_th {
    width: 17%;
}
.class_vid_d .th_number_table {
    width: 2%;
}
.class_vid_d .table_th {
    width: 90%;
}
.tovar_classe .th_number_table {
    width: 2%;
}
.tovar_classe .table_th {
    width: 95%;
}
.anketa .th_number_table {
    width: 2%;
}
.anketa .table_th {
    width: 54%;
}
.anketa table thead tr {	
	background: rgb(245, 247, 250);
}
.etp .th_number_table {
    width: 2%;
}
.etp .table_th {
    width: 95%;
}
.contact_lic .catalog {
    display: none;
}
.data_input {
	margin-top: 18px;
}
/*Справочник*/
.catalog_row {
	border:1px solid rgb(220, 223, 230);	
}
.holamundo .vs-table--search {
    margin-left: unset;
	margin: 7px 0 7px;
}
.holamundo .vs-table--search-input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
	width: 300px;
    line-height: 30px;
    outline: none;
    padding: 0 25px;
    min-width: 500px;
    margin: 0 0 0 300px;
}
/*Anketa_profile.vue*/
.anketa_css .anketa .header-table, .anketa_css .etp .header-table, .anketa_css .tovar_classe .header-table, .anketa_css .class_vid_d .header-table, .anketa_css .contact_lic .header-table  {
    display: none;
}
 .anketa .anketa_td_3 select {
    color: inherit;
    width: 30%;
    position: relative;
    padding: 7px;
    border-radius: 5px;
    border: 1px solid rgba(0,0,0,.1);
    padding-right: 20px;
    cursor: pointer;
    overflow: hidden;
    text-overflow: ellipsis;
}

/*Anketa_table.vue*/
.table_box-shadow .vs-table--search {
    margin-left: unset;
	margin: 7px 0 7px;
}
.table_box-shadow .vs-table--search-input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
	width: 300px;
    line-height: 30px;
    outline: none;
    padding: 0 25px;
    min-width: 500px;
    margin: 0 0 0 300px;
}
	.vs-col table {
		font-size: .8rem;
		width: 100%;
		border-collapse: collapse;
	}
	.vs-col table thead {
		color: #909399;
	}
	.tabs {
		text-align: center;
		padding-bottom: 30px;
		font-size: 10px;
	}
.text_p_headline {
	padding: 12px 11px; 
	font-weight: bolder; 
	line-height: 1.5; 
	background-color: rgb(248, 248, 248); 
	font-size: 14px; 
	font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", Arial, sans-serif; 
	margin: 20px 0 20px 0; 
	color: rgb(96, 98, 102);
}
/*Login.vue - не переносим сюда*/
/*Accreditation_outside.vue-стили повторяются*/
/*Accreditation_inside.vue*/
.el-input__inner_Accreditation {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
    width: 20%;
}
.form_line_Accreditation label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 250px;
    margin-left: 40px;
}
.form_line_Accreditation2 label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 250px;
}
.formfield * {
    vertical-align: top;
}
textarea {
    resize:none
}
.textarea_style {
	height:10%;
	margin-top: 10px;
	width:70%;
}
/*Card*/
.el-button__inner {
    -webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    outline: none;
	width:25%;
    height: 30px;
	padding: 0 15px;
	margin-left: 0px;
	color: rgba(var(--vs-primary),1)!important;
	cursor: pointer;
}
.el-button__inner:focus {
    background-color: #eee;
}
.card_undertab .con-ul-tabs {
	margin-left: 30px;
}
.card_undertab .con-ul-tabs {
	margin-left: 30px;
}
.form_line_CU label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 210px;
    margin-left: 20px;
}
.card_undertab .form_line_adress label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 200px;
    margin-left: 40px;
}
.full_name input {
    width: 550px;
}
/*Supplier_offer_table.vue*/
.acenter {
	text-align: center;
}
.vs-table--tr {
    border: 1px solid rgb(220, 223, 230);
	border-right: 1px solid white;
}
/*Supplier_offer_card.vue*/
.supplier_offer_card_osnovnoi .top_bool {
    margin-left: 40px;
}
.soCard_margin .soC_margin {
	margin: 10px 0;
}
.soCard_margin {
	margin: 0 0 20px 0;
}
.soCWidth .soCardWidth {
	width: 15px;
}
.soCWidth_postavka .soCardWidth {
	width: 165px;
}
.soCWidth_string input  {
	width: 80px;
}

.valuta .valutaSoCWidth {
	width: 50px;
}
.adm .valutaSoCWidth {
	width: 102px;
}
.Soc .vs-table--tbody-table .tr-values td {
    padding: 10px 30px 10px;
	text-align: left;
}
.rightstr table .col-0 {
	padding: 20px 15px 1px;
}
.table_box-shadow-2 {
	box-shadow: none;
	width: 100%;
	margin-left: 0px;
}
.soCard_margin .bShadow {
	display: flex;
	margin-top: 40px;
	box-shadow: none;
	width: 100%;
	margin-left: 0px;
}
.bool_box div{
	width:310px;
	display:inline-block;
}
.bool_box div{
	width:310px;
	display:inline-block;
}
.bool_box .bool_box_div{
	width:210px;
}
.Soc .tov_so_card .content-tr-expand header {
	height: 0px;
}
.Soc .tov_so_card .vs-con-table {
	background:white;
}
.Soc .tov_so_card .not-data-table {
	display: none;
}
.Soc .tov_so_card .content-tr-expand .vs-con-table .vs-table--content {
    width: 500px;
    overflow: auto;
}
.Soc .tov_so_card .expand_div_checkbox {
	overflow:hidden;
}
.leftstr, .rightstr {
    float: left;
    width: 35%; 
}
.rightstr {
    text-align: right
}
.Rsc .none .header-table  {
    display: none;
}
/*.vs-table--tbody-table .tr-expand td {
	display: block;
	margin: 10px 0 10px 0;
}*/
/*Header.vue*/
.header_w .user-name {
	color:white;
}
.user-role {
    white-space: normal;
}
/*Footer.vue*/
.footer_f {
	height: 70px;
	bottom: 0;
	left: 0;
    right: 0;
}

/*Table.vue*/
.form_line_popup label {
    margin: 10px 0 10px 0;
    display: inline-block;
    width: 100px;
}
.form_line_popup span {
    margin: 0 0 10px 0;
    display: inline-block;
}
.form_line_popup span .con-select {
    display: inline-table;
	width: 300px;
}

.anketa_css th.td-check{
	background: rgb(245, 247, 250);
}
.Soc th.td-check{
	background: rgb(245, 247, 250);
}
table .tr-expand td .content-tr-expand {
	display: block;
	margin: 10px 0 10px 0;
}
.content-tr-expand div{
	margin: 0 0 20px 0;
}
/*Request_supplier_card*/
.soCWidth_select .valutaSoCWidth {
    width: 50px;
}
.valuta_Width .valutaSoCWidth  {
	width: 50px;
}
.soCWidth_postavka .soCardWidth {
	width: 165px;
}
.roCWidth .soCardWidth {
	width: 120px;
}
.t_goods td input {
	-webkit-appearance: none;
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 75px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}
.t_goods td select {
    background-color: #fff;
    border-radius: 4px;
    border: 1px solid #dcdfe6;
    color: #606266;
    display: inline-block;
    font-size: inherit;
    height: 30px;
    width: 75px;
    line-height: 30px;
    outline: none;
    padding: 0 15px;
}
/*красная рамка на ошибках*/
.Rsc span.isError input {
    border: 1px solid red;
    border-radius: 4px;
    -webkit-box-shadow: 0 0 5px #d45252;
    box-shadow: 0 0 5px #d45252;
}
.vs-checkbox--input:checked+.vs-checkbox .vs-icon {
    font-size: 18px;
}

/*Request_supplier_card_profile*/
.attached_files .vs-con-table td {
	font-size: 14px;
	color: #606266;
	padding-top: 12px;

}

/*Order_supplier_card*/
.soCWidth_postavka_OS .soCardWidth {
	width: 190px;
}
.form_line_Order label {
    margin: 10px;
    display: inline-block;
    display: -moz-inline-block;
    width: 130px;
    margin-left: 40px;
}
.Osc .attached_files header, .Osc .attached_files .not-data-table {
    display: none;
}
.Osc .supplier_offer_card_osnovnoi .top_bool {
    margin-top: 5px;
}
.valuta_Width10 .valutaSoCWidth {
    width: 10px;
}
.soCWidth_string210 .valutaSoCWidth {
    width: 210px;
}
.Osc .top_line .date label {
	width: 40px;
}
.Osc .comment .el-input__inner {
	width: 600px;
}
.Osc .indent .save_but {
    width: 200px;
}
.Osc .indent .save_but .el-button {
    width: 190px;
}
/*Audit_program_card*/
.Apc .attached_files header, .Apc .attached_files .not-data-table {
    display: none;
}
/*Self_assessment_sheet*/
.Sas .none header {
    display: none;
}
/*Partner_contract*/
.w_pC .valutaSoCWidth, .w_pC .soCardWidth {
	width: 150px;
}
.date_PC .soCardWidth {
	margin-left: 30px;
}
.PC .attached_files header, .PC .attached_files .not-data-table {
    display: none;
}
.PC .vs-table--tbody-table .tr-values td {
    text-align: center;
}
.address_delivery_shipping input {
    width: 500px;
}
/*Proposal_audit_application_card*/
.PAAC header, .PAAC .not-data-table {
    display: none;
}
.PAAC .save_but {
    margin-left: 40px;
}
.soCWidth_string2 input  {
	width: 110px;
}
.PAAC .soCWidth .soCardWidth {
	margin-left: 32px;
}
.PAAC .indent {
	width: 110px;
}
.PAAC .svg_color_fill {
	fill: #4cc93a;
	margin-top: 5px;
}
.PAAC .svg_color_fill_red {
	fill: #ff5160;
	margin-top: 7px;
}
.GDate input[type=date] {
    width: 160px;
}