<template>
<div>
	<div class="menu_button" v-if="userInfo">
			<vs-button static-position @click="showSidebar=!showSidebar" type="filled" icon="menu"></vs-button>
	</div>
		<vs-sidebar id="sdbar" parent="body" style="text-align:left" default-index="1" color="primary" class="sidebarx" spacer v-model="showSidebar">
				<vs-divider border-style="solid" position="center" color="default"><b>Анкеты</b></vs-divider>
					<vs-sidebar-item index="1"   icon="assignment">
						<router-link to="/Anketa_table"><span class="menu_section">Анкета </span><span class="new_span_menu" v-if="newMessages.Document_srm_АнкетаПоставщика > 0">{{newMessages.Document_srm_АнкетаПоставщика}}</span></router-link>
					</vs-sidebar-item>
				<vs-divider border-style="solid" position="center" color="default"><b>Аудит</b></vs-divider>
					<vs-sidebar-item index="2"   icon="call_missed_outgoing">
						<router-link to="/Proposal_audit_application_table"><span class="menu_section">Заявка на аудит</span><span class="new_span_menu" v-if="newMessages.Document_srm_ЗаявкаНаАудитПоставщика > 0">{{newMessages.Document_srm_ЗаявкаНаАудитПоставщика}}</span></router-link>
					</vs-sidebar-item>
					<vs-sidebar-item index="3"   icon="local_activity">
						<router-link to="/Rating_supplier_table"><span class="menu_section">Оценка поставщика</span><span class="new_span_menu" v-if="newMessages.Document_srm_ОценкаПоставщика > 0">{{newMessages.Document_srm_ОценкаПоставщика}}</span></router-link>
					</vs-sidebar-item>						
					<vs-sidebar-item index="4"   icon="font_download">
						<router-link to="/Audit_program_table"><span class="menu_section">Программа аудита</span><span class="new_span_menu" v-if="newMessages.Document_srm_ПрограммаАудита > 0">{{newMessages.Document_srm_ПрограммаАудита}}</span></router-link>
					</vs-sidebar-item>	
				<vs-divider border-style="solid" position="center" color="default"><b>Закупочные процедуры</b></vs-divider>				
					<vs-sidebar-item index="5"   icon="toc">
						<router-link to="/Supplier_offer_table"><span class="menu_section">Запрос предложений</span><span class="new_span_menu" v-if="newMessages.Document_srm_ЗапросПредложений > 0">{{newMessages.Document_srm_ЗапросПредложений}}</span></router-link>
					</vs-sidebar-item>
					<vs-sidebar-item index="6"   icon="how_to_reg">
						<router-link to="/Request_supplier_table"><span class="menu_section">Предложения поставщика</span><span class="new_span_menu" v-if="newMessages.Document_srm_ПредложениеПоставщика > 0">{{newMessages.Document_srm_ПредложениеПоставщика}}</span></router-link>
					</vs-sidebar-item>
				<vs-divider border-style="solid" position="center" color="default"><b>Заказы</b></vs-divider>
					<vs-sidebar-item index="7"   icon="check_circle_outline">
						<router-link to="/Order_supplier_table"><span class="menu_section">Заказ поставщику</span><span class="new_span_menu" v-if="newMessages.Document_srm_ЗаказПоставщику > 0">{{newMessages.Document_srm_ЗаказПоставщику}}</span></router-link>
					</vs-sidebar-item>
				<vs-divider border-style="solid" position="center" color="default"><b>Качество</b></vs-divider>
					<vs-sidebar-item index="8"   icon="priority_high">
						<router-link to="/Pretense_table"><span class="menu_section">Претензии</span><span class="new_span_menu" v-if="newMessages.Document_srm_ПретензияПоставщику > 0">{{newMessages.Document_srm_ПретензияПоставщику}}</span></router-link>
					</vs-sidebar-item>
					<vs-sidebar-item index="9"   icon="assessment">
						<router-link to="/Action_plan_table"><span class="menu_section">Планы корректирующих мероприятий</span><span class="new_span_menu" v-if="newMessages.Document_srm_ПланКорректирующихМероприятий > 0">{{newMessages.Document_srm_ПланКорректирующихМероприятий}}</span></router-link>
					</vs-sidebar-item>				
				<vs-divider border-style="solid" position="center" color="default"><b>Логистика</b></vs-divider>				
					<vs-sidebar-item index="10"   icon="departure_board" v-if="!transportDostavka">
						<router-link to="/Application_delivery_table"><span class="menu_section">Заявка на доставку</span><span class="new_span_menu" v-if="newMessages.Document_srm_ЗаявкаНаДоставку > 0">{{newMessages.Document_srm_ЗаявкаНаДоставку}}</span></router-link>
					</vs-sidebar-item>
					<vs-sidebar-item index="11"   icon="local_shipping" v-if="transportDostavka">
						<router-link to="/Application_transport_table"><span class="menu_section">Заказ на транспорт</span><span class="new_span_menu" v-if="newMessages.Document_srm_ЗаказТранспорта > 0">{{newMessages.Document_srm_ЗаказТранспорта}}</span></router-link>
					</vs-sidebar-item>
				<vs-divider border-style="solid" position="center" color="default"><b>Отчёты</b></vs-divider>
					<vs-sidebar-item index="12"   icon="link">
						<router-link to="/Report_table"><span class="menu_section">Каталог отчётов</span></router-link>
					</vs-sidebar-item>				
				<!--
			    <li class="nowrap"><vs-sidebar-item><router-link to="/Anketa_table">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm2 14H7v-2h7v2zm3-4H7v-2h10v2zm0-4H7V7h10v2z"/></svg>&#8194;Анкета</router-link></vs-sidebar-item></li>
				<li class="nowrap"><vs-sidebar-item><router-link to="/Supplier_offer_table">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 5v14H5V5h14m1.1-2H3.9c-.5 0-.9.4-.9.9v16.2c0 .4.4.9.9.9h16.2c.4 0 .9-.5.9-.9V3.9c0-.5-.5-.9-.9-.9zM11 7h6v2h-6V7zm0 4h6v2h-6v-2zm0 4h6v2h-6zM7 7h2v2H7zm0 4h2v2H7zm0 4h2v2H7z"/><path fill="none" d="M0 0h24v24H0z"/></svg>&#8194;Запрос предложений</router-link></vs-sidebar-item></li>
				<li class="nowrap"><vs-sidebar-item><router-link to="/Request_supplier_table">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill-rule="evenodd" clip-rule="evenodd" fill="none" d="M0 0h24v24H0z"/><g fill-rule="evenodd" clip-rule="evenodd"><path d="M9 17l3-2.94c-.39-.04-.68-.06-1-.06-2.67 0-8 1.34-8 4v2h9l-3-3zm2-5c2.21 0 4-1.79 4-4s-1.79-4-4-4-4 1.79-4 4 1.79 4 4 4"/><path d="M15.47 20.5L12 17l1.4-1.41 2.07 2.08 5.13-5.17 1.4 1.41z"/></g></svg>&#8194;Предложение поставщика</router-link></vs-sidebar-item></li>
				<li class="nowrap"><vs-sidebar-item><router-link to="/Audit_program_table">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M4 6H2v14c0 1.1.9 2 2 2h14v-2H4V6zm16-4H8c-1.1 0-2 .9-2 2v12c0 1.1.9 2 2 2h12c1.1 0 2-.9 2-2V4c0-1.1-.9-2-2-2zm-1 9h-4v4h-2v-4H9V9h4V5h2v4h4v2z"/></svg>&#8194;Программа аудита</router-link></vs-sidebar-item></li>
				<li class="nowrap"><vs-sidebar-item><router-link to="/Order_supplier_table">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M19 3h-4.18C14.4 1.84 13.3 1 12 1c-1.3 0-2.4.84-2.82 2H5c-1.1 0-2 .9-2 2v14c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2V5c0-1.1-.9-2-2-2zm-7 0c.55 0 1 .45 1 1s-.45 1-1 1-1-.45-1-1 .45-1 1-1zm-2 14l-4-4 1.41-1.41L10 14.17l6.59-6.59L18 9l-8 8z"/></svg>&#8194;Заказ поставщику</router-link></vs-sidebar-item></li>
				<li class="nowrap"><vs-sidebar-item><router-link to="/Proposal_audit_application_table">
					<svg class="svg_color_fill" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M12.45 16h2.09L9.43 3H7.57L2.46 16h2.09l1.12-3h5.64l1.14 3zm-6.02-5L8.5 5.48 10.57 11H6.43zm15.16.59l-8.09 8.09L9.83 16l-1.41 1.41 5.09 5.09L23 13l-1.41-1.41z"/></svg>&#8194;Заявка на аудит поставщика</router-link></vs-sidebar-item></li>
				-->
		</vs-sidebar>
</div>
</template>
<script>
import Vue from 'vue'
const axios = require('axios');
export default{
	data: function () {
		return {
			showSidebar:false,
			userInfo: {},
			newMessages:{},
			transportDostavka: '',
		}
	},
	methods:{
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
				});
		},	
		PermissionTransportDostavka: function(){
			return axios.post('/api/base/?action=GetConstantTransportOrder') 
				.then((response) => {
					this.transportDostavka = response.data;
					
				});
		},	
		getUnreadElements: function(){
				return axios.post('/api/base/?action=GetUnreadElements&type=document') 
				.then((response) => {
					if(response){
						this.newMessages = response.data.result;
					}
				});
		},	
		
	},
	mounted: function(){
		this.isAuthorized().then(
			() => {
				if(this.userInfo.name){
					this.PermissionTransportDostavka();	
					this.getUnreadElements();
				}
			
			}
		);
		
	},
	template: ''
	
}

</script>
<style>
.menu_button i.vs-icon.notranslate.icon-scale.material-icons.null {
    font-size: 25px;
}
.sidebarx .vs-divider--text {
	color:#8e9fb3;
	font-weight: bold;
	background:#304156;
	align-items: center;
	display: flex;
	font-size: 0.875rem;
	font-weight: 400;
	padding: 0 16px 0 16px;
}
.sidebarx .vs-divider {
	margin: 5px 0;
}
.sidebarx .vs-divider .before {
    position: relative;
    display: -webkit-inline-box;
    float: left;
}
.sidebarx .vs-sidebar--items {
	overflow: hidden;
}
.sidebarx .vs-sidebar--item a {
    padding: 5px 10px;
}
.vs-button-primary.vs-button-filled {
    bottom: 5px!important;
    background: none!important;
}
.vs-button-primary.vs-button-filled:hover, .vs-button-filled:hover {
    -webkit-box-shadow: none!important;
    box-shadow: none!important;
}
.menu_button button {
    color: white;
}
.menu_button button:hover {
    color: #8ea3d2;	
}
.vs-sidebar--item .menu_section {
    display: inline-block;
    width: 180px;
	font-size:14px
}
</style>