<template id="footer">
 <footer class="footer_f">
  <ul style="white-space: nowrap;">
    <li class="footer_ul_li"><img src="../../assets/logo_white-hor.png" style="width:120px;height:40px;margin-bottom:-15px;"></li>
    <li class="footer_ul_li"><a href="https://prof-itgroup.ru/" style="text-decoration: none;color: #fff;">
        <span>prof-itgroup.ru </span></a></li>
    <li class="footer_ul_li"><a href="mailto:info@prof-itgroup.ru" style="text-decoration: none;">
        <span><u style="text-decoration: none;color: #fff;">info@prof-itgroup.ru</u></span></a></li>   
    <li class="footer_ul_li cursor"><span>+7(495)228-30-31</span></li>
    <li class="version">v. {{version}}</li>
  </ul>
 </footer>
</template>
<script>
var pckg = require('../../../package.json');
import Style from '@/components/css/Style.css'
export default{
		props: [],
		data: function () {
			return {
				version: pckg.version
			}
		},
		methods:{
			
		},
		watch: {
			
		},
		template: "#footer"
	}
</script>
<style scoped>

.footer_f {
	background: #1f1f1f;
	color: #fff; 
}
.footer_ul_li {
    display: inline-block;
    margin-right: 60px;
	padding: 20px;
}
</style>