<script>
import Vue from 'vue'
export default{}
const axios = require('axios');
Vue.component('user-panel', {
	data: function () {
		return {
			userInfo: {},
			userMenu: false,
			totalMessages: 0,
			isLogged: false
		}
	},
	created: function() {
		this.isAuthorized().then(
			(response)=>{
				if(this.isLogged){
					setInterval(this.checkNewMessages, 10000);
					this.$root.$on('recountMessages', () => {
						this.checkNewMessages();
					});
				}
			}
		);
	},
	methods:{
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
					if(response.data){
						this.isLogged = true;
					}
					if(!this.userInfo && window.location.hash !== '#/anketa'){
						window.location.href = process.env.PROD_APP_PATH + "/#/login"
					}
				});
				
			
		},	
		logOut: function(){
			axios.post('/api/base/index.php?action=Logout').then(
				(response) => {
					this.userMenu = false;
					this.$router.push('login');
				}
			);	

		},	
		checkNewMessages: function(){
				axios({
					method: 'post',
					url: '/api/base/?action=GetNewMessages'
				}).then(
					(response) => {
						this.totalMessages = response.data.result.count;
						_.forEach(response.data.result.messages, (value, key) => {
							let text = "Чат: " + value.UF_TOPIC + "<br />";
							text += '<div class="message_author">' + value.UF_AUTHOR+ " " + value.UF_DATE + "</div>";
							this.$vs.notify({title:'Новое сообщение',fixed:true,text:text,color:"primary",icon:'mail'});
						})
					});
		},
		showUserMenu: function(){
			this.userMenu = !this.userMenu;
			return this.userMenu;
		}
	},
	template: '<div class="user-block" >\
			<div v-if="userInfo">\
				<div class="user-name" style="display: flex;">\
				<router-link to="/Messenges"><vs-button icon="mail_outline"></vs-button>\
				<span class="total_messages" v-if="totalMessages">{{totalMessages}}</span></router-link>\
				<div @click="showUserMenu"><vs-avatar icon="person_outline" />{{userInfo.name}}</div>\
				<a href="/dist/guide/"><svg style="width: 23px;height: 23px;margin: 25px 0 0 20px;" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" version="1.1" id="Capa_1" x="0px" y="0px" viewBox="0 0 512 512" xml:space="preserve" width="512px" height="512px" class=""><g><g><g><g><circle cx="256" cy="378.5" r="25" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="M256,0C114.516,0,0,114.497,0,256c0,141.484,114.497,256,256,256c141.484,0,256-114.497,256-256     C512,114.516,397.503,0,256,0z M256,472c-119.377,0-216-96.607-216-216c0-119.377,96.607-216,216-216     c119.377,0,216,96.607,216,216C472,375.377,375.393,472,256,472z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/><path d="M256,128.5c-44.112,0-80,35.888-80,80c0,11.046,8.954,20,20,20s20-8.954,20-20c0-22.056,17.944-40,40-40     c22.056,0,40,17.944,40,40c0,22.056-17.944,40-40,40c-11.046,0-20,8.954-20,20v50c0,11.046,8.954,20,20,20     c11.046,0,20-8.954,20-20v-32.531c34.466-8.903,60-40.26,60-77.469C336,164.388,300.112,128.5,256,128.5z" data-original="#000000" class="active-path" data-old_color="#000000" fill="#FFFFFF"/></g></g></g></g> </svg></a></div>\
				<div v-if="userMenu" class="user-block-menu">\
					<div class="user-company"><span class="user-company-span">Организация:</span><br /> {{userInfo.company}}</div><br />\
					<div class="user-role"><span class="user-company-span">Роль:</span><br /> {{userInfo.role}}</div><br />\
					<div class="user-logout" @click="logOut"><vs-icon icon="directions_run" class="svg_header"></vs-icon>\
					<span style="bottom: 9px;position: relative;">Выйти</span></div>\
				</div>\
			</div>\
	</div>\
	'
	
})

</script>
