<template>
<div class="top_bool">
	<vs-switch class="bool_element" v-if="disabled" disabled="true" @input="returnValue()" v-model="res"/>
	<vs-switch class="bool_element" v-else @input="returnValue()" v-model="res"/>
	<label class="common_label">{{label}}</label>
	</div>
</template>
<script>
import Vue from 'vue'

import {isDefined} from '@/components/utils/validate'
export default{
		props: ['label', "initactive", 'value','disabled'],
		data: function () {
			return {
				res: this.value
			}
		},
		methods:{
			returnValue(){
				this.$emit('input', this.res);
			}
		},
		watch: {
			value: function(val, oldVal){
				this.res = val;
				this.$emit('input', val);
			}
		},
		template: "#top_bool"
	}

</script>
<style>
.common_label{
	position: absolute;
	white-space: nowrap;
	margin: -20px 60px;
}
</style>