<template>
<div class="srm_catalog">
	<pre-loader ref="mainLoader"></pre-loader>
	<vs-popup fullscreen class="holamundo"  :title="getTitile()" :active.sync="popupActiv">
		<vs-table hoverFlat search :data="catalogData">
			<template slot-scope="{data}">
			<vs-tr class="catalog_row" :key="indextr" v-for="(tr, indextr) in data" >
				<vs-td :data="data[indextr].Description">
					<div @click="chooseCountry(data[indextr])">{{data[indextr].Code}} {{data[indextr].Description}}</div>
				</vs-td>
			</vs-tr>
			</template>
		</vs-table>
	</vs-popup>
	<div class="nowrap" v-if="multipleval">
		<label>{{label}}</label>
		<input  v-if="disabled" disabled class="form_line text_grey el-input__inner line_height multiple-input" @input="countrySearch()" v-model="inputValue"  type="text"/>
		<input @blur="removeInvalidDataObject" v-else class="form_line text_grey el-input__inner line_height multiple-input" @input="countrySearch()" v-model="inputValue"  type="text"/>
		<svg  v-if="!disabled && $route.query.mode !== 'open'" @click="showCatalogList" class="svg_color" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"/></svg>
		<div v-if="descActive"  class="details">
			<div class="details_row" v-for="row in desc">
				<span @click="setInput(row)">{{row.Code}}</span>
			</div>
		</div>
	</div>
	<div class="nowrap" v-else>
		<vs-popup fullscreen class="holamundo"  :title="getTitile()" :active.sync="popupActiv">
			<vs-table hoverFlat search :data="catalogData">
				<template slot-scope="{data}">
					<vs-tr class="catalog_row" :key="indextr" v-for="(tr, indextr) in data" >
						<vs-td :data="data[indextr].Description">
							<div @click="chooseCountry(data[indextr])">{{data[indextr].Description}}</div>
						 </vs-td>
					</vs-tr>
				</template>
			</vs-table>
		</vs-popup>
		<label>{{label}}</label>
		<input  v-if="disabled" disabled class="form_line text_grey el-input__inner line_height" @input="countrySearch()" v-model="inputValue"  type="text"/>
		<input @blur="removeInvalidData()"  v-else class="form_line text_grey el-input__inner line_height" @input="countrySearch()" v-model="inputValue"  type="text"/>
		<svg v-if="!disabled && $route.query.mode !== 'open'" @click="showCatalogList" class="svg_color" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"/></svg>
		<div v-if="descActive"  class="details">
			<div class="details_row" v-for="row in desc">
				<span @click="setInput(row)">{{row.Description}}</span>
			</div>
		</div>
	</div>
</div>
</template>
<script>
const axios = require('axios');
import Vue from 'vue';
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
export default{
	props: ['label', 'placeholder','collection', 'multipleval', 'banned', 'value', 'disabled'],
	data: function () {
		return {
			inputValue : (this.value)?this.value['Description']:"",
			result: "",
			descActive: false,
			popupActiv: false,
			catalogData: {},
			bannedArr: this.banned,
		}
	},
	mounted: function(){	
		this.getCatalogAllData();
	},
	watch: {
		value:{ 
			handler: function(val, oldVal){		
				this.getInputVal(val);	
				this.$emit('input', this.value);
			},
			deep: true			
		},
		collection: function(val, oldVal){
			this.getCatalogAllData();
		},
		banned: function(val, oldVal){
			this.banned = val;
		},
		
	},
	methods:{
		getInputVal: function(val){
			if(val){				
				if(this.multipleval){
					if(val.Code && val.Description){
						this.inputValue = val.Code + " " + val.Description;
					}
					else{
						this.inputValue = "";
					}
				}
				else{					
					if(val.Description){
						this.inputValue = val.Description;
					}
					else{
						this.inputValue = "";
					}
				}
			}
			else{
				return "";
			}
			
		},
		getCatalogAllData(){
			this.$refs.mainLoader.Show();
			return axios.post('/api/base/?action=GetCatalogAllData&collection=' + this.collection) 
				.then((response) => {
					this.catalogData = response.data.result;
					this.$refs.mainLoader.Hide();
				});
		},
		chooseCountry(row){
			if(this.notBanned(row)){
				this.setInput(row);
				this.popupActiv = false;
			}
			else{
				this.$vs.notify({title:'Ошибка',text:'Вид деятельности уже присутствует в выбранном списке',color:'danger'})
			}
		},
		showCatalogList(){
			this.popupActiv = true;	
		},
		notBanned: function(row){
			if(this.bannedArr){
				for (let [key, value] of Object.entries(this.bannedArr) ) {
				if(row.Ref_Key === key){
					return false;
					}
				}
				return true;
			}
			return true;
		},
		countrySearch(){
			if(this.inputValue.length > 2){
				var dataToSend = new FormData();
				dataToSend.set('query', this.inputValue);
				axios({
					method: 'post',
					url: '/api/base/?action=GetCatalogData&collection=' + this.collection,
					data: dataToSend
				}).then((response) => {
					
					this.desc = response.data.result;
					if(response.data.result[0]){
						this.descActive = true;
					}
					
				});
			}
		},
		removeInvalidData(){
			let toClear = true;
			_.forEach(this.catalogData, (value, key) => {
				if(value.Description === this.inputValue){
					toClear = false;
				}	
			});
			if(toClear){
				this.inputValue = "";
				this.$emit('input', this.inputValue);
			}
			this.$emit('input', this.inputValue);
		},
		removeInvalidDataObject(){
			let toClear = true;
			_.forEach(this.catalogData, (value, key) => {
				let objData = value.Code + " " + value.Description;
				if(objData === this.inputValue){
					toClear = false;
				}	
			});
			if(toClear){
				this.inputValue = "";
			}
			
		},
		setInput(row){
			this.inputValue = "";
			if(this.multipleval){		
				this.inputValue = row.Code + " " +row.Description;
			}			
			else{			
				this.inputValue = row.Description;
			}
			if(this.collection != 'Catalog_КонтактныеЛицаКонтрагентов'){
				this.$emit('input', row); 
			}
			this.descActive = false;
			this.$emit('input', row);
		},
		getTitile(){
			return (this.label)?this.label:"Справочник";
		}
	},
	template: ".srm_catalog"
}

</script>
