<template>
<div class="srm_catalog">
	<div class="nowrap">
		<vs-popup :button-close-hidden="(arrChosen.length)?true:false" fullscreen class="holamundo"  :title="getTitile()" :active.sync="popupActiv">
			<vs-table hoverFlat search :data="options">
				<template slot-scope="{data}">
					<vs-tr class="catalog_row" :key="indextr" v-for="(tr, indextr) in data" >
						<vs-td :data="data[indextr].Имя">
							<div style="display: flex;" @click="chooseItem(data[indextr])" :class="{'digest' : arrChosen.includes(tr.LineNumber)}">
								<div v-if="arrChosen.includes(tr.LineNumber)">	
									<svg class="svg_mult_select" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
									<path fill="none" d="M0 0h24v24H0z"/><path d="M9 16.2L4.8 12l-1.4 1.4L9 19 21 7l-1.4-1.4L9 16.2z"/></svg>
								</div>						
								<div>{{data[indextr].Имя | uncamelize}}</div>
							</div>
						 </vs-td>
					</vs-tr>
				</template>
			</vs-table>
			<button type="button" @click="closePopup()" class="el-button filter-item" style="margin:7px 10px;"><span style="color:white;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
				Применить</span></button>
		</vs-popup>
		<label>{{label}}</label>
		<input  v-if="disabled" disabled class="form_line text_grey el-input__inner line_height" @input="countrySearch()" :placeholder="this.placeholder" :key="inputValueCounter" v-model="inputValue"  type="text"/>
		<input disabled="true"  v-else class="form_line text_grey el-input__inner line_height" @input="countrySearch()" :placeholder="this.placeholder" v-model="inputValue"  type="text"/>
			<div v-if="selectedCount" class="selected__count">{{selectedCount}}</div>
			<svg v-if="!disabled && $route.query.mode !== 'open'" @click="showCatalogList" class="svg_color" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="none" d="M0 0h24v24H0z"/><path d="M16 1H4c-1.1 0-2 .9-2 2v14h2V3h12V1zm-1 4l6 6v10c0 1.1-.9 2-2 2H7.99C6.89 23 6 22.1 6 21l.01-14c0-1.1.89-2 1.99-2h7zm-1 7h5.5L14 6.5V12z"/></svg>
	</div>
</div>
</template>
<script>
const axios = require('axios');
import Vue from 'vue';
export default{
	props: ['label', 'placeholder', 'value', 'disabled', 'options'],
	data: function () {
		return {
			arrChosen: [],
			inputValue :"",
			inputValueCounter :1,
			componentValue :{},
			result: "",
			popupActiv: false,
			catalogData: {},
			selectedCount: 0
		}
	},
	created: function(){	

	},
	watch: {
		value:{ 
			handler: function(val, oldVal){		
				this.getInputVal(val);	
				this.$emit('input', this.value);
			},
			deep: true			
		},
		
	},
	methods:{
		getInputVal: function(val){
			if(val){				
				
			}
			else{
				return "";
			}
			
		},
		chooseItem(row){
				this.setInput(row);
		},
		showCatalogList(){
			this.popupActiv = true;	
		},
		closePopup(){
			if(!this.inputValue){
				this.inputValue ="";				
			}

			this.$emit('input', this.inputValue);
			this.$emit('input', this.componentValue);
			this.popupActiv = false;	
		},
		setInput(row){
			
			_.forEach(this.componentValue, (value, key) => {
					this.inputValue += this.$options.filters.uncamelize(value.Имя) +',';
				})
			if(!this.componentValue[row.LineNumber]){
				this.arrChosen.push(row.LineNumber);
				this.$set(this.componentValue,row.LineNumber, row);	
				this.inputValue = "";
				_.forEach(this.componentValue, (value, key) => {
					this.inputValue += this.$options.filters.uncamelize(value.Имя) +',';
				})
				
			}
			else{
				
				this.arrChosen.splice(this.arrChosen.indexOf(row.LineNumber), 1);
				delete(this.componentValue[row.LineNumber]);

			}	
			this.$emit('input', this.componentValue);
			this.selectedCount =  Object.keys(this.componentValue).length;
			this.inputValueCounter++;
			this.inputValue = "";
			/*
				_.forEach(this.componentValue, (value, key) => {
					this.inputValue += this.$options.filters.uncamelize(value.Имя) +',';
				})
			*/
			this.inputValue = this.placeholder + ": выбрано ";
			
		},
		getTitile(){
			return (this.label)?this.label:"Справочник";
		}
	},
	template: ".srm_catalog"
}

</script>
<style scoped>
.el-button.filter-item {
    position: absolute;
    bottom: 20px;
}
.srm_catalog {
    position: relative;
	width: 290px;
}
.selected__count {
    position: absolute;
    background: #1790ff;
    color: white;
    padding: 6px 9px;
    border-radius: 5px;
    top: 4px;
    right: 60px;
}
.svg_mult_select{
    fill:white;
    margin-right:5px;
    border-radius:100px;
    border:1px solid #1f74ff;
    background:#1f74ff;
    width:12px;
    height:12px;
}
</style>