<template>
<div><label class="soCardWidth">{{label}}</label>
	<span v-if="disabled" disabled class="form_line text_grey el-input__inner short_date" @input="returnValue()" v-model="inputValue"  type="date" :placeholder="placeholder">{{getDateYearAndMonth(inputValue)}}</span>
	<input v-else class="form_line text_grey el-input__inner" @input="returnValue()" v-model="inputValue"  type="date" :placeholder="placeholder"/>
</div>
</template>
<script>
const moment = require('moment');
import Vue from 'vue'
export default{
	props: ['label', 'placeholder', 'value', 'disabled'],
	data: function () {
		return {
			inputValue : this.value
		}
	},
	watch: {
		value: function(val, oldVal){
			this.inputValue = val;
			this.$emit('input', val);
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.inputValue);
		},
		getDateYearAndMonth: function(value){
			if (value.indexOf("-") !== -1){
				return moment(value).locale('ru').format('DD.MM.YYYY');
			}
			else {
				return value;
			}
		}
	}
}
</script>