<template>
<div class="certificate_indent nowrap"><label>{{label}}</label>
	<template v-if="disabled">
		<input v-if="classes" disabled :class="'form_line text_grey el-input__inner line_height '  + classes" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholderText"/>
		<input v-else disabled class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholderText"/>
	</template>
	<template  v-else>
		<div class="email_wrapper">
			<input :class="['form_line text_grey el-input__inner line_height ', additionalClasses, {'border_red':error}]" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholder"/>
			<span :class="{'nested_warn':warnStyle}" style="color:red;padding: 4px 30px 3px 3px;font-size: 10px;" v-show="error">Неверный формат почты.</span>
		</div>
	</template>
</div>
</template>
<script>
import Vue from 'vue'
import {validEmail, isDefined} from '@/components/utils/validate'
export default{
	props: ['label', 'placeholder', 'classes', 'value', 'disabled','nested'],
	data: function () {
		return {
			inputValue : this.value,
			error: false,
			warnStyle: isDefined(this.nested)?true:false,
			additionalClasses: isDefined(this.classes)?this.classes:"",
			labelText: isDefined(this.label)?this.label:"",
			placeholderText: isDefined(this.placeholder)?this.placeholder:"",
		}
	},
	watch:{
		value(val) {
			this.inputValue = val;
		}
	},
	methods:{
		returnValue(){
			this.error = !validEmail(this.inputValue);
			this.$emit('input', this.inputValue);
		}
	}
}

</script>