<template>
 <div class="filter_wrpaper">
	<div class="filter_container">
			<div :class="['grid_wrapper', (Object.keys(filters).length > 4)?'grid_wrapper__classic':'grid_wrapper__small']">
				<div :key="index" class="filter[0]-item" v-for="(filter, key, index) in filters">
					<div v-if="filter[0].type === 'date'">
						<div v-if="filter[1]" class="nowrap">
							<form-date class="filter_data" :label="$options.filters.uncamelize(filter[0].name)" v-model="filter[0].value" />
							<form-date class="filter_data" :label="$options.filters.uncamelize(filter[1].name)" v-model="filter[1].value" />
						</div>
						<form-date v-else class="filter_data" :label="$options.filters.uncamelize(filter[0].name)" v-model="filter[0].value" />
					</div>
					<div v-if="filter[0].type === 'selector'">
						<catalog-selector  v-model="filter[0].value" :placeholder="$options.filters.uncamelize(filter[0].name)" :options="filter[0].options" />
					</div>
					<div v-if="filter[0].type === 'catalog'">
						<form-catalog-multiple :placeholder="$options.filters.uncamelize(filter[0].name)" :collection="filter[0].catalog" v-model="filter[0].value"/>
					</div>
					<div v-if="filter[0].type === 'bool'">
						<form-bool  v-model="filter[0].value" :label="$options.filters.uncamelize(filter[0].name)"/>
					</div>
					<div v-if="filter[0].type === 'boolString'"><span @click="permission(filter[0].value, filter[0].name)">
						<form-bool-string   v-model="filter[0].value" :label="$options.filters.uncamelize(filter[0].name)"/></span>
					</div>
					<div v-if="filter[0].type === 'number_range'">
						<number-range :label="filter[0].name" v-model="filter[0].value"/>
					</div>
					<div v-if="filter[0].type === 'number'">
						<form-number v-model="filter[0].value" :label="$options.filters.uncamelize(filter[0].name)"/>
					</div>
				</div>
			 </div>

		<div class="save_but">
			<button type="button" @click="takeFilters()" class="el-button filter-item button_filter_AC" ><span style="color:white;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M9 16.17L4.83 12l-1.42 1.41L9 19 21 7l-1.41-1.41z"/></svg>
				Применить</span></button>
			<button type="button" @click="clearFilters()" class="el-button filter-item button_filter_AC" ><span style="color:white;">
				<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 6.41L17.59 5 12 10.59 6.41 5 5 6.41 10.59 12 5 17.59 6.41 19 12 13.41 17.59 19 19 17.59 13.41 12z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
				Очистить</span></button>
		</div> 
	</div> 
 <pre-loader ref="mainLoader"></pre-loader>
 </div>
</template>

<script>
import Vue from 'vue';
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
const axios = require('axios');
const moment = require('moment');
import Date from '@/components/form_poles/Date'
import Catalog from '@/components/form_poles/Catalog'
import NumberRange from '@/components/form_poles/Number_range'
import Bool from '@/components/form_poles/Bool'
import BoolString from '@/components/form_poles/BoolString'
import Number from '@/components/form_poles/Number'
import CatalogMultiple from '@/components/form_poles/Catalog_multiple'
import Catalog_selector from '@/components/form_poles/Catalog_selector'
export default{
	props: ['value','filter-point','return-data'],
	data: function () {
		return {
			filters:{},
			mvalue:this.value,
			options: [
				{ name: 'Vue.js', language: 'JavaScript' },
				{ name: 'Rails', language: 'Ruby' },
				{ name: 'Sinatra', language: 'Ruby' },
				{ name: 'Laravel', language: 'PHP', $isDisabled: true },
				{ name: 'Phoenix', language: 'Elixir' }
			],
		}
	},
	mounted: function(){
		this.getFilters(this.filterPoint);
	},
	components:{
		"form-date":Date,
		"form-catalog":Catalog,
		"form-bool":Bool,
		"form-bool-string":BoolString,
		"form-number":Number,
		"number-range":NumberRange,
		"form-catalog-multiple":CatalogMultiple,
		"catalog-selector":Catalog_selector,
	},
	methods:{
		clearFilters:function(){
			window.location.reload();
		},
		getFilters: function(point){
			axios({
					method: 'post',
					url: '/api/base/?action=' + point+'Filter',
				}).then((response) => {
					this.filters =  response.data.result;				
				});
		},
		
		takeFilters: function(){
			var dataToSend = new FormData();
			let error = false;
			
			_.forEach(this.filters, (value, key) => {
				//проверка корректности дат
				if(this.filters[key][1]){
					if(moment(this.filters[key][0].value).isAfter(this.filters[key][1].value)){
						error = true;
						this.$vs.notify({title:'Ошибка',text:"Вторая дата филтьтра не может быть больше первой",color:'danger'})
					};
				}
					if(this.filters[key][0].type === 'catalog'){
						if(this.filters[key][0].value){
							let textSum = "";
							let i = 1;
							_.forEach(this.filters[key][0].value, (value2, key2, index) =>{
								textSum += value2.Ref_Key;
								if(i !== Object.keys(value[0].value).length){
									textSum +=",";
								}
								i++;
							});
							dataToSend.set("FILTER["+key+"][0][value]", textSum);
						}
						else{
							dataToSend.set("FILTER["+key+"][0][value]", '');
						}
					}
					else if(this.filters[key][0].type === 'selector'){
				
						let textSum = "";
						let i = 1;
						_.forEach(this.filters[key][0].value, (value2, key2, index) =>{
								textSum += value2.Имя;
								if(i !== Object.keys(value[0].value).length){
									textSum +=",";
								}
								i++;
							});
						dataToSend.set("FILTER["+key+"][0][value]", textSum);
					}
					else if(this.filters[key][0].view === 'NumberInterval'){
						dataToSend.set("FILTER["+key+"][0][value]", this.filters[key][0].value);
						dataToSend.set("FILTER["+key+"][0][type]", this.filters[key][0].view);
						dataToSend.set("FILTER["+key+"][0][field]", this.filters[key][0].field);
					}
					else if(this.filters[key][0].type === 'boolString'){
						if(this.filters[key][0].value){
							dataToSend.set("FILTER["+key+"][0][value]", this.filters[key][0].boolValue);
						}
						else{
							dataToSend.set("FILTER["+key+"][0][value]", "");
						}
						
					}
					else{
						dataToSend.set("FILTER["+key+"][0][value]", this.filters[key][0].value);
						if(this.filters[key][1]){
							dataToSend.set("FILTER["+key+"][1][value]", this.filters[key][1].value);
						}
						
					}
					if(this.filters[key][0].view !== 'NumberInterval'){	

						dataToSend.set("FILTER["+key+"][0][type]", this.filters[key][0].view);
						dataToSend.set("FILTER["+key+"][0][logic]", this.filters[key][0].logic);
						dataToSend.set("FILTER["+key+"][0][field]", this.filters[key][0].field);
						if(this.filters[key][1]){
							dataToSend.set("FILTER["+key+"][1][type]", this.filters[key][1].view);
							dataToSend.set("FILTER["+key+"][1][logic]", this.filters[key][1].logic);	
							dataToSend.set("FILTER["+key+"][1][field]", this.filters[key][1].field);	
						}

					}
					dataToSend.set("FILTER["+key+"][0][field]", this.filters[key][0].field);
					
			});
			if(!error){
				this.$refs.mainLoader.Show();
				axios({
						method: 'post',
						url: '/api/base/?action='+this.filterPoint,
						data: dataToSend
					}).then((response) => {
						this.$parent[''+this.returnData+''] =  response.data.result;
						this.$parent.pageCount = response.data.PAGE_COUNT;
						this.$refs.mainLoader.Hide();
					});
					this.mvalue = this.filters;
			}
			
		},
		permission: function(value, name){
			if(name  === 'ДоступныеДляПодачиПредложений'){
				this.filters['ВедётсяПереторжка'][0].value = false
			}
			if(name  === 'ВедётсяПереторжка'){
				this.filters['ДоступныеДляПодачиПредложений'][0].value = false
			}
		}
		
		
	},
	watch: {
		mvalue: function(val, oldVal){
				this.res = val;
				this.$emit('input', val);
		}
	}	
}
</script>
<style  lang="scss">

.filter_container{
	margin-top: 15px;
}
.grid_wrapper{
	display: grid;
	grid-gap: 1vw;
	align-items: center;
}
.grid_wrapper__classic{
	grid-template-columns: repeat(3, 1fr);
	cursor: pointer;
}
.grid_wrapper__small{
	grid-template-columns: repeat(2, 1fr);
	cursor: pointer;
}
.filter_wrpaper {
    width: 100%;
    margin: 0 auto;
    border: 1px solid #dcdfe6;
    padding: 0 40px;
    font-size: 13px;
}
.save_but {
    margin-top: 30px;
}
.inputs__wrapper {
    text-align: center;
}
.range-input {
    background: #fbfbfb;
	width: 125px;
	margin: 0 10px;
    display: inline-block;
    color: #787878;
    border: 1px solid #dcdfe6;
    border-radius: 4px;
    padding: 5px 0 5px 5px;
}
.filter_wrpaper .top_bool {
    margin-top: 15px;
}
.filter_data {
    display: inline-block;
}
.button_filter_AC {
	width: 143px;
}
.grid_wrapper {
	width: 500px;
}

.filter_wrpaper .el-input__inner {
    height: 2.7em;
    width: 240px;
	color: #1790ff;
}
.filter_wrpaper .range-input {
    height: 25px;
}
.filter_wrpaper .svg_color {
    width: 25px;
    height: 25px;
	margin: -8px 10px;
}
.filter_wrpaper .vs-slider--circle, .filter_wrpaper .vs-slider--circle-two {
    width: 11px;
    height: 11px;
    top: -3px;
}
.filter_wrpaper .vs-slider-primary .vs-circles-slider {
    border: 1px solid rgba(var(--vs-primary),1);
}
.filter_wrpaper .vs-switch--circle {
    display: block;
    width: 16px;
    height: 16px;
}
.filter_wrpaper .vs-switch-primary {
    height: 20px;
}
.filter_wrpaper .button_filter_AC {
    height: 2.5em;
    width: 110px;
    font-size: 12px;
    padding: 0 0;
}
.filter_wrpaper .button_filter_AC span {
    margin-left: -10px;
}
.filter_wrpaper .top_bool {
    margin-top: 0px;
}
.filter_wrpaper input::placeholder {
    color: #1f74ff;
}
.filter_wrpaper .common_label {
    margin: -17px 50px;
}

.filter_wrpaper .p_filter {
    padding: 0px 11px 0 0;
    margin-left: -4px;
}
.filter_wrpaper .inputs__wrapper {
    margin-top: -55px;
    display: flex;
}
.filter_wrpaper .inputs__wrapper .range-input1 {
    margin-left: 90px;
}
.RST .filter_wrpaper .inputs__wrapper .range-input1 {
    margin-left: 140px;
}
.filter_wrpaper .filter_wrpaper .range-input {
    height: 25px;
}
</style>