<template>
<div class="range-wrapper">
					<p class="p_filter">{{$options.filters.uncamelize(labelVal)}}</p>
					<vs-slider max="40000000" @input="returnValue" ticks step=100000 v-model="inputValue"/>
					<div class="inputs__wrapper">
						<input class="range-input range-input1" type="number" v-model="inputValue[0]" />
						<span style="margin-top: 2px;">-</span>
						<input class="range-input range-input2" type="number" v-model="inputValue[1]" />
					</div>
				</div>
</template>
<script>
import Vue from 'vue'
export default{
	props: ['label', 'placeholder', 'value', 'disabled'],
	data: function () {
		return {
			inputValue : this.value,
			labelVal: this.label
		}
	},
	watch: {
		value: function(val, oldVal){
			this.inputValue = val;
			this.$emit('input', val);
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.inputValue);
		}
	}
}
</script>
<style scoped lang="scss">

</style>