<template>
<div><label>{{label}}</label>
	<input v-if="disabled" disabled class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-model="inputValue"   type="number"/>
	<input v-else class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-model="inputValue" :max="max" type="number"/>
</div>
</template>
<script>
import Vue from 'vue'
export default{
	props: ['label' , 'value', 'disabled', 'max'],
	data: function () {
		return {
			inputValue : this.value
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.inputValue);
		}
	}
}

</script>