<template>
<div>
	<label class="select_width">{{label}}</label>
	<select  v-if="uncamelize" :key="tkey" @change="returnValue()" :disabled="disabled" v-model="selectValue" >
		<option :key="key" v-for="(option,key) in optionsArr" :value="option">{{$options.filters.uncamelize(option)}}</option>
	</select>
	<select  v-else :key="tkey" @change="returnValue()" :disabled="disabled" v-model="selectValue" >
		<option :key="key" v-for="(option,key) in optionsArr" :value="option">{{option}}</option>
	
	</select>
	<!--
	<multiselect :key="key" selectLabel="выбрать" selectedLabel="выбрано" placeholder="Выбрать" deselectLabel="убрать" :multiple="multiple" @input="returnValue()" :disabled="disabled" v-model="selectValue" :options="optionsArr"></multiselect>	
	<vs-select @input="returnValue()" :disabled="disabled" v-model="selectValue">
		<vs-select-item v-if="optionView" :class="classes" v-for="(option, key) in options" :key="key" :keys="key" :value="option" :text="(uncamelize)?$options.filters.uncamelize(optionView[key]):optionView[key]" />
		<vs-select-item v-else :class="classes" v-for="(option, key) in options" :key="key" :keys="key" :value="option" :text="(uncamelize)?$options.filters.uncamelize(option):option" />
	</vs-select>
	-->
</div>
</template>
<!--<style src="vue-multiselect/dist/vue-multiselect.min.css"></style>-->
<script>
 // import Multiselect from 'vue-multiselect'

  // register globally
 // Vue.component('multiselect', Multiselect);
import Vue from 'vue'
export default{
	props: ['label', 'options', 'uncamelize', 'classes','value', 'option-view', 'disabled', 'multiple'],
	data: function () {
		return {
			selectValue : this.value,
			optionsArr : this.options,
			tkey: 0
		}
	},
	mounted: function(){
		this.uncamelizer();
	},
	methods:{
		returnValue(){
			this.$emit('input', this.selectValue);
		},
		uncamelizer: function(){
			if(this.uncamelize){
			/*
				_.forEach(this.optionsArr, (value, key) => {
					this.optionsArr[key] = this.$options.filters.uncamelize(this.optionsArr[key]);
				})
				this.tkey++;
				*/
			}
		}
	},
	watch: {
		value: function(val){
			this.selectValue = val;
		},
		optionsArr: function(val, oldVal){
			this.optionsArr = val;
		}
	}
}

</script>