<template>
<div>
	<div v-if="getobject">
		<label>{{label}}</label>
		<select @input="returnValue()" :disabled="disabled" v-model="selectValue">
			<option  :class="classes" v-for="(option, key) in options" :key="key" :keys="key" :value="option"  >{{option.Description}}</option>
		</select>
	</div>
	<div v-else>
		<label>{{label}}</label>
			<select @input="returnValue()" :disabled="disabled" v-model="selectValue">
				<option :class="classes" v-for="(option, key) in options" :key="key" :keys="key" :value="option.Ref_Key">{{option.Description}}</option>
			</select>
	</div>
</div>
</template>
<script>
import Vue from 'vue'
export default{
	props: ['label', 'options', 'classes', 'value', "getobject", "disabled"],
	data: function () {
		return {
			selectValue : this.value,
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.selectValue);
		}
	},
	mounted: function(){

	},
	watch:{
		selectValue(val) {
			this.selectValue = val;
			this.$emit('input', this.selectValue);
		},
		value(val) {
			this.selectValue = val;
			this.$emit('input', this.selectValue);
		}
	}
}

</script>