<template>
<div class="certificate_indent"><label class="valutaSoCWidth">{{label}}</label>
	<template v-if="disabled">
		<input v-if="classes" disabled :class="'form_line text_grey el-input__inner line_height '  + classes" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholder"/>
		<input v-else disabled class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholder"/>
	</template>
	<template  v-else>
		<input v-if="classes" :class="'form_line text_grey el-input__inner line_height '  + classes" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholder"/>
		<input v-else class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholder"/>
	</template>
</div>
</template>
<script>
import Vue from 'vue'
export default{
	props: ['label', 'placeholder', 'classes', 'value', 'disabled'],
	data: function () {
		return {
			inputValue : this.value
		}
	},
	watch:{
		value(val) {
			this.inputValue = val;
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.inputValue);
		}
	},
 }

</script>