<template>
<div>
	<pre-loader ref="mainLoader"></pre-loader>
	<vs-prompt class="helper_pop_up" title="Добавление контакта" accept-text="принять" cancel-text="отмена" @cancel="" @accept="this.putHelperData" @close="" :active.sync="showHelper">
      <div class="helper_row form_line_popup">
		<form-string class="flex" v-model="helper.name" label="ФИО"/>
		<form-string class="flex" v-model="helper.position" label="Должность"/>
		<form-string class="flex" placeholder="+"  v-model="helper.code"  v-mask="'+###'" label="Код страны"/>
		<form-string class="flex" placeholder="(111) 111-11-11" v-mask="'(###)-###-##-##'" v-model="helper.tel" label="Телефон"/>
		<form-email class="pop_up_mail" v-model="helper.email" label="E-mail"/>
		<form-string class="flex" v-model="helper.desc" label="Описание"/>
		<template v-if="!isFirst()">
			<div :class="{'isError':!helper.role}"><form-select-ref class="certificate_indent flex role_selector"  getobject="true" v-model="helper.role" label="Роль" :options="common"/></div>
		</template>
		<template v-else>
			<span>Роль : SRMPortalAdministrator</span>
		</template>
	  </div>
     </vs-prompt>
	 <vs-prompt accept-text="принять" cancel-text="отмена" title="Внимание!" @cancel="" @accept="this.sendLetter" @close="" :active.sync="showDeletePromt">
		<div class="delete_promt">
			<h2 style="margin: 10px 0;">Тема</h2>
			<input class="el-input__inner line_height width_input_popup" type="text" v-model="deletePopUpHeader">
			<div style="margin: 10px 0;">Текст</div>
			<textarea class="el-input__inner line_height width_input_popup" style="height: 100%;" v-model="deletePopUpText"/>
		</div>
	</vs-prompt>
	<div class="tableButton" v-if="!disabled && $route.query.mode !== 'open'" @click="addContact">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M0 0h24v24H0z" fill="none"/><path d="M13 7h-2v4H7v2h4v4h2v-4h4v-2h-4V7zm-1-5C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm0 18c-4.41 0-8-3.59-8-8s3.59-8 8-8 8 3.59 8 8-3.59 8-8 8z"/></svg>
		ДОБАВИТЬ</div>
	<vs-table :key="componentKey" hoverFlat :data="contacts">
		<template slot="thead">
			<vs-th class="th_number_table">№</vs-th>
			<vs-th class="table_th" :key="index" v-for="(heading,key,index) in innerHeadings"><span>{{heading.Синоним}}</span></vs-th>
			<vs-th class="table_th"></vs-th>
		</template>
		<template>
			<vs-tr :key="hindex" v-for="(heading, hindex) in contacts" >
				<vs-td>{{hindex+1}}</vs-td>
				<vs-td :key="index" v-for="(td, tdindex,index) in heading">
				<template v-if="returnType(td,tdindex) === 'email'">
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-email nested :disabled="disabled" classes="small" @input="returnValue()" v-model="contactsAdded[hindex][tdindex]"/></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'phone'">
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-string :disabled="disabled" placeholder="(111) 111-11-11" v-mask="'(###)-###-##-##'" v-model="contactsAdded[hindex][tdindex]"/></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'desc'">
					<form-string :disabled="disabled" type="string" v-model="contactsAdded[hindex][tdindex]" />
				</template>
				<template v-if="returnType(td,tdindex) === 'string'">
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-string :disabled="disabled" v-model="contactsAdded[hindex][tdindex]" /></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'code'">
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-string :disabled="disabled"  placeholder="+"  v-mask="'+###'" v-model="contactsAdded[hindex][tdindex]" /></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'number'">
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-number :disabled="disabled" v-model="contactsAdded[hindex][tdindex]" /></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'catalog'">				
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><Catalog-outer-data v-if="pageCount" :banned="banArr" :disabled="disabled" :collection="td" :catalog-data-object="catalogData" :collection-path="collectionPath" :page-count-prop="pageCount" v-model="contactsAdded[hindex][tdindex]"/></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'catalog_multiple'">
				<!--<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-catalog :disabled="disabled" multipleval="true" :collection="td" v-model="contactsAdded[hindex][tdindex]" /></span>-->
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><Catalog-outer-data v-if="pageCount" :disabled="disabled"  multipleval="true" :catalog-data-object="catalogData" :collection-path="collectionPath" :page-count-prop="pageCount" v-model="contactsAdded[hindex][tdindex]" /></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'catalog_no_error'">				
					<span><form-catalog :disabled="disabled"  :collection="td" v-model="contactsAdded[hindex][tdindex]"/></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'select_fake'">
					<template v-if="hindex + 1 > singles.length">
							<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-select-ref :disabled="disabled" :options="common"  v-model="contactsAdded[hindex][tdindex]" /></span>
					</template>
					<template v-else>
						<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><select :disabled="disabled" v-model="contactsAdded[hindex][tdindex]" >
							<option :value="singles[hindex].Ref_Key" >{{singles[hindex].Description}}</option>
						</select>
						</span>
					</template>
				</template>
				<template v-if="returnType(td,tdindex) === 'select'">
					<span :class="{'isError':!contactsAdded[hindex][tdindex]}"><form-select :disabled="disabled" uncamelize="true" :option-view="innerHeadings[tdindex].Enum.Member" :options="innerHeadings[tdindex].Enum.Member"  v-model="contactsAdded[hindex][tdindex]" /></span>
				</template>
				<template v-if="returnType(td,tdindex) === 'bool'">
					<form-bool :disabled="disabled" v-model="contactsAdded[hindex][tdindex]"  :initactive="makeInitActive(hindex,tdindex)"/>
				</template>
				<template v-if="returnType(td,tdindex) === 'date'">
					<form-date :disabled="disabled" type="date" v-model="contactsAdded[hindex][tdindex]"/>
				</template>
				</vs-td>
				<vs-td><div @click="deleteRow(hindex,contactsAdded[hindex][0])" v-if="!disabled && $route.query.mode !== 'open'" data-description="Удалить" class="korzina korzina3_1 padding_anketa">
					<vs-icon style="color: #d97b81;cursor: pointer;margin-left: -20px;" icon="delete_forever"></vs-icon></div></vs-td><!--удалить-->
				<template :slot="showExpand()">
					<template v-for="(td, tdindex) in heading">
						<template v-if="returnType(td,tdindex) === 'select_fake'">
							<div><b>Роль: </b>{{getRoleName(contactsAdded[hindex][tdindex],hindex)}}</div>
						</template>
						<div v-if="returnType(td,tdindex) === 'string'"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex]}}</div>
						<div v-if="returnType(td,tdindex) === 'email'"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex]}}</div>
						<div v-if="returnType(td,tdindex) === 'phone'"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex]}}</div>
						<div v-if="returnType(td,tdindex) === 'desc'"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex]}}</div>
						<div v-if="returnType(td,tdindex) === 'number'"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex]}}</div>
						<div v-if="returnType(td,tdindex) === 'catalog_multiple'"><span v-if="contactsAdded[hindex][tdindex]"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex].Code}}&#8194;{{contactsAdded[hindex][tdindex].Description}}</span></div>
						<div v-if="returnType(td,tdindex) === 'catalog'"><span v-if="contactsAdded[hindex][tdindex]"><b>{{innerHeadings[tdindex].Синоним}}: </b>{{contactsAdded[hindex][tdindex].Description}}</span></div>
					</template>
				</template>
			</vs-tr>
		</template>
	</vs-table>
	</div>
</template>
<script>
import Vue from 'vue'
import PreLoader from '@/components/partials/PreLoader.vue'
Vue.component('pre-loader', PreLoader);
import String from '@/components/form_poles/String'
import Number from '@/components/form_poles/Number'
import Catalog from '@/components/form_poles/Catalog'
import Catalog_outer_data from '@/components/form_poles/Catalog_outer_data'
import Email from '@/components/form_poles/Email'
import Select from '@/components/form_poles/Select'
import Select_ref from '@/components/form_poles/Select_ref'
import Bool from '@/components/form_poles/Bool'
import Date from '@/components/form_poles/Date'
import Table from '@/components/form_poles/Table'
import Table_data_submit from '@/components/form_poles/Table_data_submit'
import {validEmail} from '@/components/utils/validate'
const axios = require('axios');
export default{
	props: ['headings', 'value', 'disabled', 'use-helper', 'is-contact', 'delete-validate-rule', 'collection-path', 'hide-expand'],
	data: function () {
		return {
			inputValue : this.value,
			rowNumber:0,
			innerHeadings: this.headings,
			contacts: [],
			contactsSynonims: [],
			componentKey: 0,
			contactTemplate: {},
			deletePopUpHeader: "",
			deletePopUpText: "",
			contactsAdded: this.value,
			singles: [],
			needHelper: this.useHelper,
			deleteValidateRuleValue: this.deleteValidateRule,
			common: [],
			perms: [],
			adminRefKey: '',
			showHelper: false,
			showDeletePromt: false,
			catalogData:{},
			helper: {
				name : "",
				position : "",
				code: "",
				tel: "",
				email: "",
				desc: "--",
				role: {},
			},
			banArr: [],
			pageCount:0,			
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.inputValue);
		},
		addContact: function(flag){
			var res = []
			_.forEach(this.innerHeadings, (value, key) => {
				res.push(value.Type);
				this.contactsSynonims.push(value.Синоним);
			});
			if(this.contactsAdded.length <= this.contacts.length){
				this.contactsAdded.push({});	
			}
			this.$set(this.contacts,this.rowNumber,res);
			this.rowNumber++;
			if(flag !== true && this.needHelper){
				this.showHelper = true;
			}
		},
		showExpand(){
			if(this.hideExpand){
				return '123';
			}
			return 'expand';
		},
		loadData(){
			if(this.collectionPath)
			this.$refs.mainLoader.Show();
			axios.post('/api/base/?action=GetCatalogAllData&collection='+this.collectionPath) 
				.then((response) => {
					this.$refs.mainLoader.Hide();
					this.catalogData = response.data.result;
					this.pageCount = response.data.PAGE_COUNT;
				});
		},
		putHelperData: function(){
			let rindex = this.contactsAdded.length - 1;
			this.$set(this.contactsAdded[rindex], 0, this.helper.name);
			this.$set(this.contactsAdded[rindex], 1, this.helper.position);
			this.$set(this.contactsAdded[rindex], 2, this.helper.code);
			this.$set(this.contactsAdded[rindex], 3, this.helper.tel);
			this.$set(this.contactsAdded[rindex], 4, this.helper.email);
			this.$set(this.contactsAdded[rindex], 5, this.helper.desc);
			if(rindex === 0){

				this.$set(this.contactsAdded[rindex], 6, this.adminRefKey);
			}
			else{
				this.$set(this.contactsAdded[rindex], 6, this.helper.role.Ref_Key);
			}
			this.helper = {
				name : "",
				position : "",
				code: "",
				tel: "",
				email: "",
				desc: "--",
				role: {},
			};
		},
		returnType: function(type,tdindex){
			if(type === 'Edm.String'){
				if(this.contactsSynonims[tdindex] === "E-mail"){
					return "email";
				}
				if(this.contactsSynonims[tdindex] === "Номер телефона"){
					return "phone";
				}
				if(this.contactsSynonims[tdindex] === "Код страны"){
					return "code";
				}
				if(this.contactsSynonims[tdindex] === "Телефон"){
					return "phone";
				}
				if(this.contactsSynonims[tdindex] === "Описание"){
					return "desc";
				}
				return "string";
			}
			if(type === 'Edm.Boolean'){
				return "bool";
			}
			//костыль из-за косяка 1С
			if(type === 'Catalog_ПрофилиГруппДоступа'){
				return 'select_fake';
			}
			if(type === 'srm_РолиВКомандеПлановыеМероприятия'){
				return 'select';
			}
			//костыль из-за косяка 1С
			if(type === 'Catalog_КлассификаторОКВЭД2'){
				return 'catalog_multiple';
			}
			if(type === 'Catalog_srm_ЭТП'){
				return "catalog_no_error";
			}
			if(type.startsWith('Catalog')){
				return "catalog";
			}

		},
		getPerms:function(){
			axios({
				method: 'post',
				url: '/api/base/?action=getUserGroups'
			}).then((response) => {				
				this.perms = response.data.result.result;
				this.adminRefKey = this.perms[0].Ref_Key;
				//признак для поля которое можно выбрать только один раз
				this.perms[0].single = true;
				
			}).then(
				() => {
					this.checkSingles(this.perms);
				}
			);
			return this.perms;
		},
		contactSave: function(){
			this.$emit('input', this.contactsAdded);
		},
		isFirst: function(){
			if(this.rowNumber === 1){
				return true;
			}
			else{
				return false;
			}
		},
		fixHeaders: function(){
			//статичная структура из - за косяка 1с
			let temp = [
				{
					ВидимостьНаФорме: true,
					Синоним: "ФИО",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Должность",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Код страны",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Номер телефона",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "E-mail",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Описание",
					Type: "Edm.String"
				},
				{
					ВидимостьНаФорме: true,
					Синоним: "Доступ к порталу",
					Type: "Catalog_ПрофилиГруппДоступа"
				},
			];
			this.innerHeadings = temp;
		},
		//single - это поле в селекте, которое должно быть обязательно должно быть выбрано и только один раз. Тут мы проверяем их количество и выводим сначала
		checkSingles: function(perms){
			 
			_.forEach(this.perms, (value, key) => {
				if(value.single){
					this.singles.push(value);
				}
				else{
					this.common.push(value);
				}
			});
		},
		returnValues: function(){
			//так как при переходе на вкладку теряются строки этот костыль их возвращает
			_.forEach(this.contactsAdded, (value, key) => {
				this.addContact(true);
			});
		},

		makeBanArr: function(){
			this.banArr = [];
			_.forEach(this.contactsAdded, (value, key) => {	
				if(value[0]){
					this.banArr[value[0].Ref_Key] = value[0].Description;
				}
			});
		},
		deleteRow: function(rowId,value){
			if(this.deleteValidateRuleValue === 'qual'){
			this.deleteVaidate(value).then(()=>{
				if(!this.showDeletePromt){
					this.contactsAdded.splice(rowId,1);
					this.contacts.splice(rowId,1);
					this.rowNumber--;
					//force component to re-render, guess some reactivity problems
					this.componentKey++;
				}
			});
			}
			else{
				this.contactsAdded.splice(rowId,1);
				this.contacts.splice(rowId,1);
				this.rowNumber--;
				//force component to re-render, guess some reactivity problems
				this.componentKey++;
			}
			this.makeBanArr();
		},
		disableAllSwitches: function(){
			_.forEach(this.contactsAdded, (value, key) => {
				if(typeof this.contactsAdded[key][1] !== 'undefined'){
					this.contactsAdded[key][1] = false;
				}
			});
		},
		makeInitActive: function(hindex,tdindex){
			return (this.contactsAdded[hindex][tdindex])?this.contactsAdded[hindex][tdindex]:false;
		},
		makeInitActive: function(hindex,tdindex){
			return (this.contactsAdded[hindex][tdindex])?this.contactsAdded[hindex][tdindex]:false;
		},
		deleteVaidate: function(value){
			this.deletePopUpText = "";
			this.deletePopUpHeader = "";
			return axios({
				method: 'post',
				url: '/api/base/?action=GetShoppingCategories'
			}).then((response) => {
				_.forEach(response.data.result, (value2, key) => {
				if(value.Ref_Key === value2){
					this.deletePopUpHeader = "Удаление товарной категории " + value.Description + ' из анкеты номер '+ this.$route.query.id;
					this.showDeletePromt = true;
					}
				});
			});
			
		},
		sendLetter: function(){
			let dataToSend = new FormData();
			dataToSend.set("title", this.deletePopUpHeader);
			dataToSend.set("text", this.deletePopUpText);
			
			return axios({
				method: 'post',
				url: '/api/base/?action=DeleteAnketaMassage',
				data: dataToSend
			});
			
		},
		getRoleName: function(refKey,rowNumber){
			if(rowNumber === 0){
				return 'SRM Администратор портала';
			}
			else{
				let res;
				_.forEach(this.common, (value, key) => {
					if(refKey == value.Ref_Key){
						res = value.Description;
						
					}
				});
				return res;
			}
		}
		
		
	},
	mounted: function(){
		this.getPerms();
		this.returnValues();
		if(this.isContact){
			this.fixHeaders();
		}
		this.makeBanArr();
		this.loadData();
	},
	components:{
		"form-bool":Bool,
		"form-number":Number,
		"form-string":String,
		"form-date":Date,
		"form-catalog":Catalog,
		"Catalog-outer-data":Catalog_outer_data,
		"form-email":Email,
		"form-select":Select,
		"form-select-ref":Select_ref
	},
	watch: {
		contactsAdded:{
			handler: function(val, oldVal){
				var mainCount = 0;
				_.forEach(val, (value, key) => {
					if(value[1] === true)
					mainCount++;
				});
				if(mainCount > 1){
					setTimeout(this.disableAllSwitches, 1000);
					this.$vs.notify({title:'Ошибка',text:'Не может быть больше одного основного типа',color:'danger'})
				}
			this.makeBanArr();
			},
			deep: true
		}
	}
}

</script>