<template>
<div class="download_button">
	<!--{{finalData}}-->
	<vs-table hoverFlat :data="finalData">
		<template slot="thead">
			<vs-th class="th_number_table">№</vs-th>
			<vs-th class="th_all_table table_th" :key="heading.Синоним" v-for="heading in headings">{{heading.Синоним}}</vs-th>
		</template>
		<template>
				<vs-tr  v-for="(row, rindex) in finalData" :key="rindex">
					<vs-td>{{rindex+1}}</vs-td>
					<vs-td class="anketa_td">{{row.Название}}</vs-td>
					<vs-td class="anketa_td_3">
					<template v-if="returnType(row.ТипВопроса) === 'string'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-string  @input="returnValue()" :disabled="disabled" type="string" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.ТипВопроса) === 'number'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-number @input="returnValue()" :disabled="disabled" type="number" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.ТипВопроса) === 'catalog'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-catalog @input="returnValue()" :disabled="disabled" type="catalog" :collection="td" v-model="finalData[rindex].Ответ"/></span>
					</template>
					<template v-if="returnType(row.ТипВопроса) === 'catalog_multiple'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-catalog @input="returnValue()" :disabled="disabled" type="catalog_multiple" multipleval="true" :collection="td" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.ТипВопроса) === 'select_fake'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-select-ref @input="returnValue()" :disabled="disabled" type="select_ref" :options="perms"  v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.ТипВопроса) === 'select'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-select-ref @input="returnValue()" :disabled="disabled" :options="row.МножествоЗначений"  v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.ТипВопроса) === 'bool'">
						<form-bool  @input="returnValue()" :disabled="disabled" v-model="finalData[rindex].Ответ"  :initactive="makeInitActive(rindex)"/>
					</template>
					<template  @input="returnValue()" v-if="returnType(row.ТипВопроса) === 'date'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-date :disabled="disabled" type="date" v-model="finalData[rindex].Ответ"/></span>
					</template>
					</vs-td>
					<vs-td><div><label class="valutaSoCWidth arealabel">{{label}}</label>
						<textarea class="el-input__inner line_height width_input_popup texterea_text2 kom_ttexterea" :class="'form_textarea ' + classes" :disabled="disabled" @input="returnValue()" v-model="finalData[rindex].Коммент"></textarea>
					</div></vs-td>
				</vs-tr>
		</template>
	</vs-table>
</div>
</template>
<script>
import Vue from 'vue'
import String from '@/components/form_poles/String'
import Number from '@/components/form_poles/Number'
import Catalog from '@/components/form_poles/Catalog'
import Select from '@/components/form_poles/Select'
import Select_ref from '@/components/form_poles/Select_ref'
import Bool from '@/components/form_poles/Bool'
import Date from '@/components/form_poles/Date'
import Table from '@/components/form_poles/Table'
const axios = require('axios');
export default{
	props: ['headings', 'questions', 'value', 'disabled'],
	data: function () {
		return {
			finalData : [],
		}
	},
	methods:{
		getData: function(){
			_.forEach(this.questions, (value, key) => {
					this.finalData.push(value); 
			});
		},
		returnValue(){	
			this.$emit('input', this.finalData);
		},
		getSpheresRef: function(){
			_.forEach(this.allSpheres, (value, key) => {
				this.sphereRefs.push(value[0].Ref_Key)	
			});
		},
		returnType: function(type){
			if(type === 'Число'){
				return "number";
			}
			if(type === 'Строка'){
				return "string";
			}
			if(type === 'Дата'){
				return "date";
			}
			if(type === 'ВыборИзМножества'){
				return "select";
			}
			if(type === 'Булево'){
				return "bool";
			}
			return 'uknown type';
		},

		makeInitActive: function(rindex){
			return (this.finalData[rindex].Ответ)?this.finalData[rindex].Ответ:false;
		},
		save: function(rindex){
			let dataToSend = new FormData();
			_.forEach(this.finalData, (value, key) => {
				dataToSend.set("data[Вопрос]["+key+"][Ref_Key]", value.Ref_Key);
				dataToSend.set("data[Вопрос]["+key+"][ТоварнаяКатегория_Name]", value.ТоварнаяКатегория_Name);
				if(value.Ответ){
					dataToSend.set("data[Вопрос]["+key+"][Ответ]", value.Ответ);
				}
				else{
					dataToSend.set("data[Вопрос]["+key+"][Ответ]", "");
				}
				
			});
			return axios({
				method: 'post',
				url: '/api/base/?action=DownloadAnketaQuestion',
				data: dataToSend
			}).then((response) =>{
				this.downloadLink(response.data.url);
			});
		},
		downloadLink: function(url){
			var link_url = document.createElement("a");
			link_url.download = url.substring((url.lastIndexOf("/") + 1), url.length);
			link_url.href = url;
			document.body.appendChild(link_url);
			link_url.click();
			document.body.removeChild(link_url);

		}
	
	},
	components:{
		"form-string":String,
		"form-select":Select,
		"form-number":Number,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-bool":Bool,
		"form-select-ref":Select_ref
	},
	created: function(){
		this.getSpheresRef();
		this.getData();
		
		
	},
	watch: {
		sphere: function(val, oldVal){
			this.allSpheres = this.sphere;
		},
		questions: function(val, oldVal){
			this.questions = val;
		},
		value: function(val, oldVal){
			this.value = val;
		}
	}
}
</script>