<template>
<div class="download_button">
	<button class="el-button filter-item k3" @click="save" type="button">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0V0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" d="M20.55 5.22l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.15.55L3.46 5.22C3.17 5.57 3 6.01 3 6.5V19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.49-.17-.93-.45-1.28zM12 9.5l5.5 5.5H14v2h-4v-2H6.5L12 9.5zM5.12 5l.82-1h12l.93 1H5.12z"/></svg>
		<span>Скачать</span></button>
	<!--{{finalData}}-->
	<vs-table hoverFlat :data="finalData">
		<template slot="thead">
			<vs-th class="th_number_table">№</vs-th>
			<vs-th class="th_all_table table_th" :key="heading.Синоним" v-for="heading in headings">{{heading.Синоним}}</vs-th>
		</template>
		<template slot-scope="{data}">
			<vs-tr  v-for="(row, rindex) in finalData" :key="rindex">
				<vs-td>{{rindex+1}}</vs-td>
				<vs-td class="anketa_td">{{row.ВопросПоставщику}}</vs-td>
				<vs-td class="anketa_td_3">
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'string'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-string  @input="returnValue()" :disabled="disabled" type="string" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'number'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-number @input="returnValue()" :disabled="disabled" type="number" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'catalog'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-catalog @input="returnValue()" :disabled="disabled" type="catalog" :collection="td" v-model="finalData[rindex].Ответ"/></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'catalog_multiple'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-catalog @input="returnValue()" :disabled="disabled" type="catalog_multiple" multipleval="true" :collection="td" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'select_fake'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-select-ref @input="returnValue()" :disabled="disabled" type="select_ref" :options="perms"  v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'select'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-select-ref @input="returnValue()" :disabled="disabled" getobject="true" :options="row.МножествоЗначений"  v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'bool'">
						<form-bool  @input="returnValue()" :disabled="disabled" v-model="finalData[rindex].Ответ"  :initactive="makeInitActive(rindex)"/>
					</template>
					<template  @input="returnValue()" v-if="returnType(row.КритерийОтветаПоставщика) === 'date'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-date :disabled="disabled" type="date" v-model="finalData[rindex].Ответ"/></span>
					</template>
				</vs-td>					
				<vs-td><div ><label class="valutaSoCWidth arealabel">{{label}}</label>
					<textarea class="el-input__inner line_height width_input_popup texterea_text2 kom_ttexterea" :class="'form_textarea ' + classes" :disabled="disabled" @input="returnValue()" v-model="finalData[rindex].Коммент"></textarea>
				</div></vs-td>
				<!--<vs-td><form-string @input="returnValue()" :disabled="disabled" v-model="finalData[rindex].Коммент"/>
				</vs-td>-->
			</vs-tr>
		</template>
	</vs-table>
</div>
</template>
<script>
import Vue from 'vue'
import String from '@/components/form_poles/String'
import Number from '@/components/form_poles/Number'
import Catalog from '@/components/form_poles/Catalog'
import Select from '@/components/form_poles/Select'
import Select_ref from '@/components/form_poles/Select_ref'
import Bool from '@/components/form_poles/Bool'
import Date from '@/components/form_poles/Date'
import Table from '@/components/form_poles/Table'
const axios = require('axios');
const moment = require('moment');
export default{
	props: ['headings', 'questions', 'value', 'disabled','loaded'],
	data: function () {
		return {
			finalData : [],
		}
	},
	methods:{
		getData: function(){
			_.forEach(this.questions, (value, key) => {
					value = this.checkLoadedAnswer(value);
					this.finalData.push(value); 
			});
		},
		returnValue(){	
			this.$emit('input', this.finalData);
		},
		checkLoadedAnswer: function(answer){
			if(this.loaded && this.loaded.length){
				_.forEach(this.loaded, (value, key) => {
					if(answer.ВопросДляСамооценки_Key === value.Ref_Key){
						if(value.Тип === 'Выбор Из Множества'){
							answer.Ответ = { "Ref_Key": value.Ref_Key,  "LineNumber":  this.getLineNumber(answer.МножествоЗначений,value.Ответ_value.Ref_Key), "Наименование_Key": value.Ответ_value.Ref_Key, "Description": value.Ответ };
						}
						else{
							if(value.Тип === 'Дата'){
								answer.Ответ = moment(value.Ответ).format('YYYY-MM-DD');
							}
							else{
								answer.Ответ = value.Ответ;
							}
						}
						answer.Коммент = value.Коммент;
						
					}
				});
			}
			return answer;
		},
		returnType: function(type){
			if(type === 'Число'){
				return "number";
			}
			if(type === 'Строка'){
				return "string";
			}
			if(type === 'Дата'){
				return "date";
			}
			if(type === 'ВыборИзМножества'){
				return "select";
			}
			if(type === 'Булево'){
				return "bool";
			}
			return 'uknown type';
		},

		makeInitActive: function(rindex){
			return (this.finalData[rindex].Ответ)?this.finalData[rindex].Ответ:false;
		},
		save: function(rindex){
			let dataToSend = new FormData();
			dataToSend.set("type", "self_assessment_sheet");
			_.forEach(this.finalData, (value, key) => {
				dataToSend.set("data[Вопрос]["+key+"][Ref_Key]", value.ВопросДляСамооценки_Key);
				if(value.Ответ){
					dataToSend.set("data[Вопрос]["+key+"][Ответ]", value.Ответ);
				}
				else{
					dataToSend.set("data[Вопрос]["+key+"][Ответ]", "");
				}
				if(value.Коммент){
					dataToSend.set("data[Вопрос]["+key+"][Коммент]", value.Коммент);
				}
				else{
					dataToSend.set("data[Вопрос]["+key+"][Коммент]", "");
				}
			});
			return axios({
				method: 'post',
				url: '/api/base/?action=DownloadAnketaQuestion',
				data: dataToSend
			}).then((response) =>{
				this.downloadLink(response.data.url);
			});
		},
		downloadLink: function(url){
			var link_url = document.createElement("a");
			link_url.download = url.substring((url.lastIndexOf("/") + 1), url.length);
			link_url.href = url;
			document.body.appendChild(link_url);
			link_url.click();
			document.body.removeChild(link_url);

		},
		getLineNumber: function(array,value){
			let res = 0;
			_.forEach(array, (value2, key) => {
				if(value2.Наименование_Key === value){
					res = key + 1;
				}
			
			});
			return res;
		},
	
	},
	components:{
		"form-string":String,
		"form-select":Select,
		"form-number":Number,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-bool":Bool,
		"form-select-ref":Select_ref
	},
	created: function(){
		this.getData();
		
		
	},
	watch: {
		questions: function(val, oldVal){
			this.questions = val;
		},
		value: function(val, oldVal){
			this.value = val;
		}
	}
}
</script>