<template>
<div class="download_button">
	<button v-if="$route.query.mode !== 'open'" class="el-button filter-item k2" @click="save" type="button">
	<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0V0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" d="M20.55 5.22l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.15.55L3.46 5.22C3.17 5.57 3 6.01 3 6.5V19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.49-.17-.93-.45-1.28zM12 9.5l5.5 5.5H14v2h-4v-2H6.5L12 9.5zM5.12 5l.82-1h12l.93 1H5.12z"/></svg>
	<span>Скачать</span></button>
	<vs-table hoverFlat :data="finalData">
		<template slot="thead">
			<vs-th class="th_number_table">№</vs-th>
			<vs-th class="th_number_table">Категория</vs-th>
			<vs-th class="th_all_table table_th" :key="heading.Синоним" v-for="heading in headings">{{heading.Синоним}}</vs-th>
		</template>
		<template slot-scope="{data}">
			<vs-tr  v-for="(row, rindex) in finalData" :key="rindex">
				<vs-td>{{rindex+1}}</vs-td>
				<vs-td>{{row.ТоварнаяКатегория_Name}}</vs-td>
				<vs-td class="anketa_td">{{row.Description}}</vs-td>
				<vs-td class="anketa_td_3">
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'string'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-string  @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" type="string" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'number'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-number @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" type="number" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'catalog'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-catalog @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" type="catalog" :collection="td" v-model="finalData[rindex].Ответ"/></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'catalog_multiple'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-catalog @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" type="catalog_multiple" multipleval="true" :collection="td" v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'select_fake'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-select-ref @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" type="select_ref" :options="perms"  v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'select'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-select-ref @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" getobject="true" :options="row.МножествоЗначений"  v-model="finalData[rindex].Ответ" /></span>
					</template>
					<template v-if="returnType(row.КритерийОтветаПоставщика) === 'bool'">
						<form-bool  @input="returnValue()" :disabled="chekedDisabled(disabled, finalData[rindex])" v-model="finalData[rindex].Ответ"  :initactive="makeInitActive(rindex)"/>
					</template>
					<template @input="returnValue()" v-if="returnType(row.КритерийОтветаПоставщика) === 'date'">
						<span :class="{'isError':!finalData[rindex].Ответ}"><form-date :disabled="chekedDisabled(disabled, finalData[rindex])" type="date" v-model="finalData[rindex].Ответ"/></span>
					</template>
				</vs-td>
			</vs-tr>
		</template>
	</vs-table>
</div>
</template>
<script>
import Vue from 'vue'
import String from '@/components/form_poles/String'
import Number from '@/components/form_poles/Number'
import Catalog from '@/components/form_poles/Catalog'
import Select from '@/components/form_poles/Select'
import Select_ref from '@/components/form_poles/Select_ref'
import Bool from '@/components/form_poles/Bool'
import Date from '@/components/form_poles/Date'
import Table from '@/components/form_poles/Table'
const axios = require('axios');
const moment = require('moment');
export default{
	props: ['headings', 'questions', 'value', 'disabled', 'sphere','answeredQuestions','loaded'],
	data: function () {
		return {
			finalData : [],
			baseQuestionsCount: 0,
			allSpheres: this.sphere,
			sphereRefs: [],
			nonAnswerQuestion: [],
		}
	},
	methods:{
		getData: function(){
					
			
			_.forEach(this.questions, (value, key) => {		
				if(this.$route.query.mode !== 'НаправлениеДокументовАккредитации'){
					if(value.ТоварнаяКатегория_Key === '00000000-0000-0000-0000-000000000000'){
						//проверяем не прогружали ли ответ из файла анкеты
						//почему-то мы закоментили эту строчку и собственно не грузилось в /anketa из файла
						value = this.checkLoadedAnswer(value);
							this.finalData.push(value); 				
							this.baseQuestionsCount++;
					}
				}
			});
			_.forEach(this.questions, (value, key) => {
				_.forEach(this.allSpheres, (value2, key2) => {
					if(value.ТоварнаяКатегория_Key === value2[0].Ref_Key){
							value = this.checkLoadedAnswer(value);
							this.finalData.push(value); 							
					}
				});
			});

			this.returnValue();
		},
		returnValue(){	
			this.$emit('input', this.finalData);
		},
		getSpheresRef: function(){
			_.forEach(this.allSpheres, (value, key) => {
				this.sphereRefs.push(value[0].Ref_Key)	
			});
		},
		returnType: function(type){
			if(type === 'Число'){
				return "number";
			}
			if(type === 'Строка'){
				return "string";
			}
			if(type === 'Дата'){
				return "date";
			}
			if(type === 'ВыборИзМножества'){
				return "select";
			}
			if(type === 'Булево'){
				return "bool";
			}
			return 'unknown type';
		},

		makeInitActive: function(rindex){
			return (this.finalData[rindex].Ответ)?this.finalData[rindex].Ответ:false;
		},
		checkLoadedAnswer: function(answer){
			if(this.loaded && this.loaded.length){
				_.forEach(this.loaded, (value, key) => {
					if(answer.ТоварнаяКатегория_Name === value.Товарная_категория && answer.Ref_Key === value.Ref_Key){
						if(value.Тип === 'Выбор Из Множества'){
							answer.Ответ = { "Ref_Key": value.Ref_Key,  "LineNumber":  this.getLineNumber(answer.МножествоЗначений,value.Ответ_value.Ref_Key), "Наименование_Key": value.Ответ_value.Ref_Key, "Description": value.Ответ };
						}
						else{
							if(value.Тип === 'Дата'){
								answer.Ответ = moment(value.Ответ).format('YYYY-MM-DD');
							}
							else{
								answer.Ответ = value.Ответ;
							}
						}
					}
				});
			}
			return answer;
		},
		save: function(rindex){
			let dataToSend = new FormData();
			dataToSend.set("type", "anketa");
			_.forEach(this.finalData, (value, key) => {
				dataToSend.set("data[Вопрос]["+key+"][Ref_Key]", value.Ref_Key);
				dataToSend.set("data[Вопрос]["+key+"][ТоварнаяКатегория_Name]", value.ТоварнаяКатегория_Name);
				if(value.Ответ){
					dataToSend.set("data[Вопрос]["+key+"][Ответ]", value.Ответ);
				}
				else{
					dataToSend.set("data[Вопрос]["+key+"][Ответ]", "");
				}
				
			});
			return axios({
				method: 'post',
				url: '/api/base/?action=DownloadAnketaQuestion',
				data: dataToSend
			}).then((response) =>{
				this.downloadLink(response.data.url);
			});
		},
		getLineNumber: function(array,value){
			let res = 0;
			_.forEach(array, (value2, key) => {
				if(value2.Наименование_Key === value){
					res = key + 1;
				}
			
			});
			return res;
		},
		downloadLink: function(url){
			var link_url = document.createElement("a");
			link_url.download = url.substring((url.lastIndexOf("/") + 1), url.length);
			link_url.href = url;
			document.body.appendChild(link_url);
			link_url.click();
			document.body.removeChild(link_url);

		},
		chekedDisabled: function(disabled, answer){
			if(this.$route.query.mode === 'open'){
				return true;	
			}
			/*
			let newQuestion = true;
			//если вопрос новый то всегда не дизейбл
			_.forEach(this.answeredQuestions, (value, key) => {
				if(value.Вопрос_Key === answer.Ref_Key){
					newQuestion = false;
				}
			});
			if(newQuestion){
				return false;
			}
			if(!answer.Ответ){
				this.nonAnswerQuestion[answer.Ref_Key] = answer.Ref_Key;				
				return false;				
			}
			if(this.nonAnswerQuestion[answer.Ref_Key]) {
				return false;	
			}
			*/
			return false;				
		},	
	},
	components:{
		"form-string":String,
		"form-select":Select,
		"form-number":Number,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-bool":Bool,
		"form-select-ref":Select_ref
	},
	mounted: function(){
		this.getSpheresRef();
		this.getData();
	console.log(this.allSpheres);
	},
	watch: {
		sphere: function(val, oldVal){
			this.allSpheres = this.sphere;
		},
		questions: function(val, oldVal){
			this.questions = val;
		},
		value: function(val, oldVal){
			this.value = val;
		},
	}
}
</script>