 <template>
    <div class="table_box-shadow-2 tov_so_card">
	<a class="blue_redact" v-if="!disabled" :href="'/api/base/?action=GetRequestProposalsXls&refkey=' + $route.query.ref">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="24" height="24" viewBox="0 0 24 24"><defs><path id="a" d="M0 0h24v24H0V0z"/></defs><clipPath id="b"><use xlink:href="#a" overflow="visible"/></clipPath><path clip-path="url(#b)" d="M20.55 5.22l-1.39-1.68C18.88 3.21 18.47 3 18 3H6c-.47 0-.88.21-1.15.55L3.46 5.22C3.17 5.57 3 6.01 3 6.5V19c0 1.1.89 2 2 2h14c1.1 0 2-.9 2-2V6.5c0-.49-.17-.93-.45-1.28zM12 9.5l5.5 5.5H14v2h-4v-2H6.5L12 9.5zM5.12 5l.82-1h12l.93 1H5.12z"/></svg>
			<span>Скачать шаблон</span></a>
	<span v-if="!disabled"  @click="showLoad = true" class="blue_redact">
		<svg class="svg_color_fill_download" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M19 12v7H5v-7H3v7c0 1.1.9 2 2 2h14c1.1 0 2-.9 2-2v-7h-2zm-6 .67l2.59-2.58L17 11.5l-5 5-5-5 1.41-1.41L11 12.67V3h2z"/><path fill="none" d="M0 0h24v24H0z"/></svg>
			<span>Загрузить товары</span></span>
	<span v-if="!disabled" class="redact" @click="editMode = !editMode">
		<svg style="fill:white;height:21px;margin:-5px 0px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path d="M3 17.25V21h3.75L17.81 9.94l-3.75-3.75L3 17.25zM20.71 7.04c.39-.39.39-1.02 0-1.41l-2.34-2.34c-.39-.39-1.02-.39-1.41 0l-1.83 1.83 3.75 3.75 1.83-1.83z"/><path d="M0 0h24v24H0z" fill="none"/></svg>
		Скорректировать</span><br />
		<div v-if="showLoad" class="blue_top">
			<vs-upload fileName="files[]" @on-success="loadFileAnswer" multiple action="/api/base/?action=UploadFile"/>
		</div>
	<vs-table :key="rerenderKey" class="text_grey t_goods" stripe hoverFlat search :data="nomenclature">
			<template slot="thead">
				<vs-th v-if="editMode"></vs-th>
				<vs-th v-if="editMode"></vs-th>
				<vs-th sort-key="LineNumber" style="padding:15px;">№</vs-th>
				<vs-th sort-key="Артикул" style="padding:15px;">Артикул</vs-th>	
				<vs-th sort-key="Наименование" style="padding:15px;">Номенклатура</vs-th>	
				<vs-th sort-key="Наименование" style="padding:15px;">Номенклатура поставщика</vs-th>					
				<vs-th sort-key="ЕдиницаИзмерения" style="padding:15px;">Ед.изм.</vs-th>
				<vs-th sort-key="ОбщееКоличество" style="padding:15px;">Кол-во в запросе</vs-th>	
				<vs-th sort-key="Периоды" style="padding:15px;">Периоды поставки</vs-th>
				<vs-th sort-key="ОбщееКоличество" style="padding:15px;">Кол-во по предложениям</vs-th>					
				<vs-th sort-key="Цена" style="padding:15px;">Цена за ед.(без НДС)</vs-th>	
				<vs-th sort-key="СтавкаНДС" style="padding:15px;">Стоимость упак.за ед.(без НДС)</vs-th>	
				<vs-th sort-key="ЦенаСНДС" style="padding:15px;">Стоимость ТЗР за ед.(без НДС)</vs-th>
				<vs-th sort-key="Цена" style="padding:15px;">Итоговая Цена за ед.(без НДС)</vs-th>					
				<vs-th sort-key="СтавкаНДС" style="padding:15px;">Ставка НДС</vs-th>	
				<vs-th sort-key="ЦенаСНДС" style="padding:15px;">Итоговая цена за единицу с НДС</vs-th> 				
				<vs-th sort-key="Цена" style="padding:15px;">Сумма без НДС</vs-th>	
				<vs-th sort-key="Цена" style="padding:15px;">Сумма НДС</vs-th>	
				<vs-th sort-key="СтоимостьСНДС" style="padding:15px;">Сумма с НДС</vs-th>				
			</template>
			<template slot-scope="{data}">
			<vs-tr :key="indextr" v-for="(tr, indextr, index) in data">
				<vs-td  v-if="editMode"> <vs-checkbox :disabled="isCheckBoxDisabled(data[indextr].srm_ТоварнаяКатегория_Key)" color="success" v-model="allData[indextr].rowChecked"></vs-checkbox></vs-td>
				<vs-td  v-if="editMode" style="cursor: pointer;"><div  v-if="allData[indextr].rowChecked" @click="editGood(tr,indextr,index,allData)"><vs-icon data-description="Изменить" class="korzina korzina2 korzina_text" icon="create"></vs-icon></div></vs-td>
				<vs-td :data="data[indextr].LineNumber">{{indextr +1}}</vs-td>
				<vs-td :data="data[indextr].Артикул">{{data[indextr].Артикул}}</vs-td>	
				<vs-td :data="data[indextr].Наименование">{{data[indextr].Наименование}}</vs-td>				
				<vs-td :data="data[indextr].НоменклатураПоставщика">
				<span>{{allData[indextr].Nomenkltatura}}</span>
				<span v-if="allData[indextr] && isCheckBoxDisabled(data[indextr].srm_ТоварнаяКатегория_Key) === true && onlyFull" :class="{'isError':!allData[indextr].Nomenkltatura}" style="color:red">Отсутствует аккредитация</span>
				</vs-td>			
				<vs-td :data="data[indextr].ЕдиницаИзмерения">{{data[indextr].ЕдиницаИзмерения}}</vs-td>
				<vs-td :data="data[indextr].ОбщееКоличество">{{data[indextr].ОбщееКоличество}}</vs-td>
				<vs-td :data="data[indextr].Периоды">
					<table>
						<thead v-if="isCheckBoxDisabled(data[indextr].srm_ТоварнаяКатегория_Key) === false">
							<th :key="index" v-for="(period,pkey, index) in allData[indextr].periods" class="nowrap">{{period.ПериодПланирования_format}}</th>
						</thead>
						<tbody  v-if="isCheckBoxDisabled(data[indextr].srm_ТоварнаяКатегория_Key) === false">
							<td :key="index" v-for="(period,pkey,index) in allData[indextr].periods">{{allData[indextr].periods[pkey].Количество}}</td>
						</tbody>
					</table>
				</vs-td>
				<vs-td>{{getPeriodsSumm(indextr)}}</vs-td>
				<vs-td><span >{{allData[indextr].pricePerThingWithoutNDS}}</span></vs-td>
				<vs-td> {{allData[indextr].wrapPriceWithoutNDS}}</vs-td>
				<vs-td> {{allData[indextr].TZR}}</vs-td>
				<vs-td>{{getPriceSumm(indextr)}}</vs-td>
				<vs-td :data="data[indextr].СтавкаНДС">
					<select disabled="true" v-model="allData[indextr].selectedNDS" v-if="isCheckBoxDisabled(data[indextr].srm_ТоварнаяКатегория_Key) === false">
						<option value="1.0">Без НДС</option>
						<option value="1">0%</option>
						<option value="1.1">10%</option>
						<option value="1.2">20%</option>
					</select>
					<br/><br />
				</vs-td>
				<vs-td>{{getPriceWithNDS(indextr)}}</vs-td>	
				<vs-td>{{getPriceWithOutNDS(indextr)}}</vs-td>	
				<vs-td>{{getPriceSummWithOutNDS(indextr)}}</vs-td>	
				<vs-td>{{getPriceSummWithNDS(indextr)}}</vs-td>

			</vs-tr>		
			<input style="display: none;" v-model="allData.totalP"/>
		  </template>
		 
		</vs-table>

<vs-prompt id="goodpromt" :is-valid="typeof editProduct.NDS !=='undefined'" accept-text="принять" cancel-text="отмена" title="Редактирование товара" @accept="madeEdit(editProduct)" :active.sync="showEditPromt">
	
	<div class="edit_RSC text_grey">	
		<vs-table class="text_grey" :data="editProduct">
			<template slot="thead">
				<vs-th style="width: 10%;">№</vs-th>
				<vs-th style="width: 30%;">Артикул</vs-th>	
				<vs-th style="width: 30%;">Номенклатура</vs-th>
				<vs-th style="width: 30%;">Номенклатура Поставщика</vs-th>
			</template>
			<template>
			<vs-tr>
				<vs-td>1</vs-td>
				<vs-td>{{editProduct.Articul}}</vs-td>
				<vs-td>{{editProduct.NomenkltaturaBase}}</vs-td>
				<vs-td><form-string v-model="editProduct.Nomenkltatura" /></vs-td>	
			</vs-tr>			
		  </template>
		</vs-table>	
		
		<vs-table class="text_grey" :data="editProduct">
			<template slot="thead">
				<vs-th></vs-th>
				<vs-th>Единица измерения</vs-th>	
				<vs-th>Количество в запросе</vs-th>
				<vs-th>Кол-во по предложениям</vs-th>
			</template>
			<template>
			<vs-tr>
				<vs-td>Периоды поставки</vs-td>
				<vs-td>{{editProduct.ЕдиницаИзмерения}}</vs-td>
				<vs-td>{{editProduct.ОбщееКоличество}}</vs-td>
				<vs-td>{{getPeriodsSummEdit(editPeriods)}}</vs-td>	
				<template slot="expand">
				<div class="expand_div_checkbox">	  
				  <div class="leftstr nowrap">
					  
					<vs-table>
					<template>
							<vs-th>Период планирования</vs-th>
							<vs-th>Количество</vs-th>
							<vs-th>Количество в запросе</vs-th>
					</template>
					<template>
						<vs-tr :key="index" v-for="(period,key,index) in editPeriods">							
							<vs-td :key="index">{{period.ПериодПланирования_format}}</vs-td>
							<vs-td :key="index"><input class="el-input__inner_Select" :disabled="!onlyFull" type="number" v-model="period.Количество"/></vs-td>
							<vs-td>{{period.BaseCount}}</vs-td>
						</vs-tr>
					</template>
					</vs-table>
				  </div>
				</div>
				</template>
				</vs-tr>			
		  </template>
		</vs-table>


		<vs-table class="text_grey popap_RSC" :data="editProduct">
			<template slot="thead">
				<vs-th style="width: 48%;"></vs-th>
				<vs-th style="width: 4%;"></vs-th>	
				<vs-th style="width: 48%;"></vs-th>					
			</template>
			<template>
			<vs-tr>
				<vs-td class="nowrap popup_border"><form-number  @input="changeSums(editProduct)" @change="changeSums(editProduct)" v-model="editProduct.Price" label="Цена за ед.(без НДС):" /></vs-td>
				<vs-td rowspan="3">	<div class="braces"><div class="curly"></div></div></vs-td>
				<vs-td rowspan="3" style="font-weight: bolder;"><span>Итоговая Цена за ед.(без НДС):</span>{{getPriceSummEdit(editProduct)}}<br /><br />
				<span>Сумма без НДС:</span> {{getPriceWithOutNDSEdit(editProduct)}}</vs-td>
			</vs-tr>
			<vs-tr>
				<vs-td class="nowrap"><form-number @input="changeSums(editProduct)" @change="changeSums(editProduct)" v-model="editProduct.wrapPrice" label="Стоимость упак.за ед.(без НДС):" /></vs-td>
			</vs-tr>
			<vs-tr>
				<vs-td class="nowrap"><form-number @input="changeSums(editProduct)" @change="changeSums(editProduct)" v-model="editProduct.TZR" label="Стоимость ТЗР за ед.(без НДС)" /></vs-td>
			</vs-tr>
			<vs-tr>
				<vs-td class="nowrap"><label>Ставка НДС:</label><select v-on:change="changeSums(editProduct)" :class="{'isError':typeof editProduct.NDS ==='undefined'}" v-model="editProduct.NDS" class="el-input__inner_Select" style="margin-left: 4px;">
					<option value="1.0">Без НДС</option><option value="1">0%</option><option value="1.1">10%</option><option value="1.2">20%</option></select></vs-td>
				<vs-td></vs-td>
				<vs-td style="font-weight: bolder;"><span>Сумма НДС:</span>{{ndsSumEdit}}</vs-td>				
			</vs-tr>	
			<vs-tr>
				<vs-td style="font-weight: bolder;"><span style="width: initial">Итоговая цена за единицу с НДС</span><span style="margin-left: 73px;">{{ndsSumWithNdsEdit}}</span></vs-td>
				<vs-td></vs-td>
				<vs-td style="font-weight: bolder;"><span style="width: initial">Сумма с НДС:</span> {{getPriceSummWithNDSEdit(editProduct)}}</vs-td>
			</vs-tr>			
		  </template>
		</vs-table>			
		
	</div>
</vs-prompt> 
	</div>
</template> 
<script>
import Vue from 'vue'
import String from '@/components/form_poles/String'
import Number from '@/components/form_poles/Number'
import Catalog from '@/components/form_poles/Catalog'
import Select from '@/components/form_poles/Select'
import Select_ref from '@/components/form_poles/Select_ref'
import Bool from '@/components/form_poles/Bool'
import Date from '@/components/form_poles/Date'
import Table from '@/components/form_poles/Table'
import {isDefined} from '@/components/utils/validate'
const axios = require('axios');
const moment = require('moment');
export default{
	props: [ 'value','data', 'disabled', 'steps', 'onlyFull'],
	data: function () {
		return {
			allData : this.value,
			nomenclature:this.data,
			showEditPromt:false,
			checkBox2:false,
			showLoad:false,
			categories:{},
			editProduct:{
				Nomenkltatura: "",
				Price: 0,
				wrapPrice:0,
				TZR:0,
				Number: 0,
				Articul:"",
				NomenkltaturaBase: "",
				ОбщееКоличество: "",
				ЕдиницаИзмерения: ""
			},
			ndsSumEdit:0,
			ndsSumWithNdsEdit:0,
			editId : -1,
			editPeriods : {},
			editMode : false,
			rerenderKey:0,
			step:this.steps
		}
	},
	mounted: function(){
		this.fillRowObjects();
		this.getShoppingCategories();
		this.setChecks();
	},
	methods:{
		//если можно подавать только целиком проставляем галки и дизейбл на них
		setChecks: function(){
			if(!this.onlyFull){
				_.forEach(this.nomenclature, (value, key) => {
					this.allData[key].rowChecked = true;
				});
			}
			
		},
		//Запись данных попап - в редактировании - во вклдаке "Товары"
		fillRowObjects: function(){
			_.forEach(this.nomenclature, (value, key) => {
				let rowCheck = false;
				let nomenklatur = "";
				let cena = 0;	
				let stoimoste = 0;
				let stTZR = 0;	
				let stavka = 1;	
				let ЕдиницаИзмерения_Key = "";			
				let Номенклатура_Key = "";	
				ЕдиницаИзмерения_Key = value.ЕдиницаИзмерения_Key
				Номенклатура_Key = value.Номенклатура_Key
				//Проставление данных если переторжка
				if (this.step === '3'){
					nomenklatur = value.НаименованиеНоменклатурыПоставщика;
					cena = value.ЦенаБезНДС;
					stoimoste = value.СтоимостьУпаковки;
					stTZR = value.ТЗР;
					stavka = this.parseNds(value.СтавкаНДС);			
				}

				if (this.allData[key]){
					rowCheck = this.allData[key].rowChecked
					nomenklatur = this.allData[key].Nomenkltatura
					cena = this.allData[key].pricePerThingWithoutNDS
					stoimoste = this.allData[key].wrapPriceWithoutNDS
					stTZR = this.allData[key].TZR
					stavka = this.allData[key].selectedNDS					
				}				
				//ToDo more agile
				this.$set(this.allData,key,	{
				rowChecked:rowCheck,
				Nomenkltatura:nomenklatur,
				pricePerThingWithoutNDS:cena, 
				priceWithoutNDS:0, 
				wrapPriceWithoutNDS: stoimoste, 
				TZR:stTZR,
				selectedNDS:stavka,
				ЕдиницаИзмерения_Key:ЕдиницаИзмерения_Key,
				Номенклатура_Key:Номенклатура_Key,
				});
				if(value.Периоды){
					this.allData[key]['periods'] = {};
					_.forEach(value.Периоды, (value2, key2) => {
						if (this.step === '10'){
							value2.Количество = 0;
							if(value2.КоличествоПоставщика) {
								value2.Количество = parseInt(value2.КоличествоПоставщика)
							}
						}
						this.allData[key]['periods'][key2] = value2;
						
					});
				}
			});
		},
		getPeriodsSumm: function(key){
			let summ = 0;
			_.forEach(this.allData[key]['periods'], (value2, key2) => {
				summ += parseFloat(value2.Количество);
			})
			return summ.toFixed(2);
		},
		getPeriodsSummEdit: function(arr){
			let summ = 0;
			_.forEach(arr, (value2, key2) => {
				summ += parseFloat(value2.Количество);
			})
			return summ.toFixed(2);
		},
		
		getPriceSumm: function(key){
			if(this.allData[key]){
				this.allData[key].TZR = isDefined(this.allData[key].TZR)?this.allData[key].TZR:0;
				this.allData[key].pricePerThingWithoutNDS = (this.allData[key] && isDefined(this.allData[key].pricePerThingWithoutNDS)) ?this.allData[key].pricePerThingWithoutNDS :0;
				this.allData[key].wrapPriceWithoutNDS = isDefined(this.allData[key].wrapPriceWithoutNDS)?this.allData[key].wrapPriceWithoutNDS:0;
				return parseFloat(this.allData[key].pricePerThingWithoutNDS) + parseFloat(this.allData[key].wrapPriceWithoutNDS) + parseFloat(this.allData[key].TZR);	
			}
		},
		
		getPriceSummEdit: function(arr){
			if(arr){
				return parseFloat(arr.Price) + parseFloat(arr.wrapPrice) + parseFloat(arr.TZR);	
			}
		},
		loadFileAnswer: function(resp){
			let fileSaveResp = JSON.parse(resp.target.response);
			let fileId = fileSaveResp.result.files[0].id;
			let dataToSend = new FormData();
			dataToSend.set("data[fileId]", fileId);
			return axios({
					method: 'post',
					url: '/api/base/?action=UploadRequestProposalsXls',
					data:dataToSend
				}).then((response) => {
					_.forEach(response.data, (value, key) => {
						_.forEach(this.nomenclature, (value2, key2) => {
							if(value.Номенклатура_Key === value2.Номенклатура_Key && value.Проект_Key === value2.Проект_Key){
								this.$set(this.allData[key2],'Nomenkltatura', value.НоменклатураПоставщика);
								this.$set(this.allData[key2],'TZR', value.СтоимостьТЗРЗаЕдБезНДС);
								this.$set(this.allData[key2],'wrapPriceWithoutNDS', value.СтоимостьУпаковкиЗаЕдБезНДС);
								this.$set(this.allData[key2],'pricePerThingWithoutNDS', value.ЦенаЗаЕдБезНДС);
								if(!this.onlyFull){
									this.$set(this.allData[key2],'periods', value.Периоды);
								}
								else{
									this.$set(this.allData[key2],'periods', value2.Периоды);
								}
								this.$set(this.allData[key2],'rowChecked', true);
								this.$set(this.allData[key2],'selectedNDS', this.parseNds(value.СтавкаНДС));	
							}
						});
			
						//this.$set(this.nomenclature[value['Номенклатура_Key']],'Наименование', '123');
					});
				});
		},
		editGood: function(row,key,index,allData){
			this.editId = key;
			this.editProduct.Articul = row.Артикул;
			this.editProduct.Number = index + 1;
			this.editProduct.NomenkltaturaBase = row.Наименование;
			this.editProduct.Nomenkltatura = this.allData[key].Nomenkltatura;
			this.editProduct.ЕдиницаИзмерения = row.ЕдиницаИзмерения;
			this.editProduct.ОбщееКоличество = row.ОбщееКоличество;
			this.editProduct.Price = this.allData[key].pricePerThingWithoutNDS;
			this.editProduct.TZR = this.allData[key].TZR;
			this.editProduct.wrapPrice = this.allData[key].wrapPriceWithoutNDS;
			this.editProduct.NDS = this.allData[key].selectedNDS;
			if(allData[key].periods){

				this.editPeriods = allData[key].periods;
				_.forEach(this.editPeriods, (value, key) => {
					this.editPeriods[key].BaseCount = value.КоличествоВЗапросе;
				

				});
			}
			this.showEditPromt = true;
		},
		madeEdit: function(good){
			this.allData[this.editId].Nomenkltatura = good.Nomenkltatura;
			this.allData[this.editId].selectedNDS = good.NDS;
			this.allData[this.editId].pricePerThingWithoutNDS = good.Price;
			this.allData[this.editId].TZR = good.TZR;
			this.allData[this.editId].wrapPriceWithoutNDS = good.wrapPrice;
			this.allData[this.editId].priceSumm = this.getPriceSumm(good);
			this.rerenderKey++;
			this.showEditPromt = false;
		},
		getPriceSummWithNDS: function(key){
			let res = (this.getPriceSumm(key) * parseFloat(this.allData[key].selectedNDS) * this.getPeriodsSumm(key)).toFixed(2);
			return (!isNaN(res))?res:0;
		},
		getPriceSummWithNDSEdit: function(arr){
			let res = (this.getPriceSummEdit(arr) * parseFloat(arr.NDS) * this.getPeriodsSummEdit(this.editPeriods)).toFixed(2)
			return (!isNaN(res))?res:0;
		},
		getPriceWithOutNDS: function(key){
			let res = (this.getPriceSumm(key) * this.getPeriodsSumm(key)).toFixed(2)
			return (!isNaN(res))?res:0;
		},
		getPriceWithOutNDSEdit: function(arr){
			let res = (this.getPriceSummEdit(arr) * this.getPeriodsSummEdit(this.editPeriods)).toFixed(2);
			return (!isNaN(res))?res:0;
		},
		getPriceWithNDS: function(key){
			let res = (this.getPriceSumm(key) * parseFloat(this.allData[key].selectedNDS)).toFixed(2);
			return (!isNaN(res))?res:0;
		},
		getPriceWithNDSEdit: function(arr){
			let res = (this.getPriceSummEdit(arr) * parseFloat(arr.NDS)).toFixed(2);
			return (!isNaN(res))?res:0;
		},
		getPriceSummWithOutNDS: function(key){
			let res = parseFloat((this.getPriceSummWithNDS(key)) - parseFloat(this.getPriceSumm(key)) * parseFloat(this.getPeriodsSumm(key))).toFixed(2);
			return (!isNaN(res))?res:0;
		},
		getPriceSummWithOutNDSEdit: function(arr){
			let res = parseFloat((this.getPriceSummWithNDSEdit(arr)) - parseFloat(this.getPriceSummEdit(arr)) * parseFloat(this.getPeriodsSummEdit(this.editPeriods))).toFixed(2);
			return (!isNaN(res))?res:0;
		},
		changeSums: function(arr){
			console.log(arr)
			let res1,res2;
			res1 = (this.getPriceSummEdit(arr) * parseFloat(arr.NDS)).toFixed(2);
			this.ndsSumWithNdsEdit = (!isNaN(res1))?res1:0;	
			res2 = parseFloat((this.getPriceSummWithNDSEdit(arr)) - parseFloat(this.getPriceSummEdit(arr)) * parseFloat(this.getPeriodsSummEdit(this.editPeriods))).toFixed(2);
			this.ndsSumEdit = (!isNaN(res2))?res2:0;
		},
		rowChecked: function(value,key){
			if(!value){
				//не работало ни ко гда
				//this.allData[key] = {}
				//this.$set(this.allData,key,this.rowTemplate);	
			}
		},
		isCheckBoxDisabled: function(ref_key){
			//если можно подавать только целиком
			if(!this.onlyFull){
				return true;
			}
			let haveNoAccreditation = true;
			_.forEach(this.categories, (value, key) => {
				if(value === ref_key){
					haveNoAccreditation = false;
				}
			});
			return haveNoAccreditation;
		},
		getNDS: function(val,nds){
			if(nds === 'НДС10'){
				return (val * 1.1).toFixed(2);
			}
			else{
				return (val * 1.18).toFixed(2);
			}
		},
		getShoppingCategories: function(){
			return axios.post('/api/base/index.php?action=GetShoppingCategories') 
				.then((response) => {
					this.categories = response.data.result;
				});
		},
		parseNds: function(ndsType){
			switch(ndsType){
				case 'БезНДС':
					return '1.0';
				case 'НДС0':
					return '1';
				case 'НДС10':
					return '1.1';
				case 'НДС20':
					return '1.2';
			}
		},
		getTotalPrice: function(){
			let summ = 0;
			_.forEach(this.allData, (value, key) => {
				if(key != 'totalP'){
					summ += parseFloat(this.getPriceWithOutNDS(key));
				}
			});
			this.allData.totalP = summ;
			//return summ;
		}
	},
	computed:{
		
	},
	filters: {
		getDateYearAndMonth: function(value){
			return moment(value).locale('ru').format('YYYY MMMM');
		}
	},
	watch:{
		allData:{
			
			handler: function(newValue) {
               this.getTotalPrice();
            },
            deep: true
		},
		nomenclature:{
			
			handler: function(newValue) {
               
            },
            deep: true
		}
	}, 
	components:{
		"form-string":String,
		"form-select":Select,
		"form-number":Number,
		"form-date":Date,
		"form-catalog":Catalog,
		"form-bool":Bool,
		"form-select-ref":Select_ref
	},
	created: function(){
			
	},
	
}
</script>
