<template>
<div ><label class="valutaSoCWidth arealabel">{{label}}</label>
	<textarea  :class="'form_textarea ' + classes" :disabled="disabled" @input="returnValue()" v-model="inputValue"></textarea>
</div>
</template>
<script>
import Vue from 'vue'
export default{
	props: ['label', 'placeholder', 'classes', 'value', 'disabled'],
	data: function () {
		return {
			inputValue : this.value
		}
	},
	watch:{
		value(val) {
			this.inputValue = val;
		}
	},
	methods:{
		returnValue(){
			this.$emit('input', this.inputValue);
		}
	},
 }

</script>
<style>
.form_textarea{
	min-width: 300px;
    min-height: 100px;
}
.arealabel{
	vertical-align: top;
}
</style>