<template>
<div><label class="soCardWidth">{{label}}</label>
	<input v-if="disabled" disabled class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-model="inputValue"  type="text" :placeholder="placeholder"/>
	<input v-else class="form_line text_grey el-input__inner line_height" @input="returnValue()" v-mask="'##:##:##'" v-model="inputValue"  type="text" :placeholder="placeholder"/>
</div>
</template>
<script>
import Vue from 'vue'
const moment = require('moment');
export default{
	props: ['label', 'placeholder', 'value', 'disabled'],
	data: function () {
		return {
			inputValue : (this.value === '0001-01-01T00:00:00') ? "" : moment(this.value).locale('ru').format("DD.MM.YYYY HH:mm")
		}
	},
	mounted:function(){
	},
	watch: {
		value: function(val, oldVal){
			if(val){
				this.inputValue = moment(val).locale('ru').format("DD.MM.YYYY HH:mm");
				if(val  === '0001-01-01T00:00:00'){
					val = "";
					this.inputValue = "";
					}
				this.$emit('input',val);
			}
		}
			
	},
	methods:{
		returnValue(){
			this.$emit('input',this.inputValue);
		}
	}
}
</script>