<template>
<div id="app">
<div id="preloader_inner">
    <div class="spinner"></div>
</div>
	<srm-header v-if="this.$route.path !=='/login'" />
	<div class="page_content">
			<my-sidebar v-if="this.$route.path !=='/login'" />
	<router-view/>
	</div>
	<srm-footer />
	
</div>
</template>
<script>
import Vue from 'vue';
import Sidebar from '@/components/sidebar/Sidebar';
import Header from '@/components/header/Header';
import Footer from '@/components/footer/Footer';
const axios = require('axios');
export default {
	name: 'App',
	data () {
		return {
			isLoading:true
		}
	},
	created: function() {
    this.isAuthorized();
  	this.makeInterseption();
	},
	components:{
		"srm-header":Header,
		"srm-footer":Footer,
		"my-sidebar":Sidebar,
	},
	methods:{
		isAuthorized: function(){
			return axios.post('/api/base/index.php?action=IsAuthorized') 
				.then((response) => {
					this.userInfo = response.data;
					// setTimeout(()=>{this.isLoading = false},1500);
				});
				
			
    },	
    makeInterseption: function(){
      axios.interceptors.response.use(res => {
        return res;
      },
      error => {
     
        let message = "Ошибка: " + error.response.status + " - " + error.response.statusText
        if (error.response.status == '405'){
          window.location.href = "http://" + location.hostname + "/unactive.php";
        }
        if (error.response.status == '566'){
							this.$vs.notify({title:'Ошибка сервера',text:"Первичная анкета по контрагенту с указанными реквизитами уже зарегистрирована в системе. При необходимости изменить данные по организации, контактным лицам или направить документы по аккредитации необходимо создать корректировку анкеты",color:'#fb0000', fixed:true})
				}
        else{
          this.$vs.notify({title:'Ошибка сервера',text:message,color:'#fb0000', fixed:true})
        }	

      });
    }    
	},
}
</script>

<style>
#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  
  width: 100%;
  height: 100%;
  overflow: hidden;
}
#goodpromt .vs-dialog{
 max-width: 850px;
 min-height: 740px;
     position: relative;
}
.message_author {
    font-size: 9px;
    text-align: right;
    position: relative;
    right: -40px;
    bottom: -5px;
}
header,
footer {
    height: 70px;
}
.vs-upload--button-upload {
  z-index: 10!important;
}
.multiselect__content-wrapper{
      z-index: 2019!important;
}
.con-img-upload .img-upload{
  transform: scale(.99)!important;
}
.page_content{
	flex: 1;
    width: 100%;
    min-width: 780px;
}
.menu_button {
    position: absolute;
    left: 25px;
    top: 17px;
}
.user-block {
	/*position: absolute;
    right: 100px;
    z-index: 401;
    height: 60px;
    line-height: 35px;
	margin-top: -3px;
	margin-top: -38px;*/
    cursor: pointer;
    font-weight: bold;
	font-size: 14px;
}
.user-logout {
    line-height: 1;
    white-space: nowrap;
    cursor: pointer;
    background: #fff;
    border: 1px solid #dcdfe6;
    -webkit-appearance: none;
    text-align: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    outline: none;
    -webkit-transition: .1s;
    transition: .1s;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
    padding: 10px 15px 3px 11px;
    font-size: 14px;
    border-radius: 4px;
    background-color: rgb(24, 144, 255);
    border-color: rgb(24, 144, 255);
	color: white;
	margin: 5% 30%;
}
.upload_file_block{
  padding: 0 0 20px 0;
}
.user-name {
	text-align: right;
}
.user-block-menu {
	position: absolute;
	background: rgb(255, 255, 255);
	border: 1px solid rgb(220, 223, 230);
	box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 4px 0px, rgba(0, 0, 0, 0.04) 0px 0px 6px 0px;
	padding: 10px;
	width: 250px;
  margin-left: -50px;
	text-align: left;
  z-index: 99999;
}
.user-company-span {
	color: #909399;
	line-height: 1.5;
}
.catalog_row:hover{
	background: #8af99d;
	 transition: 2s;
	 cursor:pointer;
}
.border_red{
	border: 1px solid red!important;
    border-radius: 4px!important;
    box-shadow: 0 0 5px #d45252!important;
}
.nested_warn{
    position: absolute;
    left: 0px;	
	font-size: 10px;
}
.email_wrapper{
	position:relative;
	display: inline-block;
	width:100%
}
span.isError input, span.isError .input, select.isError, span.isError textarea, div.is_error textarea {
    border: 1px solid red!important;
	border-radius: 4px!important;
	box-shadow: 0 0 5px #d45252!important;
}
  #preloader_inner {
  opacity: 1;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: rgba(174, 157, 208, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}
/*
.spinner {
  width: 189px;
  height: 57px;
  background-image: url('components/partials/preloader.gif');

  margin: 100px auto;
  -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
  animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes sk-rotateplane {
  0% { 
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg) 
  } 50% { 
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg) 
  } 100% { 
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}
*/
#app .vs-sidebar.vs-sidebar-parent {
    top: 71px;

}
.vs-dialog {
    position: relative;
}
.vs-dialog footer{
    background: white;
    display: block;
    width: 100%;
}

.chartdiv {
    width: 75%!important;
    height: 75%!important;
    position: relative!important;
    left: 50px!important;
    font-size: 12px!important;
}
</style>
